#firefox-sync #doc {
	background: url("/img/firefox/sync/sync-logo-small.png") no-repeat scroll 25px 105px transparent;
}

#firefox-sync #main-feature h2 {
	margin-left: 165px;
	margin-right: 280px;
	font-size: 350%;
}

#firefox-sync #main-feature p {
	margin-top: 20px;
	font-size: 165%;
}

#firefox-sync #instructions {
	margin: 0 0 0 20px;
}

#firefox-sync #instructions h4 {
	margin-bottom: 10px;
}

#firefox-sync #instructions li {
	float: left;
	width: 240px;
	background: none;
	margin: 0 30px;
}

#firefox-sync #instructions strong {
	color: #4B4740;
	font-weight: normal;
}

#firefox-sync #instructions .home-download {
	margin-left: 0px;
}

#firefox-sync #instructions .download-link {
	background-image: url("/img/tignish/firefox/download-button.png");
	padding: 0;
	height: auto;
}
#firefox-sync #instructions .download-link em {
	display: none;
}

.download-link span {
	background-image: url("/img/tignish/firefox/download-button.png");
	background-position: 0 100%;
	display: block;
	padding: 13px 15px 26px 42px;
}

#firefox-sync #instructions .download-link:hover {
	text-decoration: underline;
	background-position: -300px 0;
}

#firefox-sync #instructions .download-link:hover span {
	background-position: -300px 100%;
}

#firefox-sync #instructions .home-download  li {
	margin: 0;
	width: 260px;
}

#firefox-sync #main-content {
	margin: 20px;
	padding: 0;
	width: 626px;
	background: url(/img/firefox/sync/synchronize-feature-background.png) top left repeat-y;
}

#firefox-sync #main-content #main-content-footer {
	background: url(/img/firefox/sync/synchronize-feature-background.png) bottom left no-repeat;
	height: 35px;
}

#firefox-sync #main-content .container {
	padding: 35px 40px;
}

#firefox-sync #main-content h3 {
	font-size: 225%;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0 0 20px 5px;
	position: relative;
	left: -5px;
}

#firefox-sync #main-content h4 {
	margin-bottom: 5px;
}

#firefox-sync #main-content p {
	margin-right: 25px;
}

#firefox-sync #video-launch {
	margin-bottom: 20px;
}

#firefox-sync #sidebar {
	width: 260px;
	margin-top: 25px;
	margin-right: 15px;
}

#firefox-sync #sidebar h4 {
	margin-bottom: 10px;
	margin-left: 18px;
}

#firefox-sync #sidebar p {
	margin-left: 20px;
	margin-bottom: 20px;
}
