body {
    background-image: url(../images/background.png);
    width: 520px;
    height: 566px;
    border: 1px solid #d2e2ed;
    margin: 0px;
    padding: 0px;
    font-family: georgia;
    font-size: 14px;
}

a, a:visited, a:active {
    color: #447bc4;
    text-decoration: underline;
}

h1 span, h2 span, h3 span, h4 span, h5 span, h6
span{
    font-family:MetaBlack,"Trebuchet MS",sans-serif;font-weight:bold;text-transform:uppercase;font-style:normal;font-size:130%;display:block;letter-spacing: -0.02em
}

h1,h2,h3,h4,h5,h6{font-family:georgia,serif;font-weight:normal;font-style:italic;color:#484848}

h1{font-size:36px}
h2{font-size:28px}
h3{font-size:22px}
h4{font-size:18px}
h5{font-size:16px}
h6{font-size:14px}
h1,h2,h3{
    margin:1em 0 0.5em 0
}

#main-content {
    padding: 50px 0px 0px 20px;
}

#blurb {
    width: 280px;
}

.label {
    width: 140px;
    margin-right: 10px;
    float: left;
}

.form_item {
    width: 250px;
}

.small_text {
    font-size: 11px;
    color: #747e8a;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    margin-bottom: 10px;
}

.clearfix {display: inline-block;}