body {
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    width: 520px;
    height: 566px;
    margin: 0px;
    padding: 0px;
    font-family: georgia;
    font-size: 14px;
    color: #363636;
}

a, a:visited, a:active {
    color: #447bc4;
    text-decoration: underline;
}

h1 span, h2 span, h3 span, h4 span, h5 span, h6
span{
    font-family:MetaBlack,"Trebuchet MS",sans-serif;font-weight:bold;text-transform:uppercase;font-style:normal;font-size:49px;display:block;letter-spacing: -0.3em;
    line-height: 49px;
}

h1,h2,h3,h4,h5,h6{font-family:georgia,serif;font-weight:normal;font-style:italic;color:#484848; margin: 0px;padding: 0px}

h2{font-size:24px}

#main-content {
    padding: 50px 0px 0px 20px;
}

#blurb {
    width: 260px;
    margin-bottom: 20px;
}

#privacy {
    font-size: 12px;
    margin-bottom: 20px;
    color: #747e8a;
}

#email {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #fff;
    padding: 5px;
    width: 240px;
    border: 1px solid #ddd;
}

select {
    width: 250px;
}

#submit {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 14px;
    background-color: #5ba6e3;
    text-align: center;
    width: 250px;
    padding: 8px 0px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 0px;
    border-bottom: 4px solid #4c8cbf;
    -moz-box-shadow: 0px 2px 0px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0px 2px 0px rgba(0,0,0,0.1);
    margin-bottom: 5px;
    color: #fff;
}

.label {
    width: 150px;
    margin-right: 10px;
    float: left;
    color: #6d7581;
}

.form_item {
    width: 250px;
    float: left;
    text-align: right;
}

.small_text {
    font-size: 11px;
    color: #747e8a;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    margin-bottom: 10px;
}

.clearfix {display: inline-block;}