/* RTL support for mozilla.com's landing page */
#wrapper {
  background: transparent url(/fa/img/tignish/home/feature-background-2-rtl.jpg) repeat-x scroll 100px -70px;
}

#main-feature {
  margin-left: auto;
  margin-right: 50px;
}

#main-feature h2 {
  margin: 0 0 20px 10px;
}

#main-feature p {
  margin: 0 0 0 200px;
}

#main-content {
  margin: 0 95px 20px 0;
}

#landing-page ul.home-download {
  margin: 0 28px 0 0;
}

#main-content #learn_more, #main-content #questions {
  margin-left: 20px;
  margin-right: auto;
}

#main-content .sub-feature {
  float: right;
  margin-left: 0;
  margin-right: auto;
}

#main-content .sub-feature h3 {
  padding: 20px 5px 0 25px;
}

#main-content .sub-feature p {
  padding-left: 25px;
  padding-right: 5px;
}

#landing-page p.thunderbird {
  background-position: right center;
  padding-left: auto;
  padding-right: 80px;
}
