/* MetaWebPro font family licensed from fontshop.com. WOFF-FTW! */
@font-face {
    font-family: 'MetaBlack';
    src: url('http://mozcom-cdn.mozilla.net/img/fonts/MetaWebPro-Black.eot');
    src: local('☺'), url('http://mozcom-cdn.mozilla.net/img/fonts/MetaWebPro-Black.woff') format('woff');
    font-weight: bold;
}
    
body {
	font-family: Georgia;
	margin: 0px;
	padding: 0px;
	font-size: 13px;
	color: #333333;
	background-image: url(../images/background.jpg);
	width: 520px;
	height: 632px;
	overflow: hidden;
	background-repeat: no-repeat;
	position: relative;
}

body.firefox4 {
    background-image: url(../images/backgroundff4.jpg);
}

#likeThis {
	margin-bottom: 10px;
}

#tabContent {
    padding: 35px 25px 10px 25px;
	position: relative;
}

#meet {
	font-size: 46px;
	line-height: 46px;
}

#meet span {
    display: block;
    font-family: "MetaBlack";
    font-style: normal;
}

#meet.firefox4 {
    font-size: 20px;
    line-height: 20px;
    font-family: "MetaBlack";
    text-transform: uppercase;
    font-style: none !important;
}

#meet.firefox4::first-line {
    font-size: 30px;
    line-height: 30px;
    font-family: Georgia;
    text-transform: none !important;
}

#meet.firefox4 span:first-of-type {
    font-size: 40px;
    line-height: 40px;
    display: block;
}

#meet.firefox4 span:last-child {
    display: inline;
}

#slogan {
    margin: 10px 0px 25px 0px;
    width: 220px;
    overflow: hidden;
	font-style: italic;
	font-size: 18px;
}

#downloadButton {
    background-image: url(../images/button.png);
	position: absolute;
	padding: 5px 0px 0px 86px;
	width: 158px;
	height: 78px;
	top: 115px;
	right: 10px;
	font-size: 25px;
	color: #fff;
	cursor: pointer;
}

#buttonCTA {
    font-size: 14px;
    font-style: italic;
    margin-top: 3px;
}

#buttonVersion {
    color: #426f1e;
    font-size: 8px;
    margin-top: 3px;
}

#team {
    font-size: 22px;
    font-style: italic;
    text-align: center;
    padding: 0px 40px;
    line-height: 25px;
}

#team span {
    font-family: "MetaBlack";
    font-style: normal;
}

#badgeCTA {
    background-image: url(../images/backer.png);
    background-repeat: no-repeat;
    font-family: "MetaBlack";
    font-size: 14px;
    margin-top: 10px;
    padding: 5px 0px 0px 20px;
    height: 50px;
}

#badgeCTA span {
   font-family: Georgia;
   font-style: italic; 
}

#badgeClick {
    float: right;
    text-align: center;
    width: 78px;
    font-family: Georgia;
   font-style: italic; 
   color: #284794;
   font-size: 14px;
   margin-top: -10px;
   font-weight: bold;
}

#badges {
    background-image: url(../images/dottedline.png);
    background-position: left center;
    background-repeat: no-repeat;
    margin-left: -10px;
    padding-left: 10px;
    height: 90px;
    clear: both;
}

.badgeWrap {
    text-align: center;
    margin-right: 36px;
    float: left;
    background-image: url(../images/uparrow.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    height: 110px;
}

.badge {
    display: block;
    cursor: pointer;
}

.badgeWrap.last {
    margin-right: 0px;
}

#dots {
    clear: both;
    padding-top: 20px;
    height: 10px;
    background-image: url(../images/dots.png);
    background-repeat: no-repeat;
    background-position: center center;
}

#onTwitter {
    background-image: url(../images/backer.png);
    background-repeat: no-repeat;
    font-family: "MetaBlack";
    font-size: 14px;
    padding: 5px 0px 0px 20px;
    height: 20px;
}



#tweet {
    width: 226px;
    height: 64px;
    margin: 0px auto;
    background-image: url(../images/bird.png);
    margin-top: 10px;
    position: relative;
    left: -30px;
    cursor: pointer;
    padding-top: 5px;
}

#tweetText {
    width: 143px;
    height: 64px;
    margin-left: 75px;
    text-align: center;
    font-family: "MetaBlack";
    font-size: 13px;
    color: #284794;
    text-transform: uppercase;
}

#tweetText #fx4 {
    font-size: 16px;
    line-height: 16px;
}

#tweetText em {
    font-family: Georgia;
    text-transform: none;
    font-size: 17px;
}

#tweetText p {
    line-height: 18px;
    margin: 0px;
    padding: 0px;
}

.glam {
    display: block;
    margin: 10px auto 5px auto;
    width: 438px;
}

.glam.firefox4 {
    margin: 30px auto 5px auto;
}

.of {
	overflow: hidden;
}
