/* MetaWebPro font family licensed from fontshop.com. WOFF-FTW! */
@font-face {
    font-family: 'MetaBlack';
    src: url('http://mozcom-cdn.mozilla.net/img/fonts/MetaWebPro-Black.eot');
    src: local('☺'), url('http://mozcom-cdn.mozilla.net/img/fonts/MetaWebPro-Black.woff') format('woff');
    font-weight: bold;
}
    
body {
	font-family: Georgia;
	margin: 0px;
	padding: 0px;
	font-size: 13px;
	color: #333333;
	background-image: url(../images/background.jpg);
	width: 520px;
	height: 632px;
	overflow: hidden;
	background-repeat: no-repeat;
	position: relative;
}

body.firefox4 {
    background-image: url(../images/backgroundff4.jpg);
}

[dir=rtl] body {
    background-image: url(../images/rtl/background.jpg);
    background-position: 100% 0;
}

[dir=rtl] body.firefox4 {
    background-image: url(../images/rtl/backgroundff4.jpg);
}

#likeThis {
	margin-bottom: 10px;
}

#tabContent {
    padding: 35px 25px 10px 25px;
	position: relative;
}

#meet {
	font-size: 46px;
	line-height: 46px;
}

#meet span {
    display: block;
    font-family: "MetaBlack", Arial;
    font-style: normal;
}

#meet.firefox4 {
    font-size: 20px;
    line-height: 20px;
    font-family: "MetaBlack", Arial;
    text-transform: uppercase;
    font-style: none !important;
}

#meet.firefox4::first-line {
    font-size: 30px;
    line-height: 30px;
    font-family: Georgia;
    text-transform: none !important;
}

#meet.firefox4 span:first-of-type {
    font-size: 40px;
    line-height: 40px;
    display: block;
}

#meet.firefox4 span:last-child {
    display: inline;
}

#slogan {
    margin: 10px 0px 25px 0px;
    width: 220px;
    overflow: hidden;
	font-style: italic;
	font-size: 18px;
}

#downloadButton {
    background: #84C63C;
    background: -moz-linear-gradient(top,#84C63C 0,#489615 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#84C63C),color-stop(100%,#489615));
    background: progid:DXImageTransform.Microsoft.gradient(startColorstr='#84C63C',endColorstr='#489615',GradientType=0);
    -moz-box-shadow: 0 3px rgba(0, 0, 0, 0.1),inset 0 -4px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 3px rgba(0, 0, 0, 0.1),inset 0 -4px rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px rgba(0, 0, 0, 0.1),inset 0 -4px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
	position: absolute;
	top: 115px;
	right: 10px;
	font-size: 22px;
	color: #fff;
	cursor: pointer;
}

[dir=rtl] #downloadButton {
    right: auto;
    left: 35px;
}

#buttonContent {
    background-image: url(../images/logosmall.png);
    background-repeat: no-repeat;
    height: 40px;
    margin-left: -25px;
    padding: 8px 5px 0px 58px;
    line-height: 28px;
    letter-spacing: -0.02em;
}

#buttonContent img {
    vertical-align: middle;
}

#buttonCTA {
    font-size: 14px;
    font-style: italic;
    line-height: 28px;
}

#team {
    font-size: 22px;
    font-style: italic;
    text-align: center;
    padding: 0px 40px;
    line-height: 25px;
}

#team span {
    font-family: "MetaBlack", Arial;
    font-style: normal;
}

#badgeCTA {
    background-image: url(../images/backer.png);
    background-repeat: no-repeat;
    font-family: "MetaBlack", Arial;
    font-size: 14px;
    margin-top: 10px;
    padding: 5px 0px 0px 20px;
    height: 50px;
}

[dir=rtl] #badgeCTA {
    background-position: 100% 0;
    padding: 5px 20px 0px 0px;
}

#badgeCTA span {
   font-family: Georgia;
   font-style: italic; 
}

#badgeClick {
    float: right;
    text-align: center;
    width: 78px;
    font-family: Georgia;
   font-style: italic; 
   color: #284794;
   font-size: 14px;
   margin-top: -10px;
   font-weight: bold;
}

[dir=rtl] #badgeClick {
    float: left;
}

#badges {
    background-image: url(../images/dottedline.png);
    background-position: left center;
    background-repeat: no-repeat;
    margin-left: -10px;
    padding-left: 10px;
    height: 90px;
    clear: both;
}

.badgeWrap {
    text-align: center;
    margin-right: 36px;
    float: left;
    background-image: url(../images/uparrow.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    height: 110px;
}

.badge {
    display: block;
    cursor: pointer;
}

.badgeWrap.last {
    margin-right: 0px;
}

#dots {
    clear: both;
    padding-top: 20px;
    height: 10px;
    background-image: url(../images/dots.png);
    background-repeat: no-repeat;
    background-position: center center;
}

#onTwitter {
    background-image: url(../images/backer.png);
    background-repeat: no-repeat;
    font-family: "MetaBlack", Arial;
    font-size: 14px;
    padding: 5px 0px 0px 20px;
    height: 20px;
}

[dir=rtl] #onTwitter {
    background-position: 100% 0;
    padding: 5px 20px 0px 0px;
}


#tweet {
    width: 226px;
    height: 64px;
    margin: 0px auto;
    background-image: url(../images/bird.png);
    margin-top: 10px;
    position: relative;
    left: -30px;
    cursor: pointer;
    padding-top: 5px;
}

[dir=rtl] #tweet {
    background-image: url(../images/rtl/bird.png);
    right: -30px;
}

#tweetText {
    width: 143px;
    height: 64px;
    margin-left: 75px;
    text-align: center;
    font-family: "MetaBlack", Arial;
    font-size: 13px;
    color: #284794;
    text-transform: uppercase;
}

[dir=rtl] #tweetText {
    margin-left: 0;
    margin-right: 75px;
}

#tweetText #fx4 {
    font-size: 16px;
    line-height: 16px;
}

#tweetText em {
    font-family: Georgia;
    text-transform: none;
    font-size: 17px;
}

#tweetText p {
    line-height: 18px;
    margin: 0px;
    padding: 0px;
}

.glam {
    display: block;
    margin: 10px auto 5px auto;
    width: 438px;
}

.glam.firefox4 {
    margin: 30px auto 5px auto;
}

.of {
	overflow: hidden;
}

.mobileLink {
    top: 170px;
    right: 10px;
    position: absolute;
    color: #447BC4;
    text-decoration: none;
}

.mobileLink:hover {
    text-decoration: underline;
}
