AddType application/x-httpd-php .php .html
DirectoryIndex index.php index.html

ExpiresActive on
ExpiresDefault "access plus 15 minutes"
Options +MultiViews -Indexes

SetEnvIfNoCase Request_URI "en-US/index.html" vary-ua
SetEnvIfNoCase Request_URI "en-US/firefox/(index|personal|upgrade|firefox).html" vary-ua
Header set Vary "User-Agent" env=vary-ua

RewriteEngine On

# certs
RewriteRule ^certs/mozilla-root\.crt\.md5sum$ includes/certs/mozilla-root.crt.md5sum [L]
RewriteRule ^certs/mozilla-root\.crt$ includes/certs/mozilla-root.crt [L]

# mozilla.com/labs -> mozillalabs.com
Redirect permanent /labs http://www.mozillalabs.com

# support/.htaccess
Redirect permanent /support/firefox http://www.mozilla.org/support/firefox
Redirect permanent /support/thunderbird http://www.mozilla.org/support/thunderbird

# get involved redirect
Redirect permanent /getinvolved http://www.mozilla.com/about/get-involved

#firefox/releases/.htaccess
Redirect permanent /firefox/releases/2.0a1.html http://www.mozilla.org/projects/bonecho/releases/2.0a1.html
Redirect permanent /firefox/releases/2.0a2.html http://www.mozilla.org/projects/bonecho/releases/2.0a2.html
Redirect permanent /firefox/releases/2.0a3.html http://www.mozilla.org/projects/bonecho/releases/2.0a3.html
Redirect permanent /firefox/releases/2.0b1.html http://www.mozilla.org/projects/bonecho/releases/2.0b1.html
Redirect permanent /firefox/releases/2.0b2.html http://www.mozilla.org/projects/bonecho/releases/2.0b2.html
Redirect temp /firefox/releases/1.6a1.html http://www.mozilla.org/projects/minefield/releases/
Redirect temp /firefox/releases/3.0a1.html http://www.mozilla.org/projects/minefield/releases/

Redirect permanent /zh-CN/firefox/uninstall/ http://www.g-fox.cn/chn_feedback/uninstall.html

# Temporary rewrite for College page to JobVite page
RewriteRule ^en-US/college http://www.jobvite.com/CompanyJobs/Jobs.aspx?c=qpX9Vfwa

# security/.htaccess
Redirect temp /security/ http://www.mozilla.org/security/

# Redirect release-candidate firstrun/whatsnew pages to out-of-date page (Bug 656721)
RewriteRule en-US/firefox/(3.6rc|4.0rc)(.*)/(whatsnew|firstrun)[/]? /en-US/firefox/out-of-date/ [PT,L]

# Redirect beta firstrun/whatsnew pages to out-of-date beta page (Bug 656721)
RewriteRule en-US/firefox/(3.6b|4.0b)(.*)/(whatsnew|firstrun)[/]? /en-US/firefox/out-of-date/beta.html [PT,L]

# Redirect all old firstrun versions to a out-of-date page
# NOTE:  you need to add exceptions here for normal firstrun pages!!
# bug 538486
RewriteCond $1 !^(?:3.6.*|4.*|5.*|sync)$
RewriteRule en-US/firefox/(.*)/(whatsnew|firstrun)[/]? /en-US/firefox/out-of-date/ [PT,L]

RewriteRule ^(?:\w{2,3}(?:-\w{2}(?:-mac)?)?/)?products/[/]?$ /$1firefox [R=permanent]

# Redirects for mozillamessaging.com. bug 480373
RewriteRule ^(?:\w{2,3}(?:-\w{2}(?:-mac)?)?/)?thunderbird[/]?$ http://www.mozillamessaging.com/thunderbird/ [R=permanent]
RewriteRule ^(?:\w{2,3}(?:-\w{2}(?:-mac)?)?/)?thunderbird/index.html$ http://www.mozillamessaging.com/thunderbird/ [R=permanent]
RewriteRule ^(?:\w{2,3}(?:-\w{2}(?:-mac)?)?/)?products/thunderbird[/]?$ http://www.mozillamessaging.com/thunderbird/ [R=permanent]
RewriteRule ^(?:\w{2,3}(?:-\w{2}(?:-mac)?)?/)?products/thunderbird/features.html$ http://www.mozillamessaging.com/thunderbird/features/ [R=permanent]
RewriteRule ^(?:\w{2,3}(?:-\w{2}(?:-mac)?)?/)?thunderbird/2.0.0.19/releasenotes[/]?$ http://www.mozillamessaging.com/thunderbird/2.0.0.19/releasenotes/ [R=permanent]
RewriteRule ^(?:\w{2,3}(?:-\w{2}(?:-mac)?)?/)?thunderbird/2.0.0.(2\d)/start[/]?$ http://www.mozillamessaging.com/thunderbird/2.0.0.$1/start/ [R=permanent]
RewriteRule ^(\w{2,3}(?:-\w{2}(?:-mac)?)?/)?thunderbird/2.0.0.(2\d)/releasenotes[/]?$ http://www.mozillamessaging.com/$1thunderbird/2.0.0.$2/releasenotes/ [R=permanent]
RewriteRule ^(?:\w{2,3}(?:-\w{2}(?:-mac)?)?/)?thunderbird/all.html$ http://www.mozillamessaging.com/thunderbird/all.html [R=permanent]

# bug 578744
RewriteRule en-US/thunderbird/(.*) http://www.mozillamessaging.com/en-US/thunderbird/$1 [R=permanent]

Redirect permanent /store http://store.mozilla.org

# thunderbird/releases/.htaccess
RewriteRule ^/thunderbird/releases/(.+?)-release-notes.html$ /thunderbird/releases/$1.html [R=permanent]

# Redirect the Thunderbird 3 release notes and start page to www.mozillamessaging.com (use en-US for everything currently)
RewriteRule ^(\w{2,3}(?:-\w{2}(?:-mac)?)?/)?thunderbird/(3(?:\.\d+){1,2}(?:[ab]\d)?(?:pre)?)/(releasenotes|start)(/.*)?$ http://www.mozillamessaging.com/en-US/thunderbird/$2/$3$4 [R=temp,L]

RewriteRule ^(\w{2,3}(?:-\w{2}(?:-mac)?)?/)?firefox/privacy[/]?$ $1legal/privacy/ [PT]
RewriteRule ^extensions[/]?$ https://addons.mozilla.org/ [R=permanent,L]
RewriteRule ^(\w{2,3}(?:-\w{2}(?:-mac)?)?/)?products/firefox(/.*)?$ $1firefox$2 [PT]
RewriteRule ^(\w{2,3}(?:-\w{2}(?:-mac)?)?/)?products/thunderbird(/.*)?$ $1thunderbird$2 [PT]
RewriteRule ^(\w{2,3}(?:-\w{2}(?:-mac)?)?/)?firefox/2.0rc[1-3]/releasenotes[/]?$ $1firefox/2.0/releasenotes/ [PT]
RewriteRule ^(\w{2,3}(?:-\w{2}(?:-mac)?)?/)?thunderbird/2.0.0.0rc[1-4]/releasenotes[/]?$ $1thunderbird/2.0.0.0/releasenotes/ [PT]
RewriteRule ^(?:\w{2,3}(?:-\w{2}(?:-mac)?)?/)?firefox/livebookmarks[/]?$ /firefox/livebookmarks.html [PT]
RewriteRule ^(\w{2,3}(?:-\w{2}(?:-mac)?)?/)?thunderbird/(2(?:\.\d+){1,3})pre(/.*)$ $1thunderbird/$2$3 [PT]
RewriteRule ^(\w{2,3}(?:-\w{2}(?:-mac)?)?/)?careers[/]?$ $1about/careers.html [PT]
RewriteRule ^(en-US|en-GB|fr|de)/add-ons/ebay/beta/$ https://addons.mozilla.org/ebay/ebay-extension/
RewriteRule ^en-US/add-ons/ebay/beta/update.rdf$ https://addons.mozilla.org/ebay/ebay-extension/update.rdf

# Bug 537183
RewriteRule ^(.+)/firefox/about[/]?$ /$1/about/ [PT]

# Bug 376458
RewriteRule ^(\w{2,3}(?:-\w{2}(?:-mac)?)?/)?thunderbird/dictionaries.html$ https://addons.mozilla.org/thunderbird/dictionaries [R=permanent,L]

# Bug 424204
RewriteRule ^(\w{2,3}(?:-\w{2}(?:-mac)?)?)?/firefox/help(?:/.*)?$ http://support.mozilla.com/$1/kb/ [R=permanent,L]

# Bug 437662
RewriteRule ^(\w{2,3}(?:-\w{2}(?:-mac)?)?/)?firefoxfeatures[/]?$ $1firefox/features/ [NC,PT]
RewriteRule ^(\w{2,3}(?:-\w{2}(?:-mac)?)?/)?firefoxtips[/]?$ $1firefox/tips/ [NC,PT]

# Bug 437906
RewriteRule ^(\w{2,3}(?:-\w{2}(?:-mac)?)?/)?firefox/features.html$ /firefox/features/ [R=permanent]

# Bug 439472
RewriteRule ^(\w{2,3}(?:-\w{2}(?:-mac)?)?/)?firefox/vpat.html$ /firefox/vpat-3.html [R=permanent]

# Bug 439472
RewriteRule ^(\w{2,3}(?:-\w{2}(?:-mac)?)?/)?about/licensing.html$ http://www.mozilla.org/foundation/licensing.html [R=permanent]

# Bug 444603
RewriteRule ^(\w{2,3}(?:-\w{2}(?:-mac)?)?/)?firefox/addons[/]?$ /$1firefox/customize/ [R=permanent]

# Bug 630937
RewriteRule ^(\w{2,3}(?:-\w{2}(?:-mac)?)?/)?firefox/customize/getpersonal[/]?$ /$1firefox/customize/ [R=permanent]

# Bug 447602.  Redirects /products/firefox/central.html but is building on the /products/firefox/ -> /firefox/ redirect
RewriteRule ^(\w{2,3}(?:-\w{2}(?:-mac)?)?/)?firefox/central.html$ /$1firefox/central/ [R=permanent]

# Bug 644290
RewriteRule ^(\w{2,3}(?:-\w{2}(?:-mac)?)?/)?organic[/]?$ / [R=permanent]
RewriteRule ^(\w{2,3}(?:-\w{2}(?:-mac)?)?/)?firefox/organic[/]?$ / [R=permanent]

# Bug 656271
RewriteRule ^(\w{2,3}(?:-\w{2}(?:-mac)?)?/)?greenfestival[/]?$ / [R=permanent]

# Bug 656281
RewriteRule ^(\w{2,3}(?:-\w{2}(?:-mac)?)?/)?firefox/students[/]?$ / [R=permanent]

# Bug 453876
RewriteRule ^en-US/add-ons/kodak[/]?$ https://addons.mozilla.org/en-US/firefox/addon/4441 [R=permanent]

# Bug 502905
RewriteRule ^(\w{2,3}(?:-\w{2}(?:-mac)?)?/)?firefox/video/firefox-3.5.html$ /$1firefox/video/?video=meet [R=permanent]

# Bug 479262
RewriteRule ^(?:en-US/)?university/?(?:index.html)?$ https://wiki.mozilla.org/Education [R=permanent]

# Bug 524509
RewriteRule en-US/about/get-involved?(?:.html)?$ http://www.mozilla.org/contribute/ [R=permanent]

# Bug 656270
RewriteRule ^(\w{2,3}(?:-\w{2}(?:-mac)?)?/)?manyfaces[/]?$ http://www.mozilla.org/community/ [R=permanent]

# Bug 399466
RewriteRule en-US/legal/eula/(firefox|thunderbird)(.?)-(.+)\.(.+) /$3/legal/eula/$1$2.$4 [R=permanent]

# Bug 516495
RewriteRule ^en-US/about/trademarks/?(?:index.html)?$ http://www.mozilla.org/foundation/trademarks/list.html [R=permanent]

# Bug 612324
RewriteRule ^en-US/firefox/lang-packs/estonian.html?$ /et/ [R=permanent]
RewriteRule ^en-US/firefox/lang-packs/persian.html?$ /fa/ [R=permanent]
RewriteRule ^en-US/firefox/lang-packs/welsh.html?$ /cy/ [R=permanent]
RewriteRule ^en-US/firefox/lang-packs/tatar.html?$ https://addons.mozilla.org/en-US/firefox/addon/5295 [R=permanent]
RewriteRule ^en-US/firefox/lang-packs/friulian.html?$ https://addons.mozilla.org/it/firefox/addon/2057 [R=permanent]

# Bug 608370
RewriteRule ^en-US/press/kit-3-6.html$ /en-US/press/kits/#desktop [NE,R=permanent]
RewriteRule ^en-US/press/kit-4b.html$ /en-US/press/kits/#desktop [NE,R=permanent]
RewriteRule ^en-US/press/kit-N900.html$ /en-US/press/kits/#mobile [NE,R=permanent]
RewriteRule ^en-US/press/kit-android.html$ /en-US/press/kits/#mobile [NE,R=permanent]

# Bug 615715
RewriteRule ^en-US/press/media/$ /en-US/press/media/logos/ [R=permanent]

# Bug 620378
RewriteRule ^en-US/about/logo(/.*)*$ /en-US/press/media/logos/ [R=permanent]

# Bug 619303
RewriteRule ^en-US/press/images.html$ /en-US/press/media/logos/ [R=permanent]

# Bug 616237
# RewriteRule ^en-US/firefox/sync/$ /en-US/mobile/sync/ [R=permanent]
RewriteRule ^(\w{2,3}(?:-\w{2}(?:-mac)?)?/)?firefox/sync[/]?$ /$1mobile/sync/ [R=permanent]

# Bug 620073
RewriteRule ^(\w{2,3}(?:-\w{2}(?:-mac)?)?/)?firefox/4.0/features[/]? /firefox/beta/features/ [R=302]

#### THUNDERBIRD PRODUCT REDIRECTS
#
# Older builds are not supported, so redirect to current builds page
RewriteRule ^(\w{2,3}(?:-\w{2}(?:-mac)?)?/)?thunderbird/all-older.html$ $1thunderbird/all.html [PT]

# Temporary rewrite for Thunderbird 2.0.0.24 beta
#RewriteRule ^(\w{2,3}(?:-\w{2}(?:-mac)?)?/)?thunderbird/2\.0\.0\.24/(releasenotes|start)(/(?:index.html)?)?$ $1thunderbird/2.0.0.24rc/$2$3 [PT]
#
#### END THUNDERBIRD PRODUCT REDIRECTS

#### FIREFOX PRODUCT REDIRECTS

# System requirements for an arbitrary version go to the major requirements
# First part of regex matches major (eg 2.0, 3.0, 3.5, 4.0)
# Second part of regex matches anything (eg b12, rc, .12rc, .0.1)# (see bug 586314)
RewriteRule ^(en-US/)?firefox/([0-9]\.[0-9]+)[^/]+/system-requirements(/(?:index.html)?)? /$1firefox/$2/system-requirements$3 [PT,L]

# Just to be safe, we will point anyone looking at the old-style system requirements to 4.0's
RewriteRule ^(en-US/)?firefox/system-requirements.html /$1firefox/4.0/system-requirements/ [PT,L]

# Merge Firefox 3.0, 3.0.x, 3.5, 3.6, 4.x pages for locales only
# Redirect Firefox 2 whatsnew pages to oldversion page
RewriteCond $1 !en-US/
RewriteRule ^(\w{2,3}(?:-\w{2}(?:-mac)?)?/)?firefox/2\.0\.0\.\d{1,2}/(firstrun|whatsnew)[/]?$ $1firefox/oldversion/ [PT]
RewriteCond $1 !en-US/
RewriteRule ^(\w{2,3}(?:-\w{2}(?:-mac)?)?/)?firefox/3\.0/(firstrun|whatsnew)[/]?$ $1firefox/oldversion/ [PT]
RewriteCond $1 !en-US/
RewriteRule ^(\w{2,3}(?:-\w{2}(?:-mac)?)?/)?firefox/3\.0\.\d{1,2}/(firstrun|whatsnew)[/]?$ $1firefox/oldversion/ [PT]
RewriteCond $1 !en-US/
RewriteRule ^(\w{2,3}(?:-\w{2}(?:-mac)?)?/)?firefox/3\.5/(firstrun|whatsnew)[/]?$ $1firefox/oldversion/ [PT]
RewriteCond $1 !en-US/
RewriteRule ^(\w{2,3}(?:-\w{2}(?:-mac)?)?/)?firefox/3\.5\.\d{1,2}/(firstrun|whatsnew)[/]?$ $1firefox/oldversion/ [PT]
RewriteCond $1 !en-US/
RewriteRule ^(\w{2,3}(?:-\w{2}(?:-mac)?)?/)?firefox/3\.6\.\d{1,2}/firstrun[/]?$ $1firefox/3.6/firstrun/ [PT]
RewriteCond $1 !en-US/
RewriteRule ^(\w{2,3}(?:-\w{2}(?:-mac)?)?/)?firefox/3\.6\.\d{1,2}/whatsnew[/]?$ $1firefox/3.6/whatsnew/ [PT]
RewriteCond $1 !en-US/
RewriteRule ^(\w{2,3}(?:-\w{2}(?:-mac)?)?/)?firefox/4\.\d{1,2}/firstrun[/]?$ $1firefox/4/firstrun/ [PT]
RewriteCond $1 !en-US/
RewriteRule ^(\w{2,3}(?:-\w{2}(?:-mac)?)?/)?firefox/4\.0\.\d{1,2}/whatsnew[/]?$ $1firefox/4/whatsnew/ [PT]
RewriteCond $1 !en-US/
RewriteRule ^(\w{2,3}(?:-\w{2}(?:-mac)?)?/)?firefox/4\.\d{1,2}/details[/]?$ $1firefox/4/details/ [PT]

# Rewrite deleted beta/rc/RC pages to download page
RewriteCond $1 !en-US/
RewriteRule ^(\w{2,3}(?:-\w{2}(?:-mac)?)?/)?firefox/(beta|rc|RC)[/]?$ /$1firefox/ [R=301]

# Bug 649073 Fx4 upgrade DIRECT campaign - localize landing pages
RewriteCond $1 !en-US/
RewriteRule ^(\w{2,3}(?:-\w{2}(?:-mac)?)?/)?firefox/gamer[/]?$ $1firefox/?gamer [PT]
RewriteCond $1 !en-US/
RewriteRule ^(\w{2,3}(?:-\w{2}(?:-mac)?)?/)?firefox/socialmedia[/]?$ $1firefox/?socialmedia [PT]
RewriteCond $1 !en-US/
RewriteRule ^(\w{2,3}(?:-\w{2}(?:-mac)?)?/)?firefox/worker[/]?$ $1firefox/?worker [PT]
RewriteCond $1 !en-US/
RewriteRule ^(\w{2,3}(?:-\w{2}(?:-mac)?)?/)?firefox/messaging[/]?$ $1firefox/?messaging [PT]
RewriteCond $1 !en-US/
RewriteRule ^(\w{2,3}(?:-\w{2}(?:-mac)?)?/)?firefox/streamer[/]?$ $1firefox/?streamer [PT]

# Bug 660249 Update Mozilla.com for XP campaign
RewriteCond $1 !en-US/
RewriteRule ^(\w{2,3}(?:-\w{2}(?:-mac)?)?/)?firefox/xp[/]?$ $1firefox/?xp [PT]
RewriteCond $1 !en-US/
RewriteRule ^(\w{2,3}(?:-\w{2}(?:-mac)?)?/)?firefox/XP[/]?$ $1firefox/?xp [PT]

# Redirect Firefox all-beta and all-rc to the all download page (disabled while we have product betas/RCs available!)
# RewriteRule ^(\w{2,3}(?:-\w{2}(?:-mac)?)?/)?firefox/all-(?:beta|rc).html$ $1firefox/all.html [PT]

# use all-beta content for all-rc
RewriteRule ^(\w{2,3}(?:-\w{2}(?:-mac)?)?/)?firefox/all-rc.html$ $1firefox/all-beta.html [PT]

# The Firefox 4 beta details update billboard is generic
RewriteRule ^(\w{2,3}(?:-\w{2}(?:-mac)?)?/)?firefox/4.0b\d{1,2}/details[/]?$ $1firefox/4.0beta/details/ [PT]

# Redirect Firefox 4 Beta 1 whatsnew to firstrun (no difference in b1 between firstrun and whatsnew)
#RewriteRule ^(\w{2,3}(?:-\w{2}(?:-mac)?)?/)?firefox/4.0b1/whatsnew[/]?$ $1firefox/4.0b1/firstrun/ [PT]

# Redirect Firefox 3.6 Beta 1 whatsnew to firstrun (no difference in b1 between firstrun and whatsnew)
RewriteRule ^(\w{2,3}(?:-\w{2}(?:-mac)?)?/)?firefox/3.6b1/whatsnew[/]?$ $1firefox/3.6b1/firstrun/ [PT]

# Redirect Firefox 3.6 Alpha 2 to Beta 1 (Alpha 2 was WinCE only and was actually the same as Beta 1, more or less)
RewriteRule ^(\w{2,3}(?:-\w{2}(?:-mac)?)?/)?firefox/3.6a2/whatsnew[/]?$ $1firefox/3.6b1/firstrun/ [PT]
RewriteRule ^(\w{2,3}(?:-\w{2}(?:-mac)?)?/)?firefox/3.6a2/(releasenotes|firstrun)(/(?:index.html)?)?$ $1firefox/3.6b1/$2$3 [PT]

# Rewrites for Firefox 3.5 Beta 99 Preview Release
RewriteRule ^(\w{2,3}(?:-\w{2}(?:-mac)?)?/)?firefox/3.5b99/(releasenotes)(/(?:index.html)?)?$ $1firefox/3.5pre/$2$3 [PT]


# Rapid Release channel redirects

# Beta whatsnew -> firstrun
# (in the future, we should change this to match how we have been doing it for point releases below)
RewriteRule ^(\w{2,3}(?:-\w{2}(?:-mac)?)?/)?(firefox|mobile)/5\.0[^/]+/whatsnew(/(?:index.html)?)? $1$2/5.0/firstrun$3 [PT]

# Redirect #.#b# to #.#beta
RewriteRule ^(en-US/)?(firefox|mobile)/([0-9]\.[0-9]+)b[0-9]+/(.*) /$1$2/$3beta/$4 [PT,L]


# Old development minor update redirects

# Temporary rewrite for Firefox 3.6 release candidate
#RewriteRule ^(\w{2,3}(?:-\w{2}(?:-mac)?)?/)?firefox/3\.6/(releasenotes|whatsnew|firstrun)(/(?:index.html)?)?$ $1firefox/3.6rc2/$2$3 [PT]

# Temporary rewrite for Firefox 3.5.19 beta
#RewriteRule ^(\w{2,3}(?:-\w{2}(?:-mac)?)?/)?firefox/3\.5\.19/(releasenotes|whatsnew)(/(?:index.html)?)?$ $1firefox/3.5.19rc/$2$3 [PT,L]

# Temporary rewrite for Firefox 3.6.18 beta
RewriteRule ^(en-US/)?firefox/3\.6\.18(?:build[0-9]+)?/(releasenotes|whatsnew|details)(/(?:index.html)?)? /$1firefox/3.6.18rc/$2$3 [PT,L]

# Temporary rewrite for Firefox 4.0.1 beta
#RewriteRule ^(en-US/)?firefox/4\.0\.1(?:build[0-9]+)?/(releasenotes|whatsnew|details)(/(?:index.html)?)? /$1firefox/4.0.1rc/$2$3 [PT,L]

# Temporary rewrite for Firefox 3.5.19 firstrun -> 3.5.19 beta whatsnew
#RewriteRule ^(\w{2,3}(?:-\w{2}(?:-mac)?)?/)?firefox/3\.5\.19/firstrun(/(?:index.html)?)? $1firefox/3.5.19rc/whatsnew$3 [PT]

# Temporary rewrite for Firefox 3.6.17 firstrun -> 3.6.17 beta whatsnew
RewriteRule ^(\w{2,3}(?:-\w{2}(?:-mac)?)?/)?firefox/3\.6\.18/firstrun(/(?:index.html)?)? $1firefox/3.6.18rc/whatsnew$3 [PT]

# Temporary rewrite for Firefox 4.0.1 firstrun -> 4.0.1 beta whatsnew
#RewriteRule ^(\w{2,3}(?:-\w{2}(?:-mac)?)?/)?firefox/4\.0\.1/firstrun(/(?:index.html)?)? $1firefox/4.0.1rc/whatsnew$3 [PT]

# Rewrite rule for 3.7a4webm build firstrun/whatsnew pages to webmproject.org (bug 566884)
RewriteRule ^(\w{2,3}(?:-\w{2}(?:-mac)?)?/)?firefox/3.7a4webm/(whatsnew|firstrun)[/]?$ http://www.webmproject.org/ [R=temp,L]

# These are catch-alls and need to come after any beta firstrun overrides...
# (we can do these because of bug 573597)
# 3.5.x details/whatsnew always points to 3.5's version
RewriteRule ^(\w{2,3}(?:-\w{2}(?:-mac)?)?/)?firefox/3\.5\.[0-9]+/details(/(?:index.html)?)?$ $1firefox/3.5/details$3 [PT,L]
# 3.6.x firstrun/details/whatsnew always points to 3.6's version
RewriteRule ^(\w{2,3}(?:-\w{2}(?:-mac)?)?/)?firefox/3\.6\.[0-9]+/(firstrun|details|whatsnew)(/(?:index.html)?)?$ $1firefox/3.6/$2$3 [PT,L]
# 4.0.x firstrun/details/whatsnew always points to 4.0's version
RewriteRule ^(\w{2,3}(?:-\w{2}(?:-mac)?)?/)?firefox/4\.0\.[0-9]+/(firstrun|details|whatsnew)(/(?:index.html|tour_.*)?)?$ $1firefox/4.0/$2$3 [PT,L]

# Special rewrite for some pages since they are hardcoded in Firefox source
RewriteRule ^firefox/its-a-trap.html$ /en-US/firefox/its-a-trap.html [L]
RewriteRule ^firefox/its-an-attack.html$ /en-US/firefox/its-an-attack.html [L]
#
#### END FIREFOX PRODUCT REDIRECTS

# Retired URLs.
RewriteRule ^en-US/launch[/]?$ /firefox/ [R=permanent]
RewriteRule ^en-US/firefox/updated[/]?$ /firefox/ [R=permanent]
RewriteRule ^en-US/firefox/landing(?:/.*)$ /firefox/ [R=permanent]
RewriteRule ^en-US/firefox/pganonffx[/]?$ /firefox/ [R=permanent]
RewriteRule ^en-US/firefox/pgbffx[/]?$ /firefox/ [R=permanent]
RewriteRule ^en-US/firefox/pgcshort[/]?$ /firefox/ [R=permanent]
RewriteRule ^en-US/firefox/pgdlong[/]?$ /firefox/ [R=permanent]
RewriteRule ^en-US/firefox/phase2(?:/.*)$ /firefox/ [R=permanent]
RewriteRule ^en-US/add-ons/campus(?:/.*)$ /firefox/ [R=permanent]
RewriteRule ^en-US/add-ons/jogacompanion(?:/.*)$ /firefox/ [R=permanent]
RewriteRule ^en-US/add-ons[/]?$ https://addons.mozilla.org/ [R=permanent,L]
RewriteRule ^en-US/developers[/]?$ http://developer.mozilla.org/ [R=permanent,L]
RewriteRule ^en-US/support(?:/.*)?$ http://support.mozilla.com/ [R=permanent,L]
RewriteRule ^en-US/firefox/flicks(?:/.*)$ http://www.firefoxflicks.com/ [R=permanent,L]
RewriteRule ^(?:en-US/)?fennec[/]?$ /en-US/mobile/ [R=permanent,L]

# to be used leading up to a release, as a way of diverting HTTP traffic from
# FTP mirrors - remove when the new version goes live
RewriteRule ^en-US/firefox/comingsoon[/]? /en-US/firefox/ [R=permanent]

RewriteRule ^en-US/firefox/underthehood[/]? /en-US/firefox/performance/ [R=permanent]

# bug 629381, /en-US/mobile/maemo -> /en-US/mobile/download/
RewriteRule ^en-US/mobile/maemo[/]?$ /en-US/mobile/download/ [R=permanent]

# bug 488327, firefox/mobile -> mobile
RewriteRule ^(\w{2,3}(?:-\w{2}(?:-mac)?)?/)?firefox/mobile(.*)[/]?$ /$1mobile$2 [R=permanent]

# mobile/1.0.0 -> mobile 1.0, bug 540011
RewriteRule ^(\w{2,3}(?:-\w{2}(?:-mac)?)?/)?mobile/1.0.0(.*)[/]?$ /$1mobile/1.0$2 [R=permanent]

# Bug 619404 Quickly redirect index page
RewriteRule ^$ /fake-page.html [L]
# Bug 611692 Redirect Pre Dec, 2010 pages to new equivalents
RewriteRule ^(\w{2,3}(?:-\w{2}(?:-mac)?)?/)?[/]?(?:index.html)?$ /$1firefox/ [R=permanent]
RewriteRule ^(\w{2,3}(?:-\w{2}(?:-mac)?)?/)?firefox/personal.*[/]?$ /$1firefox/ [R=permanent]
RewriteRule ^(\w{2,3}(?:-\w{2}(?:-mac)?)?/)?firefox/upgrade.*[/]?$ /$1firefox/ [R=permanent]
RewriteRule ^(\w{2,3}(?:-\w{2}(?:-mac)?)?/)?firefox/ie.*[/]?$ /$1firefox/ [R=permanent]

# /customize -> /firefox/customize
RewriteRule ^(\w{2,3}(?:-\w{2}(?:-mac)?)?/)?customize(.*)[/]?$ /$1firefox/customize$2 [R=permanent]

# check for /{locale}/firefox/{version}/firstrun/eu/
# if it doesn't exist, redirect to the regular firstrun page in that locale
# bug 546525
RewriteCond %{REQUEST_URI} ^/(\w{2,3}(?:-\w{2}(?:-mac)?)?/)?firefox/.*/firstrun/eu.*$
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(\w{2,3}(?:-\w{2}(?:-mac)?)?/)?firefox/(.*)/firstrun/eu[/]? /$1firefox/$2/firstrun/ [R=temp,L]

RewriteRule ^(\w{2,3}(?:-\w{2}(?:-mac)?)?/)?m/alpha[/]? /$1m/beta [R=temp,L]
RewriteRule ^(\w{2,3}(?:-\w{2}(?:-mac)?)?/)?M/BETA[/]? /$1m/beta [R=permanent,L]

# Redirect the Lorentz firstrun pages to the equivalent whatsnew page
RewriteRule ^(\w{2,3}(?:-\w{2}(?:-mac)?)?/)?firefox/(3.6(.*)plugin(.*))/firstrun/?$ /$1firefox/$2/whatsnew/ [R]

# l10n tweaks:
# Our new html includes should not be directly accessible
RedirectMatch permanent ^/(.*).inc.html? http://www.mozilla.com

# Temporary redirect for Mobile platform support until we have updated the list of supported platforms for all locales
RewriteCond $1 !en-US/
RewriteRule ^(\w{2,3}(?:-\w{2}(?:-mac)?)?/)?mobile/platforms[/]?$ /en-US/mobile/platforms/ [R=temp,L]

# All our pages hit this prefetch script.  This will determine the language and
# forward them to the right place.
Action init /includes/prefetch.php
AddHandler init .html

# If someone tries to go to an old-style URL (eg. http://www.mozilla.com/de/firefox/help)
# this handler will pick it up, detect the language, and if it's a "valid" page
# (despite the 404) it'll still forward them to the correct place.  If it's not a
# valid page, they'll get a localized 404 (if available)
ErrorDocument 403 /includes/prefetch.php
ErrorDocument 404 /includes/prefetch.php

# Setup URL Prettiness.  Special thanks to hopsonro for his apache voodoo.

# Handle file paths off the root, and add the locale back into the path
# based on the server name and/or domain.
# Examples:
#    http://{locale}.www.mozilla.com/firefox/central/ ->
#    http://{locale}.www.mozilla.com/{locale}/firefox/central/
RewriteCond %{SERVER_NAME} !^www\..*
RewriteCond %{SERVER_NAME} ^(\w{2,3})(-\w{2}(-mac)?)?\..*
RewriteCond %{REQUEST_URI} !^/(\w{2,3}(-\w{2}(-mac)?)?)(/.*)?$
RewriteCond %{SCRIPT_FILENAME} !^.*(php|css|js|jpg|gif|png|ico|pdf|swf)
RewriteRule ^(.*)$ /%1${toupper:%2}/$1 [R=permanent,L]

RewriteRule en-US/legal/privacy/firefox/mobile/(index.html)? /en-US/legal/privacy/ [R=301]

# Bug 582721
RewriteRule ^(\w{2,3}(?:-\w{2}(?:-mac)?)?/)?legal/privacy/firefox-en.html? /legal/privacy/firefox.html [R=permanent]

# Bug 651645 /beta -> /firefox/channel
RewriteRule ^beta/?$ /firefox/channel/ [R=302]
RewriteRule ^firefox/beta/?$ /firefox/channel/ [R=301]
RewriteRule ^RC/?$ /firefox/channel/ [R=302,NC]
RewriteRule ^firefox/RC/?$ /firefox/channel/ [R=302,NC]

# Bug 640038 redirect old beta and rc links
RewriteRule ^en-US/firefox/beta/features(/(index.html)?)?$ /en-US/firefox/features/ [R=301]
RewriteRule ^en-US/firefox/beta/technology(/(index.html)?)?$ /en-US/firefox/performance/ [R=301]
RewriteRule ^en-US/firefox/beta/faq(/(index.html)?)?$ /en-US/press/faq/fx4 [R=301]
RewriteRule ^en-US/firefox/beta(?:/(.*))?$ /en-US/firefox/ [R=301]

RewriteRule ^en-US/firefox/RC/features(/(index.html)?)?$ /en-US/firefox/features/ [R=301,NC]
RewriteRule ^en-US/firefox/RC/technology(/(index.html)?)?$ /en-US/firefox/performance/ [R=301,NC]
RewriteRule ^en-US/firefox/RC/faq(/(index.html)?)?$ /en-US/press/faq/fx4 [R=301,NC]
RewriteRule ^en-US/firefox/RC(?:/(.*))?$ /en-US/firefox/ [R=301,NC]

#Bug 660292 redirect fx4 faq to general fx faq
RewriteRule ^en-US/press/faq/fx4(/(index.html)?)?$ /en-US/press/faq/fx/ [R=301]

# Bug 640701 redirects stats page to glow
RewriteRule ^en-US/firefox/stats(/(index.html)?)?$ http://glow.mozilla.org/ [R=301]

# Bug 629407  & 659786 Redirect updated ff users to /fx
RewriteCond %{HTTP_USER_AGENT} ^.*Firefox/(4\.0\.1|5.*|6.*)$
RewriteRule ^en-US/firefox(/(index.html)?)?$ /en-US/firefox/fx/ [R=302]
# redirect everyone else to /new
RewriteRule ^en-US/firefox(/(index.html)?)?$ /en-US/firefox/new/ [R=302]

# Bug 638948 redirect beta privacy policy link
RewriteRule ^en-US/firefox/beta/feedbackprivacypolicy/?$ /en-US/legal/privacy/firefox.html [R=permanent]

# Bug 638501 redirect /mobile/beta to /mobile
RewriteRule ^en-US/mobile/beta /en-US/mobile

# Bug 638501 redirect /mobile/beta to /mobile
RewriteRule ^en-US/mobile/beta /en-US/mobile

# Bug make fx mobile rc1 look like real thing
RewriteRule ^en-US/mobile/4.0rc1/(.*)$ /en-US/mobile/4.0/$1 [P]

# Bug 644178 special redirect for google snippets (please remove when may 2011 snippets are online)
RewriteRule ^en/firefox/beta/$ /en-US/firefox/ [R=301]

# Bug 646078 deprecate /firefox/firefox.html
RewriteRule ^en-US/firefox/firefox.html /en-US/firefox/ [R=301]

<FilesMatch "\.(ttf|woff|eot)$">
    ExpiresActive On
    ExpiresDefault "access plus 10 years"
    Header set Access-Control-Allow-Origin "*"
</FilesMatch>

AddDefaultCharset UTF-8
AddType image/x-icon .ico
AddType text/xml .rdf

<IfModule mod_deflate.c>
  <FilesMatch "\.(js|css)$">
    SetOutputFilter DEFLATE
  </FilesMatch>
</IfModule>
