#email-form.success #open-pane { display: none !important; }
#email-form.success #form-pane { display: none !important; }
#email-form.success #success-pane { display: block !important; }

#email-form.error-email #email-error { display: block !important; }
#email-form.error-privacy #privacy-error { display: block !important; }

#email-form .form-error {
    display: none;
}

#email-form .error-wrapper {
	display: inline-block;
	padding: 2px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

#email-form.error-privacy #privacy-field .error-wrapper,
#email-form.error-email #email-field .error-wrapper {
	background: #cc4927;
}

#success-pane {
    display: none;
}

#email-form #format-field label {
  margin: 0 10px;
  width: auto;
  float: left;
}
#email-form #format-field input {
  width: auto;
  float: left;
  margin-top: 10px;
}

#email-form #privacy-field {
  font-size: 12px;
  clear: left;
}

.footnote {
  padding: 5px 0;
  font-size: 12px;
}
