/**************
*
* screen.css
*
/**************/

/* ------- HTML ELEMENTS ------- */

html {
	padding-bottom: 80px; 
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	
}

body { 
	font-family: georgia, sans-serif !important;
	padding: 0px;
	height: 100%;
	background-color: rgb(255,255,255);
	background: url('/img/firefox/panorama/page-background.png') repeat-x top center, url('/img/firefox/panorama/footer.png') repeat-x bottom center;
	color: rgba(0,0,0,0.6);
	font-size:13px;
	line-height: 18px;
	margin: 0 auto;
	
}

h1 {
font-family:georgia,serif;
color: rgba(0,0,0,0.8);
text-shadow: rgba(255,255,255,1) 0px -1px 0px;
font-size:24px;
font-style:italic;
font-weight:normal;
letter-spacing: -0.5;
margin-top: 0px;
}

#container {
	margin: 0px auto;
	width: 780px;
	text-align: center;
}

 video{
	position: relative;
	z-index: 1;
	width:740px;
	padding: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
	border: 1px solid white;
	background-color: rgba(255,255,255,1);
	-moz-border-radius: 0.4em;
	-moz-box-shadow: 
		inset rgba(255,255,255,1) 0px 0px 12px,
		rgba(205,215,225,1) 0px 1px 4px,
		rgba(220,236,253,1) 0px 1px 24px;
}

.thumb{
	width: 96px;
	height: 96px;
	float: left;
	border: 1px solid white;
	display: inline;
}

.text {
	position: relative;
	margin-left: 116px;
	display: block;
}

 .feature{
	float: left;
	width: 345px;
	text-align: left;
	padding: 12px;
	margin: 20px 10px;

}

#title {
position: relative;
z-index: 2;
float: left;
text-shadow: rgba(255,255,255,1) 0px -1px 0px;
color: rgba(0,0,0,0.8);
font-family:georgia,serif;
font-size:54px;
font-style:italic;
font-weight:normal;
letter-spacing: -0.5;
margin:15px 30px 0 30px;
text-transform:none;
}

#title img {
	margin-bottom: -56px;
	margin-right: 12px;
}
