#content {
	margin-right: 275px;
}

.divider {
	height: 4px;
	clear: both;
}

/* {{{ About Landing Page */

#about #wrapper {
	background: url(/img/covehead/about/background-about.jpg) no-repeat center 135px;
}

#about #main-feature { min-height: 300px; }

* html #about #main-feature { height: 300px; /* Hack for IE6 */ }

#about #main-feature p {
	font-size: 135%;
	margin-right: 455px;
}

#about #sidebar {
	width: 200px;
	padding-top: 40px;
	float: right;
}

#about #sidebar #newsletter {
	background: #cde6f5;
	padding: 20px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#about #sidebar #spread-the-word h3 {
	line-height: 0.9;
	margin: 1em 0 10px 0;
}

#about #sidebar #spread-the-word {
	background: url(/img/covehead/about/spread-the-word.png) 108px 46px no-repeat;
	min-height: 140px;
	margin-top: 30px;
}

* html #about #sidebar #spread-the-word {
	height: 140px;
}

#about #sidebar #spread-the-word p {
	padding-right: 69px;
}

#about #sidebar #newsletter h4 {
	color: #32559b;
	margin: 0 0 1em 0;
	line-height: 0.8;
}

#about #sidebar a {
	display: block;
	margin-top: 1em;
}

#about #main-content {
	margin: 0 0 0 15px;
	width: 700px;
	padding-left: 10px;
	float: left;
}

#about #bottom-divider {
	background: none;
}

.about-feature {
	position: relative;
	width: 180px;
	margin-right: 40px;
	display: inline;
	float: left;
	padding: 10px 0 40px 140px;
}

#about .line-divider {
	height: 6px;
	clear: both;
	background: url(/img/covehead/about/about-divider.png) center 0 no-repeat;
}

* html .about-feature { height: 150px; }

.about-feature h3 {
	margin: 55px 0 10px 0;
}

.about-feature p {
	margin: 0 0 0 0;
	color: #69645c;
}

.about-feature img {
	float: right;
}

.about-feature h3 a span {
	position: absolute;
	display: block;
	left: 0;
	top: 0;
	width: 140px;
	height: 170px;
}

#about #get-involved.about-feature h3 a span {
	background: url(/img/covehead/about/icon-get-involved.png) 0 50px no-repeat;
}

#about #press.about-feature h3 a span {
	background: url(/img/covehead/about/icon-press.png) 0 50px no-repeat;
}

#about #careers.about-feature h3 a span {
	background: url(/img/covehead/about/icon-careers.png) 5px 50px no-repeat;
}

#about #partnerships.about-feature h3 a span {
	background: url(/img/covehead/about/icon-partnerships.png) 0 70px no-repeat;
}

#about #blog.about-feature h3 a span {
	background: url(/img/covehead/about/icon-blog.png) 15px 50px no-repeat;
}

#about #licensing.about-feature h3 a span {
	background: url(/img/covehead/about/icon-licensing.png) 0 50px no-repeat;
}

#about #store.about-feature h3 a span {
	background: url(/img/covehead/about/icon-store.png) 10px 50px no-repeat;
}

#about #logo.about-feature h3 a span {
	background: url(/img/covehead/about/icon-logo.png) 0 50px no-repeat;
}

#about #contact.about-feature h3 a span {
	background: url(/img/covehead/about/icon-contact.png) 10px 50px no-repeat;
	min-height: 160px;
}

* html #about #contact.about-feature { height: 160px; }

#press,
#partnerships,
#blog,
#contact {
	margin-right: 0;
}

#sidebar {
	width: 180px;
	margin: 0 0 0 25px;
}

#fyfx-feature img {
	position: relative;
	left: -5px;
}

#fyfx-feature p {
	margin-bottom: 5px;
}

/* }}} */
/* {{{ What is Mozilla Page */

#what-is-mozilla #main-feature {
	background: url(/img/covehead/divider-main.jpg) no-repeat 50% 100%;
    padding-bottom: 80px;
}
#what-is-mozilla #main-feature h2 {
	margin-top: 15px;
	margin-bottom: 25px;
}

#what-is-mozilla #main-feature p {
	font-size: 100%;
	margin-right: 515px;
	margin-bottom: 0;
	margin-top: 0;
	color: #69645c;
}

#what-is-mozilla #main-feature h3 {
	margin: 15px 0 0 0;
}

#what-is-mozilla #main-content {
	padding: 0;
	float: left;
	width: 550px;
	display: inline;
}

#what-is-mozilla #doc {
	background: url(/img/covehead/about/background-whatismozilla.png) no-repeat 500px 130px;
}

#what-is-mozilla #sidebar {
	width: 300px;
	float: right;
	display: inline;
}

#what-is-mozilla #sidebar h3 {
    margin-top: 0;
}

#what-is-mozilla #sidebar ul {
    padding-left: 20px;
}

#what-is-mozilla #sidebar ul li {
	padding-bottom: 10px;
	color: #999;
}

/* }}} */
/* {{{ Partnership Page */

#about-partnerships #doc {
	background: url(/img/covehead/about/background-partnership.png) no-repeat 500px 110px;
}

#about-partnerships #main-feature { min-height: 185px; }
* html #about-partnerships #main-feature { height: 185px; }

#about-partnerships #main-feature p { width: 400px; }

#about-partnerships #main-content {
	padding-top: 40px;
    padding-right: 300px;
	background: url(/img/covehead/divider-main.jpg) no-repeat 50% 0;
}

/* }}} */
/* {{{ Contact Page */

#about-contact #doc {
	background: url(/img/covehead/about/background-contact.png) 600px 90px  no-repeat;
}

#about-contact #main-feature h2 {
	padding-top: 40px;
}

#about-contact #main-feature { min-height: 205px; }
* html #about-contact #main-feature { height: 205px; /* Hack for IE6 */ }

#about-contact #main-feature p {
	width: 600px;
}

#about-contact #content {
	background: url(/img/covehead/divider-main.jpg) no-repeat 50% 0;
    padding-top: 20px;
	margin-right: 0;
	margin-left: 0;
}

#about-contact #map {
	width: 880px;
	height: 450px;
	border: 1px solid #ccc;
	position: relative;
	left: -5px;
	margin: 0 35px;
}

#about-contact div.geo {
	display: none;
}

#about-contact #map h3 {
	margin: 0;
}

#about-contact #map address {
	font-family: verdana, sans-serif;
	font-size: 85%;
}

#map_links {
	margin: 10px 35px 25px 35px;
	font-size: 15px;
}

#map_links a { padding: 0 20px; }
#map_links a:focus { outline: 0; text-decoration: underline; }

#map_links #link_mountain_view {
	padding-left: 0;
	border-right: 1px solid #ccc;
}

#map_locations {
	padding-top: 2em;
	line-height: 1.4;
	margin: 0 35px;
}

#map_locations h2 {
	margin: 0;
	color: #afaba3;
}

#map_locations h3 {
	margin: 0;
}

#map_locations h5 {
	margin: 0;
}

#map_locations a {
	font-family: verdana, sans-serif;
	font-size: 75%;
}

.contact-main-office {
	float: left;
	width: 240px;
}

.contact-regional-offices {
	margin-left: 240px;
}

.map-address {
	float: left;
	width: 192px;
	padding: 20px 20px 10px 0;
}

.map-address address { font-size: 90%; }

.address-row {
	clear: left;
}

#maps-footer {
	background: url(/img/covehead/divider-main.jpg) 50% 100% no-repeat;
	height: 90px;
	clear: both;
	border: 0;
	width: 950px;
}

#maps-footer hr { display: none; }

#contact-contents { margin: 0 35px; }

#contact-contents h3 {
	margin-top: 0;
	line-height: 0.8;
}

#questions,
#feedback {
	float: left;
	width: 49.9%;
}

#questions dl,
#feedback dl {
	margin: 0 40px 0 0;
	padding: 0;
}

#questions dt,
#feedback dt {
	font-size: 16px;
}

#questions dd,
#feedback dd {
	margin: 0 0 1em 0;
}

/* }}} */
/* {{{ Participation Landing Page */

#participate #doc {
  background: url(/img/covehead/about/background-participate.png) no-repeat 650px 90px;
}

#participate #main-feature {
  min-height: 235px;
  background: url(/img/covehead/divider-main.jpg) no-repeat 0 100%;
  padding-bottom: 60px;
}

#participate #main-feature h2 {
  font-size: 350%;
  margin-right: 350px;
}

#participate #main-feature p {
  font-size: 135%;
  margin-right: 350px;
}

#participate #main-content {
  margin-top: -20px;
  padding: 0;
  float: left;
  width: 600px;
}

#participate #main-content h3 {
  font-size: 32px;
  margin: 4px 8px .5em;
}

#participate .action {
  padding-bottom: 30px;
  clear: left;
}

#participate .action div {
  margin: 0;
  width: 200px;
  float: left;
  display-inline;
  margin: 0 20px 30px 30px;
  background: url(/img/covehead/about/background-bubbles.png) 0 0 no-repeat;
}

#participate .action div h4 {
  margin: 50px 0 0 0;
  padding: 20px 20px 35px 20px;
  background: url(/img/covehead/about/background-bubbles.png) -200px 100% no-repeat;
  line-height: 0.9;
}

#participate .action#join-mozilla div h4 {
    font-size: 26px;
}

#participate .action div h4 a {
  display: block;
  margin-top: -48px;
}

#participate .action.two div {
  background-position: -400px 0;
}

#participate .action.two div h4 {
  background-position: -600px 100%;
}

#participate .action.three div {
  background-position: -800px 0;
}

#participate .action.three div h4 {
  background-position: -1000px 100%;
}

#participate .action h4 a {
  display: block;
  color: #fff;
  text-decoration: none;
}

#participate .action p {
  float: right;
  width: 350px;
  padding: 20px 0 .25em 0;
  font-size: 14px;
}

* html #participate .action p {
  width: 300px;
}

#participate .action p.start {
  padding-top: 0;
}

#participate .action .start a:after, 
#participate .more a:after, 
#participate #share a:after {
  content: " \00bb";
}

#participate .more {
  clear: both;
  padding: 20px 0 0 30px;
  font-style: italic;
  font-size: 18px;
  color: #4b4740;
}

#participate .more a {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  padding-left: 10px;
}

#participate #sidebar {
  margin: -20px 20px 0 0;
  width: 200px;
  float: right;
  display: inline;
}

#participate #sidebar h3 {
  margin: .75em 0;
  font-size: 22px;
}

#participate #share .twitter {
  padding-left: 50px;
  min-height: 50px;
  background: url(/img/covehead/about/icon-twitter.png) no-repeat;
}

#participate #share .twitter a {
  display: block;
}

#participate #share .facebook {
  padding-left: 50px;
  min-height: 50px;
  background: url(/img/covehead/about/icon-facebook.png) no-repeat;
}

#participate #newsletter #email-wrapper,
#participate #newsletter #country-field,
#participate #newsletter #privacy-check-label {
  display: block;
  margin: 0 0 1em;
}

#participate #newsletter #email,
#participate #newsletter #country {
  width: 90%;
}

#participate #newsletter .placeholder {
  color: #9d9891;
  font-style: italic;
}

#participate #newsletter li h4 {
  margin-bottom: 5px;
}

#participate #newsletter li {
  list-style: none;
  background: none;
}

#participate #newsletter .footnote {
  margin-top: .5em;
  color: #9d9891;
}

#participate #newsletter #connect-email a {
  font-family: georgia, serif;
  font-style: italic;
  font-size: 16px;
  line-height: 0.9;
  color: #303030;
}

#participate #newsletter #connect-email a span {
  font-family: MetaBlack, "Trebuchet MS", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-style: normal;
  font-size: 130%;
  display: block;
  letter-spacing: -0.02em;
  color: #447bc4;
}

#participate #subscribe {
  border: 1px solid #da742c;
  color: #b01a04;
  font-size: 1.1em;
  font-weight: bold;
  padding: 8px 20px;
  text-shadow: 0 1px 1px rgba(255,255,255,0.75);
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background: #e59e2f;
  background: -moz-linear-gradient(top, #eed052 0, #ebaf4f 50%, #e69f30 50%, #de742b 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #eed052), color-stop(50%, #ebaf4f), color-stop(50%, #e69f30), color-stop(100%, #de742b));
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.3);
  box-shadow: 0 1px 3px rgba(0,0,0,0.3);
}

#participate #subscribe:hover, 
#participate #subscribe:focus {
  cursor: pointer;
  color: #951603;
  background: #f5a932;
  background: -moz-linear-gradient(top, #f7d754 0, #f7b954 50%, #f5a932 50%, #ed7a2d 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f7d754), color-stop(50%, #f7b954), color-stop(50%, #f5a932), color-stop(100%, #ed7a2d));
}

#participate #newsletter .form-error-visible {
  margin: 1em 0;
  color: #900;
}

/* }}} */
