/* {{{ Template and Main Feature */

.aurora-all#firefox-all {
    background: #000 url(/img/covehead/all-aurora/bg.jpg) 50% 0 repeat-x;
}

.aurora-all#firefox-all #wrapper {
    background: url(/img/covehead/all-aurora/bg-feature.jpg) 50% 0 no-repeat;
}

.aurora-all#firefox-all #doc {
    background: none;

}

.aurora-all#firefox-all #main-feature {
    height: auto;
    padding: 105px 0 20px 0;
}

.aurora-all #main-feature h2 {
    padding: 0 0 60px 123px;
}

.aurora-all #main-feature h2 em {
    display: block;
    color: #fcd348;
    font-style: normal;
    font-size: 20px;
    line-height: 1;
    padding-top: 3px;
}

.aurora-all #main-feature p {
    width: 800px;
    font-size: 18px;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
}

.aurora-all#firefox-all #sidebar-notes {
    clear: left;
    padding: 20px 0 0 0;
}

.aurora-all #sub-footer {
    display: none;
}

/* }}} */
/* {{{ Table */

.aurora-all#firefox-all #main-content {
    display: inline;
    float: left;
    margin-top: 0 35px 25px 15px;
    width: 665px;
}

.aurora-all table.dalvay-table thead th {
    margin: 30px 0 2px 0;
    padding: 20px 5px 10px 5px;
    background: rgb(23,7,30);
    background: rgba(126,36,163,0.17);
    border: 1px solid rgb(42,12,49);
    border: 1px solid rgba(84,24,97,0.5);
    -webkit-box-shadow: 0 0 10px rgba(99,29,131,0.36) inset;
    -moz-box-shadow: 0 0 10px rgba(99,29,131,0.36) inset;
    box-shadow: 0 0 10px rgba(99,29,131,0.36) inset;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-size: 12px;
    color: #fff;
    text-shadow: 0 1px 2px #000;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    text-align: center;
    font-weight: 600;
}

.aurora-all table.dalvay-table thead th.top-left {
    font-size: 18px;
    padding-left: 20px;
    text-align: left;
}

.aurora-all table.dalvay-table tr td {
    background: rgb(10,2,14);
    background: rgba(40,6,57,0.25);
    border: 1px solid rgb(42,12,49);
    border: 1px solid rgba(80,27,91,0.5);
    -webkit-box-shadow: 0 0 10px rgba(72,23,95,0.36) inset;
    -moz-box-shadow: 0 0 10px rgba(72,23,95,0.36) inset;
    box-shadow: 0 0 10px rgba(72,23,95,0.36) inset;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    padding: 10px;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
}

.aurora-all table.dalvay-table td.left,
.aurora-all table.dalvay-table td.second {
    width: 50%;
    padding-left: 20px;
}

.aurora-all table.dalvay-table td.curVersion {
    font-weight: normal;
}

.aurora-all table.dalvay-table tr.even td {
    background: rgb(21,5,29);
    background: rgba(40,6,57,0.7);
}

.aurora-all td .download-osx,
.aurora-all td .download-linux,
.aurora-all td .download-windows {
    display: block;
    height: 34px;
    width: 32px;
    text-indent: -1000px;
    padding: 0;
    margin: 0 auto;
    overflow: hidden;
    background: url(/img/covehead/all-aurora/download.png) 0 0 no-repeat;
}

.aurora-all td .download-osx   { background-position: -42px 0; }
.aurora-all td .download-linux { background-position: -84px 0; }

.aurora-all td .download-osx:hover   { background-position: -42px -40px; }
.aurora-all td .download-linux:hover { background-position: -84px -40px; }
.aurora-all td .download-windows:hover   { background-position: 0 -40px; }

.aurora-all table.dalvay-table tfoot {
    display: none;
}

/* }}} */
/* {{{ Sidebar */

.aurora-all#firefox-all #sidebar {
	display: inline;
	float: left;
	position: relative;
    margin: 0;
    width: 255px;
}

#sidebar .section {
    display: block;
    font-size: 15px;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
    padding: 30px;
    background: rgb(20,20,20);
    background: rgba(165,165,165,0.08);
    border: 1px solid rgb(40,40,40);
    border: 1px solid rgba(80,80,80,0.25);
    box-shadow: 0 0 10px rgba(100,100,100,0.36) inset, 0 -1px 0 rgba(153,153,153,0.25) inset;
    margin: 0 0 10px 0;
    color: #999;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}

.aurora-all#firefox-all #sidebar .section h3 {
    margin: 0 0 5px 0;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    color: #fff;
    font-size: 18px;
}

#sidebar .section p {
    line-height: 1.2;
}

#sidebar .section ul {
    margin: 0;
    padding: 0;
}

#sidebar .section li {
    list-style-type: none;
    margin: 0.5em 0;
}

#sidebar .section a,
#sidebar .section a:visited {
    font-style: italic;
    color: #62A5E8;
}

/* }}} */
/* {{{ Search Form */

.aurora-all#firefox-all #sidebar #sidebar-search  h3 {
    padding: 30px 20px 0 20px;
}

#sidebar #sidebar-search.section {
    padding: 0;
}

.aurora-all #search-form div.search-box {
    background: none;
    float: none;
    width: auto;
    padding: 5px 20px 10px 20px;
}

.aurora-all #search-form div.search-box input#language-search {
    background: #000 url(/img/covehead/all-aurora/search-icon.png) 5px 50% no-repeat;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
    border-color:  #222025 #222025 #444247 #222025;
    float: none;
    box-shadow: 0 0 8px #333 inset;
    color: #fff;
    -webkit-appearance: none;
    width: 130px;
    vertial-align: middle;
}

.auroral-all#search-form div.search-box input#lang-submit{
    float: none;
    margin: 0;
    vertial-align: middle;
}

.aurora-all#firefox-all #sidebar #sidebar-search .results {
    font-size: 12px;
}

.aurora-all#firefox-all #sidebar #sidebar-search .result {
    border-top: 1px dotted #666;
    padding: 10px 20px;
}

.aurora-all#firefox-all #sidebar #sidebar-search .result  a,
.aurora-all#firefox-all #sidebar #sidebar-search .result  a:visited {
    font-style: normal;
    background: url(/img/covehead/all-aurora/platform-icons.png) 0 50% no-repeat;
    padding: 1px 4px 1px 18px;
    display: inline-block;
}

.aurora-all#firefox-all #sidebar #sidebar-search .result  a.osx-uni {
    background-position: -200px 50%;
}

.aurora-all#firefox-all #sidebar #sidebar-search .result  a.linux {
    background-position: -400px 50%;
}

.aurora-all #sidebar-search .result h4 span {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #d19cfa;
    font-size: 17px;
    font-weight: 600;
}
 
.aurora-all #sidebar-search .result h4 span.lang-native {
    font-size: 15px;
    font-weight: 400;
    display: block;
}
/* }}} */
