/* {{{ Template and Main Feature */

.beta-all#firefox-all #wrapper {
    background: url(/img/covehead/firefox/beta/bg.jpg) 50% 240px no-repeat;
}

.beta-all#firefox-all #doc {
    background: none;

}

.beta-all#firefox-all #main-feature {
    height: auto;
    padding: 45px 0 20px 0;
    position: relative;
    width: 940px;
    overflow: hidden;
}

.beta-all #main-feature h2 {
    position: relative;
    font-size: 22px;
    padding: 110px 0 60px 130px;
    font-style: normal;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.6);
}

.beta-all #main-feature h2 img {
    display: block;
    position: absolute;
    top: 0;
    left: -10px;
    z-index: 9;
}

.beta-all #main-feature h2 em {
    display: block;
    font-style: normal;
    position: relative;
    z-index: 10;
    font-size: 20px;
    line-height: 1;
    color: #666;
}

.beta-all #main-feature p {
    width: 800px;
    font-size: 18px;
    text-shadow:
    1px 1px 2px #fff,
    1px 1px 6px #fff,
    1px 1px 8px #fff;
    margin: 0;
}

.beta-all#firefox-all #sidebar-notes {
    clear: left;
    padding: 20px 0 0 0;
}

.beta-all #sub-footer {
    display: none;
}

.beta-all #main-feature h2 small {
    color: #727a99;
    font-size: 16px;
}

.beta-all #main-feature h2 span {
    font-size: 60px;
}

.beta-all #main-feature p {
}

.beta-all #main-feature p a {
    font-style: italic;
    color: #62a5e8;
}


/* }}} */
/* {{{ Table */

.beta-all#firefox-all #main-content {
    display: inline;
    float: left;
    margin-top: 0 35px 25px 15px;
    width: 665px;
}

.beta-all table.dalvay-table thead th {
    margin: 30px 0 2px 0;
    padding: 20px 5px 10px 5px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-size: 12px;
    color: #fff;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    text-align: center;
    font-weight: 600;
    color: #465875;
    background: rgb(255,255,255); /* Old browsers */
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,255,255,0.61) 75%, rgba(236,241,249,0.61) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(75%,rgba(255,255,255,0.61)), color-stop(100%,rgba(236,241,249,0.61))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.61) 75%,rgba(236,241,249,0.61) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,0.61) 75%,rgba(236,241,249,0.61) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,0.61) 75%,rgba(236,241,249,0.61) 100%); /* IE10+ */
    background: linear-gradient(top, rgba(255,255,255,0.61) 75%,rgba(236,241,249,0.61) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ecf1f9',GradientType=0 ); /* IE6-9 */
    border: 1px solid #bcd7eb;
    -webkit-box-shadow: 0 0 5px #e3f3fe inset, 0 -2px rgba(192,216,233,0.61) inset;
    -moz-box-shadow: 0 0 5px #e3f3fe inset, 0 -2px rgba(192,216,233,0.61) inset;
    box-shadow: 0 0 5px #e3f3fe inset, 0 -2px rgba(192,216,233,0.61) inset;
    text-shadow: 0 1px #fff;
}

.beta-all table.dalvay-table thead th.top-left {
    font-size: 18px;
    padding-left: 20px;
    text-align: left;
    -webkit-border-top-left-radius: 6px;
    -moz-border-radius-topleft: 6px;
    border-top-left-radius: 6px;
}

.beta-all table.dalvay-table thead th.top-right {
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topright: 6px;
    border-top-right-radius: 6px;
}


.beta-all table.dalvay-table tr td {
    background: rgb(255,255,255);
    background: rgba(255,255,255,0.8);
    border: 1px solid #bcd7eb;
    -webkit-box-shadow: 0 0 10px rgba(219,232,247,1) inset, 0 0 5px rgba(224,239,249,0.7) inset;
    -moz-box-shadow: 0 0 10px rgba(219,232,247,1) inset, 0 0 5px rgba(224,239,249,0.7) inset;
    box-shadow: 0 0 10px rgba(219,232,247,1) inset, 0 0 5px rgba(224,239,249,0.7) inset;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    padding: 10px;
    color: #666;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
}

.beta-all table.dalvay-table td.left,
.beta-all table.dalvay-table td.second {
    width: 50%;
    padding-left: 20px;
}

.beta-all table.dalvay-table td.curVersion {
    font-weight: normal;
}

.beta-all table.dalvay-table tr.even td {
    background: rgb(213,236,253);
    background: rgba(213,236,253,0.5);
}

.beta-all td .download-osx,
.beta-all td .download-linux,
.beta-all td .download-windows {
    display: block;
    height: 34px;
    width: 32px;
    text-indent: -1000px;
    padding: 0;
    margin: 0 auto;
    overflow: hidden;
    background: url(/img/covehead/all-beta/download.png) 0 0 no-repeat;
}

.beta-all td .download-osx   { background-position: -42px 0; }
.beta-all td .download-linux { background-position: -84px 0; }

.beta-all td .download-osx:hover   { background-position: -42px -40px; }
.beta-all td .download-linux:hover { background-position: -84px -40px; }
.beta-all td .download-windows:hover   { background-position: 0 -40px; }

.beta-all table.dalvay-table tfoot {
    display: none;
}

/* }}} */
/* {{{ Sidebar */

.beta-all#firefox-all #sidebar {
	display: inline;
	float: left;
	position: relative;
    margin: 0;
    width: 255px;
}

#sidebar .section {
    display: block;
    font-size: 15px;
    text-shadow: 1px 1px 1px #fff;
    padding: 30px;
    background: rgb(255,255,255);
    background: rgba(255,255,255,0.6);
    border: 1px solid rgb(200,200,200);
    border: 1px solid rgba(174,174,174,0.6);
    -webkit-box-shadow: 0 0 5px rgba(230,230,230,0.15) inset, 0 -2px rgba(0,0,0,0.05) inset;
    -moz-box-shadow: 0 0 5px rgba(230,230,230,0.15) inset, 0 -2px rgba(0,0,0,0.05) inset;
    box-shadow: 0 0 5px rgba(230,230,230,0.15) inset, 0 -2px rgba(0,0,0,0.05) inset;
    margin: 0 0 10px 0;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.beta-all#firefox-all #sidebar .section h3 {
    margin: 0 0 5px 0;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    color: #545454;
    font-size: 18px;
}

#sidebar .section p {
    line-height: 1.2;
}

#sidebar .section ul {
    margin: 0;
    padding: 0;
}

#sidebar .section li {
    list-style-type: none;
    margin: 0.5em 0;
}

#sidebar .section a,
#sidebar .section a:visited {
    font-style: italic;
    color: #62A5E8;
}

/* }}} */
/* {{{ Search Form */

.beta-all#firefox-all #sidebar #sidebar-search  h3 {
    padding: 30px 20px 0 20px;
}

#sidebar #sidebar-search.section {
    padding: 0;
}

.beta-all #search-form div.search-box {
    background: none;
    float: none;
    width: auto;
    padding: 5px 20px 10px 20px;
}

.beta-all #search-form div.search-box input#language-search {
    background: #fff url(/img/covehead/all-beta/search-icon.png) 5px 50% no-repeat;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
    border-color:#aeaeae #aeaeae #d0d0d0 #aeaeae;
    float: none;
    margin-right: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2) inset;
    -webkit-appearance: none;
    width: 130px;
    vertical-align: middle;
}

.beta-all #search-form div.search-box input#lang-submit {
    float: none;
    margin: 0;
    vertical-align: middle;
}

.beta-all#firefox-all #sidebar #sidebar-search .results {
    font-size: 12px;
}

.beta-all#firefox-all #sidebar #sidebar-search .result {
    border-top: 1px dotted #ccc;
    padding: 10px 20px;
}

.beta-all#firefox-all #sidebar #sidebar-search .result  a,
.beta-all#firefox-all #sidebar #sidebar-search .result  a:visited {
    font-style: normal;
    background: url(/img/covehead/all-beta/platform-icons.png) 0 50% no-repeat;
    padding: 1px 4px 1px 18px;
    display: inline-block;
}

.beta-all#firefox-all #sidebar #sidebar-search .result  a.osx-uni {
    background-position: -200px 50%;
}

.beta-all#firefox-all #sidebar #sidebar-search .result  a.linux {
    background-position: -400px 50%;
}

.beta-all #sidebar-search .result h4 span {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #888;
    font-size: 17px;
    font-weight: 600;
}
 
.beta-all #sidebar-search .result h4 span.lang-native {
    font-size: 15px;
    font-weight: 400;
    display: block;
}
/* }}} */
