/* {{{ Main Feature */

#backtoschool #wrapper {
    background: url(/img/covehead/firefox/backtoschool/background.jpg) 50% 0 no-repeat;
}

#backtoschool #main-feature {
    height: 500px;
    position: relative;
}

#backtoschool #main-feature h2 {
    padding-top: 55px;
    margin: 0;
    line-height: 1;
    font-size: 38px;
}

#backtoschool #main-feature h2 span {
    font-size: 60px;
}

#backtoschool #main-feature p {
    width: 380px;
}

/* }}} */
/* {{{ Featured Add-ons */

#featured-addons {
    position: absolute;
    top: 100px;
    right: -10px;
    margin: 0;
    padding: 0;
    width: 325px;
}

#featured-addons li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#featured-addons li a,
#featured-addons li a:link,
#featured-addons li a:visited {
    display: block;
    color: #484848;
    text-decoration: none;
    font-style: italic;
    padding: 3px 0 20px 75px;
    min-height: 70px;
    background: url(/img/covehead/firefox/backtoschool/addon-logos.png) 0 0 no-repeat;
    position: relative;
    right: 0;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

#featured-addons li a:hover {
    right: 8px;
    -webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
}

#featured-addons li#addon-zotero a {
    width: 225px;
}

#featured-addons li#addon-shareaholic a {
    background-position: 0 -150px;
    margin-left: 45px;
}

#featured-addons li#addon-evernote a {
    background-position: 0 -300px;
    margin-left: 75px;
    width: 195px;
}

#featured-addons li#addon-stumbleupon a {
    background-position: 0 -450px;
    margin-left: 70px;
    width: 185px;
}

#featured-addons li a strong {
    display: block;
}

/* }}} */
/* {{{ Download area */

#backtoschool ul.home-download {
    width: 350px;
}

#backtoschool a.download-link span.download-content {
    font-style: normal;
    font-size: 20px;
}

#backtoschool .home-download a.download-link span.download-title {
    font-size: 36px;
    line-height: 1.1;
    display: block;
    padding-top: 5px;
}

#backtoschool ul.home-download li a.download-link #download-arrow {
    position: static;
    vertical-align: middle;
}

#backtoschool .home-download a.download-link span.download-title em {
    font-size: 24px;
}

#backtoschool #is-firefox,
#backtoschool.firefox #non-firefox { display: none; }

#backtoschool.firefox #is-firefox { display: block; }

#backtoschool #main-feature .button {
    background: -moz-linear-gradient(center top , #62A9E3 0%, #5492C4 100%);
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 2px rgba(0, 0, 0, 0.1), 0 -2px rgba(0, 0, 0, 0.2) inset;
    color: #FFFFFF;
    display: inline-block;
    font-size: 16px;
    font-style: italic;
    margin: 45px 0 0 8px;
    padding: 8px 25px 10px;
    text-decoration: none;
}

#backtoschool #main-feature .button span {
    font-size: 120%;
}

/* }}} */
/* {{{ Sub-features */

#backtoschool .section {
    float: left;
    display: inline;
    font-size: 18px;
    width: 300px;
    padding-bottom: 20px;
}

#backtoschool .section p {
    line-height: 1.3;
}

#backtoschool .section h3 span {
    line-height: 0.9;
}

#backtoschool #mobile-promo {
    background: url(/img/covehead/firefox/backtoschool/mobile.png) 100% 0 no-repeat;
    width: 360px;
    padding-right: 250px;
}

#backtoschool #mobile-promo .more {
    margin: 0;
}

#backtoschool #mobile-promo .more a span {
    font-size: 120%;
}

/* }}} */
