/* {{{ Layout/Template */

a:link,
a:visited,
a:hover,
a:active {
	color: #5394e3;
}

#beta-mobile .outer-wrapper {
    background: #fff url(/img/mobile/m/beta/bg-feature.jpg) no-repeat 50% 0;
}

/* }}} */
/* {{{ Main Feature */

#main-feature {
    min-height: 250px;
}

#main-feature h2 {
    border: none;
    text-align: center;
    margin: 18px auto 32px auto;
}

#main-feature a.button {
    color: #fff;
    position: relative;
    min-height: 50px;
    line-height: 1.2;
    margin: 0 20px 0 50px;
    padding: 16px 8px 10px 40px;
    font-size: 110%;
    letter-spacing: -0.02em;
}

#main-feature a.button em {
    font-size: 85%;
}

#main-feature a.button img {
    position: absolute;
    top: -1px;
    left: -40px;
}

/* }}} */
/* {{{ Main Content */

#intro {
    color: #484848;
    font-style: italic;
    font-size: 110%;
}

#feature-list {
    margin: 1em 0;
    padding: 0;
}

#feature-list li {
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,255,255,0.61) 75%, rgba(236,241,249,0.61) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(75%,rgba(255,255,255,0.61)), color-stop(100%,rgba(236,241,249,0.61))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.61) 75%,rgba(236,241,249,0.61) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,0.61) 75%,rgba(236,241,249,0.61) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,0.61) 75%,rgba(236,241,249,0.61) 100%); /* IE10+ */
    background: linear-gradient(top, rgba(255,255,255,0.61) 75%,rgba(236,241,249,0.61) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ecf1f9',GradientType=0 ); /* IE6-9 */
    border: 1px solid #9abed9;
    -webkit-box-shadow: 0 0 12px rgba(224,239,249,0.7) inset, 0 -2px #c0d8d9 inset, 0 2px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 0 12px rgba(224,239,249,0.7) inset, 0 -2px #c0d8d9 inset, 0 2px rgba(0,0,0,0.1);
    box-shadow: 0 0 12px rgba(224,239,249,0.7) inset, 0 -2px #c0d8d9 inset, 0 2px rgba(0,0,0,0.1);
    margin: 1px 0;
    padding: 20px 25px 20px 25px;
    list-style-type: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;

}

#feature-list li:first-child {
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

#feature-list li:last-child {
    -webkit-border-bottom-right-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-radius-bottomright: 6px;
    -moz-border-radius-bottomleft: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

#feature-list li h3 {
    text-transform: uppercase;
    font-style: normal;
    font-family: "Open Sans","Trebuchet MS",sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0 0 0.3em 0;
    color: #484848;
}

#feature-list li p {
    width: auto;
    font-style: italic;
    font-size: 17px;
    margin: 0;
}

/* }}} */
/* {{{ Footer */

a.button.secondary {
    color: #fff;
}

/* }}} */
