/* {{{ */

body {
    font-size: 14px;
    color: #5e5e5e;
}

#brand #header h1 {
    display: none;
}

#brand #footer {
    background-image: none;
    padding: 20px 0 0 0;
}

#brand #footer-contents {
    text-align: center;
}

/* }}} */
/* {{{ Nav */

ul#nav {
    position: relative;
    font-family: MetaNormal, sans-serif;
    list-style: none;
    overflow: auto;
    margin: 0 0 -10px 0;
    padding: 10px 0 0 0;
    z-index: 20;
}

ul#nav li {
    float: left;
    text-transform: uppercase;
    margin: 0 8px;
    padding-bottom: 30px;
}

ul#nav li.first { margin-left: 0; }
ul#nav li.last { margin-right: 0; }

ul#nav li a {
    display: block;
    outline: 0;
    color: #5e5e5e;
    padding: 10px 35px;
    border: 1px solid #fff;
    border-color: rgb(206,221,236);
    border-color: rgba(176,193,210,0.3);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 0 0 1px rgba(255,255,255,0.5) inset;
    -moz-box-shadow: 0 0 0 1px rgba(255,255,255,0.5) inset;
    box-shadow: 0 0 0 1px rgba(255,255,255,0.5) inset;
    -moz-transition: all 0.25s ease-out;
    -webkit-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    -moz-user-select:none;
}

ul#nav li a:hover,
ul#nav li a:focus,
ul#nav li a.selected {
    background-color: rgba(255,255,255,0.7);
    text-decoration: none;
    color: #5e5e5e;
    border-color: #bdc6d7;
    -moz-box-shadow: 0 2px rgba(0, 0, 0, 0.05), 0 -3px rgba(224, 236, 249, 1) inset, 0 -5px 15px rgba(223, 239, 249, 0.8) inset;
    -webkit-box-shadow: 0 2px rgba(0, 0, 0, 0.05), 0 -3px rgba(224, 236, 249, 1) inset, 0 -5px 15px rgba(223, 239, 249, 0.8) inset;
    box-shadow: 0 2px rgba(0, 0, 0, 0.05), 0 -3px rgba(224, 236, 249, 1) inset, 0 -5px 15px rgba(223, 239, 249, 0.8) inset;
    -moz-transition: all 0.25s ease-out;
    -webkit-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    -moz-user-select:none;
}

ul.pager-selected-home li#home-link,
ul.pager-selected-platform li#platform-link,
ul.pager-selected-identity li#identity-link,
ul.pager-selected-artwork li#artwork-link,
ul.pager-selected-website li#website-link,
ul.pager-selected-copy li#copy-link,
ul.pager-selected-downloads li#downloads-link {
    background: url(/img/covehead/firefox/brand-toolkit/nav-selected.png) center bottom no-repeat;
}

ul#nav li a:active {
    background-color: rgba(0,0,0,0.05);
    -moz-box-shadow: 0 3px 3px rgba(0,0,0,0.1) inset;
    -webkit-box-shadow: 0 3px 3px rgba(0,0,0,0.1) inset;
    box-shadow: 0 3px 3px rgba(0,0,0,0.1) inset;
}

ul#identity-nav,
ul#artwork-nav,
ul#website-nav,
ul#copy-nav {
    font-family: MetaNormal, sans-serif;
    list-style: none;
    text-align: center;
    margin: 10px auto;
    padding: 25px;
}

ul#identity-nav li,
ul#artwork-nav li,
ul#website-nav li,
ul#copy-nav li {
    background: url(/img/covehead/firefox/brand-toolkit/divider-menu.png) center left no-repeat;
    display: inline;
    text-transform: uppercase;
    margin: 0;
    padding: 25px 0;
}

ul#identity-nav li.first,
ul#artwork-nav li.first,
ul#website-nav li.first,
ul#copy-nav li.first {
    background: none;
}

ul#identity-nav li a,
ul#artwork-nav li a,
ul#website-nav li a,
ul#copy-nav li a {
    padding: 20px;
}

ul#identity-nav li a.selected,
ul#artwork-nav li a.selected,
ul#website-nav li a.selected,
ul#copy-nav li a.selected {
    color: #5e5e5e;
}

/* }}} */
/* {{{ Pager */

.pager-content {
    clear: both;
}

.pager-content h1 {
    margin-top: 0;
}

/* }}} */
/* {{{ Main */

#main-content {
    clear: both;
    position: relative;
    background-color: #fff;
    margin: 0 0 10px 0;
    padding: 0;
    border: 1px solid #BDC6D7;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    z-index: 10;
}

h1, h2 {
    font-family: MetaNormal, sans-serif;
    font-style: normal;
    margin-top: 0;
}

h1 {
    font-size: 55px;
    line-height: 0.8em;
}

/* }}} */
/* {{{ Home */

#page-home {
    background: url(/img/covehead/firefox/brand-toolkit/background-home.jpg) 0 40px no-repeat;
    overflow: auto;
    padding: 40px 40px 400px 40px;
}

#page-home h1 {
    display: none;
}

#page-home div {
    width: 435px;
    float: right;
}

/* }}} */
/* {{{ Platform */

#page-platform .intro,
#page-platform .promise_position,
#page-platform .pillars,
#page-platform .voice,
#page-platform .manifesto {
    padding: 40px;
    overflow: auto;
}

#page-platform .intro {
    background: url(/img/covehead/firefox/brand-toolkit/background-brand-platform.png) left bottom repeat-x;
}

#page-platform img.brand-platform-monster {
    position: absolute;
    top: -20px;
    right: 160px;
}

#page-platform .promise_position,
#page-platform .pillars,
#page-platform .voice,
#page-platform .manifesto {
    border-top: 1px #e1edf9 solid;
}

#page-platform .intro .left,
#page-platform .pillars .left,
#page-platform .voice .left,
#page-platform .manifesto .left {
    float: left;
    width: 200px;
    margin-right: 50px;
}

#page-platform .intro .right,
#page-platform .pillars .right,
#page-platform .voice .right,
#page-platform .manifesto .right {
    float: left;
    width: 270px;
}

#page-platform .intro .right {
    width: 250px;
}

#page-platform .promise_position .promise {
    float: left;
    width: 425px;
}

#page-platform .promise_position .position {
    float: right;
    width: 425px;
}

#page-platform .promise_position .promise .left,
#page-platform .promise_position .promise .right,
#page-platform .promise_position .position .left,
#page-platform .promise_position .position .right {
    float: left;
    width: 185px;
}

#page-platform .promise_position .promise .right {
    width: 150px;
    margin-top: 50px;
    padding: 20px 0;
}

#page-platform .promise_position .promise .right,
#page-platform .promise_position .position .right {
    background: url(/img/covehead/firefox/brand-toolkit/divider.png) left center no-repeat;
    margin-left: 25px;
    padding-left: 25px;
}

#page-platform .promise_position .promise .right h2,
#page-platform .promise_position .position .right h2 {
    font-family: Georgia, serif;
    font-size: 24px;
    font-style: italic;
}

#page-platform .pillars .right,
#page-platform .manifesto .right {
    width: 600px;
}

#page-platform .pillars .right ol {
    margin: 0;
}

#page-platform .pillars .right ol li {
    font-size: 24px;
    font-style: italic;
    margin-bottom: 0.6em;
}

#page-platform .pillars .right ol li span {
    display: block;
    font-size: 14px;
    font-style: normal;
}

#page-platform .voice {
    background: url(/img/covehead/firefox/brand-toolkit/background-voice.png) right bottom no-repeat;
}

#page-platform .voice .right ul li {
    font-size: 24px;
    font-style: italic;
    margin-bottom: 1em;
    list-style: none;
}

#page-platform .voice .right ul li.unconventional { color: #b32d09; }
#page-platform .voice .right ul li.engaging { color: #ca5916; }
#page-platform .voice .right ul li.honest { color: #e78223; }
#page-platform .voice .right ul li.human { color: #92ccf2; }
#page-platform .voice .right ul li.smart { color: #5c87d0; }
#page-platform .voice .right ul li.confident { color: #2a4a97; }

#page-platform .manifesto h2 {
    float: left;
    margin-bottom: 75px;
}

#page-platform .manifesto img {
    clear: left;
    float: left;
    margin: 20px 50px 10px 0;
}

#page-platform .manifesto .left {
    clear: left;
    background: url(/img/covehead/firefox/brand-toolkit/divider.png) right center no-repeat;
    width: 180px;
    margin: 20px 20px 0 0;
    padding-right: 20px;
}

#page-platform .manifesto .left h3 {
    margin-top: 0;
}

#page-platform .manifesto .left ul li {
    list-style: none;
    font-size: 11px;
}

#page-platform .manifesto .right {
    float: none;
    width: auto;
    padding-left: 225px;
}

/* }}} */
/* {{{ Identity */

#page-identity .title,
#page-identity .logo {
    background: #f6fafd url(/img/covehead/firefox/brand-toolkit/background-title.png) left bottom repeat-x;
    padding: 40px;
    border-top: 1px #e1edf9 solid;
    border-bottom: 1px #e1edf9 solid;
    overflow: auto;
}

#page-identity .title h1 {
    float: left;
}

#page-identity .title p {
    float: right;
    width: 425px;
}

#page-identity .content {
    padding: 40px;
}

#page-identity .guidelines,
#page-identity .common-mistakes,
#page-identity .what-to-look-for,
#page-identity .partner-co-branding {
    padding: 40px;
    overflow: auto;
}

#page-identity .guidelines,
#page-identity .what-to-look-for {
    border-bottom: 1px #e1edf9 solid;
}

#page-identity .what-to-look-for {
    padding-bottom: 0;
}

#page-identity .logo .left,
#page-identity .guidelines .left,
#page-identity .common-mistakes .left,
#page-identity .what-to-look-for .left,
#page-identity .partner-co-branding .left {
    float: left;
    width: 150px;
    margin-right: 50px;
}

#page-identity .logo .left {
    width: 170px;
}

#page-identity .logo img {
    float: left;
    margin-left: 50px;
}

#page-identity .guidelines .left {
    width: 280px;
}

#page-identity .guidelines .left p {
    margin-right: 100px;
}

#page-identity .guidelines .left p.image-note {
    font-size: 11px;
    font-style: italic;
    margin-right: 0;
}

#page-identity .what-to-look-for .left h2 {
    font-size: 18px;
    font-style: italic;
}

#page-identity .logo .right,
#page-identity .guidelines .right,
#page-identity .common-mistakes .right,
#page-identity .what-to-look-for .right {
    float: left;
    width: 270px;
}

#page-identity .guidelines .right {
    width: 540px;
}

#page-identity .guidelines .right ul li {
    margin-left: 15px;
}

#page-identity .guidelines ol {
    clear: both;
    margin: 0;
    padding: 0;
    padding-top: 20px;
}

#page-identity .guidelines ol li {
    float: left;
    list-style-type: none;
    width: 415px;
    margin: 10px 60px 10px 0;
}

#page-identity .guidelines ol li.one,
#page-identity .guidelines ol li.two {
    margin-bottom: 30px;
}

#page-identity .guidelines ol li.two,
#page-identity .guidelines ol li.four {
    margin-right: 0;
}

#page-identity .guidelines ol li img {
    float: left;
    margin-right: 15px;
    padding-bottom: 50px;
}

#page-identity .guidelines ol li.one img,
#page-identity .guidelines ol li.two img {
    margin-top: 20px;
}

#page-identity .what-to-look-for .right {
    background: url(/img/covehead/firefox/brand-toolkit/identity-lookfor-firefox.png) center bottom no-repeat;
    position: relative;
    font-size: 11px;
    width: 575px;
    height: 300px;
}

#page-identity .what-to-look-for .right p.one {
    position: absolute;
    top: 0;
    left: 0;
    width: 160px;
    font-style: italic;
}

#page-identity .what-to-look-for .right p.two {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100px;
    font-style: italic;
}

#page-identity .what-to-look-for .right p.three {
    position: absolute;
    top: 100px;
    right: 0;
    width: 100px;
    font-style: italic;
}

#page-identity .partner-co-branding .right {
    float: left;
    width: 690px;
}

#page-identity .partner-co-branding .right ul li {
    float: left;
    width: 200px;
    list-style: none;
    margin-right: 30px;
}

#page-identity .partner-co-branding .right ul li h3 {
    font-size: 16px;
}

.firefox,
.firefox-beta,
.firefox-aurora,
.firefox-nightly,
.meta-bold,
.meta-medium,
.meta-normal,
.meta-black,
.georgia,
.recommended {
    clear: both;
    padding: 0 40px;
    overflow: auto;
}

.firefox,
.firefox-beta,
.firefox-aurora,
.meta-bold,
.meta-medium,
.meta-normal,
.meta-black,
.georgia {
    overflow: auto;
    border-bottom: 1px #e1edf9 solid;
}

#page-identity #page-channel-logos .left,
#page-identity #page-wordmarks .left,
#page-identity #page-typefaces .left {
    float: left;
    width: 190px;
    margin: 25px 15px 25px 0;
}

#page-identity #page-channel-logos ul,
#page-identity #page-wordmarks ul,
#page-website #page-style-assets ul {
    list-style-type: none;
    margin: 0;
}

#page-identity #page-channel-logos ul li,
#page-identity #page-wordmarks ul li,
#page-website #page-style-assets ul li {
    font-size: 18px;
    font-style: italic;
    margin-bottom: 1em;
}

#page-identity #page-channel-logos ul li span,
#page-identity #page-wordmarks ul li span,
#page-website #page-style-assets ul li.span {
    display: block;
    font-size: 13px;
    font-style: normal;
}

.firefox .right img,
.firefox-beta .right img,
.firefox-aurora .right img,
.firefox-nightly .right img,
.meta-bold .right img,
.meta-medium .right img,
.meta-normal .right img,
.meta-black .right img,
.georgia .right img,
.recommended .right img,
.universal-tabs .right img,
.button-styles .right img,
.backgrounds .right img {
    float: left;
}

.firefox .right ul,
.firefox-beta .right ul,
.firefox-aurora .right ul,
.firefox-nightly .right ul,
.meta-bold .right ul,
.meta-medium .right ul,
.meta-normal .right ul,
.meta-black .right ul,
.georgia .right ul,
.recommended .right ul,
.universal-tabs .right ul,
.button-styles .right ul,
.backgrounds .right ul {
    float: right;
    width: 175px;
}

#page-identity #page-channel-logos ul li.note {
    font-size: 11px;
    font-style: italic;
    margin-top: 25px;
}

#page-identity #page-typefaces .recommended ul li {
    float: left;
    list-style: none;
    margin-left: 20px;
}

/* }}} */
/* {{{ Artwork */

#page-artwork .title {
    background: url(/img/covehead/firefox/brand-toolkit/background-title.png) left bottom repeat-x;
    padding: 40px;
    border-top: 1px #e1edf9 solid;
    border-bottom: 1px #e1edf9 solid;
    overflow: auto;
}

#page-artwork .title h1 {
    float: left;
}

#page-artwork .title p {
    float: right;
    width: 425px;
}

#page-artwork .content,
#page-artwork .our-characters,
#page-artwork .feature-tabs {
    clear: both;
    padding: 40px;
}

#page-artwork .our-characters {
    overflow: auto;
    border-bottom: 1px #e1edf9 solid;
}

#page-artwork .left {
    float: left;
    width: 200px;
    margin: 25px 25px 25px 0;
}

#page-artwork .right {
    padding-left: 225px;
}

/* }}} */
/* {{{ Website */

#page-website .title {
    background: url(/img/covehead/firefox/brand-toolkit/background-title.png) left bottom repeat-x;
    padding: 40px;
    border-top: 1px #e1edf9 solid;
    border-bottom: 1px #e1edf9 solid;
    overflow: auto;
}

#page-website .title h1 {
    float: left;
}

#page-website .title p {
    float: right;
    width: 425px;
}

#page-website .universal-tabs,
#page-website .button-styles,
#page-website .backgrounds {
    padding: 0 40px;
    clear: both;
}

#page-website .universal-tabs,
#page-website .button-styles {
    border-bottom: 1px #e1edf9 solid;
    overflow: auto;
}

#page-website .content {
    padding: 40px;
}

#page-website #page-style-assets .left {
    float: left;
    width: 200px;
    margin: 25px 25px 25px 0;
}

#page-website #page-style-assets .right {
    padding-left: 225px;
}

#page-website #page-style-assets .right img {
    float: left;
}

#page-website #page-domain-strategy h2 {
    float: left;
    width: 150px;
    line-height: 1em;
    margin: 0;
}

#page-website #page-domain-strategy .left {
    clear: left;
    float: left;
    margin: 25px 25px 25px 0;
}

#page-website #page-domain-strategy .left p {
    font-size: 11px;
    font-style: italic;
    margin-top: 10px;
}

#page-website #page-domain-strategy .right {
    padding-left: 225px;
}

/* }}} */
/* {{{ Copy */

#page-copy .title {
    background: url(/img/covehead/firefox/brand-toolkit/background-title.png) left bottom repeat-x;
    padding: 40px;
    border-top: 1px #e1edf9 solid;
    border-bottom: 1px #e1edf9 solid;
    overflow: auto;
}

#page-copy .title h1 {
    float: left;
}

#page-copy .title p {
    clear: right;
    float: right;
    width: 425px;
}

#page-copy h2 {
    float: left;
    width: 150px;
    line-height: 1em;
    margin: 0;
}

#page-copy h2 span {
    display: block;
    font-size: 16px;
    font-weight: normal;
    color: #39393a;
    width: 150px;
    margin-top: 10px;
    text-transform: none;
}

#page-copy .content {
    padding: 40px;
}

#page-copy .left {
    clear: left;
    float: left;
    margin: 25px 25px 25px 0;
}

#page-copy .left p {
    font-size: 11px;
    font-style: italic;
    margin-top: 10px;
}

#page-copy .right {
    padding-left: 225px;
}

#page-copy #page-l10n ol li,
#page-copy #page-rules dt {
    font-size: 20px;
    color: #39393a;
    font-style: italic;
    margin: 0;
}

#page-copy #page-l10n ol li span,
#page-copy #page-rules dd {
    display: block;
    font-size: 13px;
    font-style: normal;
    margin: 0 0 1em 0;
}

#page-copy .terms {
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: 1px #e1edf9 solid;
}

/* }}} */
/* {{{ Downloads */

#page-downloads .title {
    background: url(/img/covehead/firefox/brand-toolkit/background-title.png) left bottom repeat-x;
    padding: 40px;
    border-top: 1px #e1edf9 solid;
    border-bottom: 1px #e1edf9 solid;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    overflow: auto;
}

#page-downloads .title h1 {
    float: left;
}

#page-downloads .title p {
    clear: right;
    float: right;
    width: 425px;
}

#page-downloads .logos,
#page-downloads .wordmarks,
#page-downloads .typefaces,
#page-downloads .assets {
    padding: 0 40px;
    clear: both;
    overflow: auto;
}

#page-downloads .wordmarks,
#page-downloads .typefaces,
#page-downloads .assets {
    margin-top: 40px;
    border-top: 1px #e1edf9 solid;
}

#page-downloads .logos .left,
#page-downloads .wordmarks .left,
#page-downloads .typefaces .left,
#page-downloads .assets .left {
    float: left;
    width: 190px;
    margin: 25px 15px 25px 0;
}

#page-downloads .right {
    float: right;
    width: 680px;
    margin-top: 25px;
}

#page-downloads .logos ul li,
#page-downloads .wordmarks ul li,
#page-downloads .typefaces ul li,
#page-downloads .assets ul li {
    float: left;
    list-style: none;
    margin-left: 20px;
    margin-bottom: 40px;
}

#page-downloads .logos ul li a.download,
#page-downloads .wordmarks ul li a.download,
#page-downloads .typefaces ul li a.download,
#page-downloads .assets ul li a.download {
    margin: 10px 0;
}

/* }}} */
/* {{{ Common */

ul li.download {
    margin: 25px 0;
}

ul li.download a,
a.download {
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-family: MetaNormal, sans-serif;
    font-size: 14px;
    font-style: normal;
    color: #5e5e5e;
    padding: 8px 30px;
    border: 1px #e7ecf1 solid;
    border-radius: 6px 6px 6px 6px;
}

ul li.download a:hover,
a.download:hover {
    background-color: #f5f5f5;
    border-color: #ddd;
}

/* }}} */