/* {{{ */

#brand #header h1 {
    display: none;
}

#brand #footer {
    background-image: none;
    padding: 20px 0 0 0;
}

#brand #footer-contents {
    text-align: center;
}

/* }}} */
/* {{{ Nav */

ul#nav {
    font-family: sans-serif;
    list-style: none;
    overflow: auto;
    margin: 10px 0;
}

ul#nav li {
    float: left;
    text-transform: uppercase;
    margin: 0 10px;
}

ul#nav li.first { margin-left: 0; }
ul#nav li.last { margin-right: 0; }

ul#nav li a {
    display: block;
    color: #5e5e5e;
    padding: 10px 30px;
    border: 1px solid #fff;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 2px rgba(0, 0, 0, 0.1), 0 -2px rgba(99, 149, 185, 0.1) inset, 0 -5px 15px rgba(223, 239, 249, 0.8) inset;
}

ul#nav li a.selected {
    background-color: #fff;
    color: #5e5e5e;
    border: 1px solid #bdc6d7;
}

ul#identity-nav,
ul#artwork-nav,
ul#website-nav,
ul#copy-nav {
    font-family: sans-serif;
    list-style: none;
    text-align: center;
    margin: 10px auto;
    padding: 25px;
}

ul#identity-nav li,
ul#artwork-nav li,
ul#website-nav li,
ul#copy-nav li {
    display: inline;
    text-transform: uppercase;
    margin: 0 10px;
    padding: 25px 0;
}

ul#identity-nav li a,
ul#artwork-nav li a,
ul#website-nav li a,
ul#copy-nav li a {
    padding: 25px;
}

ul#identity-nav li a.selected,
ul#artwork-nav li a.selected,
ul#website-nav li a.selected,
ul#copy-nav li a.selected {
    color: #5e5e5e;
}

/* }}} */
/* {{{ Pager */

.pager-content {
    clear: both;
}

.pager-content h1 {
    margin-top: 0;
}

/* }}} */
/* {{{ Main */

#main-content {
    clear: both;
    background-color: #fff;
    margin: 10px 0;
    padding: 0;
    border: 1px solid #BDC6D7;
    border-radius: 6px 6px 6px 6px;
    overflow: auto;
}

h1, h2 {
    font-family: MetaNormal;
    font-style: normal;
    margin-top: 0;
}

h1 {
    font-size: 55px;
    line-height: 0.8em;
}


/* }}} */
/* {{{ Home */

#page-home {
    background: url(/img/covehead/firefox/brand-toolkit/background-home.jpg) 0 40px no-repeat;
    overflow: auto;
    padding: 40px 40px 400px 40px;
}

#page-home h1 {
    display: none;
}

#page-home div {
    width: 435px;
    float: right;
}

/* }}} */
/* {{{ Platform */

#page-platform {

}

#page-platform .intro,
#page-platform .promise_position,
#page-platform .pillars,
#page-platform .voice,
#page-platform .manifesto {
    padding: 40px;
    overflow: auto;
}

#page-platform .promise_position,
#page-platform .pillars,
#page-platform .voice,
#page-platform .manifesto {
    border-top: 1px #e1edf9 solid;
}

#page-platform .intro .left,
#page-platform .pillars .left,
#page-platform .voice .left,
#page-platform .manifesto .left {
    float: left;
    width: 200px;
    margin-right: 50px;
}

#page-platform .intro .right,
#page-platform .pillars .right,
#page-platform .voice .right,
#page-platform .manifesto .right {
    float: left;
    width: 270px;
}

#page-platform .pillars .right,
#page-platform .manifesto .right {
    width: 600px;
}

#page-platform .pillars .right ol li span {
    display: block;
}

#page-platform .promise_position .promise,
#page-platform .promise_position .position {
    float: left;
    width: 425px;
}

#page-platform .promise_position .promise { margin: 0 24px 0 0; }
#page-platform .promise_position .position { margin: 0 0 0 24px; }

#page-platform .promise_position .promise .left,
#page-platform .promise_position .promise .right,
#page-platform .promise_position .position .left,
#page-platform .promise_position .position .right {
    float: left;
    width: 180px;
    margin-right: 30px;
}

/* }}} */
/* {{{ Identity */

#page-identity {

}

#page-identity .logo,
#page-identity .guidelines,
#page-identity .common-mistakes,
#page-identity .what-to-look-for,
#page-identity .partner-co-branding {
    padding: 40px;
    overflow: auto;
}

#page-identity .logo .left,
#page-identity .guidelines .left,
#page-identity .common-mistakes .left,
#page-identity .what-to-look-for .left,
#page-identity .partner-co-branding .left {
    float: left;
    width: 200px;
    margin-right: 50px;
}
#page-identity .guidelines .left {
    width: 300px;
}

#page-identity .logo .right,
#page-identity .guidelines .right,
#page-identity .common-mistakes .right,
#page-identity .what-to-look-for .right,
#page-identity .partner-co-branding .right {
    float: left;
    width: 270px;
}
#page-identity .guidelines .right {
    width: 540px;
}

/* }}} */
/* {{{ Artwork */



/* }}} */
/* {{{ Website */



/* }}} */
/* {{{ Copy */



/* }}} */
/* {{{ Downloads */



/* }}} */