#careers #feature-extra {
    width: 319px;
    height: 250px;
    position: absolute;
    top: 80px;
    left: 500px;
	background: url(/img/covehead/careers/background.png) no-repeat 0 0;
}

#main-feature h2 { margin-right: 0; }
#main-feature p { margin-bottom: 0; }

#careers #content { margin: 0; }

#careers #main-feature { min-height: 190px; }
* html #careers #main-feature { height: 190px; /* Hack for IE6 */ }

/* {{{ Pagination */

.js #careers-feature {
	overflow: hidden;
	width: 895px;
	margin: 0 0 0 10px;
	padding: 20px 15px 20px 30px;
    background: url(/img/covehead/careers/background-frame.png) 0 0 no-repeat;
}

.js #careers-feature .careers-feature-contents {
	overflow: hidden;
	padding: 12px 0 0 0;
	height: 479px;
	margin-bottom: 20px;
	background-color: #fff;
}

/* for Javascript disabled: */

.pager {
	background-color: #fff;
	padding: 0 35px 35px 35px;
	margin-top: 14px;
}

.js .pager {
	background-color: transparent;
	margin: auto;
	padding: auto;
}


.pager-tabs {
	height: 30px;
	padding-top: 10px;
	margin: 0;
	left: auto;
}

.pager-tabs li {
	background: none;
	float: left;
	margin: 0;
	padding: 0;
    list-style-type: none;
}

.pager-tabs li a {
	font-size: 18px;
    font-style: italic;
	padding: 0 20px 0 0;
}

.pager-tabs li a:link,
.pager-tabs li a:visited { color: #4B4740; }

.pager-tabs li a.selected:link,
.pager-tabs li a.selected:visited {
	color: #afaba3;
	outline: 0;
}

.pager-tabs li a.selected:hover,
.pager-tabs li a.selected:active { text-decoration: none; }

.careers-feature-contents {
	clear: both;
}

.careers-feature-contents h3 {
	font-size: 175%;
	color: #807970;
	margin-bottom: 15px;
}

#page-feature-meet { background: url(/img/covehead/careers/photo-meet.jpg) bottom right no-repeat; }
#page-feature-meet p,
#page-feature-meet h3 { margin-right: 450px; }

#page-feature-team { background: url(/img/covehead/careers/photo-team.jpg) bottom right no-repeat; }
#page-feature-team p,
#page-feature-team h3 { margin-right: 575px; }

#page-feature-life { background: url(/img/covehead/careers/photo-life.jpg) bottom right no-repeat; }
#page-feature-life p,
#page-feature-life h3 { margin-right: 515px; }

#page-feature-life #hr-info {
	float: right;
	width: 200px;
	display: inline;
	margin-right: 35px;
	font-family: verdana, sans-serif;
	position: relative;
	top: -10px;
}

#page-feature-life #hr-info p { margin: 0 0 0.5em 0; font-size: 75%; }
#page-feature-life #hr-info h5 { color: #807970; margin-bottom: 0.3em; margin-top: 10px; }
#page-feature-first-person .quote {
	float: left;
	width: 155px;
	display: inline;
	margin-right: 20px;
	font-size: 85%;
}
#page-feature-first-person { background: url(/img/about/careers/p4_photo5.jpg) bottom right no-repeat; }
#page-feature-first-person .quote-source {
	font-family: verdana, sans-serif;
	font-size: 85%;
}

#page-feature-first-person .quote-source div {
	color: #afaba3;
	font-size: 90%;
}

#page-feature-first-person .quote-source .name {
	font-family: georgia, serif;
	font-size: 120%;
	color: #4b4742;
}
#page-feature-first-person .quote img { margin-top: 1em; }

#page-feature-apply { background: url(/img/covehead/careers/photo-apply.jpg) bottom right no-repeat; }
#page-feature-apply p,
#page-feature-apply h3 { margin-right: 450px; }

.page-careers-button-copy {
    -moz-border-radius: 5px;
    background-color: #eee;
    border: 1px inset;
    margin: 10px;
    vertical-align: middle;
}

.page-careers-button {
    padding: 20px 0;
}

.page-careers-button img {
    vertical-align: middle;
}

/* }}} */
