/* {{{ Main Feature */

#channel #main-feature {
	padding-top: 30px;
}

#channel #main-feature h2 {
    line-height: 0.9;
    font-size: 36px;
}

#channel #main-feature h2 span {
    font-size: 60px;
}

#channel #main-feature p {
    width: 550px;
}

/* }}} */
/* {{{ Main Content */

#channel .channel {
    width: 300px;
    float: left;
    padding-bottom: 30px;
    padding-right: 20px;
}

#channel .channel#download_firefox {
    padding-right: 0;
}

#channel_news {
    clear: both;
    background: url(/img/covehead/divider-notch-main.jpg) 50% 0 no-repeat;
    padding-top: 75px;
    zoom: 1;
}

.channel h3 {
    background: url(/img/covehead/channel/logos.png) top left no-repeat;
    padding: 0;
    margin: 0;
    height: 110px;
}

#download_aurora  h3 { background-position: 0 0; }
#download_beta    h3 { background-position: 0 -260px; }
#download_firefox h3 { background-position: 0 -520px; }


#channel .channel#download_firefox h3 span {
    padding-top: 15px;
}

.channel h3 span {
    font-size: 38px;
    padding: 25px 0 30px 120px;
}

#channel .channel#download_firefox h3 span span {
    font-size: 24px;
    display: block;
    line-height: 0.8;
    padding: 0;
}

.channel ul {
    margin: 5px 10px 10px 10px;
    padding: 0 0 10px 20px;
    min-height: 10em;
}

.channel a.download,
.channel a.download:link,
.channel a.download:visited {
	display: block;
    margin: 10px 20px 10px 28px;
	-moz-box-shadow:    0 3px rgba(0,0,0,0.1), inset 0 -4px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 3px rgba(0,0,0,0.1), inset 0 -4px rgba(0,0,0,0.1);
	box-shadow:         0 3px rgba(0,0,0,0.1), inset 0 -4px rgba(0,0,0,0.1);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	color: #fff;
	overflow: visible;
	background: #84C63C; /* old browsers */
	background: -moz-linear-gradient(top, #84C63C 0%, #489615 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#84C63C), color-stop(100%,#489615)); /* webkit */
	background: linear-gradient(top, #84C63C 0%, #489615 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#84C63C', endColorstr='#489615',GradientType=0 ); /* ie */
	-moz-transition:   box-shadow 0.2s ease-in-out;
	-webit-transition: box-shadow 0.2s ease-in-out;
	transition:        box-shadow 0.2s ease-in-out;
    text-decoration: none;
}

.channel a.download:hover,
.channel a.download:active {
	-moz-box-shadow:    0 3px rgba(0,0,0,0.15), inset 0 -4px rgba(0,0,0,0.15), inset 0 0 80px rgba(255,255,255,0.3);
	-webkit-box-shadow: 0 3px rgba(0,0,0,0.15), inset 0 -4px rgba(0,0,0,0.15), inset 0 0 80px rgba(255,255,255,0.3);
	box-shadow:         0 3px rgba(0,0,0,0.15), inset 0 -4px rgba(0,0,0,0.15), inset 0 0 80px rgba(255,255,255,0.3);
	-moz-transition:    box-shadow 0.2s ease-in-out;
	-webkit-transition: box-shadow 0.2s ease-in-out;
	transition:         box-shadow 0.2s ease-in-out;
    text-decoration: none;
}

.channel a.download span {
    padding: 10px 20px 12px 45px;
    display: block;
    background: url("/img/covehead/channel/download-arrow.png") no-repeat 12px 50%;
    font-size: 16px;
    font-style: italic;
    line-height: 1.1;
}

.channel a.download span strong {
    font-size: 20px;
    display: block;
    font-weight: normal;
}

.channel .download-soon {
	display: block;
    margin: 10px 20px 10px 28px;
    padding: 10px 15px 11px 15px;
	-moz-box-shadow:         0 3px rgba(90,90,90,0.1), inset 0 -4px #e0eff9, inset 0 -10px 30px #e0eff9;
	-webkit-box-shadow:         0 3px rgba(90,90,90,0.1), inset 0 -4px #e0eff9, inset 0 -10px 30px #e0eff9;
	box-shadow:         0 3px rgba(90,90,90,0.1), inset 0 -4px #e0eff9, inset 0 -10px 30px #e0eff9;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	color: #444;
    border: 1px solid #b3c8d7;
	overflow: visible;
	background: #fff;
	-moz-transition:   box-shadow 0.2s ease-in-out;
	-webit-transition: box-shadow 0.2s ease-in-out;
	transition:        box-shadow 0.2s ease-in-out;
    font-style: italic;
    color: #666;
    font-size: 15px;
    line-height: 1.1;
    text-align: center;
}

.channel .download-soon span {
    display: block;
    font-size: 20px;
    color: #006e9a;
}

.channel small {
    font-size: 10px;
    margin-left: 28px;
}

/* }}} */
/* {{{  Newsletter */

#newsletter-signup {
    position: relative;
    margin-left: 20px;
    padding-left: 55px;
    background: url(/img/covehead/channel/mail.png) 0 10px no-repeat;
}
#newsletter-signup .title h3 {
    margin-top: 0;
    float: left;
    border-right: 1px dotted #ccc;
    font-style: italic;
    padding: 5px 25px 5px 15px;
    line-height: 1;
}
#newsletter-signup .title p {
    float: left;
    padding: 5px 20px;
    width: 200px;
    margin: 0;
    color: #888;
    font-style: italic;
    font-size: 15px;
}
#newsletter-signup form {
    display: inline-block;
    vertical-align: top;
}
#newsletter-signup form select {
    width: 23em;
}
#email {
    font-family: Georgia, serif;
    font-size: 16px;
    height: 34px;
    width: 210px;
    border-radius: 4px 0 0 4px;
    border: 1px solid #aaa;
    border-right:0;
    padding: 1px 0 1px 14px;
    box-shadow: 0 2px rgba(0,0,0,.1), 0 0 1px #888 inset;
}
.error-email #email,
.error-email #expand {
    border-color: red;
}
#email-error,
#success-msg {
    display: none;
    font-size: .8em;
    margin-top: .5em;
}
.success #success-msg {
    color: green;
    display: block;
}
.error-email #email-error {
    color: red;
    display: block;
}
#newsletter-signup input[type=submit] {
    padding: 8px 20px;
    cursor: pointer;
    font-size: .9em;
    font-weight: bold;
}
#newsletter-signup input {
    margin-left: 0;
}
#privacy-check-label {
    font-size: .9em;
}
#newsletter-signup .footnote {
    margin-top: 8px;
    font-style: italic;
    font-size: 10px;
}
input:-moz-placeholder {
    font-style: italic;
    color: #ccc;
}
.row {
    margin: 16px 0;
}
#newsletter-signup label:first-child {
    margin-right: 20px;
}

/* }}} */
