#firefox-check-marks #main-feature {
    padding-top: 40px;
}
/* {{{ Technology Page */

#tech-grid {
	width: 880px;
	margin: 10px auto;
}

#tech-grid-footer {
	height: 30px;
	clear: both;
}

#tech-grid-header h3 {
	padding: 25px 25px 0 25px;
	margin: 0;
}

#tech-grid-header p {
	padding: 5px 25px 15px 25px;
	font-size: 110%;
	margin: 0;
}

#tech-grid-nav {
	left: 0;
	position: relative;
	margin-right: 25px;
	padding: 5px 0 10px;
	width: 175px;
	float: left;
	list-style-type: none;
	background: url(/img/covehead/firefox/check-marks/tech-table-menu.png) right top no-repeat;
	-moz-transition: background-position 300ms;
	-webkit-transition: background-position 300ms;
	-o-transition: background-position 300ms;
}

#tech-grid-nav li {
	background: none;
	font-size: 110%;
	padding: 0;
}


#tech-grid-nav li a,
#tech-grid-nav li a:link,
#tech-grid-nav li a:visited {
	display: block;
	padding: 10px 20px;
	color: #afaba3;
	outline: none;
	position: relative;
}

#tech-grid-nav li a:focus {
	text-decoration: underline;
}

#tech-grid-nav li a.selected,
#tech-grid-nav li a.selected:link,
#tech-grid-nav li a.selected:visited {
	color: #4b4742;
}

#tech-grid-nav li a.selected:focus {
	text-decoration: none;
}

#tech-grid .pager-content {
	float: left;
	width: 680px;
	margin-top: 5px;
}

#tech-grid table {
	border-collapse: collapse;
	border-spacing: 0;
}

#tech-grid table th,
#tech-grid table td {
	padding: 8px 15px;
	text-align: center;
	color: #4b4742;
	font-weight: normal;
}

#tech-grid table tbody th {
	padding: 0;
}

#tech-grid table thead th {
	font-size: 123.1%;
}

#tech-grid table thead th sup {
	text-transform: lowercase;
	font-size: 73%;
}

#tech-grid table tbody td,
#tech-grid table thead th {
	border-left: 2px solid #e5e4e0;
	white-space: nowrap;
}

#tech-grid table tbody th {
	width: 100%;
	text-align: left;
	font-family: verdana, sans-serif;
	font-size: 85%;
}

#tech-grid table tbody td.yes {
	background: url(/img/covehead/firefox/check-marks/check.png) 50% 50% no-repeat;
	text-indent: -200px;
	overflow: hidden;
}

#tech-grid table tbody tr.odd td,
#tech-grid table tbody tr.odd th {
	background-color: #f1f1ef;
}

#tech-grid table tbody tr th span {
	color: #666;
}

#tech-grid table tbody tr th a,
#tech-grid table tbody tr th span {
	display: block;
	padding: 8px 15px;
	-moz-transition-property: background;
	-moz-transition-duration: 1s;
}

#tech-grid table tbody tr.odd th a:hover {
	background: #e4e4e2;
	-moz-transition-property: background;
	-moz-transition-duration: 0.5s;
}

#tech-grid table tbody tr th a:hover {
	background: #eaeaea;
	-moz-transition-property: background;
	-moz-transition-duration: 0.5s;
}

#tech-grid ul.footnotes li {
	background: none;
	font-family: verdana, sans-serif;
	font-size: 85%;
}

/* }}} */
