#mozilla-404 {
    background-position: 50% -50px;
}

#doc {
	no-repeat scroll 0 85px;
}

#main-feature {
    padding-top: 40px;
    padding-bottom: 40px;
    min-height: 160px;
}

* html #main-feature {
    height: 160px;
}

#main-feature p {
    width: 400px;
}

#error-reasons {
	float: left;
    display: inline;
	width: 380px;
	margin: 45px 50px 0 0;
}

#error-suggestions {
	float: left;
    display: inline;
	width: 400px;
	margin: 45px 50px 0 0;
}

#content ul {
    padding-left: 20px;
}

#content ul li {
    padding-bottom: 10px;
}
