#main-feature { min-height: 220px; }

* html #main-feature { height: 220px; /* Hack for IE6 */ }

#main-feature {
	padding-top: 30px;
	padding-bottom: 30px;
	background: url(/img/covehead/firefox/background-community.png) no-repeat 500px 40px;
}

#main-feature p { width: 475px; }

#content {
	background: url(/img/covehead/divider-main.jpg) 50% 0 no-repeat;
	padding-top: 30px;
}

.get-involved-list {
	float: left;
	width: 300px;
}

#easy.get-involved-list {
	margin-right: 35px;
}

.content-intro {
	width: 650px;
	font-size: 18px;
	color: #303030;
}

#community #content ul {
	padding-left: 20px;
}

#community #content ul li {
	margin-bottom: 5px;
}

/* }}} */
