#wrapper { background: url('/img/covehead/firefox/connect/connect-bg.jpg') center 0 no-repeat; }

#main-feature {
	background: url(/img/covehead/divider-main.jpg) no-repeat 0 100%;
	min-height: 250px;
}

* html #main-feature {
	height: 250px;
}

#main-feature h2 {
	font-size: 320%;
}

#main-feature p {
	margin-right: 545px;
	font-size: 125%;
}

#content {
	float: left;
	margin: -40px 0 0 35px;
	width: 600px;
	background: url(/img/covehead/connect-vertical-divider.png) 240px 70px no-repeat;
}

#content .top-row { margin-top: 25px; }

#content .row,
#content .top-row {
	clear: both;
}

#content .item {
	width: 235px;
	display: inline;
	float: left;
	margin-right: 52px;
	padding-left: 8px;
	padding-top: 16px;

	min-height: 108px;
	height: auto !important;
	height: 108px;
}

#content .item h3 {
	margin: 0 0 8px 0;
	font-size: 155%;
}

#content .item p {
	font-size: 115%;
	line-height: 1.25;
	vertical-align: middle
}

#content .item p img {
	vertical-align: middle;
}

#content .item .network_icon {
	float: left;
	margin-right: 18px;
	margin-bottom: 3em;
	border: none;
}

#content #twitter.item img {
	margin: 0 25px 0 5px;
}

#sidebar {
	margin: -20px 20px 0 0;
	width: 200px;
	float: right;
	display: inline;
}

#sidebar #share h3 {
	padding-top: 10px;
	margin: 0 0 5px 0;
}

#sidebar #share a {
	display: block;
	margin-top: 10px;
}

/* {{{ newsletter */

#form-pane {
  display: none;
}
#email-form.error #form-pane {
  display: block;
}
#email-form.error #open-pane {
  display: none;
}

#newsletter-sidebar #format-field input {
  margin-top: 0px;
}

#newsletter-sidebar .field {
  margin: 10px 0;
}

#sidebar #newsletter-sidebar #country {
  width: 90%;
}

#sidebar #newsletter-sidebar .input-placeholder-active {
  color: #9d9891;
  font-style: italic;
}

#sidebar #newsletter-sidebar li h4 {
  margin-bottom: 5px;
}

#sidebar #newsletter-sidebar li {
  list-style: none;
  background: none;
}

#sidebar #newsletter-sidebar .footnote {
  margin-top: .5em;
  color: #9d9891;
}

#sidebar #newsletter-sidebar #connect-email a {
  font-family: georgia, serif;
  font-style: italic;
  font-size: 16px;
  line-height: 0.9;
  color: #303030;
}

#sidebar #subscribe {
  border: 1px solid #da742c;
  color: #b01a04;
  font-size: 1.1em;
  font-weight: bold;
  padding: 8px 20px;
  text-shadow: 0 1px 1px rgba(255,255,255,0.75);
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background: #e59e2f;
  background: -moz-linear-gradient(top, #eed052 0, #ebaf4f 50%, #e69f30 50%, #de742b 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #eed052), color-stop(50%, #ebaf4f), color-stop(50%, #e69f30), color-stop(100%, #de742b));
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.3);
  box-shadow: 0 1px 3px rgba(0,0,0,0.3);
}

#sidebar #subscribe:hover, 
#sidebar #subscribe:focus {
  cursor: pointer;
  color: #951603;
  background: #f5a932;
  background: -moz-linear-gradient(top, #f7d754 0, #f7b954 50%, #f5a932 50%, #ed7a2d 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f7d754), color-stop(50%, #f7b954), color-stop(50%, #f5a932), color-stop(100%, #ed7a2d));
}

#form-pane form .form-error input#email {
	border-width: 2px;
	padding: 2px;
	border-color: #cc4927;
}

.form-error {
	display: none;
	border: 2px solid #cc4927;
	color: #cc4927;
	background: #fff;
	font-family: MetaWebPro-Book,sans-serif;
	font-size: 14px;
	padding: 6px;
	-moz-border-radius: 4px;
  float: right;
}

#form-pane form label#privacy-check-label.form-error span {
	border-color: #cc4927;
}
/* }}} */
