/* {{{ Main Features and Sidebar */

#firefox-features #main-feature { 
	position: relative;
	min-height: 200px;
}

* html #firefox-features #main-feature { height: 200px; /* Hack for IE6 */ }

#main-feature p {
	margin-bottom: 0;
	margin-right: 200px;
}


#firefox-features #main-content {
	width: 630px;
	margin: 0 15px;
}

#firefox-features #content {
	clear: both;
}

#firefox-features #sidebar {
	width: 265px;
	margin-right: 0;
	margin-top: 4em;
}

#firefox-features #sidebar #sidebar-menu {
	width: 180px;
	margin-left: 85px;
	padding: 2em 0;
}

#firefox-features #sidebar h4 {
	background: url(/img/covehead/features/sidebar-divider.png) bottom left no-repeat;
	color: #afaba3;
	padding: 0 5px 10px 5px;
}

#firefox-features #sidebar ul {
	font-size: 85%;
	margin-left: 5px;
}

h3 {
	font-size: 40px;
	line-height: 1em;
}

h4 {
	font-size: 20px;
	margin-bottom: 0.5em;
}

/* }}} */
/* {{{ Top Features */

.feature-links {
	float: left;
	background: url(/img/covehead/features/dottedline-background.png) top left no-repeat;
	height: 220px;
	margin: 0;
	padding: 0;
}

.feature-links li {
	text-align: center;
	display: inline;
	float: left;
	list-style-type: none;
	margin: 0 5px 0 0;
	padding: 60px 1px 30px;
}

.feature-links li a {
	background: url(/img/covehead/features/icon-featurelinks.png) 50% 0 no-repeat;
	display: block;
	width: 110px;
	font-size: 14px;
	font-style: italic;
	line-height: 16px;
	text-align: center;
	padding: 90px 0 40px;
}

.feature-links li a span {
	display: block;
}

.feature-links li#security-privacy a { background-position: 50% 0; }
.feature-links li#high-performance a { background-position: 50% -200px; }
.feature-links li#greater-personalization a { background-position: 50% -400px; }
.feature-links li#higher-productivity a { background-position: 50% -600px; }
.feature-links li#cutting-edge a { background-position: 50% -800px; }
.feature-links li#universal-access a { background-position: 50% -1000px; }

#top-features {
	zoom: 1;
	float: right;
	width: 150px;
	padding: 20px 20px 15px 20px;
	background: #cce2f3;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin-top: -20px;
}

#top-features h3 {
	font-size: 18px;
	margin: 0;
	color: #3a4692;
	line-height: 1;
}

#main-feature #top-features p {
	font-size: 12px;
    margin: 0;
}

#top-features ul {
	margin: 5px 0 0 0;
	line-height: 30px;
	zoom: 1;
}

#top-features ul li {
	position: relative;
	list-style: none;
	zoom: 1;
}

#top-features ul li a {
	display: inline;
	zoom: 1;
}

/* IE whitespace hack */
#top-features ul li a {
	display: inline-block\9
}

#top-features .top-feature-hover {
	display: none;
	position: absolute;
	bottom: -23px;
	left: -224px;
	padding: 20px 30px 28px 35px;
	width: 154px;
	height: 84px;
	border-radius: 15px;
	-moz-border-radius: 15px;
	background: url(/img/firefox/features/bubble.png);
	background: url(/img/firefox/features/bubble-256.png)\9; /* IE8 and below */
}

#top-features .top-feature-hover p {
	font-size: 11px;
	color: #fff;
}

#top-features .top-feature-hover h3 {
	font-size: 11px;
	font-weight: bold;
	margin: 0 0 6px 0;
	color: #fff;
}

/* }}} */
/* {{{ Features */

.features-box {
	clear: left;
	padding: 60px 0 0 0;
	position: relative;
}

.features-box h3 a.video {
	background: url(/img/covehead/features/video-reel.png) bottom right no-repeat;
	font-family:georgia,serif;
	font-size: 14px;
	font-weight: normal;
	text-transform: none;
	margin-left: 10px;
	padding-right: 25px;
}


.features-box .features-container {
	padding: 10px 0 30px 0;
	background: url(/img/covehead/divider-main.jpg) top center no-repeat;
	position: relative;
}

.features-box .feature {
	margin-bottom: 20px;
}

.features-box .feature h4 {
	margin-top: 0;
}

.features-box .features-row {
	padding-left: 20px;
}

.features-box .features-top-link {
	background: url(/img/covehead/features/return-to-top.png) bottom left no-repeat;
	text-indent: -99999px;
	clear: both;
	display: block;
	width: 15px;
	margin: 10px 10px 0 0;
	padding: 10px 0 0 0;
	outline: none;
}

.features-divider hr { display: none; }
.features-divider {
	background: url(/img/covehead/features/features-divider.png) 0 40% no-repeat;
	height: 8px;
	clear: both;
	padding: 30px 0;
	margin-left: 10px;
}

.features-footer { clear: both; }

.column1,
.column2,
.column3 {
	float: left;
	display: inline;
	width: 290px;
	margin-right: 35px;
	position: relative;
}
.column3 { margin-right: 0; }

/* }}} */
/* {{{ Security */


/* }}} */
/* {{{ Performance */

#performance-chart ul {
	left: 0;
	margin: 10px 0 0 0;
	padding: 0;
}

#performance-chart ul li {
	float: left;
	background: none;
	list-style: none;
	padding: 0;
	margin: 0;
	width: 90px;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	font-style: italic;
	color: #4b4740;
}

#performance-chart ul li span {
	display: block;
	font-size: 12px;
	font-weight: normal;
	color: #666;
}

#out-of-process {
	clear: both;
	padding-top: 15px;
}

/* }}} */
/* {{{ Personalization */


/* }}} */
/* {{{ Productivity */

#location-bar {
	float: left;
	width: 580px;
	margin-right: 60px;
}

#tabs-feature {
	float: left;
	width: 275px;
}

#firefox-support {
	float: left;
	width: 600px;
}

#firefox-support img {
	float: right;
}

/* }}} */
/* {{{ Cutting Edge */

#newest-technologies ul {
	margin-left: 25px;
}

/* }}} */
/* {{{ Universal */


/* }}} */


