#vpat table {
    border-collapse: collapse;
    border-spacing: none;
}

#vpat table td,
#vpat table th {
	font-family: verdana, sans-serif;
	font-size: 11px;
	padding: 5px;
    vertical-align: top;
}

#vpat table th {
	background: #ddd;
	font-weight: bold;
	color: #444;
}

#vpat table td {
	border-top: 1px solid #ddd;
	color: #333;
}

#vpat tr.table-title th {
	font: 130% sans-serif;
	font-weight: normal;
	background: #666;
	color: #fff;
	border-top: 1px solid #666;
	padding: 0.5em 10px;
	text-align: center;
}

#vpat #content ul {
    padding-left: 20px;
}

#vpat #content ul {
    padding-bottom: 5px;
}
