#wrapper {
}

#main-feature { min-height: 295px; }
* html #main-feature { height: 295px; /* Hack for IE6 */ }

#main-feature {
    padding-top: 50px;
    padding-bottom: 30px;
}

#main-feature h2 { line-height: 0.9; }
#main-feature p {
    width: 650px;
}

#main-content {
    min-height: 100px;
	background: url(/img/covehead/divider-main.jpg) 50% 0 no-repeat;
}

* html #main-content { height: 100px; }


#main-content .sub-feature {
	float: left;
	width: 275px;
	margin-top: 15px;
	margin-right: 0;
	min-height: 14.5em;
}

#main-content #faster,
#main-content #safer {
	margin-right: 55px;
}

#main-content .sub-feature h3 {
	margin: 0 0 10px 0;
	padding: 20px 25px 0 5px;
    line-height: 0.8;
}

#main-content .sub-feature p.first {
	min-height: 8em;
}

* html #main-content .sub-feature p.first {
	position: relative;
	height: 10em;
}

#main-content .sub-feature p {
	padding-left: 5px;
	padding-right: 25px;
}

#main-content .sub-feature a {
	background: transparent url(/img/tignish/firstrun/link-arrow.png) left 5px no-repeat;
	display: block;
	margin: 15px 25px 15px 5px;
	padding-left: 12px;
}

#main-content .sub-feature p a {
	margin: 15px 0;
}

[dir=rtl] #main-content .sub-feature p a {
	background: transparent url(/img/tignish/firstrun/link-arrow-rtl.png) right center no-repeat;
	padding-left: 0;
	padding-right: 12px;
}

#main-content .sub-feature img {
	float: right;
	margin: 1em 0 1em 1em;
}
