#firefoxupdate #main-feature h2 {
	font-size: 52px;
	line-height: 0.9;
}

#firefoxupdate #main-feature h2 span {
	font-size: 70px;
}

#firefoxupdate #main-content {
	background: url(/img/covehead/divider-main.jpg) no-repeat 0 0;
	margin-top: 60px;
	padding-top: 40px;
}

#firefoxupdate .section-content h3 {
	font-size: 30px;
	line-height: 1;
}

#firefoxupdate #help.sub-feature {
	float: right;
	width: 240px;
	margin-right: 10px;
	background: url(/img/firefox/all/support-icon.png) no-repeat 100% 20px;
}

#firefoxupdate #help.sub-feature h3 {
	margin: 1em 0 10px 0;
}

#firefoxupdate #help.sub-feature ul {
	margin-left: 18px;
}

#firefoxupdate #help.sub-feature li {
	margin-bottom: 5px;
}

#firefoxupdate #faq.section {
	padding-right: 320px;
}

