#oneclick-sideid #main-feature {
	padding-top: 30px;

}

#oneclick-sideid #main-feature p {
	width: 580px;
}

#oneclick-sideid #main-content {
	margin-right: 200px;
}

h4 { clear: left; }

p.site-id {
	float: left;
	display: inline;
	width: 235px;
	min-height: 64px;
	margin-right: 25px;
	padding: 0 0 0 75px;
	background-position: top left;
	background-repeat: no-repeat;
	position: relative;
}

* html p.site-id { height: 64px; }

p.site-id-1 { background-image: url(/img/firefox/security/id-icon-1-xp.png); }
p.site-id-2 { background-image: url(/img/firefox/security/id-icon-2-xp.png); }
p.site-id-3 { background-image: url(/img/firefox/security/id-icon-3-xp.png); }
p.site-id-4 { background-image: url(/img/firefox/security/id-icon-4-xp.png); }

.platform-linux p.site-id-1 { background-image: url(/img/firefox/security/id-icon-1-linux.png); }
.platform-linux p.site-id-2 { background-image: url(/img/firefox/security/id-icon-2-linux.png); }
.platform-linux p.site-id-3 { background-image: url(/img/firefox/security/id-icon-3-linux.png); }
.platform-linux p.site-id-4 { background-image: url(/img/firefox/security/id-icon-4-linux.png); }

.platform-mac p.site-id-1 { background-image: url(/img/firefox/security/id-icon-1-mac.png); }
.platform-mac p.site-id-2 { background-image: url(/img/firefox/security/id-icon-2-mac.png); }
.platform-mac p.site-id-3 { background-image: url(/img/firefox/security/id-icon-3-mac.png); }
.platform-mac p.site-id-4 { background-image: url(/img/firefox/security/id-icon-4-mac.png); }

.platform-vista p.site-id-1 { background-image: url(/img/firefox/security/id-icon-1-vista.png); }
.platform-vista p.site-id-2 { background-image: url(/img/firefox/security/id-icon-2-vista.png); }
.platform-vista p.site-id-3 { background-image: url(/img/firefox/security/id-icon-3-vista.png); }
.platform-vista p.site-id-4 { background-image: url(/img/firefox/security/id-icon-4-vista.png); }
