/* {{{ Main Feature */

#future #main-feature {
	padding-top: 50px;
}

/* }}} */
/* {{{ Main Content */

#future .channel {
    width: 300px;
    float: left;
    padding-bottom: 50px;
}

#channel_news {
    clear: both;
    background: url(/img/covehead/divider-notch-main.jpg) 50% 0 no-repeat;
    padding-top: 20px;
}

/* }}} */
