#main-feature h2 {
    margin-top: 100px;
}
#main-feature h2 span {
    display: inline;
}
.roll-over {
    position: absolute;
    right: 55px;
    margin-top: -75px;
    width: 200px;
    padding-left: 40px;
    font: italic 20px/24px Georgia;
    color: #404040;
    background: url(/img/covehead/firefox/gettingstarted/callout-down.png) no-repeat bottom left;
    background-size: 30px;
}

#figure {
    position: relative;
    margin: 10px 0 50px;
}

#figure .screenshot {
    position: relative;
    top: 45px;
    margin-left: -20px;
}

#figure svg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

#figure .callout {
    position: absolute;
    background: url(/img/covehead/firefox/gettingstarted/callout-down.png);
    width: 36px;
    height: 52px;
    margin-left: -18px;
    margin-top: -52px;
}

#figure .up .callout {
    background: url(/img/covehead/firefox/gettingstarted/callout-up.png);
    margin-top: 0;
}

#figure .arrow {
    position: absolute;
    background: url(/img/covehead/firefox/gettingstarted/arrow-hover-down.png);
    width: 29px;
    height: 22px;
    margin-left: -14px;
    margin-top: -22px;
    z-index: 1;
}

#figure .up .arrow {
    background: url(/img/covehead/firefox/gettingstarted/arrow-hover-up.png) no-repeat bottom;
    margin-top: -5px;
}

.tip {
    display: none;
}

#figure .tip {
    display: block;
    position: absolute;
    background: #475AB2;
    width: 470px;
    height: 100px;
    margin-top: -129px;
    overflow: hidden;
    padding: 5px 15px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 4px rgba(0,0,0,.3), inset 0 -3px #425094, inset 0 0 8px #5b91e2;
    -webkit-box-shadow: 0 4px rgba(0,0,0,.3), inset 0 -3px #425094, inset 0 0 8px #5b91e2;
    box-shadow: 0 4px rgba(0,0,0,.3), inset 0 -3px #425094, inset 0 0 8px #5b91e2;
    background: -moz-linear-gradient(bottom, #4352ac, #6a9de3 135%);
    background: -webkit-linear-gradient(bottom, #4352ac, #6a9de3 135%);
    background: -webkit-gradient(linear, left bottom, left top, from(#4352ac), to(#6a9de3));
    z-index: 1;
}

#figure .up .tip {
    background-color: #6a9de3;
    margin-top: 17px;
}

#figure .tip h1, #figure .tip p {
    color: white;
    font: Georgia;
    margin: 0;
    font-style: italic;
}

#figure .tip h1 {
    font-size: 30px;
    line-height: 38px;
}

#figure .tip p {
    font-size: 14px;
    line-height: 18px;
}


#features {
    position: absolute;
    top: 270px;
    left: 50px;
    width: 823px;
    height: 136px;
    padding: 30px 10px;
    background: url(/img/covehead/firefox/gettingstarted/features-box.png);
}

#features p,
#features ul {
    float: left;
    margin: 0 5px;
}

#features p {
    width: 270px;
    padding: 20px;
    font: italic 24px/30px Georgia;
    color: #404040;
    text-align: center;
}

#features p span {
    font-size: 48px;
}

#features li {
    display: block;
}
#features li a {
    display: block;
    background: url(/img/covehead/firefox/gettingstarted/arrow-right.png) no-repeat center left;
    padding-left: 30px;
    font: italic 18px/30px Georgia;
    color: #495fb6;
}
#overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: black;
    opacity: .2;
    filter: alpha(opacity=20);
    width: 100%;
    z-index: 9999;
}

/* Firefox >= 4 */
:-moz-any(body) #overlay {
    opacity: 1;
    background: -moz-linear-gradient(rgba(255,255,255, .5), rgba(255,255,255, .5)), -moz-element(#central) white;
    filter: url(#blur);
}

.overlay-box {
    position: fixed;
    _position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 910px;
    background: white;
    background: -moz-linear-gradient(top, white, white 50%, #f4f9ff);
    border: 1px solid #b0c1d2;
    box-shadow: 0 3px rgba(0,0,0, .1), inset 0 -2px #e0ecf9, inset 0 0 12px rgba(223, 236, 249, .2);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 35px;
    clear: both;
    z-index: 10000;
    font: italic 48px/30px Georgia;
    color: #484848;
    text-align: left;
}

.overlay-box .close {
    position: absolute;
    top: 25px;
    right: 25px;
    display: block;
    height: 59px;
    font: italic 18px/24px Georgia;
    color: #526fc2;
    background: url(/img/covehead/firefox/gettingstarted/arrow-down.png) center bottom no-repeat;
}

.overlay-box .info {
    float: left;
    width: 360px;
}
.overlay-box h1 {
    margin: 0 0 1em;
}
.overlay-box div p {
    font-size: 16px;
}
.overlay-box ul {
    margin: 0;
}
.overlay-box li {
    display: block;
    font-size: 18px;
}
.overlay-box li a::after {
    content: " »";
}
.overlay-box .figure {
    float: left;
    display: block;
    width: 480px;
    margin: 70px 0 0 30px ;
}
.overlay-box .figure img, .overlay-box .figure video {
    box-shadow: 0 1px 2px rgba(0,0,0,.75);
}
.overlay-box .figcaption {
    text-align: center;
    display: block;
    font-size: 18px;
}
