/* {{{ Main Feature */

#home #main-feature {
	min-height: 425px;
	position: relative;
	margin: 0 10px;
    background: url(/img/home/screenshot-shadow.jpg) 0 100% no-repeat;
}

* html #home #main-feature { height: 425px; }

#home #main-feature img {
    position: absolute;
    bottom: 0;
    right: 20px;
}

#home #main-feature #upgrade h3 {
    font-size: 45px;
    font-style: normal;
    margin: 0;
    padding: 40px 0 0 20px;
}
#home #main-feature #upgrade p {
    font-size: 28px;
    font-style: normal;
    margin: 0;
    padding-left: 24px;
}
#home #main-feature #upgrade ul {
    font-size: 20px;
    font-style: italic;
    padding: 0 0 0 60px;
    margin: 10px 0 20px 0;
}

#home #home-download {
	position: relative;
    padding-left: 13px;
	z-index: 25;
}

/* }}} */
/* {{{ Main Content*/

#home #beta-promo {
    padding: 15px 30px 20px 60px;
    width: 385px;
    margin: 0;
    font-size: 13px;
    color: #6D7581;
}

#home #main-content {
	margin: 20px 0 0 10px;
	padding: 0;
	width: 100%;
}

#home .sub-feature {
	float: left;
	width: 190px;
	padding: 20px 15px 20px 30px;
	font-size: 16px;
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAB6AgMAAAAHawElAAAADFBMVEXU6v/w9//5/P/////eAlSlAAAAGUlEQVQI12NoYWhh+AOEhGjCKqivk0Z2AwDQKVv596nEaAAAAABJRU5ErkJggg==") 100% 50% no-repeat;
}

#home .sub-feature h3 {
	font-family: georgia, serif;
	font-weight: normal;
	font-style: italic;
	font-size: 19px;
	line-height: 26px;
	margin: 0;
}

#home .sub-feature h3 span {
	font-family: georgia, serif;
	font-weight: normal;
	font-style: normal;
	font-size: 30px;
	text-transform: none;
	display: block;
}

#home .sub-feature p {
	line-height: 1.1;
	margin: 10px 0;
	min-height: 60px;
}

#home #sub-firefox.sub-feature {
	width: 240px;
	margin-right: 10px;
}

#home #sub-firefox.sub-feature h3 {
	font-size: 30px;
    font-style: normal;
	padding-top: 26px;
}

#home #sub-firefox.sub-feature p {
	margin-right: 50px;
    margin-bottom: 5px;
}

#home #sub-firefox.sub-feature a {
	font-size: 18px;
}

#home #sub-customize.sub-feature {
	padding-right: 0;
	width: 160px;
	background: none;
}

/* }}} */
/* {{{ Custom Home Page Footer */

#footer {
    background: none;
    color: inherit;
    padding-top: 40px;
}

#footer-contents {
    text-align: center;
}


/* }}} */
