
/* {{{ simplify the page */

#home #header h1,
#home #header .censor,
#home #nav-main {
    display: none;
}

* html #home #header h1 a,
* html #home #header h1 a:link,
* html #home #header h1 a:visited,
* html #home #header a.mozilla {
    background-image: url(/img/covehead/template/title-orange-ie6.png);
}

/* }}} */
/* {{{ Main Feature */

body#home {
    background: #fff;
}

#home #wrapper {
    background: #e04113 url(http://mozcom-cdn.mozilla.net/img/covehead/firefox/dbd-feature-bg.jpg) 50% 0 no-repeat;
}

#home #main-feature {
    position: relative;
    margin: 0 10px;
    padding-left: 10px;
    padding-bottom: 30px;
    margin-top: -20px;
    min-height: 450px;
}

#home #main-feature h2 {
    font-size: 58px;
    margin: 0;
    width: 550px;
    color: #fff;
    line-height: 45px;
    padding: 135px 0 10px 0;
    letter-spacing: -0.03em;
}

#home ul#benefits {
    font-size: 22px;
    font-style: italic;
    padding: 0;
    margin: 0 0 20px 0;
}

#home ul#benefits li {
    float: left;
    display: inline;
    margin: 4px 0 40px 0;
    list-style-type: none;
    text-align: center;
    padding: 6px 20px 8px 20px;
    line-height: 19px;
    color: #fff;
    border-left: 2px dotted #ffa800;
    font-size: 20px;
}

#home ul#benefits li.first {
    padding-left: 5px;
    border-left: 0;
}

#home ul#benefits li span {
    display: block;
}

#home #home-download {
	clear: left;
	position: relative;
    padding-left: 0;
	z-index: 25;
}

#home .download-other {
	text-align: right;
	width: 299px;
}

#home #download .download-noscript h3 span a,
#home #download .download-noscript h3 span a:link,
#home #download .download-noscript h3 span a:visited,
#home .download-other a,
#home .download-other a:link,
#home .download-other a:visited {
    color: #ffcf72;
}

* html a.download-link span.download-content{
    background: url(/img/covehead/firefox/download-ie6-dbd.jpg) 0 0 no-repeat;
}

/* }}} */
/* {{{ Main Content*/

#home #mobile-promo {
    padding: 15px 30px 20px 60px;
    width: 240px;
    margin: 0;
    font-size: 13px;
    text-align: right;
    color: #6D7581;
}

#home #mobile-promo a {
    color: #fff;
    background: rgb(240,78,40);
    background: rgba(255,255,255,0.05);
    border: 1px solid #dd3611;
    -webkit-box-shadow: 0 0 0 1px rgba(255,255,255,0.1) inset;
    -moz-box-shadow: 0 0 0 1px rgba(255,255,255,0.1) inset;
    box-shadow: 0 0 0 1px rgba(255,255,255,0.1) inset;
    display: inline-block;
    padding: 7px 40px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
#home #mobile-promo a:hover,
#home #mobile-promo a:active {
    background: rgb(224,67,31);
    background: rgba(255,255,255,0.1);
}

/* }}} */
/* {{{ Custom Home Page Footer */

#footer {
    background: none;
    color: inherit;
    padding-top: 30px;
}

#footer a:hover,
#footer a:active {
    color: #447bc4;
}

#footer-contents {
    text-align: center;
}

.footer-links {
    margin-top: 25px;
}

.footer-links .footer-privacy {
    margin-top: .5em;
    font-size: .85em;
}

.footer-links {
    color: #ccc;
    font-size: 16px;
}
.footer-links .footer-privacy {
    font-size: 11px;
    margin-top: 15px;
    padding-bottom: 20px;
}
.footer-links a,
.footer-links a:link,
.footer-links a:visited {
    color: #555;
}
.footer-links .footer-privacy a,
.footer-links .footer-privacy a:link,
.footer-links .footer-privacy a:visited {
    color: #999;
}

/* }}} */
