
#doc {
    margin-bottom:150px;
}

#home #main-feature {
    margin: 0 10px;
    min-height: 350px;
    position: relative;
}

#home #main-feature h2 {
    font-size: 48px;
    letter-spacing: -0.03em;
    line-height: 45px;
    margin: 0;
    padding: 60px 0 0;
    width: 430px;
    color: #484848;
    font-family: georgia,serif;
    font-style: italic;
    font-weight: normal;
}




#home #main-content {
    margin: 20px 25px;
    padding: 0;
    width: 100%;


    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAASCAMAAACglzTJAAAAS1BMVEXv9/70+v7x+f73/P/y+P/x+P/w+P72+v/s9v/v9//1+v/y+v/y+f7v+P7v+P/g8f34/P/3+//y+f/g8f7h8f7g8P3t9//s9//s9v4Izr2eAAAAX0lEQVQI1wXBwQrCQBBEwde9cwioIRfx//8w6GFhDdOp0ptGnAUS2d2IlWUR8LIC1cP5E+sqb5HOh/igZvklYv3GesaovLcaMEZpXB3h7/AG6vIMCrMQoOGjSZi+aEncnN0pTtnMDPsAAAAASUVORK5CYII=");
    background-position: 0 0;
    background-repeat: repeat-x;
    margin: 20px 0 0 10px;
    padding: 30px 0 0;

}

#home #main-content .sub-feature p a {
    display: block;
    margin-top:1em;
    position: absolute;
    bottom: 0;
    left:15px;
}

#home #main-content .sub-feature p a.default {
    display:    inline !important;
    margin-top: inherit !important;
    position:   static !important;
    bottom:     inherit !important;
    left:       inherit !important;
}



#home #main-content .sub-feature p a:after {
    padding:0.5em;
    content: "»";
}

#home #main-content .sub-feature p a.default:after {
    padding:inherit;
    content: "";
}

/* Download Button, copied from firefox.css */





/* BETA LOCALES SECTION */

#home.locale-es-CL ul.home-download li a.download-link,
#home.locale-es-MX ul.home-download li a.download-link,
#home.locale-kk    ul.home-download li a.download-link,
#home.locale-ku    ul.home-download li a.download-link,
#home.locale-or    ul.home-download li a.download-link,
#home.locale-rm    ul.home-download li a.download-link,
#home.locale-ta    ul.home-download li a.download-link,
#home.locale-ta-LK ul.home-download li a.download-link,
#home.locale-mn    ul.home-download li a.download-link,
#home.locale-ast   ul.home-download li a.download-link,
#home.locale-gd    ul.home-download li a.download-link
{
/*
    background-image: url(/img/tignish/firefox/download-button-primary-beta2.png);
*/
}

/* END OF BETA LOCALES SECTION */

#home #main-content > .sub-feature:first-child {
    background: none !important;
}

#home .sub-feature {
    float: left;
    width: 290px;
    padding: 20px 15px;
    font-size: 16px;
    position:relative;
}

#home .sub-feature h2 {
    font-family: georgia, serif;
    font-weight: normal;
    font-style: italic;
    font-size: 19px;
    line-height: 26px;
    margin: 0;
}

#home .sub-feature p {
    line-height: 1.1;
    margin: 10px 0;
    min-height: 40px;
}


/* RTL */

#home.rtl #questions,
#home.rtl #learn_more,
#home.rtl #community {
    float: right;
}

#home.rtl #main-content .sub-feature p a {
    right:10px;
}

#home.rtl .sub-feature {
    background-position:100% 50%;
    float: right;
}

#home.rtl #screenshot {
    left: 0;
    right: auto;
}

#home.rtl #download-stats {
    left: 0;
    right: 125px;
}


#home.rtl ul.home-download {
    margin-left: auto;
    margin-right: 0;
}

/* new style */

#screenshot {
    position: absolute;
    right:0;
    top:0;
}

#download-stats {
    height: 130px;
    left: 125px;
    position: absolute;
    right: 0;
    top: 264px;
    width: 400px;
}

#home #download-stats h4 {
    background-color: #6FB02B;
    border-radius: 10px;
    float: left;
    box-shadow: 0 0 1px #6FB02B;
    margin: 11px 0;
    padding: 7px;
    line-height:60px;
}
#home #download-stats h4 img{
    display:block;
}

#home #download-stats h4 em {
    display: block;
}

#home #download-stats p {
    float: left;
    font-style: italic;
    letter-spacing: -0.02em;
    padding: 0px 12px;
    position: relative;
    margin:0;
    border-left: 1px dashed lightgray;
    margin-left:1em;
    height:60px;
    line-height:60px;
}

#download-count {
    display: block;
    font-size: 38px;
     color: #484848;
}

#home ul#benefits {
    font-size: 18px;
    font-style: italic;
}

#home ul#benefits li {
    color: #484848;
    line-height: 19px;
    list-style-type: none;
    padding: 2px 0 2px 10px;
    width:350px;
}

#home ul#benefits li em {
    font-size:150%;
    margin-right:10px;
    font-style:normal;

}
