[dir=rtl] #wrapper {
    background: url("/img/covehead/about/background-about-rtl.jpg") no-repeat scroll center 135px transparent;
}
#wrapper {
    background: url("/img/covehead/about/background-about.jpg") no-repeat scroll center 135px transparent;
}
#home #main-feature {
/*
    background: url("/img/home/screenshot-shadow.jpg") no-repeat scroll 0 100% transparent;
*/
    margin: 0 10px;
    min-height: 350px;
    position: relative;
}

#home #main-feature h2 {
    font-size: 45px;
    font-style: normal;
    margin: 0;
    width:650px;
}

#home #main-feature #firefox-intro {
    width: 550px;
    margin-top:10px;
}

#home #main-content {
    margin: 20px 25px;
    padding: 0;
    width: 100%;
}


#home .sub-feature {
    float: left;
    width: 290px;
    padding: 20px 15px;
    font-size: 16px;
    min-height: 13em;
    position:relative;
}

#home #main-content .sub-feature p a {
    display: block;
    margin-top:1em;
    position: absolute;
    bottom: 0;
    left:10px;
}

#home #main-content .sub-feature p a.default {
    display:    inline !important;
    margin-top: inherit !important;
    position:   static !important;
    bottom:     inherit !important;
    left:       inherit !important;
}


[dir=rtl] #home #main-content .sub-feature p a {
    right:10px;
}


[dir=rtl] #questions, [dir=rtl] #learn_more, [dir=rtl] #community {
    float: right;
}


#home #main-content .sub-feature p a:after {
    padding:0.5em;
    content: "»";
}

#home #main-content .sub-feature p a.default:after {
    padding:inherit;
    content: "";
}




#home p.thunderbird {
    background-image: url("/img/thunderbird-logo-64x64.png");
    background-position: right center;
    background-repeat: no-repeat;
    clear: both;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    min-height: 120px;
    padding-right: 80px;
    padding-top: 40px;
    width: 50%;
}

/* Download Button, copied from firefox.css */





/* BETA LOCALES SECTION */

#home.locale-es-CL ul.home-download li a.download-link,
#home.locale-es-MX ul.home-download li a.download-link,
#home.locale-kk    ul.home-download li a.download-link,
#home.locale-ku    ul.home-download li a.download-link,
#home.locale-or    ul.home-download li a.download-link,
#home.locale-rm    ul.home-download li a.download-link,
#home.locale-ta    ul.home-download li a.download-link,
#home.locale-ta-LK ul.home-download li a.download-link,
#home.locale-mn    ul.home-download li a.download-link,
#home.locale-ast   ul.home-download li a.download-link,
#home.locale-gd    ul.home-download li a.download-link
{
/*
    background-image: url(/img/tignish/firefox/download-button-primary-beta2.png);
*/
}

/* END OF BETA LOCALES SECTION */


/* {{{ Main Feature */


#home #home-download {

}

/* }}} */
/* {{{ Main Content*/


#home #main-content > .sub-feature:first-child {
    background: none !important;
}

#home .sub-feature {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAB6AgMAAAAHawElAAAADFBMVEXU6v/w9//5/P/////eAlSlAAAAGUlEQVQI12NoYWhh+AOEhGjCKqivk0Z2AwDQKVv596nEaAAAAABJRU5ErkJggg==") 0% 50% no-repeat;
}

#home.rtl .sub-feature {
    background-position:100% 50%;
}


#home .sub-feature h2 {
    font-family: georgia, serif;
    font-weight: normal;
    font-style: italic;
    font-size: 19px;
    line-height: 26px;
    margin: 0;
}


#home .sub-feature p {
    line-height: 1.1;
    margin: 10px 0;
    min-height: 60px;
}

