/* {{{ Main Feature */

#main-feature {
    padding-top: 30px;
    padding-bottom: 65px;
    background: url(/img/covehead/divider-main.jpg) 50% 100% no-repeat;
    min-height: 150px;
}

#main-feature h2 span {
	line-height: 1;
}

#main-feature p {
    font-size: 17px;
    width: 750px;
}

#main-feature p.info {
    color: #666;
    margin-bottom: 5px;
    font-style: italic;
}

/* }}} */
/* {{{ Content */

#content {
	width: 850px;
}

#opt-out #content,
#privacy-policy #content {
    margin-top: -35px;
}

#content h3,
#content h4,
#content h5 {
	margin-bottom: 8px;
}

/* }}} */
/* {{{ Third Party privacy policy */

#third-party #main-feature h2 span {
    font-size: 48px;
}

#third-party-service-providers #main-feature p {
    font-size: 15px;
}

/* }}} */
/* {{{ Firefox Notices */

#notices-firefox #main-feature p {
    width: 600px;
}

#notices-firefox #main-content {
	margin-top: 0;
	margin-right: 45px;
	width: 640px;
    float: left;
}

#notices-firefox #main-content ul {
    margin-top: 0;
}

#notices-firefox #sidebar {
	display: inline;
	float: left;
	position: relative;
	width: 200px;
	margin: 0 30px;
}


/* }}} */
/* {{{ Opt-Out */

#opt-out #main-feature h2 {
    font-size: 48px;
    padding-top: 30px;
}

/* }}} */
/* {{{ EULA pages */

#eula #main-feature h2 {
    font-size: 24px;
    line-height: 0.9;
    width: 600px;
}

#eula #main-feature h2 span {
    font-size: 38px;
}

#eula-index #main-feature h2 {
}

#eula-index #main-feature h2 span {
    font-size: 45px;
}

#firefox-1-5-eula {
	float: left;
	width: 46%;
	margin-right: 5%;
	margin-bottom: 2em;
}

#firefox-2-eula {
	float: left;
	width: 46%;
	margin-bottom: 2em;
}

#firefox-3-eula {
	float: left;
	width: 46%;
	margin-right: 5%;
	clear: left;
	margin-bottom: 2em;
}

#thunderbird-1-5-eula {
	float: left;
	width: 46%;
	margin-right: 5%;
	clear: left;
	margin-bottom: 2em;
}

#thunderbird-2-eula {
	float: left;
	width: 46%;
	margin-bottom: 2em;
}

/* }}} */
/* {{{ Legal Articles */

#legal-articles #main-feature h2 {
    font-size:32px;
    font-style: normal;
    width: 750px;
}

/* }}} */
