/* {{{ Content */

#main-feature {
	width: 600px;
}

#main-content {
	display: inline;
	float: left;
	width: 725px;
	margin: 0 20px;
}

#content {
	margin: 0;
}

/* }}} */
/* {{{ Sidebar */

#sidebar {
	display: inline;
	float: right;
	margin-top: -20px;
	width: 175px;
}

#sidebar ul {
	margin: 0;
}

#sidebar ul li {
	list-style-type: none;
	padding: 5px 0;
}

/* }}} */
/* {{{ Press Kit Page */

#press-kits #main-feature { height: 165px; }

#media-menu {
	margin: 0 0 50px -20px;
	padding: 0 10px;
	overflow: hidden;
	background: url(/img/covehead/press/background-kit-menu.png) 0 0 no-repeat;
	height: 85px;
	width: 700px;
}

#media-menu li {
	float: left;
	list-style-type: none;
	margin: 50px 5px 0 5px;
}

#media-menu li a,
#media-menu li span {
	display: block;
	float: left;
	padding: 10px 15px 20px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#media-menu li span {
	background: #fff;
	border: 1px solid #ccdaf0;
	-moz-box-shadow: 0 0 8px rgba(156, 173, 202, 0.5);
}

/* }}} */
/* {{{ Content */

#main-content h3 {
	clear: left;
	background: url(/img/covehead/divider-main.jpg) top center no-repeat;
	font-size: 35px;
	padding: 20px 5px 10px 5px;
}
#main-content h3.nomargin {
	margin-bottom: 0;
}

/* }}} */
/* {{{ Logos Tab */

.logos-contents {
	float: left;
	width: 150px;
	height: 200px;
	margin-right: 30px;
	margin-bottom: 25px;
}

.logos-contents h4 {
	margin: 0;
}

ul.pager-tabs {
	margin-top: 0;
}

ul.pager-tabs li {
	display: inline;
	font-size: 16px;
	font-style: italic;
	margin-right: 25px;
}

ul.pager-tabs li a.selected {
	color: #303030;
}

.contents {
	margin: 20px 0 30px;
	padding: 20px 0 30px;
}

.contents h4 {
	margin-top: 0;
	padding-top: 0;
}

.logos-contents p {
	font-size: 12px;
	padding-right: 15px;
}

img.min-space-image {
	float: left;
	margin-right: 20px;
	margin-bottom: 100px;
}


h3#more-logos {
	clear: both;
	font-size: 20px;
}

#more-logos-links li {
	font-size: 16px;
	margin: 10px 20px;
}

/* }}} */
/* {{{ Screenshot Tab */

.screenshots {
	float: left;
}

.screenshot-contents {
	float: left;
	width: 145px;
	height: 200px;
	margin-right: 25px;
	margin-bottom: 25px;
}

.screenshot-contents h5 {
	font-size: 14px;
	margin: 0.5em 0;
	padding-bottom: 0;
}

.screenshot-contents ul li {
	list-style: none;
}

/* }}} */
/* {{{ Bios Tab */

.bios-contents {
	float: left;
	width: 180px;
	height: 325px;
	margin-right: 35px;
	margin-bottom: 25px;
}

.video img,
.bios-contents img {
	-moz-box-shadow: 0 0 10px #BBBBBB;
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #CCCCCC;
	margin-bottom: 10px;
	padding: 10px;
}

.bios-contents h5 {
	margin: 0.5em 0 0 0;
	padding-bottom: 0;
}

.bios-contents ul li {
	list-style: none;
}

/* }}} */
/* {{{ Video Tab */

.video h5 {
	margin: 0.5em 0 0 0;
	padding-bottom: 0;
}

.video ul {
    margin: 0;
    padding: 0;
}

.video ul li {
    list-style-type: none;
}

/* }}} */
