/* {{{ Mobile FAQ Page */

dl.faq {
    margin-left: 0;
}

dl.faq dt {
    font-weight: bold;
}

dl.faq dd {
    margin: 0 0 1em 0;
}

#mobile-faq #main-feature p {
	margin: 15px 0 30px 0;
	font-size: 15px;
}

#mobile-faq #main-content {
	background: url(/img/covehead/divider-main.jpg) 50% 0 no-repeat;
	padding-top: 10px;
}

#mobile-faq div#head {
    display:none;
}

#side-menu li.getinvolved {
    padding-top: 2em;
}

#side-menu li.getinvolved h3 {
    color: #807970;
}

/* }}} */
