/* {{{ Main Feature */

#mobile-home #doc,
#mobile-home.feature-rhino #doc {
	background: url(/img/covehead/mobile/background-rhino.png) 0 160px no-repeat;
}

#mobile-home #doc,
#mobile-home.feature-trapeze #doc {
	background: url(/img/covehead/mobile/background-trapeze.png) 100% 0 no-repeat;
}

#mobile-home #breadcrumbs { display: none; }

#mobile-home #main-feature {
	min-height: 520px;
	position: relative;
	margin: 0 10px;
}

* html #mobile-home #main-feature { height: 520px; }

#mobile-home #main-feature #intro {
	font-family: MetaBlack, "Trebuchet MS", sans-serif;
	font-weight: bold;
	color: #313131;
	text-align: center;
	text-transform: uppercase;
	width: 310px;
	margin: 0 0 40px 0;
}

#mobile-home #main-feature #intro h3 {
	font-family: MetaBlack, "Trebuchet MS", sans-serif;
	font-weight: bold;
    font-style: normal;
	color: #313131;
	font-size: 70px;
    white-space: nowrap;
	line-height: 70px;
	letter-spacing: -0.04em;
	margin: 0;
	padding: 50px 0 10px 0;
}

#mobile-home #main-feature #intro h3 span {
	font-size: 102px;
	letter-spacing: -0.08em;
    display: block;
}

#mobile-home #main-feature #intro p {
	font-size: 24px;
    white-space: nowrap;
	margin: 5px 0 0 0;
	padding: 15px 0 20px 0;
	letter-spacing: -1px;
	background: url(/img/home/intro-shape.png) 0 50% no-repeat;
	line-height: 20px;
	width: auto;
	font-style: normal;
	position: relative;
	z-index: -2;
}

#mobile-home.feature-foodie  #hero { background-image: url(/img/home/creature-foodie.png); }
#mobile-home.feature-curly   #hero { background-image: url(/img/home/creature-curly.png); }
#mobile-home.feature-bunny   #hero { background-image: url(/img/home/creature-bunny.png); }

#mobile-home #button {
    position: absolute;
    top: 20px;
    right: 20px;
	z-index: 10;
}

#mobile-home #button p {
    -moz-border-radius: 170px;
    -webkit-border-radius: 170px;
    border-radius: 170px;
    height: 170px;
    width: 170px;
    margin: 0;
    -moz-transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
	-moz-box-shadow:    0 3px rgba(0,0,0,0.1), inset 0 -4px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 3px rgba(0,0,0,0.1); /* webkit fails on inset shadow with border-radius */
	box-shadow:         0 3px rgba(0,0,0,0.1), inset 0 -4px rgba(0,0,0,0.1);
    background: #84A8D8; /* old browsers */
    background: -moz-linear-gradient(top, #84A8D8 1%, #788BB6 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#84A8D8), color-stop(100%,#788BB6)); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#84A8D8', endColorstr='#788BB6',GradientType=0 ); /* ie */
	-moz-transition:   all 0.2s ease-in-out;
	-webit-transition: all 0.2s ease-in-out;
	transition:        all 0.2s ease-in-out;
}

#mobile-home #button a,
#mobile-home #button a:link,
#mobile-home #button a:hover {
    display: block;
    height: 127px;
    padding-top: 43px;
    width: 170px;
    background: url(/img/home/button.png) 50% 50% no-repeat;
    font-family: georgia, serif;
    font-style: italic;
    font-weight: normal;
    font-size: 22px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    line-height: 32px;
}

#mobile-home #button p:hover {
	-moz-box-shadow:    0 3px rgba(0,0,0,0.1), inset 0 -4px rgba(0,0,0,0.1), inset 0 0 120px rgba(59,105,177,0.5);
	-webkit-box-shadow: 0 3px rgba(0,0,0,0.1); /* webkit fails on inset shadow with border-radius */
	box-shadow:         0 3px rgba(0,0,0,0.1), inset 0 -4px rgba(0,0,0,0.1), inset 0 0 120px rgba(59,105,177,0.5);
	-moz-transition:    all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	transition:         all 0.2s ease-in-out;
    -moz-transform: rotate(6deg);
    -webkit-transform: rotate(6deg);
    transform: rotate(6deg);
}

#mobile-home #button a span {
	font-family: MetaBlack, "Trebuchet MS", sans-serif;
	font-weight: bold;
	font-style: normal;
	font-size: 40px;
}

#mobile-home #mobile-home-download {
	position: absolute;
	z-index: 25;
}

/* }}} */
/* {{{ Main Content*/

#mobile-home #main-content {
	margin: 20px 0 0 10px;
	padding: 0;
	width: 100%;
}

#mobile-home .sub-feature {
	float: left;
	width: 190px;
	padding: 20px 15px 20px 30px;
	font-size: 16px;
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAB6AgMAAAAHawElAAAADFBMVEXU6v/w9//5/P/////eAlSlAAAAGUlEQVQI12NoYWhh+AOEhGjCKqivk0Z2AwDQKVv596nEaAAAAABJRU5ErkJggg==") 100% 50% no-repeat;
}

#mobile-home .sub-feature h3 {
	font-family: georgia, serif;
	font-weight: normal;
	font-style: italic;
	font-size: 22px;
	line-height: 26px;
	margin: 0;
}

#mobile-home .sub-feature h3 span {
	font-family: MetaBlack, "Trebuchet MS", sans-serif;
	font-weight: bold;
	font-style: normal;
	font-size: 28px;
	text-transform: uppercase;
	letter-spacing: -0.02em;
	display: block;
}

#mobile-home .sub-feature p {
	line-height: 1.1;
	margin: 10px 0;
	min-height: 60px;
}

#mobile-home #sub-video.sub-feature {
	width: 240px;
	background: -moz-linear-gradient(-25deg, rgba(255,255,255,0) 70%, rgba(102,155,225,0.25) 100%);
	background: -webkit-gradient(linear, 0 65%, 100% 100%, color-stop(70%,rgba(255,255,255,0)), color-stop(100%,rgba(102,155,225,0.25)));
	background: linear-gradient(-25deg, rgba(255,255,255,0) 70%, rgba(102,155,225,0.25) 100%);
	padding-bottom: 40px;
	margin-right: 10px;
}

#mobile-home #sub-video.sub-feature h3 {
	font-size: 30px;
	padding-top: 10px;
}

#mobile-home #sub-video.sub-feature h3 span {
	display: inline;
	font-size: 32px;
}

#mobile-home #sub-video.sub-feature p {
    padding-top: 15px;
}

#mobile-home #sub-video.sub-feature a {
    text-decoration: none;
}

#mobile-home #sub-video.sub-feature img {
	display: block;
	margin-bottom: 6px;
}

#mobile-home #sub-video.sub-feature a span {
    display: block;
}

#mobile-home #sub-video.sub-feature a:hover span {
    text-decoration: underline;
}

#mobile-home #sub-video.sub-feature a span span {
    display: inline;
}

#mobile-home #sub-video.sub-feature p {
	margin-right: 60px;
	min-height: 70px;
}

#mobile-home #sub-video.sub-feature a {
	font-size: 18px;
}

#mobile-home #sub-speed.sub-feature {
	padding-right: 0;
	width: 160px;
	background: none;
}

#mobile-home #sub-footer {
	position: relative;
	top: -85px;
}

#mobile-home #footer {
	margin-top: -85px;
}

/* }}} */
/* {{{ Download Button */

#mobile-home #home-download {
	position: relative;
	width: 300px;
	overflow: hidden;
}

a.download-link span.download-content {
    font-size: 24px;
}
 
a.download-link span.download-title {
    font-size: 32px;
    line-height: 38px;
}

#mobile-home .download-other {
    color: #999;
}


/* }}} */
