/* {{{ Main Feature  */

#firefox-home #doc {
	background: url(/img/mobile/feature-home.png) 450px 85px no-repeat;
}

#firefox-home #main-feature {
	min-height: 200px;
}

* html #firefox-home #main-feature { height: 200px; }

#firefox-home #main-feature p {
	width: 375px;
}

#firefox-home a.download-link {
	height: auto;
	margin: 0;
    font-family: "Trebuchet MS",sans-serif;
    font-size: 14px;
	font-weight: bold;
}

#firefox-home a.download-link span {
	background: url(/img/mobile/home-app-icon.png) 10px 45% no-repeat;
	padding: 13px 20px 15px 55px;
	display: block;
}

/* }}} */
/* {{{ Secondary Feature area */

#main-features {
	list-style: none;
	margin-left: 15px;
	background: url(/img/covehead/divider-main.jpg) 50% 0 no-repeat;
	overflow: auto;
	padding-top: 5px;
}

* html #main-features { height: 1%; }

#main-features li {
	background: none;
	width: 168px;
	min-height: 85px;
	height: auto !important;
	height: 85px;
	float: left;
	display: inline;
	margin-right: 10px;
	padding: 0 25px 120px 6px;
}

#firefox-home #main-features li p {
	font-size: 12px;
	min-height: 5em;
}

#firefox-home #main-features li {
    padding-bottom: 180px;
}
#firefox-home #main-features li.video {
	padding: 30px 0 0 0;
	margin: 0 0 0 60px;
	width: 260px;
}

#firefox-home #main-features li.video a,
#firefox-home #main-features li.video a:hover,
#firefox-home #main-features li.video a:active {
	display: block;
	text-decoration: none;
	text-align: center;
}

#firefox-home #main-features li.video a img {
	height: 137px;
	width: 235px;
	padding: 8px;
	background: #fff;
	box-shadow: 0 0 15px #ccc;
	-webkit-box-shadow: 0 0 15px #ccc;
	-moz-box-shadow: 0 0 15px #ccc;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

#firefox-home #main-features li.video a span {
	display: block;
	padding-top: 5px;
	font-size: 15px;
}

#firefox-home #main-features li.onthego,
#firefox-home #main-features li.less,
#firefox-home #main-features li.search {
    background: url(/img/mobile/features/home-features.png) no-repeat top left;
}
#firefox-home #main-features li.onthego {
    background-position: -250px bottom;
}
#firefox-home #main-features li.less {
    background-position: -500px bottom;
}
#firefox-home #main-features li.search {
    background-position: 0 bottom;
}

/* }}} */
/* {{{ Sidebar */

#firefox-home  #sidebar {
	clear: both;
	float: right;
	display: inline;
	width: 180px;
	padding: 20px 20px 15px 20px;
	margin: 60px 25px 20px 0;
	margin-right: 35px;
	background: #cce2f3;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#firefox-home #sidebar h4 {
    margin-top: 0;
	color: #32559b;
}

#firefox-home #sidebar h5 {
	margin: 20px 0 0 0;
}

#firefox-home #sidebar p {
	font-size: 12px;
}

#firefox-home #sidebar li {
    margin-bottom: 1em;
}

#firefox-home #sidebar p {
    margin-top: .5em;
}

/* }}} */
/* {{{ Main Content */

#firefox-home #content {
	background: url(/img/covehead/divider-main.jpg) 50% 0 no-repeat;
	min-height: 100px;
	clear: both;
	padding-top: 30px;
}

* html #firefox-home #content { height: 100px; }

#firefox-home #main-content {
	float: left;
	width: 600px;
}

#firefox-home #main-content h3 {
	margin: 0;
	line-height: 1;
}

#firefox-home #main-content h4 {
	margin: 0;
}

#firefox-home #main-content .download-link {
	width: 280px;
}

#firefox-home #main-content ol {
	font-size: 18px;
	font-style: italic;
}

#firefox-home #main-content ol li {
	padding-bottom: 5px;
}

#firefox-home #main-content ol p {
	font-size: 13px;
	font-style: normal;
}

#firefox-home #main-content .beta-download img {
	height: 27px;
	width: 32px;
	vertical-align: middle;
	margin-right: 5px;
}

#firefox-home #main-content a.beta-download,
#firefox-home #main-content a.beta-download:hover,
#firefox-home #main-content a.beta-download:active {
	text-decoration: none;
}

#firefox-home #main-content a.beta-download:hover span,
#firefox-home #main-content a.beta-download:active span {
	text-decoration: underline;
}

#firefox-home #main-content .command {
	color: #303030;
}

/* }}} */

#download.top-right {
  width: 225px;
}
