/* {{{ Template */

#beta #wrapper {
    background: url(/img/covehead/firefox/beta/bg-tablet.jpg) 50% 240px no-repeat;
}

/* }}} */
/* {{{ Main Feature */

#beta #main-feature {
    position: relative;
    padding-top: 75px;
}

#beta #main-feature h2 {
    line-height: 0.9;
    font-size: 36px;
    padding: 0;
}

#beta #main-feature h2 span {
    font-size: 60px;
}

#beta #main-feature p {
    width: 550px;
    color: #666;
}

#beta #download_beta_mobile_button  {
    width: 350px;
	padding: 40px 0;
}

#beta #download_beta_mobile_button a.download-link span.download-title {
    padding-bottom: 3px;
    padding-top: 8px;
    font-size: 30px;
}

#beta #download_beta_mobile_button a.download-link span.download-content {
    text-shadow: 0 -1px rgba(0,0,0,0.2);
}

#beta #download_beta_mobile_button a.download-link span.download-content .download-info {
    text-shadow: 0 1px rgba(255,255,255,0.2);
}

#beta #download_beta_mobile_button a.download-link em {
    background: url(/img/home/download-arrow.png) 0 0 no-repeat;
    display: block;
    padding: 0 0 5px 36px;
}

#beta #download_beta_mobile_button .download-other {
    color: #666;
    width: auto;
}

#features {
	width: 350px;
}

#feature-list {
    padding: 0 0 30px 0;
    display: inline-block;
}

#feature-list li {
}

#feature-list li h3 {
    text-transform: uppercase;
    font-style: normal;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin: 0;
    padding: 0 0 0.3em 0;
}

#beta #main-feature #feature-list li p {
    width: auto;
    font-style: italic;
    font-size: 17px;
    margin: 0;
}

/* }}} */
/* {{{ Main Content */

#beta #main-content {
    padding-top: 130px;
}

#beta #main-content h3 {
    font-size: 18px;
}

#beta #main-content h3 span {
    font-family: MuseoSans, "Trebuchet MS", sans-serif;
    font-weight: normal;
}

#beta #main-content .success-pane h3 {
    background: none;
    padding: 0;
}

#beta_news {
    clear: both;
    background-position: 50% 0;
    background-repeat: repeat-x;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAASCAMAAACglzTJAAAAS1BMVEXv9/70+v7x+f73/P/y+P/x+P/w+P72+v/s9v/v9//1+v/y+v/y+f7v+P7v+P/g8f34/P/3+//y+f/g8f7h8f7g8P3t9//s9//s9v4Izr2eAAAAX0lEQVQI1wXBwQrCQBBEwde9cwioIRfx//8w6GFhDdOp0ptGnAUS2d2IlWUR8LIC1cP5E+sqb5HOh/igZvklYv3GesaovLcaMEZpXB3h7/AG6vIMCrMQoOGjSZi+aEncnN0pTtnMDPsAAAAASUVORK5CYII=);
    padding-top: 75px;
    zoom: 1;
}

.channel h3 {
    background: url(/img/covehead/channel/logos.png) top left no-repeat;
    padding: 0;
    margin: 0;
    height: 110px;
    text-indent: -1000px;
    overflow: hidden;
}

#download_beta    h3 { background-position: -600px 0; }


#beta .channel#download_firefox h3 span,
#beta .channel#download_mobile_beta h3 span {
    padding-top: 15px;
}

.channel h3 span {
    font-size: 38px;
    padding: 25px 0 30px 120px;
}

#download_beta_button {
    padding: 40px 0 40px 0;
    clear: left;
}

/* }}} */
/* {{{  Newsletter */

#newsletter-signup {
    position: relative;
    margin-left: 20px;
    float: left;
    display: inline;
    width: 400px;
    margin-right: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
}

#beta #main-content h3 {
    margin: 0;
    zoom: 1;
    font-style: italic;
    padding: 5px 25px 10px 65px;
    line-height: 1;
    background: url(/img/covehead/firefox/beta/mail.png) 0 8px no-repeat;
}

#beta #main-content #blog h3 {
    background: url(/img/covehead/firefox/beta/blog-icons.png) 0 8px no-repeat;
    padding-left: 55px;
}

#beta #main-content #blog h3 a {
    display: inline-block;
    height: 20px;
    width: 18px;
    margin-left: 5px;
    text-indent: -1000px;
    color: #000;
    outline: none;
    overflow: hidden;
    background: url(/img/covehead/firefox/beta/blog-icons.png) 100% 100% no-repeat;
    vertical-align: top;
}

#beta #main-content .title p {
    margin: 0 0 20px 0;
    color: #666;
    font-size: 15px;
}
#newsletter-signup form {
    display: inline-block;
    vertical-align: top;
}
#newsletter-signup form select {
    width: 23em;
}

#newsletter-signup label {
    font-family: MuseoSans,"Trebuchet MS",sans-serif;
}

#email {
    font-family: Georgia, serif;
    font-size: 16px;
    height: 34px;
    width: 210px;
    border-radius: 4px;
    border: 1px solid #aaa;
    padding: 1px 14px;
    box-shadow: 0 2px rgba(0,0,0,.1), 0 0 1px #888 inset;
}
.error-email #email,
.error-email #expand {
    border-color: red;
}
#email-error,
#beta-error,
#privacy-error,
#channel-error,
.success-pane {
    display: none;
    margin-top: .5em;
    margin-bottom: 1em;
}
#beta-error,
#privacy-error {
    margin-bottom: 1em;
}
.success .success-pane {
    color: #489615;
    display: block;
    padding-bottom: 40px;
}

.success .success-pane h3 {
    color: #489615;
}

.success #newsletter-signup form {
    display: none;
}
.error-email #email-error,
.error-channel #channel-error,
.error-privacy #privacy-error {
    color: red;
    display: block;
}

#newsletter-signup .privacy-field label span {
    float: left;
    display: inline;
    margin: 2px;
    padding: 2px;
}

#newsleter-signup .privacy-field span.title {
    display: inline;
    float: left;
    padding-top: 5px;
}

#newsletter-signup #subscribe {
    clear: left;
    margin-top: 10px;
}

#newsletter-signup .privacy-field {
    padding: 5px 0 0 0;
}

#newsletter-signup .privacy-field .error-wrapper {
    padding: 0;
    margin: 0;
    margin-top: 2px;
}

.error-privacy #newsletter-signup .privacy-field .error-wrapper {
    padding-left: 2px;
}

#privacy-check-label {
    font-size: .9em;
    margin: 0;
    padding: 0;
}

#newsletter-signup .button {
    display: inline-block;
    background-color: #669BE1;
    background-image: -webkit-linear-gradient(center top , #669BE1 0%, #5784BF 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#669BE1), color-stop(100%,#5784BF)); /* webkit */
    background-image: -moz-linear-gradient(center top , #669BE1 0%, #5784BF 100%);
    background-image: linear-gradient(center top , #669BE1 0%, #5784BF 100%);
    color: #fff;
    text-shadow: none;
    box-shadow: 0 3px rgba(0, 0, 0, 0.1), 0 -3px rgba(0, 0, 0, 0.1) inset;
    border: 0;
    line-height: 24px;
    list-style-type: none;
    margin: 30px 0 0;
    padding: 0;
    font-family: georgia, serif;
    font-size: 16px;
    color: #fff;
    font-style: italic;
    padding: 7px 20px 9px 15px;
    text-decoration: none;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}

#newsletter-signup .channels_signup {
    margin-bottom: .25em;
}

#newsletter-signup .channels_signup li {
    list-style-type: none;
    display: inline-block;
    margin-right: 5px;
}

#newsletter-signup .footnote {
    margin-top: 8px;
    font-style: italic;
    font-size: 11px;
    color: #757575;
}
input:-moz-placeholder {
    font-style: italic;
    color: #ccc;
}
.row {
    margin: 16px 0;
}
#newsletter-signup .channels_signup input {
    float: left;
    display: inline;
}

#newsletter-signup label span {
    float: left;
    display: inline;
    padding-left: 5px;
    padding-bottom: 5px;
}

#newsletter-signup label small {
    clear: left;
    font-size: 11px;
    font-style: italic;
    display: block;
}

/* }}} */
/* {{{  Blog */

#blog {
    float: left;
    display: inline;
    width: 425px;
}

#blog h3 {
    margin-top: 0;
    font-size: 22px;
    line-height: 1;
    padding: 5px 0;
}

#blog ul {
    margin: 10px 0;
    padding: 0;
}

#blog ul li {
    margin: 10px 0;
    padding: 0;
    list-style-type: none;
}

#blog h4 {
    line-height: 1.3;
    margin: 0;
}

#blog .info {
    color: #757575;
    font-size: 11px;
}


/* }}} */
/* {{{ Stay Connected */

#stay-connected {
    clear: left;
    background: url(/img/covehead/divider-notch-main.jpg) 50% 0 no-repeat;
    height: 100px;
    padding-top: 80px;
}

#stay-connected h4 {
    float: left;
    padding: 30px 0 30px 80px;
    margin: 0;
    margin-left: 40px;
    background: url(/img/covehead/firefox/beta/social-icon.png) 0 50% no-repeat;
}

#stay-connected p {
    color: #666;
    font-size: 16px;
    float: left;
    width: 400px;
    padding: 30px;
    line-height: 1.3;
}

#main-content #stay-connected a.button,
#main-content #stay-connected a.button:link,
#main-content #stay-connected a.button:visited,
#main-content #stay-connected a.button:hover,
#main-content #stay-connected a.button:active {
    float: left;
    background-color: #669BE1;
    background-image: -webkit-linear-gradient(center top , #669BE1 0%, #5784BF 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#669BE1), color-stop(100%,#5784BF)); /* webkit */
    background-image: -moz-linear-gradient(center top , #669BE1 0%, #5784BF 100%);
    background-image: linear-gradient(center top , #669BE1 0%, #5784BF 100%);
    color: #fff;
    text-shadow: none;
    box-shadow: 0 3px rgba(0, 0, 0, 0.1), 0 -3px rgba(0, 0, 0, 0.1) inset;
    border: 0;
    line-height: 24px;
    list-style-type: none;
    margin: 30px 0 0;
    padding: 0;
    font-family: georgia, serif;
    font-size: 16px;
    color: #fff;
    font-style: italic;
    padding: 7px 20px 9px 15px;
    text-decoration: none;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}

#stay-connected a span {
    font-size: 120%;
}

.non-field-errors {
    background: #B11A04;
    color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 5px 15px;
    font-size: 1.25em;
    margin: 1em 0;
}

/* }}} */
/* {{{ jQuery Slider */

/* Basic jQuery Slider essential styles */

ul.bjqs{position:relative; list-style:none;padding:0;margin:0;overflow:hidden; display:none;}
li.bjqs-slide{display:none;position:absolute;}

ul.bjqs-controls{list-style:none;margin:0;padding:0;z-index:9999;}

ol.bjqs-markers{list-style:none;margin:0;padding:0;z-index:9999;}
ol.bjqs-markers li{float:left;}

p.bjqs-caption{display:block;width:96%;margin:0;padding:2%;position:absolute;bottom:0;}

 ul.bjqs-controls li a{
  display:block;
  padding:5px 10px;
  position:absolute;
  background:#fff;
  color:#fd0100;
  text-decoration:none;
  text-transform:uppercase;
}

a.bjqs-prev{
  left:0;
}

a.bjqs-next{
  right:0;
}

 p.bjqs-caption{
  background:rgba(0,0,0,0.7);
  color:#fff;
  text-align:center;
}

 ol.bjqs-markers{
  position:absolute;
  bottom:0;
}

 ol.bjqs-markers li{
  float:left;
  margin:0 3px;
  list-style-type: none;
}

 ol.bjqs-markers li a{
  display:block;
  height:12px;
  width:12px;
  overflow:hidden;
  text-indent:-9999px;
  background:#9cb5c7;
  -webkit-border-radius:12px;
  -moz-border-radius:12px;
  border-radius:12px;
  -webkit-box-shadow: 0 2px 2px rgba(38,55,67,0.25) inset;
  -moz-box-shadow: 0 2px 2px rgba(38,55,67,0.25) inset;
  box-shadow: 0 2px 2px rgba(38,55,67,0.25) inset;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  transition: all 1s;
}

ol.bjqs-markers li.active-marker a{
  background:#61aee7;
  box-shadow: 0 -4px 10px #3863b4 inset, 0 -1px rgba(0,0,0,0.1) inset;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  transition: all 1s;
}


/* }}} */
