/* {{{ Main Content */

#mobile-download #main-feature {
    padding: 30px 500px 30px 0;
    min-height: 360px;
}

* html #mobile-download #main-feature {
    height: 360px;
}

#mobile-download #wrapper {
    background: url(/img/mobile/android-background.jpg) no-repeat 50% 0;
}

#main-content {
    padding-top: 20px;
    font-size: 15px;
}

.sub-feature {
    width: 260px;
    padding: 0 30px 0 0;
    margin: 0 30px 30px 0;
    border-right: 2px dotted #eee;
    float: left;
}

.sub-feature#quick {
    margin-right: 0;
    border-right: 0;
}

.sub-feature h3 {
    margin: 0;
}

.sub-feature p {
    margin: 5px 0;
}

#support-link {
    clear: left;
    margin: 20px 0;
}

#secondary {
  margin: 0;
  clear: both;
  overflow: hidden;
}

#secondary .sub-feature {
  width: 420px;
  padding: 20px;
  margin: 0;
  float: left;
  background: #c9ddf2;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  border: 0;
  font-size: 14px;
}

#secondary p {
    min-height: 3.5em;
}

#secondary ul {
  left: 0;
}

#secondary ul li {
  list-style: disc;
  padding: 0;
  background: none;
}

#secondary #ffhome {
  margin-top: 20px;
  padding: 20px 20px 10px 100px;
  width: 240px;
  background: #c9ddf2 url("/img/covehead/mobile/logo-firefox-home.png") 5px 5px no-repeat;
}

#secondary #ffhome ul {
    margin-left: 15px;
}

#secondary #desktop {
    margin-left: 20px;
}

#secondary #desktop ul,
#secondary #desktop li {
  display: inline;
}

#secondary #desktop .for {
    display: inline-block;
    padding: 0 1em;
    font-style: italic;
    zoom:1;
    *display:inline;
}

#secondary h3 {
  margin: 0 0 10px 0;
}

#secondary .download {
    background-position: 100% 50%;
    background-repeat: no-repeat;
    display: inline-block;
    font-size: 16px;
    font-style: italic;
    padding: 8px 12px;
    text-decoration: none;
    background: #fff;
    border: 1px solid #bdc6d7;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 2px rgba(0, 0, 0, 0.1), 0 -2px #E5EFF8 inset, 0 0 2px rgba(223, 239, 249, 0.8) inset;
    -moz-box-shadow: 0 2px rgba(0, 0, 0, 0.1), 0 -2px #E5EFF8 inset, 0 0 2px rgba(223, 239, 249, 0.8) inset;
    box-shadow: 0 2px rgba(0, 0, 0, 0.1), 0 -2px #E5EFF8 inset, 0 0 2px rgba(223, 239, 249, 0.8) inset;
    color: #484848;
    margin: 0 0 8px 0;
    zoom:1;
    vertical-align: middle;
    *display:inline;
}

#secondary .notes {
    font-size: 11px;
    margin: 0 0 0 14px;
}

/* }}} */
/* {{{ Download Links */

#download a.download,
#download a.downoad:link,
#download a.download:visited {
    width: 300px;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 20px;
    display: block;
    margin: 0 0 5px 0;
    -moz-box-shadow:    0 3px rgba(0,0,0,0.1), inset 0 -4px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 3px rgba(0,0,0,0.1), inset 0 -4px rgba(0,0,0,0.1);
    box-shadow:         0 3px rgba(0,0,0,0.1), inset 0 -4px rgba(0,0,0,0.1);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    color: #fff;
    overflow: visible;
    background: #84C63C; /* old browsers */
    background: -moz-linear-gradient(top, #84C63C 0%, #489615 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#84C63C), color-stop(100%,#489615)); /* webkit */
    background: linear-gradient(top, #84C63C 0%, #489615 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#84C63C', endColorstr='#489615',GradientType=0 ); /* ie */
    -moz-transition:   box-shadow 0.2s ease-in-out;
    -webit-transition: box-shadow 0.2s ease-in-out;
    transition:        box-shadow 0.2s ease-in-out;
}

#download a span.title {
    font-weight: bold;
    display: block;
    background: url(/img/firefox/download-arrow.png) 10px 14px no-repeat;
    padding: 8px 12px 0 30px;
    letter-spacing: -0.02em;
}

#download a span.desc {
    display: block;
    padding: 0 8px 12px 30px;
    font-size: 12px;
    color: #ddecd2;
}


#download a:hover span.title {
    text-decoration: underline;
}

#download a.download:hover,
#download a.download:active {
    -moz-box-shadow:    0 3px rgba(0,0,0,0.15), inset 0 -4px rgba(0,0,0,0.15), inset 0 0 80px rgba(255,255,255,0.3);
    -webkit-box-shadow: 0 3px rgba(0,0,0,0.15), inset 0 -4px rgba(0,0,0,0.15), inset 0 0 80px rgba(255,255,255,0.3);
    box-shadow:         0 3px rgba(0,0,0,0.15), inset 0 -4px rgba(0,0,0,0.15), inset 0 0 80px rgba(255,255,255,0.3);
    -moz-transition:    box-shadow 0.2s ease-in-out;
    -webkit-transition: box-shadow 0.2s ease-in-out;
    transition:         box-shadow 0.2s ease-in-out;
    text-decoration: none;
}

#download .download-other {
    width: 300px;
    text-align: center;
    margin: 0;
}

#main-feature p#firefox-home {
    font-style: italic;
    font-size: 15px;
    margin: 20px 0;
}

/* }}} */
/* {{{ Social Stuff */

#connect {
    text-align: center;
    padding: 40px 0;
}

#connect h3,
#connect ul,
#connect li {
    display: inline;
    margin: 0 10px;
}

.twitter a {
    background: url("/img/sprite-16.png") no-repeat scroll 0 0 transparent;
    padding-left: 25px;
    padding-bottom: 3px;
}
.facebook a {
    background: url("/img/sprite-16.png") no-repeat scroll 0 -40px transparent;
    padding-left: 25px;
    padding-bottom: 3px;
}
.mail a {
    background: url("/img/sprite-16.png") no-repeat scroll 0 -160px transparent;
    padding-left: 25px;
    padding-bottom: 3px;
}

#firefox-mobile #footer { margin-top: 0; }

/* }}} */
