body,
#wrapper {
	background-position: 50% -25px;
}

#doc {
	background: url(/img/covehead/mobile/background-get-involved.png) no-repeat scroll 440px 105px;
}

#main-feature h2 {
  margin-right: 510px;
}

#main-content {
  margin: 45px 0 0 15px;
  width: 642px;
  float: left;
}

#intro {
  margin: 0 0 30px;
  padding: 20px;
  box-shadow: 0 0 15px #ccc;
  -webkit-box-shadow: 0 0 15px #ccc;
  -moz-box-shadow: 0 0 15px #ccc;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
}

#video-player {
}

#intro video {
  display: block;
  margin: 0 auto;
}

.twitter a {
	background: url("/img/sprite-16.png") no-repeat 0 0;
	padding-left: 25px;
}

.facebook a {
	background: url("/img/sprite-16.png") no-repeat 0 -40px;
	padding-left: 25px;
}

.youtube a {
	background: url("/img/sprite-16.png") no-repeat 0 -120px;
	padding-left: 25px;
	margin-bottom: 2em;
}

.mail a {
  background: url("/img/sprite-16.png") no-repeat 0 -160px;
  padding-left: 25px;
}

.input-placeholder-active {
  color: #9d9891;
}

#tweet-this label { display: block; font-size: 93%; margin-bottom: .25em; }

#tw-status-container {
  position: relative;
  width: 165px;
  float: left;
}

#tw-status-container input {
  width: 141px;
  padding-right: 18px;
  height: 15px;
}

#tw-status-container img {
  position: absolute;
  right: 3px;
  top: 3px;
}

#tweet-this button {
  border: 1px solid #999;
  background: #eee;
  color: #666;
  float: right;
  cursor: pointer;
  width: 90px;
  height: 2em;
}

#tweet-this button:focus, #tweet-this button:hover {
  text-decoration: underline;
}

#secondary {
  overflow: hidden;
}

#secondary .section {
  width: 260px;
  padding: 20px 22px 0;
  float: left;
}

#secondary #connect {
  margin-left: 15px;
}

#secondary #connect ul li a {
  display: block;
}

#secondary #connect ul {
  margin-left: 0;
}

#secondary #connect ul li {
  list-style: none;
}

.section h3 {
  margin: 0 0 1em;
  line-height: 0.9;
}

.section p {
  margin: 0 0 1em;
}

.section ul {
  left: 0;
  margin: 0 0 1em 20px;
}

.section ul li {
  background: none;
  padding: 0;
  margin: 0 0 .25em;
  list-style: disc;
}

#sidebar {
  float: right;
  padding-top: 45px;
  width: 255px;
}

#sidebar #sidebar-iphone-home {
  width: 210px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 15px;
  background: #c9ddf2;
  margin-bottom: 20px;
}

#sidebar #sidebar-iphone-home p {
  margin-top: 10px;
  background: url(/img/covehead/mobile/get-involved-iphone-home.png) no-repeat 100% 0;
  padding-right: 90px;
  min-height: 75px;
}

* html #sidebar #sidebar-iphone-home p {
  height: 75px;
}

#sidebar #sidebar-iphone-home a {
  display: block;
}

#sidebar h3 {
  margin: 0;
  line-height: 0.9;
}

#sidebar #sidebar-add-ons-cup {
	width: 210px;
	margin: 35px 15px;
}

#sidebar #sidebar-add-ons-cup em {
  display: block;
  font-size: 16px;
  padding-bottom: 13px;
}

#sidebar #sidebar-add-ons-cup img {
    float: right;
    position: relative;
    left: 10px;
	margin-top: 5px;
}

#sidebar #sidebar-add-ons-cup div p {
	margin-right: 70px;
    margin-top: 10px;
}

#dev-addon,
#video-chal {
  padding-top: 15px;
  background: url("/img/mobile/divider.png") center top repeat-x;
}

#dev-addon h3 {
  font-size: 18px;
  padding: 20px 0 10px 110px;
  margin: 0 0 .25em;
  background: url("/img/mobile/addons-puzzle-sm.png") no-repeat;
  min-height: 40px;
}

#video-chal h3 {
  font-size: 16px;
  padding: 10px 0 10px 90px;
  margin: 0 0 .25em;
  background: url("/img/mobile/icon-home-movie.png") no-repeat;
  min-height: 60px;
}

/* {{{ Download Links */

#sidebar a.download,
#sidebar a.download:link,
#sidebar a.download:visited {
	width: 212px;
	font-family: "Trebuchet MS", sans-serif;
	font-size: 12px;
	display: block;
	-moz-box-shadow:    0 3px rgba(0,0,0,0.1), inset 0 -4px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 3px rgba(0,0,0,0.1), inset 0 -4px rgba(0,0,0,0.1);
	box-shadow:         0 3px rgba(0,0,0,0.1), inset 0 -4px rgba(0,0,0,0.1);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	color: #fff;
	overflow: visible;
	background: #84C63C; /* old browsers */
	background: -moz-linear-gradient(top, #84C63C 0%, #489615 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#84C63C), color-stop(100%,#489615)); /* webkit */
	background: linear-gradient(top, #84C63C 0%, #489615 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#84C63C', endColorstr='#489615',GradientType=0 ); /* ie */
	-moz-transition:   box-shadow 0.2s ease-in-out;
	-webit-transition: box-shadow 0.2s ease-in-out;
	transition:        box-shadow 0.2s ease-in-out;
}

#sidebar a.download span {
	display: block;
	background: url(/img/firefox/download-arrow.png) 10px 10px no-repeat;
	padding: 8px 8px 8px 30px;
}


#sidebar a.download:hover,
#sidebar a.download:active {
	-moz-box-shadow:    0 3px rgba(0,0,0,0.15), inset 0 -4px rgba(0,0,0,0.15), inset 0 0 80px rgba(255,255,255,0.3);
	-webkit-box-shadow: 0 3px rgba(0,0,0,0.15), inset 0 -4px rgba(0,0,0,0.15), inset 0 0 80px rgba(255,255,255,0.3);
	box-shadow:         0 3px rgba(0,0,0,0.15), inset 0 -4px rgba(0,0,0,0.15), inset 0 0 80px rgba(255,255,255,0.3);
	-moz-transition:    box-shadow 0.2s ease-in-out;
	-webkit-transition: box-shadow 0.2s ease-in-out;
	transition:         box-shadow 0.2s ease-in-out;
}

/* }}} */
