html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit;}del,ins{text-decoration:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup,sub{vertical-align:baseline;}legend{color:#000;}input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}pre,code,kbd,samp,tt{font-family:monospace;*font-size:108%;}

html { background: #fff; }
body {
    color: #69645c;
    font-family:georgia,serif;
}

a {
    color: #1e4262;
}

h1 {
    color: #4b4740;
    font-size: 150%;
    margin: 1em;
}

h2, #faq h3, #content h3 {
    border-bottom: 1px dotted #999999;
    color: #4b4740;
    font-size: 130%;
    font-style: italic;
    margin: 1em 0 0.5em;
    padding-bottom: 2px;
}

dd, p {
    line-height: 1.5;
    margin:0.5em 1em 1.5em;
}

@font-face {
    font-family: 'MetaBlack';
    src: local('☺'), url('<?=$config['static_prefix']?>/img/fonts/MetaWebPro-Black.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

.outer-wrapper {
    background: #fff url(/img/mobile/m/bg-top.png) top center repeat-x;
}


/* head */

#head p {
    margin: 1em;
}

/* menu */

#menu {
    background-color: #6f6f6f;
}

#menu.closed {
    display: none;
    /* -moz-transition: margin .5s; */
    /* -webkit-transition: margin .5s; */
}

#menu.open {
    display: block;
    /* -moz-transition: margin .5s; */
    /* -webkit-transition: margin .5s; */
}

#menu ul {
    list-style: none;
}

#menu li {
    font-family: "Trebuchet MS", Georgia;
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: normal;
    border-bottom: 1px solid #474747;
    border-top: 1px solid #898989;
    background-image:-moz-linear-gradient(#797979, #666666);
    background-image:-webkit-gradient(linear, left top, left bottom, from(#797979), to(#666666));
}

#menu a,
#menu a:visited {
    max-width: 370px;
    margin: 0 auto;
    display: block;
    padding: 12px 10px;
    color: white;
    text-decoration: none;
    background: url(/img/mobile/m/right-arrow-light.png) center right no-repeat;
}

/* credits */
#credits #main-content ul {
    list-style-type: none;
    padding: 1em;
    text-align: center;
}

#credits #main-content ul li {
    color: #4b4740;
    font-size: 110%;
    line-height: 1.3;
}

/* faq */

#faq-nav {
    border-top:3px solid #BDCDCF;
    list-style:none outside none;
    margin:0;
    padding-right:0.75em;
}

#faq-nav a {
    background:url("/img/mobile/m/skip-nav-arrow.gif") no-repeat scroll right center transparent;
    display:block;
    font-size:120%;
    padding:0.5em;
}

#faq #main-feature {
    display: none;
}

#faq #about-firefox {
}

#faq h3 {
    color: #4B4740;
}

/* privacy */

#privacy #content ul {
    padding-left: 2em;
}

#privacy #content strong {
    font-weight: bold;
}

#privacy #content dl {
    margin-left: 1em;
}

#privacy #content dt {
    font-weight: normal;
}

a.button, .wide-button a, p.button a {
    background: #519d1b;
    background-image:-moz-linear-gradient(#83c53c, #519d1b);
    background-image:-webkit-gradient(linear, left top, left bottom, from(#83c53c), to(#519d1b));
    -moz-box-shadow: 0px 4px 0 #438814;
    -webkit-box-shadow: 0px 4px 0 #438814;
    box-shadow: 0px 4px 0 #438814;
    color: #fff;
    display:block;
    font-size: 150%;
    line-height: 1;
    padding:0.5em 0 0.4em;
    text-align: center;
    text-decoration: none;
    text-shadow: 0px -1px 0px #4e921d;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

a.button.beta, a.button-beta {
    background: #cd4e23;
    background-image:-moz-linear-gradient(#eb7a2e, #cd4e23);
    background-image:-webkit-gradient(linear, left top, left bottom, from(#eb7a2e), to(#cd4e23));
    -moz-box-shadow: 0px 4px 0 #b42814;
    -webkit-box-shadow: 0px 4px 0 #b42814;
    box-shadow: 0px 4px 0 #b42814;
    text-shadow: 0px -1px 0px #b42814;
}

a.button.secondary {
    background: #6093c9;
    box-shadow: none;
}

a.button em {
    font-style: italic;
}

p.button {
    font-size: 90%;
}
p.button strong {
    display: block;
    font-style: italic;
    font-size: 80%;
    margin-bottom: 0.5em;
}

.wrapper {
    margin:0 auto;
    max-width: 30em;
    min-width: 280px;
    padding: 0 1em;
}

#header {
    padding-bottom: 1px; /* to fix collapsing margins */
}

#header .logo {
    float: left;
    width: 150px;
}

#nav-tab {
    background: #5b5b5b;
    background-image:-moz-linear-gradient(bottom, #454545, #666666);
    background-image:-webkit-gradient(linear, left top, left bottom, from(#454545), to(#666666));
    -moz-border-radius:0 0 8px 8px;
    -webkit-border-radius:0 0 8px 8px;
    border-radius:0 0 6px 6px;
    border-bottom: #272727 solid 2px;
    box-shadow: #c9d2d7 0px 2px 2px;
    float: right;
}

#nav-tab a,
#nav-tab a:visited {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px 19px;
    padding-right: 46px;
    background: url(/img/mobile/m/menu-down.png) 70px 16px no-repeat;
}

#nav-tab a.open,
#nav-tab a.open:visited {
    background: url(/img/mobile/m/menu-up.png) 70px 16px no-repeat;
}

.clear {
    clear: both;
    zoom: 1;
}

#mozilla-logo {
    display: block;
    padding: 4px 10px 2px;
}

#view-full-site {
    background: transparent url(/img/mobile/m/right-arrow.gif) right center no-repeat;
    color:#FFFFFF;
    font-family:helvetica,arial,clean,sans-serif;
    font-size:90%;
    padding-right:15px;
    position:absolute;
    right:10px;
    text-decoration:none;
    text-transform:lowercase;
    top:4px;
}

#view-full-site:hover, .ancillary a:hover {
    text-decoration: underline;
}

/* primary content */

.content {
    margin: 2em 1em 1.5em;
}

.content strong {
    font-weight: bold;
}

.content p {
    margin-left: 0;
    margin-right: 0;
}

.title {
    position: relative;
    border: 0;
    height: 110px;
    background: url('/img/mobile/m/iphone.png') 92% 0 no-repeat;
}

.title .text {
    float: left;
    margin-left: 2%;
    padding-top: .5em;
    padding-left: .5em;
    max-width: 68%;
}

.title h1,
.title h2 {
    font-family: MetaBlack, "Trebuchet MS";
    text-transform: uppercase;
    font-style: normal;
    border: 0;
    margin: 0;
    line-height: .9em;
    padding: 0;
}

.title h3 {
    font-size: 1.25em;
    font-style: italic;
}

.title h1 {
    font-size: 2.75em;
}

.title h2 {
    font-size: 2em;
}

.title img {
    float: right;
    margin-right: 10%;
    display: block;
}

#button-wrapper {
    position: relative;
    background: #fff;
    border-color: #eeeeee #a8a8a7 #a8a8a7 #a8a8a7;
    border-style: solid;
    border-width: 1px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow:0 0 5px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow:0 0 5px rgba(0, 0, 0, 0.2);
    box-shadow:0 0 5px rgba(0, 0, 0, 0.2);
}

.buttons {
    padding: 7px 0 12px 8px;
}

#button-wrapper .up-corner {
    margin: 0 auto;
    margin-top: -15px;
    display: block;
}

#primary-content-headline {
    background: #e5e5e5;
    background-image:-moz-linear-gradient(#d3d3d3, #e5e5e5);
    background-image:-webkit-gradient(linear, left top, left bottom, from(#d3d3d3), to(#e5e5e5));
    border-bottom: 1px solid #d1d1d1;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    padding-right: 76px;
    position: relative;
}

#primary-content-headline h2 {
    border-width: 0px;
    font-size:170%;
    line-height: 1.1;
    margin: 0;
    padding:1em 0 0.7em 1em;
}

#primary-content-headline img {
    position: absolute;
    right: 16px;
    bottom: 0;
}

#primary-content h4 {
    margin: 0.5em 0;
    text-align: center;
}

#button-wrapper .button {
    float:left;
    margin-right: 2%;
    width:48%;
}

#button-wrapper small {
    display: block;
    font-size: 60%;
}

#button-wrapper em, .button-beta em {
    display: block;
    font-size: 70%;
}

#button-wrapper em:before, #button-wrapper em:after {
    content: " - "
}

.center-link {
    display: block;
    font-family: georgia,sans-serif;
    font-size: 1.25em;
    margin: 0.75em 0;
    text-align:center;
    width:100%;
}

.center-link li {
    margin: 0.5em 0;
}

.center-link a {
    text-decoration:none;
}

/* firefox-features */

#firefox-features li, #favorite_features li {
    list-style-type:none;
    margin: 1em 0;
    margin-left: .5em;
    min-height: 79px;
    padding-left: 97px;
    background: transparent url(/img/mobile/m/features-new.png) top left no-repeat;
}

#firefox-features #feature-customize, #favorite_features #customize {
    background-position: center left;
}

#firefox-features #feature-search, #favorite_features #search {
    background-position: bottom left;
    min-height: 79px;
}

#firefox-features h3 {
    font-size: 1.1em;
    color: #4b4740;
    font-style: italic;
    margin-bottom: .25em;
}

dt, #sync h3, #favorite_features b {
    font-weight: bold;
    margin-bottom: 0.25em;
}

/* bottom links */

ul.link-list {
    margin: 0 auto;
    margin-top: 2em;
    border: 1px solid #d7d9e8;
    list-style: none;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow:0 2px 2px #d7d9e8;
    -webkit-box-shadow:0 2px 2px #d7d9e8;
    box-shadow: 0 2px 2px #d7d9e8;
}

ul.link-list li {
    border-bottom: 1px solid #d7d9e8;
    background: url(/img/mobile/m/right-arrow.png) center right no-repeat;
}

ul.link-list a,
ul.link-list a:visited {
    text-decoration: none;
    color: #333333;
    display: block;
    padding: 15px 12px;
}

li.spark {
    position: relative;
}

li.spark a.spark-txt {
    margin-left: 68px;
}

li.spark a.spark-img {
    display: block;
    padding: 0;
    margin: 0;
    position: absolute;
    top: -8px;
    left: 10px;
}

/* old styles, kept around for L10N pages */

#favorite_features b {
    display: block;
}

.download-button {
    /* padding: 0.5em 0.5em 0; */
    margin: 1em 0;
}

.download-button a.system {
    display: block;
    margin: 1em 0;
    text-align: center;
}

a.button-beta {
    display: block;
    margin: auto;
}

/* lower */

.lower-bg {
    background: #e3e2df url(/img/mobile/m/bg-bottom.png) top center repeat-x;
    height: 61px;
}

#lower {
    padding-top: 3em;
    background: url(/img/mobile/m/bottom-bg2.png);
}

#lower .section, #footer #social {
    background: #c6c5c4;
    border: 1px solid #969593;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    margin: 1.5em 0;
}

#lower .section .button {
    margin-left: 2%;
    width: 96%;
}

#lower .section .ancillary {
    margin: 0.8em 0 0.5em;
}

#lower .section li {
    border-bottom: 1px solid #969593;
    list-style-type: none;
}

#lower .section li:last-child {
    border-bottom: none;
}

#lower .section li a {
    background: transparent url(/img/mobile/m/disclosure.gif) center right no-repeat;
    display: block;
    padding: 0.8em 0.6em;
    text-decoration: none;
}

#lower .section h4, #lower .section li a {
    color: #4b4740;
    font-family: helvetica,arial,clean,sans-serif;
    font-size: 110%;
    font-weight: bold;
}

#lower .section h4 {
    margin: 0.8em 0.6em 0.4em;
    padding: 0;
}

/* footer */

#footer {
    padding-bottom: 1px; /* to fix collapsing margins */
}

#footer p {
    font-family:helvetica,arial,clean,sans-serif;
    font-size:80%;
    margin:1.875em 0;
    text-align:center;
}

#footer p a {
    color: #4b4740;
}

#footer #social {
    list-style-type:none;
    padding:0.8em 0;
    text-align:center;
}

#footer #social li {
    display:inline;
    margin:0 1em;
}

#footer .languages {
    text-transform: uppercase;
    color: white;
}

#footer .languages div {
    margin-bottom: .45em;
    font-family: georgia,sans-serif;
}

#footer .languages select {
    width: 100%;
}

#footer .button {
    margin-top: 1em;
}

#footer p,
#footer p a,
#footer p a:visited {
    color: #679cdc;
}


/* RTL Compatibility */

[dir="rtl"] #menu a:after,
[dir="rtl"] ul.link-list li a:after {
    padding: 0 10px;
    float:left;
    vertical-align:bottom;
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

[dir="rtl"] ul.link-list li a:after {
    content: url("/img/mobile/m/right-arrow.png");
}

[dir="rtl"] #menu a:after {
    content: url("/img/mobile/m/right-arrow-light.png");
}

[dir="rtl"] ul.link-list li,
[dir="rtl"] #menu a,
[dir="rtl"] #menu a:visited {
    background: none;
}
