/* {{{ Main Content */

#platforms {
  overflow: hidden;
  margin: 0 30px 20px 30px;
  background: url(/img/covehead/divider-main-reverse.jpg) no-repeat center 100%;
  padding: 0;
}

#platforms .platform {
  width: 275px;
  min-height: 215px;
  padding: 10px 10px 10px 140px;
  margin: 15px 0;
  position: relative;
  float: left;
}

* html #platforms,
* html #platforms .platform,
* html #secondary,
* html #feature-boxes,
* html #feature-boxes div {
  zoom: 1;
}

* html #platforms .platform {
  height: 215px;
}

#platforms-divider {
  background: url(/img/covehead/mobile/dotted-line.png) 410px 20px no-repeat;
  min-height: 215px;
}

* html #platforms-divider {
  height: 215px;
}

#platforms #android {
  background: url(/img/mobile/device-android.jpg) 0 0 no-repeat;
}

#platforms #nokia {
  background: url(/img/mobile/device-n900.jpg) 0 0 no-repeat;
}

#platforms #nokia p {
    font-size: 15px;
}

.platform h3 {
  line-height: 0.9;
  margin: 0 0 20px;
  zoom: 1;
}

.platform h3 span {
  color: #447bc4;
}

#platforms #android .notes {
  font-size: 90%; zoom: 1;
    text-align: left;
}

#main-content .notes {
  font-size: 90%; zoom: 1;
    text-align: center;
    color: #999;
}

.platform .dl {
  width: 70%;
}

#main-content {
  background: url(/img/covehead/divider-main.jpg) no-repeat center 0;
  padding-top: 10px;
}

#main-feature {
 padding-bottom: 15px;
}

#secondary {
  margin: 0;
  clear: both;
  overflow: hidden;
}

#secondary div {
  width: 42%;
  padding: 20px 3% 10px;
  float: left;
  background: #c9ddf2;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

#secondary ul {
  left: 0;
}

#secondary ul li {
  list-style: disc;
  padding: 0;
  background: none;
}

#secondary #ffhome {
  margin-top: 20px;
  padding: 20px 20px 10px 100px;
  width: 240px;
  background: #c9ddf2 url("/img/covehead/mobile/logo-firefox-home.png") 5px 5px no-repeat;
}

#secondary #ffhome ul {
	margin-left: 15px;
}

#secondary #desktop {
  float: right;
  margin-top: 20px;
  padding: 20px 20px 10px 100px;
  width: 450px;
  background: #c9ddf2 url("/img/covehead/mobile/logo-download.png") 5px 5px no-repeat;
}

#secondary #desktop li {
  display: inline;
  padding: 0;
  background: none;
  margin-right: 30px;
}

#secondary h4 {
  margin: 0 0 .75em;
}

/* }}} */
/* {{{ Download Links */

.platform .dl a,
.platform .dl a:link,
.platform .dl a:visited {
	width: 240px;
	font-family: "Trebuchet MS", sans-serif;
	font-size: 16px;
	display: block;
	-moz-box-shadow:    0 3px rgba(0,0,0,0.1), inset 0 -4px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 3px rgba(0,0,0,0.1), inset 0 -4px rgba(0,0,0,0.1);
	box-shadow:         0 3px rgba(0,0,0,0.1), inset 0 -4px rgba(0,0,0,0.1);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	color: #fff;
	overflow: visible;
	background: #84C63C; /* old browsers */
	background: -moz-linear-gradient(top, #84C63C 0%, #489615 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#84C63C), color-stop(100%,#489615)); /* webkit */
	background: linear-gradient(top, #84C63C 0%, #489615 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#84C63C', endColorstr='#489615',GradientType=0 ); /* ie */
	-moz-transition:   box-shadow 0.2s ease-in-out;
	-webit-transition: box-shadow 0.2s ease-in-out;
	transition:        box-shadow 0.2s ease-in-out;
}

.platform .dl a span.title {
	display: block;
	background: url(/img/firefox/download-arrow.png) 10px 14px no-repeat;
	padding: 8px 8px 0 30px;
}

.platform .dl a span.desc {
	display: block;
	padding: 0 8px 8px 30px;
    font-size: 11px;
    color: #ddecd2;
}


.platform .dl a:hover span.title {
    text-decoration: underline;
}

.platform .dl a:hover,
.platform .dl a:active {
	-moz-box-shadow:    0 3px rgba(0,0,0,0.15), inset 0 -4px rgba(0,0,0,0.15), inset 0 0 80px rgba(255,255,255,0.3);
	-webkit-box-shadow: 0 3px rgba(0,0,0,0.15), inset 0 -4px rgba(0,0,0,0.15), inset 0 0 80px rgba(255,255,255,0.3);
	box-shadow:         0 3px rgba(0,0,0,0.15), inset 0 -4px rgba(0,0,0,0.15), inset 0 0 80px rgba(255,255,255,0.3);
	-moz-transition:    box-shadow 0.2s ease-in-out;
	-webkit-transition: box-shadow 0.2s ease-in-out;
	transition:         box-shadow 0.2s ease-in-out;
    text-decoration: none;
}

/* }}} */
/* {{{ Feature Boxes */

#feature-boxes .feature-box {
	float: left;
	width: 250px;
	padding: 0 30px;
}

#feature-boxes h4 {
	font-size: 22px;
	margin: 40px 0 10px 0;
	line-height: 0.9;
}

#feature-boxes .feature-box p {
	min-height: 5em;
}

* html #feature-boxes .feature-box p {
	height: 5em;
}

#feature-boxes .feature-box p,
#feature-boxes .feature-box a {
	font-size: 15px;
}

#feature-boxes h4 {
	line-height: 0.9;
}

/* }}} */


#firefox-mobile #footer { margin-top: 0; }
