#mobile-sms-thanks #doc {
	background: none;
}

#mobile-sms-thanks #main-feature h2 {
	font-size: 300%;
	margin-right: 300px;
}

#mobile-sms-thanks .small-print {
	font-size: 85%;
	color: #898378;
}

#mobile-sms-thanks #main-content {
	margin-top: 25px;
	width: 685px;
}

#mobile-sms-thanks #thanks-intro,
#mobile-sms-thanks #weave-info {
	padding-right: 100px;
}

#mobile-sms-thanks #weave-info {
	margin-top: 50px;
	background: url(/img/mobile/sms-sync-logo.png) top right no-repeat;
	padding-right: 150px;
	padding-bottom: 40px;
}
