/* Success */

.success-pane {
    display: none;
}

.success .success-pane {
    width: 300px;
    display: block;
}

.success .success-pane h3 {
    background: url("/img/news/check.png") no-repeat scroll 100% 100% transparent;
    font-size: 138%;
    margin: 0;
    padding-right: 30px;
    padding-top: 25px;
}

.success form {
    display: none;
}

.success .success-pane .stay-connected {
    background: url("/img/news/button.png") no-repeat scroll -166px 0 transparent;
    border: 0 none;
    color: #0489B7;
    display: inline-block;
    font-family: sans-serif;
    font-size: 14px;
    height: 33px;
    line-height: 30px;
    padding: 7px 10px 15px;
    text-align: center;
    width: 148px;
}

/* {{{ Main Newsletter Landing page */

#newsletter #doc {
    background: transparent url(/img/news/background.png) no-repeat 580px 80px;
}

#newsletter #main-feature {
    padding-top: 60px;
}

#main-feature {
    width: 90%;
}
#newsletter #main-feature p {
    width: 500px;
}

#newsletter #main-feature h2 {
    font-size: 40px;
}
#newsletter #main-feature h2 span {
    font-size: 55px;
}

#newsletter #newsletter-form {
    left: auto;
    position: relative;
    width: 500px;
}

/* }}} *
/* {{{ Basic Email Form styles */

#newsletter-form .field {
    clear: left;
    padding: 10px 0;
    zoom: 1;
}

#newsletter-form .field:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#newsletter-form label,
#newsletter-form .field-label {
    text-align: right;
    float: left;
    display: inline;
    width: 170px;
    padding: 3px 10px 5px 5px;
}
#newsletter-form .required label {
    font-weight: bold;
}

#newsletter-form input,
#newsletter-form .field-radios,
#newsletter-form select {
    float: left;
    display: inline;
    width: 235px;
    font-size: 13px;
}

#newsletter-form .format-field input {
    display: inline-block;
    padding-top: 10px;
}

#newsletter-form .radio-wrapper {
    padding-top: 5px;
}

#newsletter-form .form-pane {
    display: block;
}

#newsletter-form .format-field input,
#newsletter-form .format-field label {
    width: auto;
}

#newsletter-form .submit-field {
    margin-left: 177px;
}

#newsletter-form .privacy-field {
    margin-left: 177px;
}

#newsletter-form .privacy-field input {
    width: auto;
}

#newsletter-form .extra-news-field {
    margin-left: 177px;
}

#newsletter-form .privacy-field label {
    padding: 0;
    text-align: left;
}

#newsletter-form .privacy-field label span {
    float: left;
    margin: 0 2px;
}

#newsletter-form #country-field select {
    margin: 2px;
}

#newsletter-form .form-pane .privacy-field input {
    vertical-align: text-top;
    float: none;
    width: inherit;
}

#newsletter-form .privacy-field label {
    width: inherit;
}

#newsletter-form label.privacy-check-label span.title {
    float: none;
    padding-top: 3px;
    padding-left: 30px;
    display: block;
}

#newsletter-form .text {
    clear: both;
    width: 350px;
    margin-left: 180px;
}

#newsletter-form .one-time label {
    text-align: left;
    width: 300px;
    margin-left: 10px;
}

#newsletter-form .one-time input {
    width: auto;
    margin-left: 185px;
}

#newsletter-form .form-pane {
    background: #fff;
    width: 540px;
}

.unsub .button,
#newsletter-form .button {
    padding: 8px 20px;
    display: inline-block;
    width: auto;
    font-weight: bold;
    text-shadow: 1px 1px rgba(0,0,0,0.2);
    font-size: 16px;
    font-family: "Trebuchet MS", sans-serif;
    border: 0;
    -moz-box-shadow:    0 3px rgba(0,0,0,0.1), inset 0 -4px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 3px rgba(0,0,0,0.1), inset 0 -4px rgba(0,0,0,0.1);
    box-shadow:         0 3px rgba(0,0,0,0.1), inset 0 -4px rgba(0,0,0,0.1);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    color: #fff;
    overflow: visible;
    background: #669be1; /* old browsers */
    background: -moz-linear-gradient(top, #669be1 0%, #5784bf 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#669be1), color-stop(100%,#5784bf)); /* webkit */
    background: linear-gradient(top, #669be1 0%, #5784bf 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#669be1', endColorstr='#5784bf',GradientType=0 ); /* ie */
    -moz-transition:   box-shadow 0.2s ease-in-out;
    -webit-transition: box-shadow 0.2s ease-in-out;
    transition:        box-shadow 0.2s ease-in-out;
}

#newsletter-form .subscribe:hover,
#newsletter-form .subscribe:active {
    -moz-box-shadow:    0 3px rgba(0,0,0,0.15), inset 0 -4px rgba(0,0,0,0.15), inset 0 0 80px rgba(255,255,255,0.3);
    -webkit-box-shadow: 0 3px rgba(0,0,0,0.15), inset 0 -4px rgba(0,0,0,0.15), inset 0 0 80px rgba(255,255,255,0.3);
    box-shadow:         0 3px rgba(0,0,0,0.15), inset 0 -4px rgba(0,0,0,0.15), inset 0 0 80px rgba(255,255,255,0.3);
    -moz-transition:    box-shadow 0.2s ease-in-out;
    -webkit-transition: box-shadow 0.2s ease-in-out;
    transition:         box-shadow 0.2s ease-in-out;
}
#newsletter-form .disclaimer {
    margin-left: 177px;
    font-size: 0.9em;
    clear: both;
}

/* }}} */
/* {{{ about mozilla, about mobile, this-week */

.newsletter-aboutmozilla #main-feature,
.newsletter-aboutmobile #main-feature,
.newsletter-thisweek #main-feature {
    width: 90%;
    padding-bottom: 20px;
}

.newsletter-aboutmozilla #main-feature h2 span,
.newsletter-aboutmobile #main-feature h2 span {
    text-transform: lowercase;
}

.newsletter-thisweek #main-feature h2 span {
    font-size: 60px;
    letter-spacing: -0.05em;
    text-transform: capitalize;
}

.newsletter-aboutmozilla #main-feature p,
.newsletter-aboutmobile #main-feature p,
.newsletter-thisweek #main-feature p {
    line-height: 1.1em;
}

.newsletter-aboutmozilla .email-form .field,
.newsletter-thisweek .email-form .field {
    padding: 5px 0;
}

.newsletter-aboutmozilla .email-form .required label,
.newsletter-aboutmobile .email-form .required label,
.newsletter-thisweek .email-form .required label {
    font-weight: normal;
}

.newsletter-aboutmozilla .email-form .subscribe,
.newsletter-aboutmobile .email-form .subscribe,
.newsletter-thisweek .email-form .subscribe {
    width: 150px;
}

.newsletter-aboutmozilla .email-form .disclaimer,
.newsletter-aboutmobile .email-form .disclaimer,
.newsletter-thisweek .email-form .disclaimer {
    margin-left: 177px;
    font-size: .9em;
    padding-top: 5px;
}

/* }}} */
/* {{{ New Users on the Newsletter */

#newsletter-new #main-feature {
    padding-top: 20px;
}

#newsletter-new #sub-footer {
    display: none;
}

#newsletter-new #footer {
    margin-top: 80px;
}

#newsletter-new #newsletter-form {
    float: left;
    width: 100%;
    background: #fff;
    border: 1px solid #bdc6d7;
    padding: 0;
    margin: 2em 0;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -moz-box-shadow:    0 2px rgba(0, 0, 0, 0.1), 0 -2px rgba(99, 149, 185, 0.1) inset;
    -webkit-box-shadow: 0 2px rgba(0, 0, 0, 0.1), 0 -2px rgba(99, 149, 185, 0.1) inset;
    box-shadow:         0 2px rgba(0, 0, 0, 0.1), 0 -2px rgba(99, 149, 185, 0.1) inset;
}

#newsletter-new #basic-settings,
#newsletter-new #other-newsletters {
    float: left;
    width: 400px;
    padding: 20px 0 20px 30px;
}

#newsletter-new .intro {
    font-size: 20px;
    color: #303030;
    line-height: 1.3;
}

#newsletter-new #newsletter-form label,
#newsletter-new #newsletter-form .field-label {
    width: 130px;
    padding-right: 10px;
}

#newsletter-new .field-radios,
#newsletter-new .field-contents {
    float: left;
    width: 240px;
}

#newsletter-new #newsletter-form .field-radios label {
    width: auto;
}

#newsletter-new #other-newsletters h3 {
    font-size: 14px;
    margin: 0;
}

#newsletter-new #other-newsletters table {
    border-collapse: collapse;
}

#newsletter-new #other-newsletters table td,
#newsletter-new #other-newsletters table th {
    padding: .5em .5em .5em 0;
    font-weight: normal;
    vertical-align: top;
    text-align: left;
}

#newsletter-new #other-newsletters table td {
    text-align: center;
}

#newsletter-new #other-newsletters table tbody tr {
    border-top: 1px solid #eee;
}

#newsletter-new #other-newsletters table h4 {
    font-size: 17px;
    margin: 0;
}

#newsletter-new #other-newsletters table p {
    font-size: 11px;
}

#newsletter-new #newsletter-form table input {
    float: none;
    width: auto;
}

#newsletter-new #newsletter-form .submit-field {
    clear: both;
    margin: 0;
    padding: 20px 30px 20px 490px;
}

#newsletter-new #newsletter-form .submit-field input {
    float: none;
}

#newsletter-new #newsletter-form .button {
}

#newsletter-social {
    margin: 1em 0;
    position: relative;
    clear: both;
}

#newsletter-social h4 {
    display: inline;
    margin: 0 7px 0 0;
    font-size: 17px;
}

#newsletter-social p {
    display: inline;
    margin: 0 7px 0 0;
}

#newsletter-social ul {
    display: inline;
    margin: 0;
    padding: 0;
}

#newsletter-social ul li {
    display: inline;
    margin: 0;
    padding: 0;
}

#newsletter-social ul li a {
    display: inline-block;
    padding: 5px 5px 5px 30px;
    background: url(/img/news/social-icons.png) 0 0 no-repeat;
    list-style-type: none;
    margin: 0;
    white-space: nowrap;
    font-size: 12px;
    font-style: italic;
    color: #484848;
}

#newsletter-social ul li#newsletter-twitter a {
    background-position: 0 -70px;
}

.field-error {
    background: #B11A04;
    color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    text-shadow: 1px 1px rgba(0,0,0,0.5);
}

.field-error a {
    color: #fff;
    text-decoration: underline;
}

.field-errors {
    background: #B11A04;
    color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 5px 15px;
    font-size: 17px;
    margin: 0 0 20px 0;
    font-style: italic;
    text-shadow: 1px 1px rgba(0,0,0,0.5);
}

#newsletter-new .field-errors {
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    margin: 0;
}


#newsletter-form .field-errors li {
    padding: 5px 0;
    list-style-type: none;
}

/* }}} */
/* {{{ Existing Users on the Newsletter */

#newsletter-existing #main-feature {
    padding-top: 20px;
}

#newsletter-existing #main-feature h2 {
    line-height: 1.3em;
    width: 500px;
}

#newsletter-existing #sub-footer {
    display: none;
}

#newsletter-existing #footer {
    margin-top: 80px;
}

#newsletter-existing #newsletter-form {
    float: left;
    width: 100%;
    background: #fff;
    border: 1px solid #bdc6d7;
    padding: 0;
    margin: 2em 0;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -moz-box-shadow:    0 2px rgba(0, 0, 0, 0.1), 0 -2px rgba(99, 149, 185, 0.1) inset;
    -webkit-box-shadow: 0 2px rgba(0, 0, 0, 0.1), 0 -2px rgba(99, 149, 185, 0.1) inset;
    box-shadow:         0 2px rgba(0, 0, 0, 0.1), 0 -2px rgba(99, 149, 185, 0.1) inset;
}

#newsletter-existing #basic-settings {
    float: left;
    width: 400px;
    padding: 20px 0 20px 30px;
}

#newsletter-existing #all-newsletters {
    clear: left;
    padding: 20px 0 20px 30px;
}


#newsletter-existing .intro {
    font-size: 20px;
    color: #303030;
    line-height: 1.3;
}

#newsletter-existing #newsletter-form label,
#newsletter-existing #newsletter-form .field-label {
    width: 130px;
    padding-right: 10px;
}

#newsletter-existing .field-radios,
#newsletter-existing .field-contents {
    float: left;
    width: 240px;
}

#newsletter-existing #newsletter-form .field-radios label {
    width: auto;
}

#newsletter-existing #all-newsletters h3 {
    font-size: 14px;
    margin: 0;
}

#newsletter-existing #all-newsletters table {
    border-collapse: collapse;
    margin-bottom: 0;
}

#newsletter-existing #all-newsletters table td,
#newsletter-existing #all-newsletters table th {
    padding: .5em .5em .5em 0;
    font-weight: normal;
    vertical-align: top;
    text-align: left;
}

#newsletter-existing #all-newsletters table td {
    text-align: center;
}

#newsletter-existing #all-newsletters table tbody tr {
    border-top: 1px solid #eee;
}

#newsletter-existing #all-newsletters table h4 {
    font-size: 17px;
    margin: 0;
}

#newsletter-existing #all-newsletters table p {
    font-size: 11px;
}

#newsletter-existing #newsletter-form table input {
    float: none;
    width: auto;
}

#newsletter-existing #all-newsletters #remove-all-section {
    text-align: left;
    padding-top: 15px;
}

#newsletter-existing #all-newsletters #remove-all-section h4 {
    font-size: 100%;
    font-style: normal;
    margin-bottom: 5px;
}

#newsletter-existing #all-newsletters #remove-all-section label {
    float: none;
}

#newsletter-existing #newsletter-form .submit-field {
    clear: both;
    margin: 0;
    padding: 20px 30px;
    text-align: center;
}

#newsletter-existing #newsletter-form .submit-field input {
    float: none;
}

#newsletter-existing #newsletter-form .button {
}

#newsletter-social {
    margin: 1em 0;
    position: relative;
    clear: both;
}

#newsletter-social h4 {
    display: inline;
    margin: 0 7px 0 0;
    font-size: 17px;
}

#newsletter-social p {
    display: inline;
    margin: 0 7px 0 0;
}

#newsletter-social ul {
    display: inline;
    margin: 0;
    padding: 0;
}

#newsletter-social ul li {
    display: inline;
    margin: 0;
    padding: 0;
}

#newsletter-social ul li a {
    display: inline-block;
    padding: 5px 5px 5px 30px;
    background: url(/img/news/social-icons.png) 0 0 no-repeat;
    list-style-type: none;
    margin: 0;
    white-space: nowrap;
    font-size: 12px;
    font-style: italic;
    color: #484848;
}

#newsletter-social ul li#newsletter-twitter a {
    background-position: 0 -70px;
}

.field-error {
    background: #B11A04;
    color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    text-shadow: 1px 1px rgba(0,0,0,0.5);
}

.field-error a {
    color: #fff;
    text-decoration: underline;
}

.field-errors {
    background: #B11A04;
    color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 5px 15px;
    font-size: 17px;
    margin: 0 0 20px 0;
    font-style: italic;
    text-shadow: 1px 1px rgba(0,0,0,0.5);
}

#newsletter-existing .field-errors {
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    margin: 0;
}


#newsletter-form .field-errors li {
    padding: 5px 0;
    list-style-type: none;
}

/* }}} */
/* {{{ Updated pages */

#newsletter-updated #main-feature h2 {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 430px;
    font-size: 38px;
}

#newsletter-updated #content h3 {
    font-style: normal;
    font-size: 18px;
    margin-bottom: 15px;
}

#newsletter-updated #main-feature.unsub h2 {
    width: 600px;
}

.sub-feature {
    float: left;
    height: 120px;
    width: 249px;
    padding: 10px 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    background-image: url(/img/news/update-page-features.png);
    background-color: #fff;
    background-repeat: no-repeat;
    border: 1px solid #bdc6d7;
    border-radius: 6px 6px 6px 6px;
    box-shadow:
        0 2px rgba(0, 0, 0, 0.1),
        0 -2px rgba(99, 149, 185, 0.1) inset,
        0 -5px 15px rgba(223, 239, 249, 0.8) inset;
}

#mobile.sub-feature { background-position: 100% 0; }
#addons.sub-feature { background-position: 100% -300px; }
#about.sub-feature  { background-position: 100% -600px; }

.sub-feature h4 {
    margin: 0 30px 0 0;
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
}

.sub-feature p {
    margin: 0 50px 10px 0;
    min-height: 3em;
}

#addons.sub-feature p {
    margin-right: 90px;
}

.sub-feature a.link {
    display: inline-block;
    list-style-type: none;
    line-height: normal;
    line-height: 24px;
    padding: 5px 10px 7px 10px;
    text-shadow: 0 1px #e2f2fa;
    text-decoration: none;
    font-size: 16px;
    font-style: italic;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    color: #404040;
    border: 1px solid #bdc6d7;
    background-color: #fff;
    box-shadow: 0 2px rgba(0,0,0,.1), 0 -2px #e5eff8 inset, 0 0 2px rgba(223, 239, 249, 0.8) inset, 0 -5px 10px rgba(223, 239, 249, 0.5) inset;
    background-color: #fff;
}

#content.unsub {
    margin: 0 40px;
}

#newsletter-updated #content.unsub h3 {
    font-style: italic;
}

.unsub table td {
    padding: 4px;
    vertical-align: top;
}

/* }}} */
