/* {{{ Main Newsletter Landing page */

#newsletter #doc {
    background: transparent url(/img/news/example.png) no-repeat 580px 100px;
}
#newsletter.locale-de #doc {
    background: transparent url(/img/news/de-example.png) no-repeat 580px 100px;
}

#newsletter #main-feature {
    padding-top: 60px;
}

#main-feature {
    width: 90%;
}
#newsletter #main-feature p {
    width: 500px;
}

#newsletter #main-feature h2 {
    font-size: 40px;
}
#newsletter #main-feature h2 span {
    font-size: 55px;
}


#newsletter-form {
    left: auto;
    position: relative;
}

#newsletter-form li {
    list-style-type: none;
    padding: 0;
    background: none;
}

#newsletter-form .field {
    clear: left;
    padding: 12px 0;
}

#newsletter-form label,
#newsletter-form .form-pane label,
#newsletter-form .field-label {
    text-align: right;
    float: left;
    display: inline;
    width: 170px;
    padding: 3px 10px 5px 0;
}
#newsletter-form .required label {
    font-weight: bold;
}

#newsletter-form input,
#newsletter-form .field-radios,
#newsletter-form select {
    float: left;
    display: inline;
    width: 250px;
    font-size: 13px;
}

#newsletter-form .format-field input {
    display: inline-block;
    padding-top: 10px;
}

#newsletter-form .radio-wrapper {
    padding-top: 5px;
}

#newsletter-form .form-pane {
    display: block;
}

#newsletter-form .format-field input,
#newsletter-form .format-field label {
    width: auto;
}

#newsletter-form .submit-field {
    margin-left: 177px;
}

#newsletter-form .privacy-field {
    margin-left: 177px;
}

#newsletter-form .extra-news-field {
    margin-left: 177px;
}

#newsletter-form .privacy-field label span {
    float: left;
    padding: 2px;
    margin: 2px;
}

#newsletter-form .privacy-field .fr-title {
    width: 80%;
    text-align: left;
}

#newsletter-form .form-error {
    width: 215px;
    position: absolute;
    top: 0;
    left: 420px;
    background: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#newsletter-form p.form-error span {
    display: block;
    background: #b11a04;
    color: #fff;
    padding: 5px 15px;
    -moz-border-radius: 20px;
    font-size: 110%;
    font-style: italic;
    text-align: center;
    -moz-box-shadow: 0 2px 8px rgba(0,0,0,0.3);
}

#newsletter-form #country-field select {
    margin: 2px;
}

#newsletter-form .form-pane .privacy-field input {
    vertical-align: text-top;
    float: none;
    width: inherit;
}

#newsletter-form .privacy-field label {
    width: inherit;
}

#newsletter-form label.privacy-check-label span.title {
    float: left;
    display: inline;
    padding-top: 5px;
}

#newsletter-form .text {
    clear: both;
    width: 350px;
    margin-left: 180px;
}

#newsletter-form .one-time label {
    text-align: left;
    width: 300px;
    margin-left: 10px;
}

#newsletter-form .one-time input {
    width: auto;
    margin-left: 185px;
}

#newsletter-form .form-pane {
    background: #fff;
    width: 540px;
}

#newsletter-form .success-pane {
    width: 300px;
}

#newsletter-form .success-pane h3 {
    background: url(/img/news/check.png) 100% 100% no-repeat;
    padding-top: 25px;
    padding-right: 30px;
    font-size: 138%;
    margin: 0;
}

#newsletter-form .success-pane .stay-connected {
    display: inline-block;
    border: 0;
    background: url(/img/news/button.png) -166px 0 no-repeat;
    padding: 7px 10px 15px 10px;
    height: 33px;
    width: 148px;
    text-align: center;
    color: #0489b7;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 30px;
}

#newsletter-form .button,
#newsletter-form .subscribe {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 14px;
    padding: 8px 40px;
    margin-left: 4px;
    border: 0;
    display: block;
    -moz-box-shadow:    0 3px rgba(0,0,0,0.1), inset 0 -4px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 3px rgba(0,0,0,0.1), inset 0 -4px rgba(0,0,0,0.1);
    box-shadow:         0 3px rgba(0,0,0,0.1), inset 0 -4px rgba(0,0,0,0.1);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    color: #fff;
    overflow: visible;
    background: #669be1; /* old browsers */
    background: -moz-linear-gradient(top, #669be1 0%, #5784bf 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#669be1), color-stop(100%,#5784bf)); /* webkit */
    background: linear-gradient(top, #669be1 0%, #5784bf 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#669be1', endColorstr='#5784bf',GradientType=0 ); /* ie */
    -moz-transition:   box-shadow 0.2s ease-in-out;
    -webit-transition: box-shadow 0.2s ease-in-out;
    transition:        box-shadow 0.2s ease-in-out;
}

#newsletter-form .subscribe:hover,
#newsletter-form .subscribe:active {
    -moz-box-shadow:    0 3px rgba(0,0,0,0.15), inset 0 -4px rgba(0,0,0,0.15), inset 0 0 80px rgba(255,255,255,0.3);
    -webkit-box-shadow: 0 3px rgba(0,0,0,0.15), inset 0 -4px rgba(0,0,0,0.15), inset 0 0 80px rgba(255,255,255,0.3);
    box-shadow:         0 3px rgba(0,0,0,0.15), inset 0 -4px rgba(0,0,0,0.15), inset 0 0 80px rgba(255,255,255,0.3);
    -moz-transition:    box-shadow 0.2s ease-in-out;
    -webkit-transition: box-shadow 0.2s ease-in-out;
    transition:         box-shadow 0.2s ease-in-out;
}
#newsletter-form .disclaimer {
    margin-left: 177px;
    font-size: 0.9em;
    clear: both;
}

/* }}} */
/* {{{ about mozilla, about mobile, this-week */

.newsletter-aboutmozilla #main-feature,
.newsletter-aboutmobile #main-feature,
.newsletter-thisweek #main-feature {
    width: 90%;
    padding-bottom: 20px;
}

.newsletter-aboutmozilla #main-feature h2 span,
.newsletter-aboutmobile #main-feature h2 span {
    text-transform: lowercase;
}

.newsletter-thisweek #main-feature h2 span {
    font-size: 60px;
    letter-spacing: -0.05em;
    text-transform: capitalize;
}

.newsletter-aboutmozilla #main-feature p,
.newsletter-aboutmobile #main-feature p,
.newsletter-thisweek #main-feature p {
    line-height: 1.1em;
}

.newsletter-aboutmozilla .email-form .field,
.newsletter-thisweek .email-form .field {
    padding: 5px 0;
}

.newsletter-aboutmozilla .email-form .required label,
.newsletter-aboutmobile .email-form .required label,
.newsletter-thisweek .email-form .required label {
    font-weight: normal;
}

.newsletter-aboutmozilla .email-form .subscribe,
.newsletter-aboutmobile .email-form .subscribe,
.newsletter-thisweek .email-form .subscribe {
    width: 150px;
}

.newsletter-aboutmozilla .email-form .disclaimer,
.newsletter-aboutmobile .email-form .disclaimer,
.newsletter-thisweek .email-form .disclaimer {
    margin-left: 177px;
    font-size: .9em;
    padding-top: 5px;
}

/* }}} */
/* {{{ New Users on the Newsletter */

#newsletter-new #main-feature {
    padding-top: 20px;
}

#newsletter-new #sub-footer {
    display: none;
}

#newsletter-new #footer {
    margin-top: 80px;
}

#newsletter-new #newsletter-form {
    float: left;
    width: 100%;
    background: #fff;
    border: 1px solid #bdc6d7;
    padding: 0;
    margin: 2em 0;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -moz-box-shadow:    0 2px rgba(0, 0, 0, 0.1), 0 -2px rgba(99, 149, 185, 0.1) inset;
    -webkit-box-shadow: 0 2px rgba(0, 0, 0, 0.1), 0 -2px rgba(99, 149, 185, 0.1) inset;
    box-shadow:         0 2px rgba(0, 0, 0, 0.1), 0 -2px rgba(99, 149, 185, 0.1) inset;
}

#newsletter-new #basic-settings,
#newsletter-new #other-newsletters {
    float: left;
    width: 400px;
    padding: 20px 30px;
}

#newsletter-new .intro {
    font-size: 20px;
    color: #303030;
    line-height: 1.3;
}

#newsletter-new #newsletter-form label,
#newsletter-new #newsletter-form .field-label {
    width: 145px;
    padding-right: 10px;
}

#newsletter-new .field-radios,
#newsletter-new .field-contents {
    float: left;
    width: 245px;
}

#newsletter-new #newsletter-form .field-radios label {
    width: auto;
}

#newsletter-new #other-newsletters h3 {
    font-size: 14px;
    margin: 0;
}

#newsletter-new #other-newsletters table {
    border-collapse: collapse;
}

#newsletter-new #other-newsletters table td,
#newsletter-new #other-newsletters table th {
    padding: .5em .5em .5em 0;
    font-weight: normal;
    vertical-align: top;
}

#newsletter-new #other-newsletters table td {
    text-align: center;
}

#newsletter-new #other-newsletters table tbody tr {
    border-top: 1px solid #eee;
}

#newsletter-new #other-newsletters table h4 {
    font-size: 17px;
    margin: 0;
}

#newsletter-new #other-newsletters table p {
    font-size: 11px;
}

#newsletter-new #newsletter-form table input {
    float: none;
    width: auto;
}

#newsletter-new #newsletter-form .submit-field {
    clear: both;
    margin: 0;
    padding: 20px 30px 20px 490px;
}

#newsletter-new #newsletter-form .submit-field input {
    float: none;
}

#newsletter-new #newsletter-form .button {
    padding: 8px 20px;
    display: inline-block;
    width: auto;
    font-weight: bold;
    text-shadow: 1px 1px rgba(0,0,0,0.2);
    font-size: 16px;
}

#newsletter-social {
    margin: 1em 0;
    position: relative;
    clear: both;
}

#newsletter-social h4 {
    display: inline;
    margin: 0 7px 0 0;
    font-size: 17px;
}

#newsletter-social p {
    display: inline;
    margin: 0 7px 0 0;
}

#newsletter-social ul {
    display: inline;
    margin: 0;
    padding: 0;
}

#newsletter-social ul li {
    display: inline;
    margin: 0;
    padding: 0;
}

#newsletter-social ul li a {
    display: inline-block;
    padding: 5px 5px 5px 30px;
    background: url(/img/news/social-icons.png) 0 0 no-repeat;
    list-style-type: none;
    margin: 0;
    white-space: nowrap;
    font-size: 12px;
    font-style: italic;
    color: #484848;
}

#newsletter-social ul li#newsletter-twitter a {
    background-position: 0 -70px;
}

}
/* }}} */
