#newsletter #doc {
    background: transparent url(/img/news/example.png) no-repeat 580px 100px;
}

#newsletter #main-feature {
    padding-top: 60px;
}

#main-feature {
    width: 90%;
}
#newsletter #main-feature p {
    width: 500px;

}

#newsletter ul#email-form {
    left: auto;
    position: relative;
}

#newsletter ul#email-form li {
    list-style-type: none;
    padding: 0;
    background: none;
}

#email-form .field {
    clear: left;
    padding: 8px 0;
}

#email-form label,
#email-form .field-label {
    text-align: right;
    float: left;
    display: inline;
    width: 170px;
    padding: 3px 10px 5px 0;
}
#email-form .required label {
    font-weight: bold;
}
#email-form #format-field label {
    margin-left: 20px;
    width: auto;
    float: none;
}
#email-form #format-field input {
    width: auto;
    float: none;
}

#email-form input,
#email-form .field-radios,
#email-form select {
    float: left;
    display: inline;
    width: 200px;
    font-size: 13px;
}

#email-form #submit-field {
    margin-left: 177px;
}

#email-form #privacy-field {
    margin-left: 177px;
}

#email-form #extra-news-field {
    margin-left: 177px;
}

#email-form #privacy-field label span {
    float: left;
    padding: 2px;
    margin: 2px;
}

#email-form .form-error {
    width: 215px;
    position: absolute;
    top: 0;
    left: 420px;
}

#email-form p.form-error span {
    display: block;
    background: #b11a04;
    color: #fff;
    padding: 5px 15px;
    -moz-border-radius: 20px;
    font-size: 110%;
    font-style: italic;
    text-align: center;
    -moz-box-shadow: 0 2px 8px rgba(0,0,0,0.3);
}

#email-form #country-field select {
    margin: 2px;
}

#email-form #privacy-field input {
    vertical-align: text-top;
    float: none;
    width: inherit;
}

#email-form #privacy-field label {
    width: inherit;
}

#email-form label#privacy-check-label span.title {
    float: left;
    display: inline;
    padding-top: 5px;
}

#form-pane {
    background: #fff;
    width: 500px;
}

#success-pane {
    width: 300px;
    background: #fff url(/img/news/envelope.png) 135px 30px no-repeat;
    padding-left: 170px;
}

#success-pane h3 {
    background: url(/img/news/check.png) 100% 100% no-repeat;
    padding-top: 25px;
    padding-right: 30px;
    font-size: 138%;
    margin: 0;
}

#success-pane #stay-connected {
    display: inline-block;
    border: 0;
    background: url(/img/news/button.png) -166px 0 no-repeat;
    padding: 7px 10px 15px 10px;
    height: 33px;
    width: 148px;
    text-align: center;
    color: #0489b7;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 30px;
}

#email-form #subscribe {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 14px;
    padding: 8px 40px;
    margin-left: 4px;
    border: 0;
    display: block;
    -moz-box-shadow:    0 3px rgba(0,0,0,0.1), inset 0 -4px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 3px rgba(0,0,0,0.1), inset 0 -4px rgba(0,0,0,0.1);
    box-shadow:         0 3px rgba(0,0,0,0.1), inset 0 -4px rgba(0,0,0,0.1);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    color: #fff;
    overflow: visible;
    background: #669be1; /* old browsers */
    background: -moz-linear-gradient(top, #669be1 0%, #5784bf 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#669be1), color-stop(100%,#5784bf)); /* webkit */
    background: linear-gradient(top, #669be1 0%, #5784bf 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#669be1', endColorstr='#5784bf',GradientType=0 ); /* ie */
    -moz-transition:   box-shadow 0.2s ease-in-out;
    -webit-transition: box-shadow 0.2s ease-in-out;
    transition:        box-shadow 0.2s ease-in-out;
}

#email-form #subscribe:hover,
#email-form #subscribe:active {
    -moz-box-shadow:    0 3px rgba(0,0,0,0.15), inset 0 -4px rgba(0,0,0,0.15), inset 0 0 80px rgba(255,255,255,0.3);
    -webkit-box-shadow: 0 3px rgba(0,0,0,0.15), inset 0 -4px rgba(0,0,0,0.15), inset 0 0 80px rgba(255,255,255,0.3);
    box-shadow:         0 3px rgba(0,0,0,0.15), inset 0 -4px rgba(0,0,0,0.15), inset 0 0 80px rgba(255,255,255,0.3);
    -moz-transition:    box-shadow 0.2s ease-in-out;
    -webkit-transition: box-shadow 0.2s ease-in-out;
    transition:         box-shadow 0.2s ease-in-out;
}
#disclaimer {
    margin-left: 177px;
    font-size: 0.9em;
    clear: both;
}

/* {{{ about:mozilla and about:mobile*/

.newsletter-aboutmozilla #main-feature,
.newsletter-aboutmobile #main-feature {
    width: 90%;
    padding-bottom: 20px;
}

.newsletter-aboutmozilla h2 span,
.newsletter-aboutmobile h2 span {
    text-transform: lowercase;
}

.newsletter-aboutmozilla #main-feature p,
.newsletter-aboutmobile #main-feature p {
    line-height: 1.1em;
}

.newsletter-aboutmozilla #email-form .field {
    padding: 5px 0;
}

.newsletter-aboutmozilla #email-form .required label,
.newsletter-aboutmobile #email-form .required label {
    font-weight: normal;
}

.newsletter-aboutmozilla #email-form #subscribe,
.newsletter-aboutmobile #email-form #subscribe {
    width: 150px;
}

.newsletter-aboutmozilla #email-form #disclaimer,
.newsletter-aboutmobile #email-form #disclaimer {
    margin-left: 177px;
    font-size: .9em;
    padding-top: 5px;
}

/* }}} */