/* {{{ Main Feature */

#opportunities #main-feature {
    min-height: 310px;
    position: relative;
}

* html #opportunities #main-feature { height: 310px; }

#opportunities #main-feature h2 {
    padding-top: 55px;
    margin: 0;
    line-height: 1;
    font-size: 32px;
    width: 400px;
}

#opportunities #main-feature h2 span {
    font-size: 72.5px;
    line-height: 0.85;
}

#opportunities #main-feature h2 span em {
    display: block;
    font-size: 82px;
    font-style: normal;
}

#opportunities #main-feature p {
    font-style: italic;
    padding-bottom: 30px;
    width: 480px;
}

#opportunities #main-feature #video-player {
    position: absolute;
    top: 20px;
    right: 0;
    margin: 10px 0 10px 10px;
    padding: 15px;
    border: 1px solid #c9ddf2;
    -moz-box-shadow: 0 2px rgba(0, 0, 0, 0.05), 0 -2px rgba(0, 0, 0, 0.05) inset;
    -webkit-box-shadow: 0 2px rgba(0, 0, 0, 0.05), 0 -2px rgba(0, 0, 0, 0.05) inset;
    box-shadow: 0 2px rgba(0, 0, 0, 0.05), 0 -2px rgba(0, 0, 0, 0.05) inset;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    background: -moz-linear-gradient(top, #FFFFFF 0%, #F5F9FD 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#F5F9FD)); /* webkit */
    background: linear-gradient(top, #FFFFFF 0%, #F5F9FD 100%); /* firefox */
}

/* }}} */
/* {{{ Main Content */

#opportunities #main-content {
    background: url(/img/covehead/divider-notch.jpg) 50% 0 no-repeat;
    padding-top: 55px;
}

#opportunities .section {
    float: left;
    width: 410px;
    font-size: 16px;
    padding: 0 115px 30px 0;
}

#opportunities .section#involved {
    padding-right: 0;
}

#opportunities .section h2,
#opportunities .section h3 {
    font-size: 28px;
    margin: 0 0 5px 0;
}

#opportunities .section p {
    margin-bottom: 5px;
    margin-right: 20px;
}

#opportunities .section .button {
    display: inline-block;
    background-color: #FFFFFF;
    background-image: -moz-linear-gradient(#FFFFFF 95%, rgba(223, 239, 249, 0.15));
    border: 1px solid #BDC6D7;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    box-shadow: 0 2px rgba(0, 0, 0, 0.1), 0 -2px #E5EFF8 inset, 0 0 2px rgba(223, 239, 249, 0.8) inset, 0 -5px 10px rgba(223, 239, 249, 0.5) inset;
    line-height: 24px;
    list-style-type: none;
    margin: 10px 0 0;
    padding: 0;
    font-family: georgia, serif;
    font-size: 16px;
    color: #2a2a2a;
    font-style: italic;
    padding: 5px 12px 7px 15px;
    text-decoration: none;
    text-shadow: 0 1px #E2F2FA;
}

/* }}} */
