/* {{{ Main Feature */

#opportunities #main-feature {
    min-height: 280px;
    margin-right: 0;
    position: relative;
}

* html #opportunities #main-feature { height: 380px; }

#opportunities #main-feature h2 {
    padding-top: 55px;
    margin: 0;
    line-height: 1;
    font-size: 32px;
}

#opportunities #main-feature h2 span {
    font-size: 72.5px;
    line-height: 0.85;
}

#opportunities #main-feature h2 span em {
    display: block;
    font-size: 82px;
    font-style: normal;
}

#opportunities #main-feature p {
    font-style: italic;
    color: #303030;
    padding-bottom: 30px;
}

#opportunities #main-feature #video-player {
    position: absolute;
    top: 20px;
    right: 0;
    margin: 10px 20px 10px 10px;
    padding: 15px;
    border: 1px solid #c9ddf2;
    -moz-box-shadow: 0 2px rgba(0, 0, 0, 0.05), 0 -2px rgba(0, 0, 0, 0.05) inset;
    -webkit-box-shadow: 0 2px rgba(0, 0, 0, 0.05), 0 -2px rgba(0, 0, 0, 0.05) inset;
    box-shadow: 0 2px rgba(0, 0, 0, 0.05), 0 -2px rgba(0, 0, 0, 0.05) inset;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    background: -moz-linear-gradient(top, #FFFFFF 0%, #F5F9FD 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#F5F9FD)); /* webkit */
    background: linear-gradient(top, #FFFFFF 0%, #F5F9FD 100%); /* firefox */
}

/* }}} */
/* {{{ Main Content */

#opportunities #main-content {
    background: url(/img/covehead/divider-notch-main.jpg) 50% 0 no-repeat;
    padding-top: 55px;
}

#opportunities .section .section-content {
	width: 280px;
	padding-bottom: 50px;
	float: left;
}

#opportunities .section .section-content h2,
#opportunities .section .section-content h3 {
	font-size: 40px;
	margin: 0 0 30px 0;
	line-height: 36px;
}

#opportunities .section .section-image {
	width: 330px;
	float: left;
	padding-top: 20px;
	padding-bottom: 50px;
}

#opportunities .section .section-list {
	width: 310px;
	float: left;
	margin: 0;
	padding: 0 0 50px 19px;
}

#opportunities #privacy .section-list {
	padding-top: 20px;
}

#opportunities .section ul.section-list li {
	list-style-type: none;
	background: none;
	margin: 0;
	padding: 0 0 5px 0;
}

#opportunities .section ul.section-list h4 {
	margin: 0;
}

#opportunities .section ul.section-list p {
	font-size: 12px;
	margin-bottom: 4px;
}

#opportunities .section .top-link {
	clear: left;
}

#opportunities .section .top-link a {
    background: url(/img/firefox/page-top.png) 0 0 no-repeat;
    height: 20px;
    display: inline-block;
    padding-left: 25px;
    font-size: 12px;
}

#opportunities #mission .section-image {
	text-align: center;
}

#opportunities #mission .section-image img {
	margin: 30px;
}

/* }}} */
