/* {{{ Main Features and Sidebar */

#firefox-performance #main-feature {
    padding-top: 55px;
}

#firefox-performance #main-feature p {
    width: 600px;
	font-size: 18px;
}


#firefox-performance .footnote {
	font-size: 11px;
    color: #999;
    clear: both;
    margin: 30px 10px 10px 15px;
}

/* }}} */
/* {{{ Navigation */

.feature-links {
	overflow: auto;
	zoom: 1;
	margin: 0;
	padding: 15px 100px;
	background: url(/img/firefox/security/menu-background.png) 0 0 no-repeat;
}

.feature-links li {
	text-align: center;
	display: inline;
	float: left;
	background: none;
	list-style-type: none;
	margin: 0 60px;
	padding: 0 1px;
}

.feature-links li a,
.feature-links li a:link,
.feature-links li a:visited {
	color: #484848;
	display: block;
	padding: 0 0 2px;
}

.feature-links li a .feature-link-content,
.feature-links li a:link .feature-link-content,
.feature-links li a:visited .feature-link-content {
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.feature-links li a .feature-link-content {
	background: url(/img/covehead/firefox/performance/menu-icons.png) 50% 0 no-repeat;
	display: block;
	width: 120px;
	font-size: 14px;
	font-style: italic;
	line-height: 16px;
	text-align: center;
	padding: 110px 0 10px;
	cursor: pointer; /* For IE */
	position: relative;
	top: 0;
}

.feature-links li a:hover .feature-link-content {
	top: -8px;
	-webkit-transition: all 0.1s ease-in;
	-moz-transition: all 0.1s ease-in;
	transition: all 0.1s ease-in;
}

.feature-links li a:active .feature-link-content {
	top: -5px;
	-webkit-transition: all 0.1s ease-in;
	-moz-transition: all 0.1s ease-in;
	transition: all 0.1s ease-in;
}

.feature-links li#firefox-performance-mission {
	margin-right: 0;
}

.feature-links li a span {
	display: block;
}

#firefox-performance #main-feature ul li#perf-app a .feature-link-content { background-position: 50% -250px; }
#firefox-performance #main-feature ul li#perf-hardware a .feature-link-content { background-position: 50% -500px; }

/* }}} */
/* {{{ Main Content */

#firefox-performance #web {
	background: url(/img/covehead/divider-notch-main.jpg) 50% 0 no-repeat;
	padding-top: 55px;
}

#firefox-performance .section {
	background: url(/img/covehead/divider-notch.jpg) 50% 0 no-repeat;
	padding: 40px 0 0 0;
	clear: both;
	overflow: auto;
	zoom: 1;
}

#firefox-performance .section .section-content {
	width: 280px;
	padding-bottom: 50px;
    margin-right: 100px;
	float: left;
    display: inline;
}

#firefox-performance .section .section-video {
    width: 480px;
    float: left;
    margin-top: 30px;
}

#firefox-performance .section .section-image {
    margin-top: 30px;
    float: left;
}

#firefox-performance .section .section-content h3 {
	font-size: 28px;
	margin: 0 0 30px 0;
}

#firefox-performance .section .section-content h3 span {
    font-size: 50px;
    line-height: 38px;
}
/* }}} */
/* {{{ Performance Chart */

#performance-chart {
    float: left;
    width: 550px;
}

#performance-chart th,
#performance-chart td {
    padding: 4px 4px 6px 4px;
}

#performance-chart tr.kraken-36 th,
#performance-chart tr.kraken-4 th,
#performance-chart tr.sunspider-36 th,
#performance-chart tr.sunspider-4 th,
#performance-chart tr.v8-36 th,
#performance-chart tr.v8-4 th { width: 100px; }

#performance-chart tr.kraken-36 td,
#performance-chart tr.kraken-4 td,
#performance-chart tr.sunspider-36 td,
#performance-chart tr.sunspider-4 td,
#performance-chart tr.v8-36 td,
#performance-chart tr.v8-4 td { width: 450px; }

#performance-chart th {
    font-size: 24px;
    color: #484848;
    font-weight: normal;
    padding-right: 10px;
}

#performance-chart td span {
    display: inline-block;
    width: 400px;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    text-align: right;
    padding: 7px 0 7px 0;
    -moz-box-shadow:    0 2px rgba(0,0,0,0.1), inset 0 -3px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 2px rgba(0,0,0,0.1), inset 0 -3px rgba(0,0,0,0.1);
    box-shadow:         0 2px rgba(0,0,0,0.1), inset 0 -3px rgba(0,0,0,0.1);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #666;
    line-height: 20px;
    font-size: 12px;
    background-image: -moz-linear-gradient(top, #979797 0%, #7a7a7a 100%); /* firefox */
}

#performance-chart tr.winner td span {
    background-color: #fa7701;
    background-image: -moz-linear-gradient(top, #ff7e0a 0%, #d46501 100%); /* firefox */
    -moz-box-shadow:    0 2px rgba(0,0,0,0.1), inset 0 -3px rgba(0,0,0,0.1), 0 0 12px 1px #ffc000;
    -webkit-box-shadow:    0 2px rgba(0,0,0,0.1), inset 0 -3px rgba(0,0,0,0.1), 0 0 12px 1px #ffc000;
    box-shadow:    0 2px rgba(0,0,0,0.1), inset 0 -3px rgba(0,0,0,0.1), 0 0 12px 1px #ffc000;
}

#performance-chart tr.winner td span em {
    font-size: 16px;
    font-style: normal;
}

#performance-chart tr.note td {
    font-size: 16px;
    color: #ea6401;
    padding-bottom: 20px;
}

/* }}} */
