/* {{{ Main Feature */

#firefox-addons #main-feature,
#mobile-addons #main-feature {
    padding-top: 55px;
}

#firefox-addons #main-feature p.main-feature-sub-title,
#mobile-addons #main-feature p.main-feature-sub-title {
    width: 600px;
}

/* }}} */
/* {{{ Top Features */

.feature-links {
    float: left;
    background: url(/img/covehead/features/dottedline-background.png) 0 -30px no-repeat;
    margin: 0;
    padding: 30px 0 28px;
}

#mobile-addons .feature-links {
    padding: 30px 98px;
}

.feature-links li {
    text-align: center;
    display: inline;
    float: left;
    list-style-type: none;
    margin: 0 5px 0 0;
    padding: 0 1px;
}

#mobile-addons .feature-links li {
    margin: 0 60px;
}

.feature-links li a,
.feature-links li a:link,
.feature-links li a:visited {
    color: #484848;
    display: block;
    padding: 0 0 2px;
}

.feature-links li a .feature-link-content,
.feature-links li a:link .feature-link-content,
.feature-links li a:visited .feature-link-content {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.feature-links li a .feature-link-content {
    background: url(/img/covehead/add-ons/menu-icons.png) 50% 0 no-repeat;
    display: block;
    width: 125px;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
    text-align: center;
    padding: 110px 0 1px;
    cursor: pointer; /* For IE */
    position: relative;
    top: 0;
}

.feature-links li a:hover .feature-link-content {
    top: -8px;
    -webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
}

.feature-links li a:active .feature-link-content {
    top: -5px;
    -webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
}

.feature-links li a span {
    display: block;
}

.feature-links li#cust-addons a .feature-link-content { background-position: 50% -250px; }
.feature-links li#cust-plugins a .feature-link-content { background-position: 50% -500px; }
.feature-links li#cust-interface a .feature-link-content { background-position: 50% -750px; }
.feature-links li#cust-sync a .feature-link-content { background-position: 50% -1000px; }

#top-features {
    zoom: 1;
    float: right;
    width: 150px;
    margin: -100px 0 50px 0;
    padding: 15px 20px 20px;
    background: #fff;
    border: #d7d9e8 1px solid;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -moz-box-shadow: 0 2px rgba(0, 0, 0, 0.05), 0 -2px rgba(0, 0, 0, 0.05) inset;
    -webkit-box-shadow: 0 2px rgba(0, 0, 0, 0.05), 0 -2px rgba(0, 0, 0, 0.05) inset;
    box-shadow: 0 2px rgba(0, 0, 0, 0.05), 0 -2px rgba(0, 0, 0, 0.05) inset;
}

#top-features h3 {
    font-size: 18px;
    margin: 0;
    color: #3a4692;
    line-height: 1;
}

#main-feature #top-features p {
    font-size: 13px;
    margin: 0;
}

#top-features ul {
    margin: 5px 0 0 0;
    line-height: 30px;
    zoom: 1;
}

#top-features ul li {
    position: relative;
    list-style: none;
    zoom: 1;
}

#top-features ul li a {
    display: inline;
    zoom: 1;
}

/* IE whitespace hack */
#top-features ul li a {
    display: inline-block\9
}

#top-features .top-feature-hover {
    display: none;
    position: absolute;
    bottom: -23px;
    left: -224px;
    padding: 20px 30px 28px 35px;
    width: 154px;
    height: 84px;
    border-radius: 15px;
    -moz-border-radius: 15px;
    background: url(/img/firefox/features/bubble.png);
    background: url(/img/firefox/features/bubble-256.png)\9; /* IE8 and below */
}

#top-features .top-feature-hover p {
    font-size: 11px;
    color: #fff;
}

#top-features .top-feature-hover h3 {
    font-size: 11px;
    font-weight: bold;
    margin: 0 0 6px 0;
    color: #fff;
}

/* }}} */
/* {{{ General Features */

#content {
    clear: both;
    margin-top: 50px;
}

.features-container {
    clear: both;
    padding: 55px 0;
    background: url(/img/covehead/divider-notch.jpg) top center no-repeat;
    position: relative;
    overflow: auto;
}

.features-container .features-image img {
    float: right;
}

#style {
    background-image: url(/img/covehead/divider-notch-main.jpg);
}

#mobile-addons #style {
    background-image: url(/img/covehead/divider-notch.jpg);
}

#mobile-addons #addons {
    background-image: url(/img/covehead/divider-notch-main.jpg);
}

h3 {
    font-size: 40px;
    line-height: 1em;
}

h4 {
    font-size: 22px;
    margin: 0;
}

h5 {
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    margin: 0;
}

hr {
    clear: both;
    background: url(/img/covehead/divider-dotted.png) top center repeat-x;
    margin: 25px 0;
    padding: 2px;
    border: 0;
}

.addon-intro {
    float: left;
    width: 230px;
}

.addon-intro h3 {
    font-size: 32px;
    line-height: 1em;
    margin: 0 0 0.5em 0;
}

#addons-feature,
#video-player {
    width: 640px;
    float: left;
    display: inline;
    margin-left: 70px;
}

#builder-link {
    margin: 20px 0;
    text-align: right;
}


/* }}} */
/* {{{ Personas List */

#try-on {
    padding-bottom: 0;
    padding-left: 345px;
}

#try-on.fx36 {
    padding-left: 358px;
}

#try-on p {
    padding-right: 40px;
    background: url(/img/covehead/add-ons/arrow.png) 100% 50% no-repeat;
    min-height: 26px;
    margin: 0;
    letter-spacing: -0.01em;
    line-height: 1.3;
    float: left;
}

iframe {
    border: 0;
}

#persona-previews {
    float: right;
    width: 650px;
}

.persona-previewer {
    clear: both;
}

.persona-previewer-content {
    float: left;
    margin: 4px 0 25px 0;
}

.persona-previewer-content div {
    display: none;
}

.persona-previewer-content div.persona-visible {
    display: block;
}

ul.persona-previewer-tabs {
    padding: 20px 0 0;
    margin: 0;
    left: 0;
    position: static;
    list-style: none;
}

ul.persona-previewer-tabs li {
    background: 0;
    padding: 0;
    display: block;
    list-style: none;
    float:left;
    height: 46px;
    margin: 0 8px 10px 2px;
    width: 138px;
}

ul.persona-previewer-tabs li a,
ul.persona-previewer-tabs li img {
    display: block;
}

ul.persona-previewer-tabs li .selected {
    outline: 2px solid #79b;
}

#see-all-personas {
    clear: left;
    margin-left: 350px;
    width: 220px;
    text-align: center;
    font-size: 15px;
}

/* }}} */
