#main-feature {
	padding-top: 50px;
	min-height: 240px;
}

* html #main-feature { height: 240px; }

#main-feature p {
	line-height: 1.2em;
	margin-right: 300px;
}

#phishing-protection #wrapper {
	background: url(/img/covehead/firefox/background-phishing.jpg) top center no-repeat;
}

#main-content {
	background: url(/img/covehead/divider-main.jpg) top center no-repeat;
	margin-top: 20px;
	padding-top: 20px;
	padding-right: 300px;
}

#main-content h3 {
	margin-top: 10px;
	font-size: 28px;
}

#main-content h3 span {
	font-size: 165%;
	line-height: 0.8em
}
