/* General Layout */

#content-left {
	width: 500px;
	margin-bottom: 30px;
	padding-left: 10px;
	padding-right: 30px;
	float: left;
}

#legend { padding: 0 5px; }
#legend li { margin-left: 12px; }

/* Sidebar */
#sidebar {
	width: 385px;
    margin-top: 0;
	margin-bottom: 30px;
}


/* Browser Tables */
table.compat {
	color: #666; /* #9d9992 */
	font-weight: bold;
	margin-top: 15px;
    border-spacing: 0;
    border-collapse: collapse;
    margin-bottom: 20px;
    width: 100%;
}

table.compat thead th {
	color: #333;
	font-family: MetaBlack, Trechuchet MS, sans-serif;
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
    padding: 5px 20px;
}

table.compat thead th.browser {
    padding-left: 0;
}

table.compat th,
table.compat td {
	padding: 5px 10px;
	border-bottom: solid 1px #CCC;
}

table.compat td.ver {
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
}

table.compat tbody td {
    text-align: center;
    padding: 10px;
}

table.compat tbody th {
    text-align: left;
    padding-left: 0;
}

table.compat tbody td.note {
    text-align: left;
    font-weight: normal;
    border: 0;
}


#information-content h3 {
    line-height: 0.9;
}
