/* General Layout */

#plugin-check #doc {
	background: url(/img/covehead/plugincheck/background.png) 280px 36px no-repeat;
}

#main-feature {
	height: 199px;
	padding-top: 35px;
}

#main-feature p {
	width: 310px;
	font-size: 19px;
	margin-bottom: 10px;
	letter-spacing: -0.02em;
}

#main-content {
	background: url(/img/covehead/divider-main.jpg) top center no-repeat;
	margin-top: 20px;
	margin-left: 10px;
	padding-top: 20px;
}

.blocklisted { 
    background-color: #cbe2f4;
    -moz-border-radius: 8px;
    padding: 8px 25px;
    display: none;
}
    .blocklisted h3 { 
        float: left;
        line-height: 1;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .blocklisted p { 
        float: left; 
        width: 60%;
        margin-top: 8px;
        margin-left: 25px;
    }
.clearfix { clear: both; }

#content-left {
	width: 667px;
	margin-bottom: 60px;
	float: left;
}

#legend,
#error-panel {
	margin-left: 10px;
}

#legend li {
	list-style-type: none;
	margin: 0 0 5px 0;
}

/* Sidebar */
#sidebar {
	float: left;
	width: 235px;
	margin-right: 0;
	margin-left: 20px;
	margin-top: 25px;
}

#sidebar ul { margin: 10px 0 20px 15px; }
#sidebar ul li { margin: 0 0 4px 0; }

/* Main Table */
table.status {
	width: 652px;
	color: #9d9992;
	line-height: 1;
	margin-top: 15px;
}

table.status th {
	color: #4b4742;
	padding-bottom: 5px;
	font-family: MetaBlack, Trechuchet MS, sans-serif;
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
}

table.status th,
table.status td {
	padding-left: 10px;
}

table.status tr.link-row td {
	padding-top: 15px;
	padding-bottom: 15px;
}

table.status tr.link-row { background: url(/img/covehead/plugincheck/divider.png) center top repeat-x; }

table.status tfoot tr.link-row { background: none; }

table.status h4 {
	color: #69645c;
	margin-top: 20px;
	margin-bottom: 0;
	font-style: normal;
	line-height: 1;
}

table.status h4 a {
	font-family: georgia, serif;
	color: #69645C;
}

table.status tr.odd td { background: #f7f7f5; }

table.status th.action { width: 140px; }

table.status td.status {
	width: 142px;
	line-height: 1.25;
}

table.status .icon {
	float: left;
	margin: 6px 15px 6px 0;
	width: 60px;
	height: 60px;
}

table.status span,
table.status .vulnerable,
table.status a {
	font-family: "trebuchet ms", verdana, sans-serif;
}
.qtip-closer { float: right;}
.version {
	display: block;
	width: 340px;
	line-height: 1.3;
	margin-left: 75px;
	font-size: 11px;
	padding-bottom: 5px;
}
table.status .vulnerable { color: #d15a3a; }

img.progress { width: 43px; height: 11px; margin-left: 1em;}

/* Button Styles */
table.status a.button {
	display: block;
	background: url(/img/covehead/plugincheck/button-background.png) repeat-x;
	height: 36px;
	border-style: solid;
	border-width: 1px;
	cursor: pointer;
	color: #fff;
	text-decoration: none;
	margin-right: 12px;

	-moz-border-radius: 9px;
	-moz-box-shadow: 3px 2px 7px #aaa;
}

table.status a.button:hover { text-decoration: underline; }

table.status a.button span {
	padding-left: 30px;
	padding-right: 10px;
	padding-top: 9px;
	display: block;
	min-height: 30px;
	margin-top: 3px;
	margin-left: 7px;
	white-space: nowrap;
}

table.status a.orange {
	background-color: #c8330e;
	background-position: 0px 0px;
	border-color: #e8afa1 #f1a795 #f1a795 #e8afa1;
}

table.status a.orange span { background: url(/img/covehead/plugincheck/button-background.png) 0px -192px no-repeat; }

table.status a.green {
	background-color: #63b30d;
	background-position: 0px -55px;
	border-color: #a1c59a #b2d8a9 #b2d8a9 #a1c59a;
}

table.status a.green span { background: url(/img/covehead/plugincheck/button-background.png) 0px -232px no-repeat; }

table.status a.yellow {
	background-color: #b6990d;
	background-position: 0px -100px;
	border-color: #cec184 #e6dba7 #e6dba7 #cec184;
}

table.status a.yellow span { background: url(/img/covehead/plugincheck/button-background.png) 0px -272px no-repeat; }

table.status a.grey {
	background-color: #76716a;
	background-position: 0px -155px;
	border-color: #999 #ccc #ccc #999;
}

table.status a.grey span { background: url(/img/covehead/plugincheck/button-background.png) 0px -312px no-repeat; }

/* Information Content */
#information-content,
.badge-content {
	background: url(/img/covehead/divider-main.jpg) top center no-repeat;
	clear: both;
	margin: 50px 20px 10px 10px;
	margin-top: 50px;
	padding-top: 20px;
}

#information-content h3,
.badge-content h3 {
	margin: 20px 0 5px 0;
}

#information-content h2,
.badge-content h2 {
	margin: 0;
	font-size: 28px;
	line-height: 0.9;
}

#information-content h2 span,
.badge-content h2 span {
	font-size: 44px;
}

#information-content .return-link, .badge-content .return-link {
	text-align: right;
	padding-right: 15px;
}

#information-content ul, .badge-content ul {
	margin: 0 0 15px 15px;
}

#information-content ol, .badge-content ol {
	margin-left: 0;
}

.badge-content {
	float: left;
	background: url(/img/covehead/divider-main.jpg) top center no-repeat;
	margin-top: 50px;
	padding-top: 20px;
}

#column-one,
#column-two, .left-column, .right-column {
	float: left;
	margin-top: 25px;
	width: 407px;
}

#column-one, .left-column {
	margin-right: 40px;
	width: 432px;
}

#more-questions {
	line-height: 0.8;
}

#more-questions span {
	font-size: 26px;
}

.full-column {
	margin-left: 10px;
}

.divider-bottom {
	margin-top: 40px;
	margin-left: -15px;
}

.web-badge-code {
	width: 20em;
	font-family: monospace;
}
.web-badge-code.code728 {
	width: 40em;
}
