/* {{{ Press Center */

#press #doc,
#press-releases #doc,
#ataglance #doc {
	background: url(/img/covehead/press/background-landing.png) no-repeat 550px 80px;
}

#press-releases #main-feature,
#press #main-feature {
    min-height: 245px;
	background: url(/img/covehead/divider-main.jpg) 50% 100% no-repeat;
}
* html #press #main-feature { height: 245px; /* Hack for IE6 */ }

#main-content dl { margin: 0; }


#press #main-content {
    margin-right: 10px;
    margin-top: -15px;
    float: left;
    display: inline;
    width: 650px;
}

#press #main-content h3 {
    margin: 0;
    line-height: 20px;
}

#press-contact {
	font-size: 110%;
	padding-top: 70px;
	padding-left: 35px;
}

#press #press-contact p,
#press #press-contact h3 {
	margin: 0 0 5px 0;
}

#press #press-releases ul.feed-items {
    margin: 0;
    padding: 0;
}

#press #press-releases ul.feed-items li {
    position: relative;
    margin: 15px 0 20px 0;
    padding: 0 0 20px 0;
    list-style-type: none;
    border-bottom: 1px solid #ccc;
}

#press #press-releases ul.feed-items li:last-child {
    border-bottom: 0;
}

#press #press-releases ul.feed-items li h4 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-style: italic;
}

#press #press-releases ul.feed-items li .date {
    display: block;
    font-style: italic;
}

#press #press-releases ul.feed-items li .summary {
    margin: 15px 0 5px 0;
    padding: 0;
    background: none;
    font-size: 100%;
}
#press #press-releases ul.feed-items li .meta {
    margin: 0; padding: 0;
    text-align: right;
}

#press #press-releases dl {
	margin-left: 15px;
}

#press #press-releases dd {
	margin: 0 0 22px 0;
}


#press #press-releases dt {
	font-size: 110%;
	margin: 22px 0 0 0;
        position: relative;
}

#press #press-sources {
	margin: 20px 0 0 5px;
}

#press #press-sources h4 {
	color: #807970;
	display: block;
	margin-bottom: 8px;
}

#press #press-sources dl {
	margin: 30px 0 65px 0;
	position: relative;
	left: -15px;
	background: url(/img/tignish/press/image-divider.png) repeat-x left top;
}

#press #press-sources dl dt {
        position: relative;
	padding-top: 27px;
	clear: both;
}

#press-sources a.feed {
        background: url(/img/tignish/press/rss-icon.png) right 50% no-repeat;
        width: 18px;
        text-indent: 20px;
        overflow: hidden;
}


#press #press-sources dt img {
	float: left;
	display: inline;
	margin-right: 10px;
	position: relative;
}

#press #press-sources dl dd {
	padding-bottom: 32px;
	margin: 0;
	background: url(/img/tignish/press/image-divider.png) repeat-x left bottom;
}

.commons-license {
	font-size: 85%;
}

.commons-license img { vertical-align: middle; }

/* }}} */
/* {{{ Press Sidebar */

#sidebar {
	float: right;
    display: inline;
    margin-right: 25px;
	width: 215px;
	padding-left: 15px;
    margin-top: -20px;
}

#sidebar h3 {
	margin: 0;
}

#sidebar h4 {
    margin: 0;
    line-height: 22pi;
    font-size: 22px;
}

#sidebar h4 span {
    font-size: 26px;
}

#sidebar #press-side,
#sidebar #press-side-title {
    margin-left: 20px;
}

#sidebar ul li {
    list-style-type: none;
    padding: 5px 0;
}

#sidebar ul {
    margin: 0;
}

#sidebar ul {
    margin: 0;
    padding: 5px 0 0 0;
}

#sidebar ul li li {
    list-style-type: disc;
    margin-left: 20px;
}

#sidebar ul img { float: left; }

#sidebar #sidebar-box {
    margin: 25px 0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: #CCE2F3;
    padding: 20px 20px 15px;
}

#sidebar #sidebar-box h3 {
    line-height: 0.8;
}

#sidebar #sidebar-box p {
    font-size: 13px;
    margin: 5px 0;
}

#sidebar #sidebar-box .social {
    margin-bottom: 20px;
}

#sidebar #sidebar-box .social li a {
    background: url(/img/sprite-16.png) 0 0 no-repeat;
    display: block;
    padding: 2px 2px 2px 20px;
}

#sidebar #sidebar-box .social li.facebook a { background-position: 0 -40px; }
#sidebar #sidebar-box .social li.flickr   a { background-position: 0 -280px; }
#sidebar #sidebar-box .social li.feed     a { background-position: 0 -240px; }

/* }}} */
/* {{{ Press Releases Archive */

#press-releases table.news {
    border-collapse: collapse;
    border-spacing: 0;
}

#press-releases table.news td {
	vertical-align: top;
	padding: 25px 5px;
    border-bottom: 1px solid #ccc;
}

#press-releases table.news h3 {
	margin: 0 0 5px 0;
	font-size: 137%;
}

#press-releases #content {
	margin-right: 250px;
}

/* }}} */
/* {{{ Image Library */

#images #doc {
	background: url(/img/tignish/press/background-images.png) no-repeat 20px 125px;
}

#images #main-feature { min-height: 200px; }
* html #images #main-feature { height: 200px; /* Hack for IE6 */ }

#images #column1 {
	float: left;
	display: inline;
	width: 360px;
	margin-right: 40px;
	padding-bottom: 20px;
}

#images #column2 {
	float: left;
	display: inline;
	width: 300px;
	padding-bottom: 20px;
	position: relative;
}

#images #column2 h5 {
	margin: 0;
	color: #afaba3;
}

#column1 .note { color: #afaba3; }

#moz-logos { clear: both; }

#images table.logos,
#images table.people,
#images table.video,
#images table.screenshots {
	color: #afaba3;
	font-size: 85%;
}

#images table#firefox-logos {
	width: 680px;
}

#images table.logos td,
#images table.people td,
#images table.video td,
#images table.screenshots td {
	vertical-align: top;
	padding: 0 35px 25px 0;
}

#images table div { line-height: 1.4; }

#images #logos h4 {
	background: url(/img/tignish/content/divider.png) top left no-repeat;
	padding-top: 40px;
	color: #807970;
	font-size: 165%;
}

.image-section,
#logos,
#photos,
#video,
#firefox-images,
#thunderbird-images,
#fashion-images {
	position: relative;
	left: -15px;
	padding-left: 15px;
	background: url(/img/tignish/press/press-images-container-footer.png) bottom left no-repeat;
	padding-bottom: 30px;
	margin-bottom: 60px;
}

.image-section h3,
#photos h3,
#video h3,
#firefox-images h3,
#thunderbird-images h3,
#fashion-images h3 {
	position: relative;
	left: -15px;
	padding-left: 15px;
	background: url(/img/tignish/press/press-images-container-header.png) top left no-repeat;
	padding-top: 30px;
}

/* }}} */
/* {{{ Awards */

#awards #doc {
	background: url(/img/covehead/press/background-awards.png) no-repeat 450px 100px;
}

#awards #main-feature {
	background: url(/img/covehead/divider-main.jpg) no-repeat 50% 100%;
    padding-bottom: 100px;
	height: 140px;
}

#awards #main-content {
	width: 650px;
	margin-top: -20px;
	float: left;
}


#awards #thunderbird-awards {
	clear: both;
	background: url(/img/covehead/divider-main.jpg) no-repeat 50% 0;
	margin: 0 20px;
	padding: 40px 280px 0 0;
}

#awards .firefox-awards,
#awards #thunderbird-awards {
	position: relative;
	left: -15px;
}

#awards .firefox-awards h3,
#awards #thunderbird-awards h3 {
	margin: 0;
	padding: 0 15px;
    line-height: 1;
}

#awards #thunderbird-awards h2 {
	padding-top: 50px;
	float: left;
	width: 480px;
}

#awards .firefox-awards ul,
#awards #thunderbird-awards ul {
	float: left;
	width: 400px;
	margin: 0 0 50px 0;
	padding: 0 15px 50px 15px;
	left: auto;
}

#awards .firefox-awards ul li,
#awards #thunderbird-awards ul li {
	background: none;
	margin: 15px 70px 15px 0;
	padding: 0;
    list-style-type: none;
    font-style: italic;
}

#awards .firefox-awards ul li a,
#awards #thunderbird-awards ul li a {
    display: block;
    font-size: 16px;
}

#awards .firefox-awards ul.firefox-award-images { margin-top: 25px; }

#awards .firefox-awards ul.firefox-award-images,
#awards #thunderbird-awards ul.thunderbird-award-images {
	background: none;
	float: right;
	width: 150px;
}

#awards .firefox-awards ul.firefox-award-images li,
#awards #thunderbird-awards ul.thunderbird-award-images li {
	text-align: center;
	margin: 0;
	padding: 20px 0;
}

/* }}} */
/* {{{ Press Kit Page */

#press-kits #main-feature { height: 165px; }

#press-kits #content #press-kit-menu {
    margin: 0 0 0 -20px;
    padding: 0 10px;
	overflow: hidden;
	background: url(/img/covehead/press/background-kit-menu.png) 0 0 no-repeat;
	height: 85px;
	width: 667px;
}

#press-kit-menu li {
    float: left;
    list-style-type: none;
	margin: 50px 10px 0 10px;
}

#press-kit-menu li a,
#press-kit-menu li span {
    display: block;
    float: left;
    padding: 10px 30px 20px 30px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#press-kit-menu li span {
	background: #fff;
	border: 1px solid #ccdaf0;
	-moz-box-shadow: 0 0 8px rgba(156, 173, 202, 0.5);
}


#press-kits .kit-first {
    clear: left;
    float: left;
    width: 300px;
	padding-right: 40px;
}

#press-kits .kit-second {
    float: left;
    width: 300px;
}

#press-kits #content h4 {
    margin-bottom: 0;
}

#press-kits #content ul {
    margin-left: 20px;
}

/* }}} */
/* {{{ Reviewer's Guide License Page */

#guide-license #main-feature {
    padding-bottom: 30px;
}

#guide-license #main-feature h2 {
    font-size: 32px;
    line-height: 0.9;
}

#guide-license #main-feature h2 span {
    font-size: 68px;
}

#guide-license #main-content {
    width: 700px;
}

/* }}} */
/* {{{ At a Glance */

#ataglance #main-feature {
	min-height: 190px;
	background: url(/img/covehead/divider-main.jpg) no-repeat 0 100%;
	padding-bottom: 60px;
}

* html #ataglance #main-feature {
	height: 190px;
}

.ataglance-items ul {
	margin-top: 5px;
	margin-bottom: 5px;
}

.ataglance-items li ul li {
	background: none;
	padding-bottom: 0;
	margin-bottom: 0;
	list-style-type: disc;
}

#ataglance #main-content {
	width: 650px;
	margin-top: -20px;
	float: left;
}

#ataglance #sidebar #download-card-section {
	margin-top: 20px;
}

/* {{{ download messaging card button */

a#download-card,
a#download-card:link,
a#download-card:visited {
	font-family: "Trebuchet MS", sans-serif;
	font-size: 14px;
	display: block;
	-moz-box-shadow:    0 3px rgba(0,0,0,0.1), inset 0 -4px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 3px rgba(0,0,0,0.1), inset 0 -4px rgba(0,0,0,0.1);
	box-shadow:         0 3px rgba(0,0,0,0.1), inset 0 -4px rgba(0,0,0,0.1);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	color: #fff;
	overflow: visible;
	background: #669be1; /* old browsers */
	background: -moz-linear-gradient(top, #669be1 0%, #5784bf 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#669be1), color-stop(100%,#5784bf)); /* webkit */
	background: linear-gradient(top, #669be1 0%, #5784bf 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#669be1', endColorstr='#5784bf',GradientType=0 ); /* ie */
	-moz-transition:   box-shadow 0.2s ease-in-out;
	-webit-transition: box-shadow 0.2s ease-in-out;
	transition:        box-shadow 0.2s ease-in-out;
}

a#download-card span {
	display: block;
	background: url(/img/firefox/download-arrow.png) 10px 11px no-repeat;
	padding: 8px 8px 8px 30px;
}


a#download-card:hover,
a#download-card:active {
	-moz-box-shadow:    0 3px rgba(0,0,0,0.15), inset 0 -4px rgba(0,0,0,0.15), inset 0 0 80px rgba(255,255,255,0.3);
	-webkit-box-shadow: 0 3px rgba(0,0,0,0.15), inset 0 -4px rgba(0,0,0,0.15), inset 0 0 80px rgba(255,255,255,0.3);
	box-shadow:         0 3px rgba(0,0,0,0.15), inset 0 -4px rgba(0,0,0,0.15), inset 0 0 80px rgba(255,255,255,0.3);
	-moz-transition:    box-shadow 0.2s ease-in-out;
	-webkit-transition: box-shadow 0.2s ease-in-out;
	transition:         box-shadow 0.2s ease-in-out;
}

/* }}} */

/* }}} */
/* {{{ Speaker Request Form */

#speaker-request #main-feature p {
	width: 600px;
}

#speaker-request #main-feature {
	background: url(/img/covehead/divider-main.jpg) no-repeat 0 100%;
	padding-bottom: 60px;
}

#speaker-request #main-content {
	float: left;
	width: 640px;
}

#speaker-request .hidden {
	display: none;
}

#speaker-request #required-text {
	text-align: right;
}

#speaker-request #request-form {
	width: 655px;
	position: relative;
}

#speaker-request #request-form #errors,
#speaker-request #request-form div.error {
	background-color: #c33f3f;
	border: 1px solid #991616;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	color: #fff;
	margin-bottom: 10px;
}

#speaker-request #request-form div.error label {
	color: #fff;
}

#speaker-request #request-form .msg {
	zoom: 1;
	clear: both;
	margin-left: 230px;
	font-weight: bold;
}

#speaker-request #request-form .field {
	clear: both;
	padding: 20px;
}

#speaker-request #request-form h3,
#speaker-request #request-form h4,
#speaker-request #request-form label {
	width: 210px;
}

#speaker-request #request-form label {
	padding: 3px 20px 0 0;
	text-align: right;
	float: left;
	font-size: 14px;
	color: #000;
}

#speaker-request #request-form #presentation_type_field .inputs label {
	width: auto;
	padding-right: 0;
	text-align: left;
	float: none;
}

#speaker-request #request-form h3 {
	margin: 2em 0 0 0;
	text-align: right;
	font-size: 19px;
}

#speaker-request #request-form h4 {
	text-align: right;
	font-style: normal;
	font-size: 16px;
	margin: 1em 0 -10px 0;
}

#speaker-request #request-form label span {
	display: block;
	color: #aaa;
	font-size: 12px;
}

#speaker-request #request-form label span.required,
#speaker-request span.required {
	display: inline;
	color: #f8b666;
}

#speaker-request #request-form .inputs {
	float: left;
	width: 300px;
}

#speaker-request #request-form textarea {
	height: 6em;
}

#speaker-request #speaker_1_field label,
#speaker-request #speaker_2_field label {
	color: #999;
}

#speaker-request #event_date_time_field p {
	margin-bottom: 3px;
}

#speaker-request #form-footer {
	clear: both;
	width: 530px;
	text-align: right;
	padding: 50px 0;
}

#speaker-request #recaptcha h3

#speaker-request div.clear-all {
	clear: both;
}

/* {{{ Submit Button */
#speaker-request #form-footer input {
	float: right;
	border: 0;
	width: 190px;
	height: 3em;
	font-size: 14px;
	font-weight: bold;
	font-family: "Trebuchet MS", sans-serif;
	font-size: 14px;
	display: block;
	-moz-box-shadow:    0 3px rgba(0,0,0,0.1), inset 0 -4px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 3px rgba(0,0,0,0.1), inset 0 -4px rgba(0,0,0,0.1);
	box-shadow:         0 3px rgba(0,0,0,0.1), inset 0 -4px rgba(0,0,0,0.1);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	color: #fff;
	overflow: visible;
	background: #669be1; /* old browsers */
	background: -moz-linear-gradient(top, #669be1 0%, #5784bf 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#669be1), color-stop(100%,#5784bf)); /* webkit */
	background: linear-gradient(top, #669be1 0%, #5784bf 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#669be1', endColorstr='#5784bf',GradientType=0 ); /* ie */
	-moz-transition:   box-shadow 0.2s ease-in-out;
	-webit-transition: box-shadow 0.2s ease-in-out;
	transition:        box-shadow 0.2s ease-in-out;
}

#speaker-request #form-footer input:hover,
#speaker-request #form-footer input:active {
	-moz-box-shadow:    0 3px rgba(0,0,0,0.15), inset 0 -4px rgba(0,0,0,0.15), inset 0 0 80px rgba(255,255,255,0.3);
	-webkit-box-shadow: 0 3px rgba(0,0,0,0.15), inset 0 -4px rgba(0,0,0,0.15), inset 0 0 80px rgba(255,255,255,0.3);
	box-shadow:         0 3px rgba(0,0,0,0.15), inset 0 -4px rgba(0,0,0,0.15), inset 0 0 80px rgba(255,255,255,0.3);
	-moz-transition:    box-shadow 0.2s ease-in-out;
	-webkit-transition: box-shadow 0.2s ease-in-out;
	transition:         box-shadow 0.2s ease-in-out;
}

/* }}} */

/* }}} */
/* {{{ Speaker Bios */

#speaker-bios #main-feature {
	background: url(/img/covehead/divider-main.jpg) no-repeat 0 100%;
	padding-bottom: 80px;
}

#speaker-bios #main-feature p {
	width: 600px;
}

#speaker-bios #main-content {
	float: left;
	width: 660px;
	margin-top: -20px;
}

#speaker-bios #bio-list {
	width: 220px;
	float: left;
}

#speaker-bios #bio-list li {
	list-style: none;
	margin: 0 0 10px 0;
	line-height: 1.2;
}

#speaker-bios #bio-list li a {
	font-size: 14px;
	display: block;
}

#speaker-bios #bio-list li a span {
	display: block;
	font-size: 12px;
	font-style: italic;
}

#speaker-bios #bio-list li a.selected {
	color: #444;
}

#speaker-bios #bios {
	position: relative;
}

#speaker-bios .pager-content {
	width: 400px;
	padding-left: 30px;
	float: left;
}

#speaker-bios .pager-content h3,
#speaker-bios .pager-content em,
#speaker-bios .pager-content p,
#speaker-bios .pager-content a {
	background: #fff;
}

#speaker-bios .bios-contents h3 {
	margin: 0;
}

#speaker-bios .bios-contents em {
	display: block;
	margin-bottom: 1em;
}

#speaker-bios .bios-contents p {
	line-height: 1.8;
}

#speaker-bios .bios-contents .bio-image {
	background: #fff;
	padding: 10px;
	border: 1px solid #ccc;
	margin-bottom: 10px;
	-moz-box-shadow: 0 0 10px #bbb;
	-webkit-box-shadow: 0 0 10px #bbb;
	box-shadow: 0 0 10px #bbb;
}


/* }}} */
