/* {{{ Your Privacy */

#privacy #main-feature {
    margin-top: 1em;
    margin-right: 340px;
}

#privacy #main-content {
    margin-top: 1em;
    margin-right: 260px;
}

/* }}} */
/* {{{ Menu */

#privacy-menu {
    margin: 0 0 25px -20px;
    padding: 0 10px;
    overflow: hidden;
    background: url(/img/covehead/privacy/background-menu.png) 0 0 no-repeat;
    font-size: 16px;
    height: 85px;
    width: 700x;
}

#privacy-menu li {
    float: left;
    list-style-type: none;
    margin: 45px 5px 0 0;
}

#privacy-menu li a,
#privacy-menu li span {
    display: block;
    float: left;
    padding: 10px 18px 20px 18px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#privacy-menu li a.selected {
    background: #fff;
    padding: 9px 17px 20px 17px;
    border: 1px solid #ccdaf0;
    -moz-box-shadow: 0 0 8px rgba(156, 173, 202, 0.5);
    box-shadow: 0 0 8px rgba(156, 173, 202, 0.5);
}

/* }}} */
/* {{{ Our Principles */

#page-our-principles ol {
	float: left;
    margin: 0;
    padding: 0;
}

#page-our-principles ol li {
    background: url(/img/covehead/privacy/background-ol-numbers.png) 0 0 no-repeat;
    float: left;
    width: 270px;
    font-size: 20px;
    font-style: italic;
    list-style-type: none;
    margin: 5px 20px 20px 0;
    padding-left: 50px;
}
#page-our-principles ol li.two { background-position: 0 -190px; }
#page-our-principles ol li.three { background-position: 0 -384px; }
#page-our-principles ol li.four { background-position: 0 -575px; }
#page-our-principles ol li.five { background-position: 0 -767px; }
#page-our-principles ol li.six { background-position: 0 -960px; }

#page-our-principles ol li span {
    display: block;
    font-size: 14px;
}

/* }}} */
/* {{{ Your Information */

#page-your-information {
    margin-right: 50px;
}

/* }}} */
/* {{{ Your Choices */

#page-your-choices {
    margin-right: 50px;
}

/* }}} */
/* {{{ Tracking */

#page-tracking {
    margin-right: 50px;
}

/* }}} */
/* {{{ Third Parties */

#page-third-parties ol {
    margin: 0;
    padding: 0;
}

#page-third-parties ol li {
    background: url(/img/covehead/privacy/background-ol-numbers.png) 0 0 no-repeat;
    float: left;
    width: 160px;
    font-style: italic;
    list-style-type: none;
    margin: 5px 10px 20px 0;
    padding-left: 50px;
}
#page-third-parties ol li.two { background-position: 0 -190px; }
#page-third-parties ol li.three { background-position: 0 -384px; }

#page-third-parties table {
    border-collapse: collapse;
}

#page-third-parties th {
    white-space: nowrap;
}

#page-third-parties th,
#page-third-parties td {
    vertical-align: top;
    padding: 10px 20px 20px 20px;
}

#page-third-parties td a {
    display: block;
}

#page-third-parties tr.blue,
#page-third-parties tr.blue td {
    background-color: #e3effb;
}

/* }}} */
/* {{{ Sidebar */

#sidebar {
    float: right;
    width: 220px;
    margin-top: -160px;
}

#sidebar h3 {
    font-size: 20px;
    line-height: 1;
}

#sidebar-contact {
    padding: 20px;
}

/* }}} */
/* {{{ Policies */

#sidebar-policies {
    background: #fff;
    width: 180px;
    padding: 20px;
    border: #d7d9e8 1px solid;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -moz-box-shadow: 0 2px rgba(0, 0, 0, 0.05), 0 -2px rgba(0, 0, 0, 0.05) inset;
    -webkit-box-shadow: 0 2px rgba(0, 0, 0, 0.05), 0 -2px rgba(0, 0, 0, 0.05) inset;
    box-shadow: 0 2px rgba(0, 0, 0, 0.05), 0 -2px rgba(0, 0, 0, 0.05) inset;
}

#sidebar-policies h3 {
    font-size: 16px;
    margin-top: 0;
    line-height: 1;
}

#sidebar-policies h4 {
    margin-bottom: 0.5em;
}

#sidebar-policies ul {
    margin-top: 0;
}

#sidebar-policies ul li {
    list-style-type: none;
    font-size: 16px;
    margin: 15px 0;
}

#sidebar-policies ul li a {
    background: url(/img/covehead/privacy/policy-logos.jpg) 0 0 no-repeat;
    display: block;
    padding: 10px 0 10px 50px;
}

#sidebar-policies ul li a.firefox { background-position: 0 -115px; }
#sidebar-policies ul li a.thunderbird { background-position: 0 -230px; }
#sidebar-policies ul li a.sync { background-position: 0 -345px; }
#sidebar-policies ul li a.test { background-position: 0 -460px; }

/* }}} */
/* {{{ Popular Addons */

#popular-addons {
    float: left;
    background: url(/img/covehead/privacy/background-popular-addons.jpg) 0 0 no-repeat;
    margin: 50px 0;
    padding: 25px 0;
}

#popular-addons .container {
    overflow: auto;
    background-color: #eaeaea;
    margin-top: 40px;
    padding: 15px;
    border: #b7cad9 1px solid;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -moz-box-shadow: 0 2px rgba(0, 0, 0, 0.05), 0 -2px rgba(0, 0, 0, 0.05) inset;
    -webkit-box-shadow: 0 2px rgba(0, 0, 0, 0.05), 0 -2px rgba(0, 0, 0, 0.05) inset;
    box-shadow: 0 2px rgba(0, 0, 0, 0.05), 0 -2px rgba(0, 0, 0, 0.05) inset;
}

#popular-addons h2 {
    margin: 5px 5px 30px 10px;
    line-height: 1;
}

#popular-addons ul li {
    float: left;
    list-style-type: none;
}

#popular-addons ul li a {
    display: block;
    background: #fff url(/img/covehead/privacy/addon-icon.png) center 5px no-repeat;
    color: #6d7581;
    width: 178px;
    text-decoration: none;
    margin: 0 5px;
    padding: 50px 16px 16px 16px;
    border: #d7d9e8 1px solid;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -moz-box-shadow: 0 2px rgba(0, 0, 0, 0.05), 0 -2px rgba(0, 0, 0, 0.05) inset;
    -webkit-box-shadow: 0 2px rgba(0, 0, 0, 0.05), 0 -2px rgba(0, 0, 0, 0.05) inset;
    box-shadow: 0 2px rgba(0, 0, 0, 0.05), 0 -2px rgba(0, 0, 0, 0.05) inset;
}

#popular-addons ul li a:hover { text-decoration: none; }

#popular-addons ul li h3 {
    color: #447bc4;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    margin: 0;
}

/* }}} */