/* RTL support for mozilla.com */

#header h1 {
  float: right;
}

#header #return {
  float: left;
  margin-right: 0;
  margin-left: 20px;
}

#moz_global_search {
  right: auto;
  left: 30px;
}

#moz_global_search #query {
  float: right;
}

#moz_global_search #submit {
  float: right;
  -moz-transform: scaleX(-1);
}

ul.home-download {
  margin-left: auto;
  margin-right: 30px;
}

a.download-link span.download-content {
    padding-right: 50px;
}

#main-content {
  float: right;
  margin-right: 30px;
  margin-left: 65px;
}

#sidebar {
  float: right;
  margin-left: 30px;
  margin-right: 0;
}

#main-feature h2 {
  margin-left: 235px;
  margin-right: 35px;
}

#main-feature p {
  margin-right: 35px;
  margin-left: 445px;
}

#footer #lang_form label {
  direction: rtl;
}

#footer #copyright {
  background-position: right top;
  padding-left: 0;
  padding-right: 60px;
  text-align: right;
}

.portal-page #footer #footer-logo {
    float: right;
}

ul {
  left: auto;
  right: -10px;
}

#side-menu {
  right: auto;
  left: 35px;
}

a.external:link, a.external:visited , a.external:hover, a.external:active {
  padding-right: 0;
  padding-left: 8px;
}

a.external:hover, a.external:active {
  background-image: url(/fa/img/tignish/content/external-link.png);
  background-position: left center;
}

h1 a.external:link, h2 a.external:link, h3 a.external:link, h4 a.external:link, h5 a.external:link, h6 a.external:link, h1 a.external:visited, h2 a.external:visited, h3 a.external:visited, h4 a.external:visited, h5 a.external:visited, h6 a.external:visited, h1 a.external:hover, h2 a.external:hover, h3 a.external:hover, h4 a.external:hover, h5 a.external:hover, h6 a.external:hover, h1 a.external:active, h2 a.external:active, h3 a.external:active, h4 a.external:active, h5 a.external:active, h6 a.external:active, a.email:link, a.email:visited, a.email:hover, a.email:hover {
  padding-right: 0;
  padding-left: 16px;
}

h1 a.external:hover, h2 a.external:hover, h3 a.external:hover, h4 a.external:hover, h5 a.external:hover, h6 a.external:hover, h1 a.external:active, h2 a.external:active, h3 a.external:active, h4 a.external:active, h5 a.external:active, h6 a.external:active {
  background-image: url(/fa/img/tignish/content/external-link-large.png);
  background-position: left center;
}

a.email:hover, a.email:hover {
  background-position: left center;
}

#footer a.external:hover, #footer a.external:hover {
  background-image: url(/fa/img/tignish/content/external-link-footer.png);
}

.download-other {
  left: auto;
  right: 5px;
  margin-left: 0;
  margin-right: 5px;
}

.expander-open .expander-content .expander-padding, .expander-closed .expander-content .expander-padding {
  padding-left: 15px;
  padding-right: 45px;
}

/* About page */


#firefox-about #content {
  padding-left: 35px;
  padding-right: 15px;
  margin-left: 0;
  margin-right: 17px;
}

/* 404 pages */

#error-reasons {
    float: right;
    width: 50%;
}

#error-suggestions {
    float: right;
    padding-right: 35px;
}
