/* {{{ Main Feature */

#main-feature h2 {
    padding: 10px 0;
    margin: 0;
    line-height: 1;
}

#main-feature p {
    font-style: italic;
    color: #303030;
    line-height: 1;
}


#security #doc {
	background: url('/img/firefox/security/background-security.png') no-repeat 35px 105px;
}

#security #main-feature {
	min-height: 280px;
}

* html #security #main-feature { height: 380px; }

#security #main-feature h2 {
	padding-top: 0;
    font-size: 50px;
}

#security #main-feature h2 span {
    font-size: 80px;
}


#security #main-feature p {
    font-size: 22px;
    width: 400px;
}

/* }}} */
/* {{{ Navigation */

#security #main-feature ul {
	overflow: auto;
	margin: 30px 0 0 0;
}

#security #main-feature ul li {
	float: left;
	background: none;
	padding: 1px;
	display: inline;
	margin-right: 38px;
	padding-bottom: 30px;
	list-style-type: none;
}

#security #main-feature ul li a,
#security #main-feature ul li a:link
#security #main-feature ul li a:visited {
	display: block;
	width: 200px;
	padding: 100px 0 40px 0;
	background: url(/img/firefox/security/menu-icons.png) 50% 0 no-repeat;
	text-align: center;
	font-family: georgia, serif;
	font-style: italic;
	font-size: 18px;
	line-height: 18px;
}

#security #main-feature ul li#security-mission {
	margin-right: 0;
}

#security #main-feature ul li a:hover,
#security #main-feature ul li a:active {
	text-decoration: none;
}

#security #main-feature ul li a span {
    display: block;
}

#security #main-feature ul li#security-privacy a,
#security #main-feature ul li#security-privacy a:link,
#security #main-feature ul li#security-privacy a:visited { background-position: 50% -260px; }

#security #main-feature ul li#security-control a,
#security #main-feature ul li#security-control a:link,
#security #main-feature ul li#security-control a:visited { background-position: 50% -520px; }

#security #main-feature ul li#security-mission a,
#security #main-feature ul li#security-mission a:link,
#security #main-feature ul li#security-mission a:visited { background-position: 50% -775px; }

/* }}} */
/* {{{ Main Content */

#security #secure {
	background: url(/img/covehead/divider-main.jpg) 50% 0 no-repeat;
}

#security .section {
	background: url(/img/firefox/security/divider-sub.png) 50% 0 no-repeat;
	padding: 30px 0 0 0;
	clear: both;
	overflow: auto;
	zoom: 1;
}

#security .section .section-content {
	width: 280px;
	padding-bottom: 50px;
	float: left;
}

#security .section .section-content h3 {
	font-size: 40px;
	margin: 0 0 30px 0;
	line-height: 36px;
}

#security .section .section-image {
	width: 330px;
	float: left;
	padding-top: 20px;
	padding-bottom: 50px;
}

#security .section .section-list {
	width: 310px;
	float: left;
	margin: 0;
	padding: 0 0 50px 19px;
}

#security #privacy .section-list {
	padding-top: 20px;
}

#security .section ul.section-list li {
	list-style-type: none;
	background: none;
	margin: 0;
	padding: 0 0 5px 0;
}

#security .section ul.section-list h4 {
	margin: 0;
}

#security .section ul.section-list p {
	font-size: 12px;
	margin-bottom: 4px;
}

#security .section .top-link {
	clear: left;
}

#security #mission .section-image {
	text-align: center;
}

#security #mission .section-image img {
	margin: 30px;
}

/* }}} */
