/* {{{ Main Feature */

#security #main-feature {
	min-height: 280px;
}

* html #security #main-feature { height: 380px; }

#security #main-feature h2 {
	padding-top: 55px;
    margin: 0;
    line-height: 1;
	font-size: 41px;
}

#security #main-feature h2 span {
    font-size: 70px;
}

#security #main-feature p {
    font-style: italic;
    color: #303030;
    line-height: 1;
}


/* }}} */
/* {{{ Navigation */

.feature-links {
	overflow: auto;
	zoom: 1;
	margin: 15px 0 0 -20px;
	padding: 15px 0 15px 15px;
	background: url(/img/firefox/security/menu-background.png) 20px 0 no-repeat;
}

.feature-links li {
	text-align: center;
	display: inline;
	float: left;
	background: none;
	list-style-type: none;
	margin: 0 60px 0 0;
	padding: 0 1px;
}

.feature-links li a,
.feature-links li a:link,
.feature-links li a:visited {
	color: #484848;
	display: block;
	padding: 0 0 2px;
}

.feature-links li a .feature-link-content,
.feature-links li a:link .feature-link-content,
.feature-links li a:visited .feature-link-content {
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.feature-links li a .feature-link-content {
	background: url(/img/firefox/security/menu-icons.png) 50% 0 no-repeat;
	display: block;
	width: 120px;
	font-size: 14px;
	font-style: italic;
	line-height: 16px;
	text-align: center;
	padding: 110px 0 10px;
	cursor: pointer; /* For IE */
	position: relative;
	top: 0;
}

.feature-links li a:hover .feature-link-content {
	top: -8px;
	-webkit-transition: all 0.1s ease-in;
	-moz-transition: all 0.1s ease-in;
	transition: all 0.1s ease-in;
}

.feature-links li a:active .feature-link-content {
	top: -5px;
	-webkit-transition: all 0.1s ease-in;
	-moz-transition: all 0.1s ease-in;
	transition: all 0.1s ease-in;
}

.feature-links li#security-mission {
	margin-right: 0;
}

.feature-links li a span {
	display: block;
}

.feature-links li#security-secure a .feature-link-content { background-position: 50% -250px; }
.feature-links li#security-control a .feature-link-content { background-position: 50% -500px; }
.feature-links li#security-mission a .feature-link-content { background-position: 50% -750px; }

/* }}} */
/* {{{ Main Content */

#security #privacy {
	background: url(/img/covehead/divider-notch-main.jpg) 50% 0 no-repeat;
	padding-top: 55px;
}

#security .section {
	background: url(/img/covehead/divider-notch.jpg) 50% 0 no-repeat;
	padding: 40px 0 0 0;
	clear: both;
	overflow: auto;
	zoom: 1;
}

#security .section .section-content {
	width: 280px;
	padding-bottom: 50px;
	float: left;
}

#security .section .section-content h3 {
	font-size: 40px;
	margin: 0 0 30px 0;
	line-height: 36px;
}

#security .section .section-image {
	width: 330px;
	float: left;
	padding-top: 20px;
	padding-bottom: 50px;
}

#security .section .section-list {
	width: 310px;
	float: left;
	margin: 0;
	padding: 0 0 50px 19px;
}

#security #privacy .section-list {
	padding-top: 20px;
}

#security .section ul.section-list li {
	list-style-type: none;
	background: none;
	margin: 0;
	padding: 0 0 5px 0;
}

#security .section ul.section-list h4 {
	margin: 0;
}

#security .section ul.section-list p {
	font-size: 12px;
	margin-bottom: 4px;
}

#security .section .top-link {
	clear: left;
}

#security .section .top-link a {
    background: url(/img/firefox/page-top.png) 0 0 no-repeat;
    height: 20px;
    display: inline-block;
    padding-left: 25px;
    font-size: 12px;
}

#security #mission .section-image {
	text-align: center;
}

#security #mission .section-image img {
	margin: 30px;
}

/* }}} */
