/* {{{ General Layout */

#speed #main-feature {
    margin: 30px 180px;
}

#speed #main-feature h2 {
    margin-bottom: 25px;
}

#speed #main-feature #intro {
    font-style: italic;
    width: 300px;
    float: left;
    line-height: 1.2;
}

#speed #download {
    float: right;
}

#speed #download ul.home-download {
    width: auto;
    float: right;
}

#speed #download a.download-link span.download-title {
    background: none;
    font-style: italic;
    padding-right: 8px;
    padding-left: 5px;
}

#speed #main-feature #download .download-other {
    font-size: 11px;
    color: #999;
    margin-left: 0;
    text-align: right;
}

#speed #learn-more {
    clear: right;
    margin-top: 7px;
    font-style: italic;
    margin-left: 30px;
    font-size: 13px;
    text-align: center;
}

#speed #main-content {
    clear: both;
    background: url(/img/covehead/divider-main.jpg) 50% 0 no-repeat;
    padding-top: 40px;
}

/* }}} */
/* {{{ Gauge */

#gauge {
    background: url(/img/covehead/speed/gauge-bg.jpg) 50% 0 no-repeat;
    height: 275px;
    width: 800px;
    margin: 0 auto;
    position: relative;
}

#gauge h4 {
    margin: 0;
}

#gauge-fast,
#gauge-slow {
    position: absolute;
    width: 160px;
    top: 170px;
}

#gauge-slow {
    left: 20px;
    text-align: right;
}

#gauge-fast {
    left: 618px;
}

#gauge-slow p,
#gauge-fast p {
    margin: 0;
}

#needle {
    -webkit-transform-origin: 173px 30px;
    -moz-transform-origin: 173px 30px;
    -o-transform-origin: 173px 30px;
    transform-origin: 173px 30px;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
    x-moz-transition: all 500ms linear;
    position: absolute;
    top: 201px;
    left: 226px;
}

/* }}} */
