/** Survey Page */

#uninstall #main-feature,
#surveygizmo #main-feature {
	padding-top: 50px;
	padding-bottom: 20px;
}

#uninstall #main-feature p,
#surveygizmo #main-feature p {
	width: 500px;
}

/** Thank-you page */
#uninstall-thanks #doc,
#install-feedback #doc,
#surveygizmo-thanks #doc {
	background: url(/img/covehead/firefox/survey/thanks-background.png) no-repeat 500px 100px;
}

#uninstall-thanks #main-feature,
#install-feedback #main-feature,
#surveygizmo-thanks #main-feature {
	padding-top: 50px;
	min-height: 365px;
}
* html #uninstall-thanks #main-feature,
* html #install-feedback #main-feature,
* html #surveygizmo-thanks #main-feature
 { height: 365px; /* Hack for IE6 */ }

#uninstall-thanks #main-feature p,
#install-feedback #main-feature p,
#surveygizmo-thanks #main-feature p {
	width: 500px;
}
