#sync #doc {
	background: url(/img/mobile/background-feature-sync.png) 450px 95px no-repeat;
}

#sync #main-feature {
	background: url(/img/covehead/divider-main.jpg) 50% 100% no-repeat;
    min-height: 250px;
}

* html #sync #main-feature {
	height: 250px;
}

#sync.portal-page #doc {
	background-position: 650px 95px;
}

#sync.portal-page #main-feature h2 {
    font-size: 32px;
    width: 555px;
}

#sync.portal-page #main-feature {
    padding-top: 40px;
    padding-bottom: 30px;
}

#sync.portal-page #main-content {
    display: inline;
    float: left;
    margin: 0 30px 0;
    width: auto;
}

#sync.portal-page #main-content div {
    color: #69645C;
    float: left;
    font-size: 13px;
    margin: 0 40px 12px 0;
    width: 265px;
}

#sync #main-feature h2 {
    font-size: 40px;
}

#sync #main-feature h2 span {
    font-size: 72px;
}

#sync #main-feature p {
    width: 400px;
    font-size: 17px;
    margin-top: 5px;
    padding-bottom: 20px;
}

#sync #main-content {
	zoom: 1;
    margin-top: -25px;
    float: left;
    display: inline;
    width: 555px;
	padding-bottom: 30px;
}

#sync #step1 h3,
#sync #step2 h3,
#sync #step3 h3 {
    margin: 0 0 10px 0;
    padding-top: 20px;
    clear: both;
    line-height: 1;
}

#sync #step1 h3 {
    padding-top: 0;
}

#sync #main-content p {
	font-size: 18px;
}

#sync .step-left {
    float: left;
    display: inline;
    width: 315px;
    margin-right: 20px;
}

#sync .step-right {
    float: left;
    width: 300px;
}

#sync dl.steps {
    margin: 1em;
    padding: 0;
}

#sync .steps dt {
    float: left;
    width: 3em;
    clear: left;
    margin: 0;
}

#sync .steps dt h3 {
    margin: 0;
}

#sync .steps dd {
    margin: 0 0 1em 2.5em;
    padding-top: 0.5em;
    font-size: 17px;
}

#sync .steps .advice {
	font-variant: italic;
}

#sync #main-content h5 {
    margin: 0;
}

#sync #video-sync {
    text-decoration: none;
    display: block;
    text-align: center;
    width: 281px;
}

#sync #video-sync span {
	display: block;
}

#sync #video-sync:hover span {
    text-decoration: underline;
}

#sync #sidebar {
	float: right;
	display: inline;
	width: 280px;
	padding: 20px 20px 15px 20px;
	background: #cce2f3;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin: -20px 35px 20px 20px;
}

#sync #sidebar h3 {
	margin: 0;
	line-height: 20px;
}

#sync #sidebar p.intro {
	font-style: italic;
	color: #303030;
	margin: 5px 0 0 0;
	font-size: 14px;
	line-height: 1.1;
}

#sync #sidebar h4 {
	margin-bottom: 0;
}

#sync #sidebar p {
	line-height: 1.3;
	font-size: 12px;
}

#sync #older-versions {
	zoom: 1;
	background: url(/img/covehead/divider-main.jpg) 50% 0 no-repeat;
	clear: both;
	padding: 15px 300px 0 15px;
	padding-top: 15px;
}

#sync #older-versions h3 {
	margin-bottom: 5px;
}

/* {{{ Download Links */

a#sync-addon-install,
a#sync-addon-install:link,
a#sync-addon-install:visited {
	width: 240px;
	font-family: "Trebuchet MS", sans-serif;
	font-size: 14px;
	display: block;
	-moz-box-shadow:    0 3px rgba(0,0,0,0.1), inset 0 -4px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 3px rgba(0,0,0,0.1), inset 0 -4px rgba(0,0,0,0.1);
	box-shadow:         0 3px rgba(0,0,0,0.1), inset 0 -4px rgba(0,0,0,0.1);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	color: #fff;
	overflow: visible;
	background: #669be1; /* old browsers */
	background: -moz-linear-gradient(top, #669be1 0%, #5784bf 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#669be1), color-stop(100%,#5784bf)); /* webkit */
	background: linear-gradient(top, #669be1 0%, #5784bf 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#669be1', endColorstr='#5784bf',GradientType=0 ); /* ie */
	-moz-transition:   box-shadow 0.2s ease-in-out;
	-webit-transition: box-shadow 0.2s ease-in-out;
	transition:        box-shadow 0.2s ease-in-out;
}

a#sync-addon-install span {
	display: block;
	background: url(/img/firefox/download-arrow.png) 10px 14px no-repeat;
	padding: 8px 8px 8px 30px;
}


a#sync-addon-install:hover,
a#sync-addon-install:active {
	-moz-box-shadow:    0 3px rgba(0,0,0,0.15), inset 0 -4px rgba(0,0,0,0.15), inset 0 0 80px rgba(255,255,255,0.3);
	-webkit-box-shadow: 0 3px rgba(0,0,0,0.15), inset 0 -4px rgba(0,0,0,0.15), inset 0 0 80px rgba(255,255,255,0.3);
	box-shadow:         0 3px rgba(0,0,0,0.15), inset 0 -4px rgba(0,0,0,0.15), inset 0 0 80px rgba(255,255,255,0.3);
	-moz-transition:    box-shadow 0.2s ease-in-out;
	-webkit-transition: box-shadow 0.2s ease-in-out;
	transition:         box-shadow 0.2s ease-in-out;
}

/* }}} */
