#sync #doc {
	background: url(/img/mobile/background-feature-sync.png) 50% 95px no-repeat;
}

#sync #main-feature {
	background: url(/img/covehead/divider-notch.jpg) 50% 100% no-repeat;
    min-height: 220px;
}

#sync.portal-page #main-feature h2 {
	margin-top: 45px;
}
#sync.portal-page #main-feature h2 span {
    font-size: 65px;
}

#sync.portal-page #main-feature {
    padding-top: 40px;
    padding-bottom: 30px;
	position: relative;
}

#sync.portal-page #main-feature p {
	position: absolute;
	left: 600px;
	top: 60px;
    font-size: 20px;
    width: 350px;
    font-style: italic;
    font-color: #484848;
}

#sync.portal-page #main-content #sync-android {
    float: left;
    width: 600px;
    margin-right: 50px;
    padding-right: 20px;
    background-position: 100% 40px;
    background-repeat: no-repeat;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAADFCAMAAABJhdMaAAAAD1BMVEXLy8vb29vc3NzKysr///8BgTVgAAAAWklEQVQoz5VRQQ6AMAwqbP9/s9YdrApVkx5YCoSy4Ih95sxxGCNn4fWsK43jlLDIGZp/p12xTJLyEFZ82LoDYdLWK6iS97Zf+nzlNIXAYFca2+/Dz4QwtgdtA42qBNWkhHRCAAAAAElFTkSuQmCC);
}

#sync.portal-page #main-content #sync-iphone {
    float: left;
    width: 240px;
}

#sync.portal-page #main-content #sync-iphone h3,
#sync.portal-page #main-content #sync-android h3 {
    font-size: 28px;
    line-height: 32px;
    padding-right: 100px;
    margin-top: 0;
    background: url(/img/covehead/mobile/sync-android.png) 100% 50% no-repeat;
    min-height: 80px;
}

#sync.portal-page #main-content #sync-android h3 {
    display: inline-block;
}

#sync.portal-page #main-content #sync-iphone h3 {
    background-image: url(/img/covehead/mobile/sync-iphone.png);
    padding-right: 60px;
}

#sync.portal-page #main-content ol {
    margin: 0;
    padding: 0;
}

#sync.portal-page #main-content ol li {
    list-style-type: none;
    margin: 0;
    padding: 0 30px 20px 0;
    float: left;
    width: 170px;
}

#sync.portal-page #main-content ol h4 {
    font-size: 28px;
    margin: 0;
}

#sync #more-info {
    background-color: #FFFFFF;
    background-image:
        url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAiCAMAAAANmfvwAAAAJFBMVEX9/v78/f37/Pz6+/v9///6/Pz9/f3+/v78/Pz7+/v+//////8tZGNxAAAA4UlEQVQ4y4WT0RKFIAhEsboC+v//e6dEY4kmHzKdwy6gUr+G8P3tihMZ4sA4Eah0CO+gok5rhXdQAUQDUn0umdFEtPrNVGUgQYU/VVZF1e2mRgvxRtIzFYXWVVThZy6a5oIVVTxGToyCijxVpL4j6hFe3ZVH0fyi4nJhLFqgLzVTwcug/Fk0IqG718kxdnf6kWXokfBWhgoPlXC9MRdJXoDiO9LkSi0jauco50R6/bdt7O1jpeR3xRbHQMgQckhQKYYct1H7GWIOxQe0Upy7gMpOY27sEIvbpooh5Bws3JD9D6T6LER0SO6TAAAAAElFTkSuQmCC);
    border: 1px solid #BDC6D7;
    padding: 20px;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 2px rgba(0, 0, 0, 0.1), 0 -2px #E5EFF8 inset, 0 0 50px rgba(226,237,254,0.5) inset, 0 0 10px rgba(226,237,254,0.5) inset;
    clear: left;
    overflow: auto;
}

#sync #more-info h3 {
    float: left;
    width: 180px;
    padding: 15px 30px 20px 30px;
    margin: 0;
}

#sync #more-info div {
    margin-left: 240px;
    padding: 10px;
}

#sync #more-info div p {
    margin: 0 30px 10px 0;
}

#sync #main-feature h2 {
    font-size: 40px;
}

#sync #main-feature h2 span {
    font-size: 72px;
}

#sync #main-feature p {
    width: 400px;
    font-size: 17px;
    margin-top: 5px;
    padding-bottom: 20px;
}


