#main-feature {
    padding-bottom: 30px;
}

#main-feature h2 {
    margin-top: 60px;
}

#mobile-requirements #main-feature h2 {
    margin-top: 20px;
}

#mobile-requirements #main-feature h2 span {
    font-size: 54px;
}

#main-content {
    width: 650px;
}

#main-content h2 {
    border-bottom: 1px solid #ccc;
	padding-bottom: 4px;
	padding-left: 10px;
	position: relative;
	left: -10px;
}

#main-content h6 {
    font-style: normal;
    font-weight: bold;
    color: inherit;
    margin-bottom: 0;
}

#main-content ul {
    margin-top: 10px;
    padding-left: 20px;
}
