#main-feature {
    padding-bottom: 30px;
}

#main-feature h2 {
    margin-top: 60px;
}

#mobile-requirements #main-feature h2 {
    margin-top: 20px;
}

#mobile-requirements #main-feature h2 span {
    font-size: 54px;
}

#main-content {
    width: 650px;
}

#main-content h2 {
    border-bottom: 1px solid #ccc;
	padding-bottom: 4px;
	padding-left: 10px;
	position: relative;
	left: -10px;
}

#main-content h6 {
    font-style: normal;
    font-weight: bold;
    color: inherit;
    margin-bottom: 0;
}

#main-content ul {
    margin-top: 10px;
    padding-left: 20px;
}

#survey {
	zoom: 1;
	float: right;
	width: 280px;
	margin: 30px 0 50px 0;
	padding: 15px 20px 10px 20px;
	background: #fff;
	border: #d7d9e8 1px solid;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-moz-box-shadow: 0 2px rgba(0, 0, 0, 0.05), 0 -2px rgba(0, 0, 0, 0.05) inset;
	-webkit-box-shadow: 0 2px rgba(0, 0, 0, 0.05), 0 -2px rgba(0, 0, 0, 0.05) inset;
	box-shadow: 0 2px rgba(0, 0, 0, 0.05), 0 -2px rgba(0, 0, 0, 0.05) inset;
}

