#doc {
	background: url(/img/covehead/firefox/background-firefox-download.png) no-repeat 540px 120px;
}

#firefox-unsupported #main-feature {
	padding-top: 0;
	min-height: 200px;
}

* html #firefox-unsupported #main-feature { height: 200px; /* Hack for IE6 */ }

#main-feature {
	width: 520px;
}

#main-feature h2 {
	margin: 0;
}

#main-feature p {
	color: #a5151e;
	line-height: 1.2;
}

#main-feature #downloadmessage {
	font-size: 100%;
	color: #4b4742;
}

#main-content {
	background: url(/img/covehead/divider-main.jpg) no-repeat 0 0;
	padding-top: 20px;
}

.clear { clear: both; }

#main-content #sub-features h3 {
	line-height: 0.9;
}

#main-content #sub-features #help {
	width: 350px;
	margin-right: 60px;
	float: left;
}

#main-content #sub-features #supported {
	width: 250px;
	float: left;
}

#main-content #other-browsers {
	padding-top: 30px;
	width: 610px;
}

#main-content #other-browsers ul {
	padding: 0 1em;
	margin: 0;
}
