/* {{{ download message */

#download #main-feature,
#download #main-feature-fallback {
	padding-left: 160px;
	padding-top: 0;
	min-height: 170px;
	background: url(/img/covehead/download/download-logo.png) no-repeat;
}

* html #download #main-feature,
* html #download #main-feature-fallback {
	height: 170px;
	background: url(/img/covehead/download/download-logo-8bit.png) no-repeat;
}

#download-message #main-feature h2,
#download-message #main-feature-fallback h2 {
	margin: 0;
	font-size: 30px;
	padding-top: 20px;
}

#download-message #main-feature h2 span,
#download-message #main-feature-fallback h2 span {
	display: inline;
	font-size: 34px;
}

#download-message #content,
#download-message #content-fallback {
	margin: 0 0 0 15px;
	padding: 5px 0;
    clear: left;
}

.default-download #download-message #content,
.default-download #download-message #content-fallback {
	background: none;
}

#download-message #content h3,
#download-message #content-fallback h3 {
	margin: 20px 15px 10px 15px;
	color: #69645c;
	font-size: 137%;
}

#download-message #main-feature p.manual-download,
#download-message #main-feature-fallback p.manual-download {
	margin: 0 275px 0 0;
	font-size: 18px;
}

/* }}} */
/* {{{ install steps */

#download ol.install-steps {
	margin: 0;
    clear: left;
}

#download ol.install-steps:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#download ol.install-steps li {
	padding: 20px 285px 0 125px;
	margin: 0;
	list-style-type: none;
	min-height: 180px;
}

#download.win-download ol.install-steps li {
	background: url(/img/covehead/download/download-win.png) no-repeat;
}

#download.osx-download ol.install-steps li {
	background: url(/img/covehead/download/download-osx.png) no-repeat;
}

* html #download ol.install-steps li {
	height: 180px;
}

ol.install-steps,
ol.getting-started-steps {
	margin: 0;
	padding: 0;
	width: 755px;
}

ol.install-steps li {
	list-style-type: none;
	padding-right: 60px;
}

ol.install-steps li p {
	margin-top: 3px;
	font-size: 18px;
	color: #4b4742;
	font-style: italic;
	line-height: 1.2;
}

ol.install-steps li p.note {
	font-size: 14px;
	color: #69645c;
	font-style: normal;
	line-height: 1.5;
}

#download ol.install-steps li.two {
	background-position: -755px 0;
}

#download ol.install-steps li.three {
	background-position: -1510px 0;
}

/* }}} */
/* {{{ sidebar */

#download-sidebar {
	width: 200px;
	float: right;
        background-color: white;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

#download-sidebar .sidebar-divider {
	height: 1px;
        background-color: #edf2f5;
        font-size: 0;
}

#download-sidebar h3 {
	margin: 0;
	color: #505050;
	font-size: 18px;
}

#download-sidebar h3 span {
    line-height: .95;
}

#download-sidebar #sidebar-newsletter h3 {
    font-size: 16px;
}

#download-sidebar p {
	margin-top: 1em;
	line-height: 1.3;
}

#download-sidebar a {
    display: block;
}

#download-sidebar #sidebar-newsletter a {
    margin-top: 1em;
}

#download-sidebar a.tweet {
	background: #fff url(/img/covehead/download/twitter-button-icon) no-repeat 135px center;
	padding: 8px 20px 8px 8px;
	font-size: 12px;
	color: #447bc4;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	box-shadow: -2px 2px 2px #888;
	-moz-box-shadow: -2px 2px 2px #888;
	-webkit-box-shadow: -2px 2px 2px #888;
}

#sidebar-mobile,
#sidebar-webifyme,
#sidebar-newsletter,
#sidebar-twitter {
	padding: 20px;
}

#sidebar-webifyme {
    padding-right: 10px;
}

#download-sidebar {
  border: #d7d9e8 1px solid;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-moz-box-shadow: 0 2px rgba(0, 0, 0, 0.05), 0 -2px rgba(0, 0, 0, 0.05) inset;
	-webkit-box-shadow: 0 2px rgba(0, 0, 0, 0.05), 0 -2px rgba(0, 0, 0, 0.05) inset;
	box-shadow: 0 2px rgba(0, 0, 0, 0.05), 0 -2px rgba(0, 0, 0, 0.05) inset;
}

#sidebar-mobile img {
	float: right;
}

#sidebar-webifyme img,
#sidebar-twitter img {
	float: right;
}

#download-sidebar form {
    padding: 20px 15px 20px 20px;
}

#download-sidebar form h3 {
    background: url(/img/covehead/download/mail.png) 100% 12px no-repeat;
    padding-bottom: 15px;
    font-size: 15px;
}

#download-sidebar form h3 span {
    font-size: 24px;
}

#download-sidebar form p {
    margin: 0 0 15px 0;
}

#download-sidebar form h3 span {
    margin-right: 40px;
}

#download-sidebar form .email-field input,
#download-sidebar form .country-field select {
    border-style: solid;
    border-width: 1px; 
    border-color: #aaa #cdcdcd #cdcdcd #aaa;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding: 4px;
    width: 152px;
    background: #fff;
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1) inset
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1) inset
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1) inset
}

#download-sidebar form .email-field input {
    color: #666;
}

#download-sidebar form .email-field input:focus {
    color: #000;
}

#download-sidebar form .field {
    margin: 15px 0;
}

#download-sidebar form .privacy-check-label input {
    float: left;
}

#download-sidebar form .privacy-check-label span {
    display: block;
    margin-left: 25px;
    font-size: 12px;
}

#download-sidebar form .privacy-check-label a:link,
#download-sidebar form .privacy-check-label a:visited {
    text-decoration: underline;
    color: #666;
}

#download-sidebar form .privacy-check-label a:hover,
#download-sidebar form .privacy-check-label a:active {
    color: #447BC4;
}

#download-sidebar form .button {
    padding: 8px 0;
    margin-right: 5px;
    display: block;
    width: 100%;
    font-weight: normal;
    font-style: italic;
    text-shadow: 1px 1px rgba(0,0,0,0.2);
    font-size: 16px;
    font-family: georgia, serif;
    border: 0;
    -moz-box-shadow:    0 3px rgba(0,0,0,0.1), inset 0 -4px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 3px rgba(0,0,0,0.1), inset 0 -4px rgba(0,0,0,0.1);
    box-shadow:         0 3px rgba(0,0,0,0.1), inset 0 -4px rgba(0,0,0,0.1);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    color: #fff;
    overflow: visible;
    background: #669be1; /* old browsers */
    background: -moz-linear-gradient(top, #669be1 0%, #5784bf 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#669be1), color-stop(100%,#5784bf)); /* webkit */
    background: linear-gradient(top, #669be1 0%, #5784bf 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#669be1', endColorstr='#5784bf',GradientType=0 ); /* ie */
    -moz-transition:   box-shadow 0.2s ease-in-out;
    -webit-transition: box-shadow 0.2s ease-in-out;
    transition:        box-shadow 0.2s ease-in-out;
}

#download-sidebar form .disclaimer {
    margin: 8px 0 0 0;
    font-size: 11px;
    font-style: italic;
    color: #888;
}

/* }}} */
/* {{{ footer */

#download-footer {
    clear: left;
	background: url(/img/covehead/divider-main.jpg) no-repeat 0 0;
	margin-top: 60px;
	padding-top: 40px;
}

body.default-download #download-footer {
	background: url(/img/covehead/download/divider-narrow.jpg) no-repeat 0 0;
}

ul#download-footer {
	margin: 20px 0;
}

ul#download-footer li.one h3 {
	line-height: 0.9;
}

ul#download-footer li.two h3 span,
ul#download-footer li.three h3 span {
	display: inline;
}

ul#download-footer li {
	background: none;
	float: left;
	width: 245px;
	padding: 0 40px 60px 40px;
	list-style-type: none;
}

body.default-download ul#download-footer li {
	width: 170px;
}

/* }}} */
/* {{{ Fallback content */

#download-fallback {
	display: none;
}

#download-fallback li {
    padding-bottom: 15px;
}

#content-fallback ul.home-download {
    width: 400px;
}

#content-fallback .download-link span {
	position: relative;
	display: block;
	background: url(/img/home/download-logo.png) 0 0 no-repeat;
	font-family: georgia, serif;
	font-style: italic;
	font-weight: normal;
	line-height: 18px;
	padding: 10px 10px 0 112px;
    margin-left: -25px;
    padding-left: 55px;
    font-size: 15px;
    background-image: url(/img/download-logo-sub.png);
    height: 40px;
    line-height: 1;
    padding-top: 8px;
}

#content-fallback .download-link span strong {
    display: none;
}

#content-fallback .download-link span em {
    display: block;
    padding-top: 5px;
}

/* }}} */
/* {{{ Brand Awareness Survey */

#survey-box {
    background: #f7f3da url(/img/covehead/download/survey-bg.jpg) -140px 0 no-repeat;
    width: 685px;
    padding: 30px 30px 30px 50px;
    margin: 10px 10px 30px 10px;
    border: 1px solid #D7D9E8;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 2px rgba(0, 0, 0, 0.05), 0 -2px rgba(0, 0, 0, 0.05) inset;
    -moz-box-shadow: 0 2px rgba(0, 0, 0, 0.05), 0 -2px rgba(0, 0, 0, 0.05) inset;
    box-shadow: 0 2px rgba(0, 0, 0, 0.05), 0 -2px rgba(0, 0, 0, 0.05) inset;
    float: left;
}

#survey-box h3 {
    clear: both;
    float: left;
    font-size: 28px;
    line-height: 30px;
    margin-top: 10px;
    margin-right: 20px;
    width: 290px;
}

#survey-box h3 span {
}

#survey-box iframe {
    float: left;
    width: 375px;
}

/* }}} */
