.collection img {
	padding-top: 12px;
}

.collection dd p {
    margin-left: 16px !important;
}

#firefox-sub-features {
	margin: 10px auto 0 auto;
}

div.benefit.speed {
	background: url(/img/students/sidebar-icons.png) 10px 0 no-repeat;
}

div.benefit.safety {
	background: url(/img/students/sidebar-icons.png) 10px -127px no-repeat;
}

div.benefit.personas {
	background: url(/img/students/sidebar-icons.png) 10px -280px no-repeat;
}

div.benefit.addons {
	background: url(/img/students/sidebar-icons.png) 10px -431px no-repeat;
}

div.benefit.awards {
	background: url(/img/students/sidebar-icons.png) 10px -580px no-repeat;
}

div.benefit.community {
	background: url(/img/students/sidebar-icons.png) 10px -761px no-repeat;
}