#doc {
	zoom: 1;
}

body#firefox.students {
	color:#4b4742!important;
}

body#firefox.students #wrapper {
	background-image:url(/img/students/bg.jpg);
}

.students #subheadline {
	letter-spacing:-1px;
	color:#fff;
	font-size:240%;
	font-weight:normal;
	margin:0 0 0 35px;
}

.students #firefox-intro {
	width:450px;
	margin:30px 445px 35px 35px;
}

#firefox-feature-header h3 {
	width:420px;
}

.students #personas-addons {
	float:left;
	width:485px;
	margin:0 50px 0 20px;
}

.students #personas {
	background:url(/img/students/divider-bottom.png) bottom no-repeat;
	width:487px;
	margin:0 0 25px 20px;
}

.students #personas h3 {
	background:url(/img/students/divider-top.png) top no-repeat;
	padding:40px 0 0 18px;
	font-size:170%;
	margin-bottom:10px;
}

.students #personas div {
	width:200px;
	font-size:90%;
}

.students #personas iframe {
	border:0;
	margin-left: 20px;
	overflow: hidden;
}

.students #personas-addons h2 {
	font-size:280%;
	line-height:1.0;
	margin:25px 0 25px 10px;
}

.students #personas ul {
	list-style:none;
	padding-left:22px;
	float:left;
}

.students #personas p {
	padding-left:18px;
	font-size:100%;
}

p.learnmore {
	float: right;
	margin: 0 20px 20px;
}

.students #personas ul li {
	float:left;
	padding:0;
	margin:0 30px 0 0;
	background:none;
}

#personas div p {
	display:inline;
	width:100px;
	padding:0!important;
	font-size:100%!important;
}

#personas div p + p {
	float:right;
	width:100px;
	text-align:right;
}

.students ul#addons-nav {
	border-top:1px solid #f0f0ed;
	border-bottom:1px solid #f0f0ed;
	font-size:110%;
	margin:0 13px 0 20px;
	height:47px;
	line-height:47px;
}

.students ul#addons-nav li {
	float:left;
	margin:0 10px 0 15px;
	list-style:none;
	background:none;
	position:relative;
}

.students ul#addons-nav li a.selected {
	color:#afaba3;
}

.students ul#addons-nav li a.selected + span {
	display:block;
	background:url(/img/students/selected.png) no-repeat;
	position:absolute;
	bottom:0;
}

.students #add-ons {
	background:url(/img/students/rounded-bottom.png) bottom no-repeat;
	padding-bottom:35px;
	width:520px;
}

.students #add-ons .wrapper {
	background:url(/img/students/rounded-top.png) top no-repeat;
}

.students #add-ons h2 {
	font-size:170%;
	padding:35px 80px 0 0;
	margin:0 0 10px 36px;
}

.students #add-ons p {
	margin: 0 36px;
}

.students #add-ons .pager-content {
	clear:left;
	margin-left:31px;
}

.students #add-ons .pager-content h3 {
	color:#afaba3;
}

.students .collection {
	padding: 0 20px 0 30px;
}

.students .collection img {
	width:35px;
	float:left;
	margin-right:15px;
}

.collection dd p {
	margin: 10px 0 0 10px !important;
}

.students .collection dl {
	margin-top:15px;
}

.students .collection dl h4 {
	margin-top:0;
	font-size:140%;
}

#firefox-sub-features {
	background:url(/img/students/subfeature-background-students.jpg) no-repeat;
	text-align:left;
	width: 950px;
	clear:left;
	margin: 0 auto;
}

.sub-feature {
	font-size:90%;
}

.sub-feature p {
	padding-right:70px;
	margin-bottom:15px;
	line-height:1.2;
}

#more-secrets.sub-feature a { 
	display: block;
	margin-bottom: 8px;
}

.students #benefits {
	width:319px;
	margin-top:40px;
	float:left;
	padding:0;
	background:url(/img/students/sidebar-bg-bottom.jpg) bottom no-repeat;
}

.students #benefits .wrapper {
	background:url(/img/students/sidebar-bg-top.jpg) top no-repeat;
	width:319px;
	padding-top:40px;
	margin: 0;
}

.students #benefits h2 {
	font-size: 220%;
	margin:0 30px 0 20px;
}

.students #benefits .wrapper div {
	width: 150px;
	margin:0 30px 0 10px;
	padding-bottom:20px;
	border-bottom:1px solid #fff;
	padding-left: 100px;
	position: relative;
}

.students #benefits a {
    display: block;
    position: absolute;
    margin-left: -65px;
    padding-left: 65px;
    width: 170px;
    height: 100px;
}

div.benefit.speed {
	background: url(/img/students/sidebar-icons.png) 10px -20px no-repeat;
}

div.benefit.safety {
	background: url(/img/students/sidebar-icons.png) 10px -147px no-repeat;
}

div.benefit.personas {
	background: url(/img/students/sidebar-icons.png) 10px -295px no-repeat;
}

div.benefit.addons {
	background: url(/img/students/sidebar-icons.png) 10px -451px no-repeat;
}

div.benefit.awards {
	background: url(/img/students/sidebar-icons.png) 10px -600px no-repeat;
}

div.benefit.community {
	background: url(/img/students/sidebar-icons.png) 10px -781px no-repeat;
}

.students #benefits h3 {
	font-size:140%;
	margin-bottom: 0;
}

.students #benefits .benefit-personas h3 {
	padding-top: 6px;
}

.students #benefits p {
	font-size: 130%;
	line-height: 1.3;
	padding-top: 25px;
}

.clearfix:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}

* html .clearfix { /* IE6 */
	height: 1%;
	}
*:first-child+html .clearfix { /* IE7 */
	min-height: 1px;
	}