/* {{{ layout */

#wrapper {
	background-position: 0 -30px;	
}

#main-content {
	width: 665px;
	margin: 35px 25px 25px 25px;	
}

#sidebar {
	width: 225px;
	margin-top: 30px;
	margin-right: 0;
}

#content {
	clear: both;
	margin: 0;
}

p#vduwrap,
#download-tracker,
#download-summary,
#download-stats,
#legend,
#thank-yous {
    display: none;
}

/* }}} */
/* {{{ map */

#main-content p#vduwrap {
	position:relative;
	width: 655px;
	height: 320px;
	border: 5px #f5f5f5 solid;
}

#main-content p#vduwrap #vdu  {
	cursor: url(../img/drag_open.cur), -moz-grab;
}

#main-content p#vduwrap	#vdu.dragging {
	cursor: url(../img/drag_close.cur), -moz-grabbing;
}

#main-content p#vduwrap	.zooming {
	position: absolute;
	left: 12px;
	top: 12px;
}

#main-content p#vduwrap .zooming a {
	margin-right: 0px;
}

/* }}} */
/* {{{ sidebar to map */

#sidebar #download-summary {
	background:transparent url(/img/firefox/stats/download-background.png) no-repeat scroll right top;
	margin-right: 0;
	padding-top: 2em;
}

#sidebar #download-summary h3 {
	font-size: 130%;
	margin: 0 65px 0.5em 0;
}

#sidebar #download-summary dl {
	margin: 0 0 1em 0;
}

#sidebar #download-summary dt {
	color: #275475;
	font-size: 225%;
}

#sidebar #download-summary dd {
	margin: 0;
}

#sidebar #download-summary p {
	line-height: 1.2em;
}

/* }}} */
/* {{{ download tracker box */

#content #download-tracker {
	float: left;
	width: 640px;
	margin: 0 14px 30px 16px;
	padding: 14px 20px 0 20px;
	border: 1px solid #dbdad9;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-box-shadow: 1px 1px 10px rgba(0,0,0,.10);
}
	
#content #download-tracker h3 {
	font-size: 200%;
	margin: 0 0 10px 0;
}

#content #download-tracker .ui-state-default,
#content #download-tracker .ui-widget-content,
#content #download-tracker .ui-widget-content .ui-state-default {
	border: 1px solid #ccc;
	border-left: 0;
	border-right: 0;
}

#content #download-tracker .ui-state-default,
#content #download-tracker .ui-widget-content .ui-state-default {
	background: #f5f5f5;
	border: 1px solid #f5f5f5;
}

#content #download-tracker .ui-jqgrid tr.jqgrow td {
	padding: 2px;
	border-right: 0;
	height: 38px;
}

/* }}} */
/* {{{ poweredby */

#powered-by {
	clear: both;
	text-align: right;
	margin: 25px 0 15px 0;
}

/* }}} */
/* {{{ legend */
#legend {
	clear: both;
	margin: 25px 0 15px 30px;
}

#legend h3 {
	font-size: 125%;
	margin-bottom: 0.5em;
}

#legend ul {
    margin-left: 15px; 
}

#legend ul,
#legend ul li {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
}
/* }}} */
/* {{{ poweredby */

#thank-yous {
	clear: both;
	margin: 25px 0 15px 30px;
}

#thank-yous h3 {
	font-size: 125%;
	margin-bottom: 0.5em;
}

#thank-yous ul {
    margin-left: 15px; 
}

#thank-yous ul,
#thank-yous ul li {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
}

/* }}} */
