#firefox-1-5-eula {
	float: left;
	width: 46%;
	margin-right: 5%;
	margin-bottom: 2em;
}

#firefox-2-eula {
	float: left;
	width: 46%;
	margin-bottom: 2em;
}

#firefox-3-eula {
	float: left;
	width: 46%;
	margin-right: 5%;
	clear: left;
	margin-bottom: 2em;
}

#thunderbird-1-5-eula {
	float: left;
	width: 46%;
	margin-right: 5%;
	clear: left;
	margin-bottom: 2em;
}

#thunderbird-2-eula {
	float: left;
	width: 46%;
	margin-bottom: 2em;
}

#content .note {
	margin-top: 2em;
	margin-right: 200px;
}

#content {
	margin-top: 1em;
}

body,
#wrapper {
	background-position: 50% -100px;
}

body#eula,
#eula #wrapper {
	background-position: 50% 0;
}
