#firefox-about #main-feature { min-height: 285px; }

* html #firefox-about #main-feature { height: 285px; /* Hack for IE6 */ }

#firefox-about #doc {
	background: url(/img/tignish/firefox/background-firefox-about.png) no-repeat 18px 88px;
}

#firefox-about #content {
	font-size: 116%;
	margin: 0 0 0 17px;
	width: 735px;
	padding: 0 35px 35px 15px;
	background: url(/img/tignish/firefox/firefox-about-divider.png) no-repeat bottom left;
}
