/* {{{ Firefox Landing Page */

body#firefox {
	background-image: url(/img/tignish/firefox/background-tile.jpg);
}

body#firefox #wrapper {
	background-image: none;
	background-position: top center;
	background-repeat: no-repeat;
}

body#firefox.variation1 #wrapper { background-image: url(/img/tignish/firefox/background-firefox-1.jpg); }
body#firefox.variation2 #wrapper { background-image: url(/img/tignish/firefox/background-firefox-2.jpg); }
body#firefox.variation3 #wrapper { background-image: url(/img/tignish/firefox/background-firefox-3.jpg); }
body#firefox.variation4 #wrapper { background-image: url(/img/tignish/firefox/background-firefox-4.jpg); }

body#firefox #no-js-feature {
	background: url(/img/tignish/firefox/background-firefox-no-js.jpg) top center no-repeat;
	position: absolute;
	top: 0;
	left: 50%;
	height: 577px;
	width: 946px;
	margin-left: -473px;
}

#firefox #main-feature {
	min-height: 315px;
	padding-bottom: 15px;
}

* html #firefox #main-feature { height: 315px; /* Hack for IE6 */ }

#firefox #main-feature #feature-contents { min-height: 170px; }

* html #firefox #main-feature #feature-contents { height: 170px; /* Hack for IE6 */ }

#firefox #main-feature h2 {
	padding-top: 15px;
	margin-right: 215px;
	letter-spacing: -1px;
	font-size: 345%;
}

#firefox #main-feature p {
	font-size: 135%;
	margin-right: 355px;
	margin-top: 0;
}

#firefox #content { margin-right: 200px; }

.js #firefox-feature {
	overflow: hidden;
	height: 400px;
	width: 920px;
	padding: 19px 14px 20px 16px;
	background: url(/img/tignish/firefox/feature-background.png) 5px 10px no-repeat;
}

* html .js #firefox-feature {
	background-image: url(/img/tignish/firefox/feature-background-256.png); /* IE6 only */
}

#firefox-feature {
	width: 920px;
	padding: 20px 14px 21px 16px;
}

#firefox-feature #firefox-feature-header {
	height: 103px;
	line-height: 1;
}

#firefox-feature h3 {
	font-size: 265%;
	margin: 0;
	padding: 25px 40px 14px 19px;
}

#firefox-feature #firefox-feature-nav {
	margin: 0 40px 0 19px;
	height: 25px;
	padding: 0;
	left: auto;
}

#firefox-feature #firefox-feature-nav li {
	display: inline;
	padding: 0 2em 0 0;
	list-style-type: none;
	background: none;
}

#firefox-feature #firefox-feature-nav a.selected { color: #898378; outline: 0; }
#firefox-feature #firefox-feature-nav a.selected:hover { text-decoration: none; }

.firefox-feature-contents {
	margin: 0 0 20px 19px;
	height: 300px;
	color: #898378;
	position: relative;
}

.firefox-feature-contents h4 {
	color: #898378;
	padding-top: 22px;
	margin-bottom: 0.5em;
	font-size: 155%;
}

.firefox-feature-contents p {
	width: 400px;
	line-height: 1.6;
}

.image-caption {
	position: absolute;
	color: #afaba3;
	top: 15px;
}

.pager-content {
	position: relative;
}

#feature-features.firefox-feature-contents,
#page-feature-features.firefox-feature-contents {
	background: #fff url(/en-US/img/tignish/firefox/feature-bg-awesome.png) bottom right no-repeat;
}

.platform-mac #feature-features.firefox-feature-contents,
.platform-mac #page-feature-features.firefox-feature-contents {
	background-image: url(/en-US/img/tignish/firefox/feature-bg-awesome-mac.png);
}

#feature-features.firefox-feature-contents .image-caption,
#page-feature-features.firefox-feature-contents .image-caption {
	right: 185px;
	top: 0px;
}

#feature-security.firefox-feature-contents,
#page-feature-security.firefox-feature-contents {
	background: #fff url(/en-US/img/tignish/firefox/feature-bg-private.png) bottom right no-repeat;
}

.platform-mac #feature-security.firefox-feature-contents,
.platform-mac #page-feature-security.firefox-feature-contents {
	background-image: url(/en-US/img/tignish/firefox/feature-bg-private-mac.png);
}

#feature-security.firefox-feature-contents .image-caption,
#page-feature-security.firefox-feature-contents .image-caption {
	right: 150px;
	top: -20px;
}

#feature-performance.firefox-feature-contents,
#page-feature-performance.firefox-feature-contents {
	background: #fff url(/img/tignish/firefox/feature-bg-performance.png) bottom right no-repeat;
}

#feature-performance.firefox-feature-contents p,
#page-feature-performance.firefox-feature-contents p { width: 350px; }

.footnote {
	font-size: 75%;
	font-family: verdana, sans-serif;
}

#feature-personalization.firefox-feature-contents,
#page-feature-personalization.firefox-feature-contents {
	background: url(/en-US/img/tignish/firefox/feature-bg-personalization.png) bottom left no-repeat;
	margin-left: 0;
	padding-left: 500px;
}

.platform-mac #feature-personalization.firefox-feature-contents,
.platform-mac #page-feature-personalization.firefox-feature-contents {
	background: url(/en-US/img/tignish/firefox/feature-bg-personalization-mac.png) bottom left no-repeat;
}

#feature-personalization.firefox-feature-contents p,
#page-feature-personalization.firefox-feature-contents p {
	width: 360px;
}

#feature-personalization.firefox-feature-contents .image-caption,
#page-feature-personalization.firefox-feature-contents .image-caption {
	right: 205px;
	top: -10px;
}

.platform-mac #feature-personalization.firefox-feature-contents .image-caption,
.platform-mac #page-feature-personalization.firefox-feature-contents .image-caption {
	right: 225px;
	top: 0px;
}

#feature-mission.firefox-feature-contents,
#page-feature-mission.firefox-feature-contents {
	background: #fff url(/en-US/img/tignish/firefox/feature-bg-mission.png) bottom right no-repeat;
}

.platform-mac #feature-mission.firefox-feature-contents,
.platform-mac #page-feature-mission.firefox-feature-contents {
	background-image: url(/en-US/img/tignish/firefox/feature-bg-mission-mac.png);
}


#feature-mission.firefox-feature-contents p,
#page-feature-mission.firefox-feature-contents p {
	width: 385px;
}

#firefox-sub-features {
	background: url(/img/tignish/firefox/subfeature-background-firefox.jpg) 5px 0 no-repeat;
	margin: 40px 0 20px 0;
	padding: 5px 20px 0 20px;
	height: 190px;
	font-size: 108%;
}

.sub-feature {
	width: 244px;
	height: 190px;
	margin: 0 28px;
	float: left;
	display: inline; /* fix IE margin issue */
	position: relative;
}

.sub-feature h3 a {
	display: block;
	position: relative;
}

.sub-feature h3 a:link,
.sub-feature h3 a:visited {
	color: #4B4740;
}

.sub-feature h3 { margin-bottom: 5px; }

.sub-feature p {
	font-size: 108%;
	margin-bottom: 0;
	margin-right: 15px;
	color: #afaba3;
	line-height: 1.4;
}

#firefox-tour.sub-feature {
	margin: 0 43px 0 13px;
}

#firefox-tour.sub-feature h3 {
	font-size: 100%;
	margin: 0;
}

#firefox-tour.sub-feature h3 a {
	height: 160px;
	display: block;
}

#firefox-tour.sub-feature h3 a span.title {
	font-size: 165%;
	padding-top: 1em;
	margin-bottom: 1em;
	display: block;
	position: relative;
}

#firefox-tour.sub-feature h3 a span.subtitle {
	color: #0489B7;
	position: absolute;
	bottom: 0px;
}

#firefox-tour.sub-feature h3 a:hover,
#firefox-tour.sub-feature h3 a:active {
	text-decoration: none;
}

#firefox-tour.sub-feature h3 a:hover span,
#firefox-tour.sub-feature h3 a:active span {
	text-decoration: underline;
	cursor: hand;
}

#firefox-tour.sub-feature h3 a {
	padding-right: 125px;
}

#firefox-tour.sub-feature p {
	margin-right: 100px;
}

#firefox-awards.sub-feature h3 a {
	padding-right: 100px;
}

#firefox-awards.sub-feature p {
	margin-right: 100px;
}

.sub-feature a.bottom {
	position: absolute;
	bottom: 30px;
}

#main-feature p {
	margin-bottom: 0px;
}

.alt-video-link {
	font-size: 85%;
}

.alt-video-link:link,
.alt-video-link:visited {
	color: #69645c;
}

.alt-video-link:hover,
.alt-video-link:active {
	color: #898378;
}

p#no-flash-text { margin: 1em !important; }

body#firefox #footer { margin-top: 40px; }

/* }}} */
/* {{{ Download Stats */

#firefox #main-feature #download-stats {
    display: none;
	float: right;
	width: 170px;
	margin-right: 35px;
	margin-top: 20px;
	background: #fff;
	padding-bottom: 5px;
	background: url(/img/firefox/stats/download-stat-sidebar.png) -170px 100% no-repeat;
}

#firefox #main-feature #download-stats p {
	background: url(/img/firefox/stats/download-stat-sidebar.png) 0 0 no-repeat;
	font-size: 85%;
	color: #807970;
	padding: 0;
	padding: 10px;
	margin: 0;
}

#firefox #main-feature #download-stats a.downloads {
	font-size: 131%;
}

#firefox #main-feature #download-stats a {
    display: block;
}

/* }}} */
/* {{{ Download Button */

#firefox ul.home-download {
	width: 365px;
	margin: 0 0 0 28px;
	left: auto;
}

#firefox ul.home-download li {
	padding: 0;
	position: relative;
	height: 124px;
}

* html #firefox ul.home-download li {
	background: none;
}

#firefox ul.home-download li a.download-link {
	background-image: url(/img/tignish/firefox/download-button-primary.png);
	height: 124px;
	padding: 0;
}

#firefox ul.home-download li a.download-link span {
	padding: 55px 20px 20px 128px;
	height: 49px;
	display: block;
}

* html #firefox ul.home-download li a.download-link {
	background-image: url(/img/tignish/firefox/download-button-primary-ie.png);
}

#firefox ul.home-download li a:hover {
	background-position: top left;
}

#firefox ul.home-download li a:hover span {
	background: url(/img/tignish/firefox/download-button-primary.png) top right no-repeat;
}

* html #firefox ul.home-download li a.download-link:hover span {
	background: url(/img/tignish/firefox/download-button-primary-ie.png) top right no-repeat;
}

#firefox ul.home-download li a.download-link span { line-height: 1.1; }

#firefox ul.home-download li a.download-link em { color: #38a801; }

#firefox ul.home-download li a.download-link strong {
	font-family: georgia, serif;
	font-weight: normal;
	font-size: 145%;
	padding-right: 27px;
	background: url(/img/tignish/firefox/download-arrow.png) right center no-repeat;
}

#firefox ul.download li a.download-link:hover,
#firefox ul.download li a.download-link:active {
	text-decoration: none;
}

#firefox #main-feature .download-other {
	margin-left: 75px;
	width: 300px;;
	font-size: 70%;
}

#firefox #main-feature .download-other a {
	white-space: nowrap;
}

.download-noscript { margin-left: 35px; width: 400px; }
.download-noscript h3 { font-size: 120%; margin-bottom: 0; }
.download-noscript h3 span { display: block; font-size: 75%; color: #898378; }
.download-noscript ul { margin-top: 0.5em; }

/* }}} */
/* {{{ Performance Chart */

#performance-chart {
	position: absolute;
	top: 0;
	right: 0;
	width: 495px;
}

#performance-chart h4 {
	color: #4b4740;
	margin: 0 0 0 20px;
	letter-spacing: -0.015em;
}

#performance-chart p {
	font-size: 85%;
	margin: 0 0 20px 20px;
}

#performance-chart img {
	height: 130px;
}

#performance-chart ul {
	left: 0;
	margin: 10px 0 0 0;
	padding: 0;
}

#performance-chart ul li {
	float: left;
	background: none;
	padding: 0;
	margin: 0;
	width: 155px;
	text-align: center;
	font-family: verdana, sans-serif;
	font-weight: bold;
	color: #4b4740;
}

/* }}} */
/* {{{ Video Launcher */

.firefox-video-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 950px;
}

.firefox-video-window {
	position: absolute;
	left: 58px;
	top: 0;
	width: 834px;
	height: 570px;
	z-index: 1000;
	background: url(/img/tignish/firefox/video-frame.png) no-repeat;
}

* html .firefox-video-window {
	background-image: url(/img/tignish/firefox/video-frame-ie.png);
}

.firefox-video-player {
	margin: 0 97px;
	text-align: center;
}

.firefox-video-player-link,
.firefox-video-player-close {
	margin: 35px 50px 15px 0;
	text-align: right;
}

.firefox-video-player-link a,
.firefox-video-player-close a {
	display: block;
	height: 35px;
	padding-right: 40px;
	padding-top: 8px;
	font-size: 90%;
	background: url(/img/tignish/firefox/video-close.png) no-repeat 100% 0;
}

.firefox-video-player-link a {
	padding-right: 10px;
	background: none;
}

#firefox-video #main-feature {
	text-align: center;
	padding-top: 20px;
}

#firefox-video .firefox-video-window {
	text-align: left;
	position: static;
	margin: 0 auto;
	padding-top: 1px;
}

/* }}} */

#firefox #firefox-update, 
#firefox #switching {
	display: inline;
	float: left;
	margin: 0 30px 30px 30px;
	padding: 15px 35px 0 10px;
	width: 375px;
	background: #fff url(/img/tignish/firefox/switching-background-ie.png) top center no-repeat;
}
#firefox #firefox-update { margin: 0 10px 30px 45px; }
#firefox #switching { margin: 0 45px 30px 10px; }

#firefox #firefox-update h3,
#firefox #switching h3 {
	margin: 0;
	color: #807970;
}

#firefox #firefox-update p,
#firefox #switching p {
	color: #afaba3;
	margin: 5px 0;
	font-size: 116%;
}
