/* {{{ Header and Template */

body {
	background-position: 50% -35px;
}

#wrapper {
	background: transparent url(/img/tignish/firstrun/3.6/background.jpg) no-repeat center -35px;
}

#main-feature {
	margin: 0;
	min-height: 185px;
}

#main-feature h2 {
	padding: 0;
	font-size: 200%;
}

#main-feature #title-logo {
	float: left;
	margin: 0 15px 15px 0;
}

#main-feature #title-wordmark {
	margin-top: 4px;
	display: block;
}

#main-feature p {
	font-size: 137%;
	margin-right: 365px;
	margin-bottom: 10px;
	color: #69645c;
	clear: left;
}

/* }}} */
/* {{{ Content Area */

#main-content {
	margin: 0 0 100px 0;
	background: url(/img/tignish/firstrun/3.6/divider.png) 0 27px no-repeat;
	padding-left: 30px;
	padding-right: 0;
	width: auto;
}

#main-content .sub-feature {
	float: right;
	width: 235px;
	color: #69645c;
	margin-right: 0;
	padding: 0 35px 10px 5px;
}

#main-content .sub-feature h3 {
	margin: 25px 0 10px 0;
	padding: 20px 25px 0 5px;
	font-size: 131%;
	color: #69645c;
}

#main-content .sub-feature p {
	padding-left: 5px;
	padding-right: 25px;
}

#main-content .sub-feature a.feature {
	background: transparent url(/img/tignish/firstrun/link-arrow.png) left 5px no-repeat;
	display: block;
	margin: 5px 25px 5px 5px;
	padding-left: 12px;
}

[dir=rtl] #main-content .sub-feature p a.feature {
	background: transparent url(/img/tignish/firstrun/link-arrow-rtl.png) right center no-repeat;
	padding-left: 0;
	padding-right: 12px;
}

#personas.sub-feature {
	width: 600px;
	padding-right: 0 25px 10px 5px ;
	margin-right: 0;
	background: url(/img/tignish/firstrun/3.6/divider.png) -35px 100% no-repeat;
	float: left;
}

#personas.sub-feature p {
	clear: left;
}

#personalize.sub-feature {
	background: url(/img/tignish/firstrun/3.6/background-personalize.png) top right no-repeat;
}

#personalize.sub-feature h3 {
	padding-right: 50px;
	letter-spacing: -1px;
}

#features.sub-feature {
	background: url(/img/tignish/firstrun/3.6/background-features.png) top right no-repeat;
}

#personalize.sub-feature p,
#features.sub-feature p {
	margin-bottom: 10px;
}

#sample {
	float: left;
	margin-bottom: 25px;
}

iframe {
	border: 0;
	margin-left: 5px;
}

/* }}} */
/* {{{ Personas List */

#personas.sub-feature p#try-on {
	margin: 12px 0 0 353px;
	padding-bottom: 0;
}

#try-on span {
	padding-right: 37px;
	background: url(/img/tignish/firstrun/3.6/arrow.png) 100% 50% no-repeat;
	min-height: 26px;
	display: inline-block;
}

#personas-list {
	float: left;
	display: block;
	width: 220px;
	margin: 8px 0 0 20px;
}

#personas-list li {
	background: none;
	float: left;
	margin: 0 10px 10px 0;
	padding: 0;
}

#personas-list li img {
	width: 100px;
	height: 33px;
	display: block;
}

/* }}} */
/* {{{ Footer */

#follow {
	margin: 1em;
	padding: 25px 0;
	font-size: 85%;
	clear: left;
}

/* }}} */
/* {{{ Variation 2 */

.variation-2 #main-content {
	background-image: url(/img/tignish/firstrun/3.6/background-content.png);
}

.variation-2 #main-content .sub-feature {
	width: 280px;
}

.variation-2 #personas.sub-feature {
	background: url(/img/tignish/firstrun/3.6/background-personas.png) bottom right no-repeat;
	float: left;
	width: 520px;
	margin-right: 65px;
	padding-right: 5px;
}

.variation-2 #personas-list {
	margin: 10px 15px;
	width: 335px;
	display: inline-block;
	float: none;
}

.variation-2 #personas.sub-feature p#try-on {
	margin: 0 0 8px;
}

/* }}} */
