body {
    background-image: url(/img/tignish/firstrun/3.5/background-tile.jpg);
    background-position: 50% -60px;
}

#wrapper {
    background: transparent url(/img/tignish/firstrun/3.5/background.jpg) no-repeat scroll 50% 0;
}

#main-feature { min-height: 295px; }
* html #main-feature { height: 365px; /* Hack for IE6 */ }

#main-feature {
    margin: 0;
    padding-left: 35px;
    padding-top: 50px;
}

#main-feature h2 {
    padding: 0;
    margin: 0 0 35px 180px;
    font-size: 205%;
}

#main-feature #main-title {
    height: 74px;
    width: 378px;
}

#main-feature p {
    margin: 0 300px 0 0;
    color: #69645c;
}

#main-feature h2 span {
    display: block;
    margin-bottom: 10px;
}

#main-feature p.more-details {
    font-size: 100%;
    margin: 10px 0;
}

#main-content .clear {
    clear: both;
}

#main-content {
    background: url(/img/tignish/firstrun/3.5/sub-feature-top.png) center top no-repeat;
    margin: 0;
    width: 950px;
}

#main-content.fallback {
    background: none;
}

#main-content #sub-features {
    background: url(/img/tignish/firstrun/3.5/sub-feature-bottom.png) bottom center no-repeat;
}

#main-content.fallback #sub-features {
    background: none;
    margin: 0 35px;
}

#main-content .sub-feature {
    float: left;
    display: inline;
    width: 225px;
    color: #69645c;
    margin-top: 35px;
    margin-right: 0;
    padding-bottom: 20px;
    min-height: 15em;
}

#main-content.fallback .sub-feature {
    width: 425px;
    min-height: 0;
    margin-top: 10px;
}

#main-content .sub-feature h3 {
    margin: 0 0 10px 0;
    font-size: 137%;
}

#main-content .sub-feature p {
    padding-left: 5px;
    padding-right: 25px;
}

#main-content .sub-feature p.first {
    min-height: 8em;
}

#main-content.fallback .sub-feature p.first {
    min-height: 0;
}

#main-content .sub-feature p a {
    background: transparent url(/img/tignish/firstrun/link-arrow.png) left 5px no-repeat;
    display: block;
    margin-top: 15px;
    padding-left: 12px;
}

[dir=rtl] #main-content .sub-feature p a {
    background: transparent url(/img/tignish/firstrun/link-arrow-rtl.png) right center no-repeat;
    padding-left: 0;
    padding-right: 12px;
}

#main-content #addons p a {
    padding-right: 85px;
}

#main-content #open-video {
    margin-left: 40px;
    margin-right: 20px;
    width: 410px;
}

.mozilla-video-scaler,
.mozilla-video-scaler-shim {
    float: right;
}

a.mozilla-video-scaler-close-link {
    font-family: verdana, sans-serif;
    font-size: 90%;
    color: #fff;
    display: block;
    padding: 7px 10px 0 25px;
    top: -500px;
    position: absolute;
    background: rgba(0, 0, 0, 0.5) url(/img/tignish/video/close.png) 10px 11px no-repeat;
    -moz-border-radius: 4px;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-bottomright: 0;
}

.mozilla-video-control {
    width: 192px; /* Initial size */
    height: 108px;
    margin: 0.2em 20px 0.5em 1em;
    -moz-border-radius: 4px;
    border: 10px solid rgba(0, 0, 0, 0.5);
}

.mozilla-video-scaler-opened .mozilla-video-control {
    -moz-border-radius-topright: 0;
}

.mozilla-video-control video {
    display: block;
}

#main-content #sumo {
    margin-right: 25px;
}

#main-content #sumo h3 {
    margin-right: 90px;
}

#main-content #sumo p {
    margin-top: 30px;
    margin-right: 0px;
}

#thanks {
    font-size: 85%;
    color: #898378;
    background: url(/img/tignish/firstrun/3.5/dailymotion.png) top left no-repeat;
    padding: 5px 40px 10px 45px;
    min-height: 30px;
}

#follow {
    margin: 1em;
    text-align: center;
    font-size: 85%;
}

/* per locale tweaks */

.locale-en-US #main-content #sumo p {
    margin-top: 0px;
    margin-right: 40px;
}

#main-feature h2 img {
    width:378px;
    height:74px;
}
