body {
  background:url("/img/ff3beta/firstrun/3.1b2firstrun-bg.jpg") repeat-x scroll left top #87A3D2;
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 13px;
	font-family: verdana;
	color: #332758;
}

a:link,
a:visited {
	color: #bd5127;
}

a:hover,
a:active {
	color: #cd8f76;
}

img { border: 0; }

h1 {
	color: #000;
	text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 0;
	font-style: italic;
	font-size: 30px;
	margin: 15px 10px;
}
h2 {
    font-size: 15px;
}

h1, h2, strong {
    font-family: "Laffayette Comic Pro", sans-serif;
    text-rendering: optimizeLegibility;
}
p {
    margin: 10px 0;
}

#frame {
	margin: 0 auto;
	text-align: left;
	width: 880px;
	background: url(/img/ff3beta/firstrun/3-5rc1firstrun-robobg.jpg) top left no-repeat;
}

#content {
	margin-top:  20px;
	padding-top: 10px;
	min-height: 420px;
}

.box {
    background-color: rgba(255,255,255,0.8);
    border: 1px solid #000000;
    -moz-border-radius: 6px;
    max-width: 405px;
    padding: 5px;
    margin: 10px 10px;
    vertical-align: top;
}
.bottom .box {
    display: inline-block;
    min-height: 168px;
}
.left {
    margin-right: 16px;
}
.right {
    margin-left: 0;
}

#footer {
	font-family: "Laffayette Comic Pro", sans-serif;
	text-rendering: optimizeLegibility;
	font-size: 85%;
	color: #5b779b;
	text-align: center;
}
