body {
	background-position: 50% -20px;
}

#wrapper {
	background: transparent url(/img/tignish/firstrun/background-firstrun.jpg) no-repeat center top;
}

#main-feature {
	margin: 0;
	padding-left: 95px;
	padding-top: 65px;
}

#main-feature h2 {
	padding: 0;
	margin: 0 0 40px 180px;
}

#main-feature p {
	margin: 0 200px 0 0;
	font-size: 137%;
}

#main-content {
	margin: 0 0 100px 95px;
	width: auto;
}

#main-content .sub-feature {
	float: left;
	width: 225px;
	color: #69645c;
	margin-top: 35px;
	margin-right: 0;
	padding-bottom: 20px;
	background: url(/img/tignish/firstrun/sub-feature-bottom.png) bottom left no-repeat;
	min-height: 14.5em;
}

#main-content #learn_more,
#main-content #questions {
	margin-right: 75px;
}

#main-content .sub-feature h3 {
	background: url(/img/tignish/firstrun/sub-feature-top.png) top left no-repeat;
	margin: 0 0 10px 0;
	padding: 20px 25px 0 5px;
	font-size: 137%;
}

#main-content .sub-feature p {
	padding-left: 5px;
	padding-right: 25px;
	min-height: 6.5em;
}

#main-content .sub-feature a {
	background: transparent url(/img/tignish/firstrun/link-arrow.png) left 5px no-repeat;
	display: block;
	margin: 15px 25px 15px 5px;
	padding-left: 12px;
}

#main-content .sub-feature p a {
	margin: 15px 0;
}

[dir=rtl] #main-content .sub-feature p a {
	background: transparent url(/img/tignish/firstrun/link-arrow-rtl.png) right center no-repeat;
	padding-left: 0;
	padding-right: 12px;
}

#main-content .sub-feature img {
	float: right;
	margin: 1em 0 1em 1em;
}

#tab-close {
	background: #e6e6e6 url(/img/tignish/content/firstrun-closetab-background.png) top left repeat-x;
	height: 40px;
	border-bottom: 1px #76a3b4 solid;
}

#tab-close p {
	background: url(/img/tignish/content/closetab-uparrow.png) center left no-repeat;
	color: #5F6775;
	text-align: left;
	margin: 0 10px 0 220px;
	padding: 12px 0 12px 35px;
}

[dir=rtl] #tab-close p {
	background-position: center right;
	margin-right: 220px;
	padding-right: 35px;
	padding-left: 0;
	text-align: right;
}

#customize_cooliris,
#customize_foxytunes,
#customize_foxmarks,
#customize_forecastfox,
#customize_stumbleupon,
#customize_linkedin,
#customize_ebay,
#customize_downloadday,
#customize_default {
	display: none;
}

#customize_default.sub-feature {
	background: url(/img/tignish/firstrun/customize-bottom.png) bottom right no-repeat;
}

#personalize.sub-feature {
	background: url(/img/tignish/firstrun/personalize-bottom.png) bottom right no-repeat;
}

#follow {
	margin: 1em;
	padding: 2em;
	clear: both;
	text-align: center;
	font-size: 85%;
}
