body {
    background-position: center -80px;
}

#wrapper {
    background: transparent url(/img/tignish/gettingstarted/background-gettingstarted.jpg) no-repeat center top;
}

#main-feature h2 { margin-right: 0; }

#main-feature p {
    margin-bottom: 0;
    margin-right: 415px;
}

#central #main-feature { min-height: 187px; }

* html #central #main-feature { height: 187px; /* Hack for IE6 */ }

/* {{{ Pagination */

#gettingstarted-feature {
    margin: 0 10px;
    font-size: 110%;
}

.js #gettingstarted-feature {
    overflow: hidden;
    height: 525px;
    width: 950px;
    margin: 0 0 0 10px;
    background: url(/img/tignish/gettingstarted/feature-background.png) 0 50px no-repeat;
}

#gettingstarted-nav {
    margin: 0;
    padding: 0;
    left: auto;
}

#gettingstarted-nav li {
    background: none;
    float: left;
    display: inline;
    margin: 0;
    padding: 15px 0 5px 0;
    min-height: 60px;
}

.js #gettingstarted-nav li {
    background-image: url(/img/tignish/gettingstarted/tab-background.png);
    background-position: center top;
    background-repeat: no-repeat;
}

#gettingstarted-nav li a {
    display: block;
    font-size: 150%;
    text-align: center;
    padding: 10px 35px 8px 35px;
    border-right: 1px solid #d7d5d1;
}

#gettingstarted-nav li.first {
    background-position: left top;
    padding-left: 10px;
}

#gettingstarted-nav li.last {
    background-position: right top;
    padding-right: 15px;
}
#gettingstarted-nav li.last a {
    border-right: 0;
}

#gettingstarted-nav li a.selected:link,
#gettingstarted-nav li a.selected:visited {
    color: #4B4740;
    outline: none;
}

#gettingstarted-nav li a.selected:hover,
#gettingstarted-nav li a.selected:active { text-decoration: none; }

#gettingstarted-nav.pager-selected-feature-work    li#work-link    { background-position: left   -80px; }
#gettingstarted-nav.pager-selected-feature-learn   li#learn-link   { background-position: center -80px; }
#gettingstarted-nav.pager-selected-feature-play    li#play-link    { background-position: center -80px; }
#gettingstarted-nav.pager-selected-feature-connect li#connect-link { background-position: right  -80px; }


.gettingstarted-feature-contents {
    clear: both;
    padding: 10px 35px;
}

.gettingstarted-feature-contents h3 { font-size: 137%; margin-top: 10px; }
.gettingstarted-feature-contents h4 { font-size: 110%; }

.gettingstarted-feature-contents p { margin-bottom: 2em; }

.gettingstarted-feature-contents h4 a img {
    float: right;
    padding: 0 0 0 1em;
}

.gettingstarted-feature-contents .try-this {
    background: url(/img/tignish/gettingstarted/column-divider.png) top left no-repeat;
    padding-top: 35px;
    margin-top: 35px;
}

.col1 {
    float: left;
    width: 435px;
    margin-right: 35px;
    background: #fff;
}

.col2 {
    float: left;
    width: 385px;
    background: #fff;
}


/* }}} */
/* {{{ Footer Features */

#firefox-info,
#mozilla-info {
    float: left;
    width: 315px;
    padding: 28px 20px 80px 100px;
    background-position: top left;
    background-repeat: no-repeat;
    margin: 1em 20px 1em 20px;
    color: #afaba3;
    display: inline;
}

#firefox-info {
    background-image: url(/img/tignish/gettingstarted/firefox-info.png);
}

#mozilla-info { background-image: url(/img/tignish/gettingstarted/mozilla-info.png); }

#firefox-info h3,
#mozilla-info h3 {
    margin: 0 0 10px 0;
    color: #807970;
    font-size: 175%;
}

/* }}} */

/* per locale adjustments */
.locale-es-CL .col1 p {

margin-bottom:0.8em;

}
