/* {{{ Fonts */

body, h1, h2, h3, h4, h5, h6 {
	font-family: MetaWebPro-Bold, sans-serif;
	color: #69645C;
}

a:link, a:visited {
	color: #0489b7;
	text-decoration: none;
}

a:hover, a:active {
	color: #0489b7;
	text-decoration: underline;
}

/* }}} */
/* {{{ Header and Template */

body {
	background: transparent url(/img/ss/firefox/central/test-a/background.jpg) repeat-x center top;
}

#wrapper { background:none; }

#main-feature {
	margin: 0;
	padding: 35px 30px;
}

#main-feature h2 {
	margin: 0;
	padding: 0;
	font-size: 200%;
	float: left;
}

#main-feature #title-logo {
	display: block;
	height: 141px;
	margin: 0 15px 15px 0;
}

#main-feature p {
	font-size: 20px;
	font-family: MetaWebPro-Book, sans-serif;
	letter-spacing: -0.015em;
	line-height: 1.24;
	margin: 25px 75px 10px 575px;
}

#main-content {
	margin-top: 15px;
	margin-right: 35px;
	width: 585px;
	font-size: 17px;
}

/* }}} */
/* {{{ Main Content*/

#main-content p,
#main-content ul {
	font-size: 14px;
	font-family: Georgia, serif;
}

#whatsnew h3 {
	margin-bottom: 0;
}

#whatsnew {
	margin-left: 10px;
}

/* }}} */
/* {{{ Extras */

#extras {
	border: 1px solid #e2e0e0;
	-moz-box-shadow: 4px 3px 10px rgba(0,0,0,0.3);
	-moz-border-radius: 8px;
	border-radius: 8px;
	margin: 40px 0;
}

#extras ul {
	left: 0;
	margin: 0;
	display: inline;
}

#extras ul li,
#extras ul li img {
	background: none;
	display: inline-block;
}

#extras ul li {
	padding: 20px;
}

#extras ul li:first-child {
	padding-right: 0px;
}

#extras p {
	border-left: 1px solid #e2e0e0;
	display: inline-block;
	margin: 0;
	padding: 20px 10px 20px 60px;
	width: 380px;
	background: url(/img/ss/firefox/central/test-a/mobile.png) 20px 50% no-repeat;
}

/* }}} */
/* {{{ Sidebar */

#sidebar p,
#sidebar ul {
	font-size: 12px;
	font-family: Georgia, serif;
}

#popular_support {
	background: url(/img/ss/firefox/central/test-a/sidebar-background-1.png) top left no-repeat;
	margin-bottom: 40px;
}

#popular_support div {
	background: url(/img/ss/firefox/central/test-a/sidebar-background-1.png) bottom right no-repeat;
	padding: 25px;
}

#sidebar h3 {
	margin: 0 40px 10px 0;
	font-size: 20px;
}

#tips {
	background: url(/img/ss/firefox/central/test-a/sidebar-background-2.png) top right no-repeat;
	padding: 25px;
}

/* }}} */
/* {{{ Support Form */

#support_form {
	padding: 10px 20px 20px 20px;
	margin-bottom: 10px;
	border: 1px solid #e16601;
	border-radius: 8px;
	-moz-border-radius: 8px;
	background: #fcd700;
	background: -moz-linear-gradient(top, #fffce9, #fcd700);
	-moz-box-shadow: 4px 3px 10px rgba(0,0,0,0.3);
}

#support_form h3 {
	color: #e16601;
	margin: 0 0 10px 0;
	font-size: 28px;
}

#support_form #fsearch-new {
	border: 1px solid #e1a06b;
	border-top-color: #e16601;
	background: -moz-linear-gradient(top, #eee, #fff 20%);
	padding: 3px;
	width: 440px;
}

#support_form input[type="submit"] {
	border: 0;
	background: #e26100;
	background: -moz-linear-gradient(top, #e28500, #e26100);
	text-transform: uppercase;
	padding: 3px 5px;
	-moz-border-radius: 4px;
	border-radius: 3px;
	margin-left: 6px;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	font-family: MetaWebPro-Bold;
}

/* }}} */
/* {{{ Footer */

#footer {
	min-height: 100px;
	margin-top: 40px;
}

#footer form,
#footer #footer-menu {
	display: none;
}

#sub-links {
	clear: both;
	text-align: center;
	font-family: MetaWebPro-Book, sans-serif;
	font-size: 14px;
}

#sub-links a {
	margin-left: 0.5em;
	margin-right: 0.5em;
}

/* }}} */
