/* {{{ Fonts */

body, h1, h2, h3, h4, h5, h6 {
	font-family: MetaWebPro-Bold, sans-serif;
	color: #69645C;
}

a:link, a:visited {
	color: #0489b7;
	text-decoration: none;
}

a:hover, a:active {
	color: #0489b7;
	text-decoration: underline;
}

/* }}} */
/* {{{ Template */

body {
	background: transparent url(/img/tignish/gettingstarted/alt/background.jpg) repeat-x center top;
}

#doc {
	width: auto;
}

#main-feature {
	width: 950px;
	height: 380px;
	margin: 0 auto;
	padding: 0;
}

#main-content {
	position: relative;
	top: -20px;
	float: none;
	display: block;
	width: 100%;
	margin: 0;
	padding: 20px 0;
	overflow: hidden;
}

#main-content-interior {
	background: #fff;
	-moz-box-shadow: 0 0 20px rgba(0,0,0,0.3);
	overflow: auto;
}

/* }}} */
/* {{{ Header */

#wrapper { background:none; }

#main-feature h2 {
	margin: 0 35px;
	padding-top: 35px;
	height: 105px;
}

#main-feature h2 img {
	vertical-align: middle;
}

#main-feature h2 {
	font-family: MetaWebPro-Bold;
	font-size: 38px;
}

#main-feature h2 span {
	border-left: 1px solid #fff;
	margin-left: 20px;
	padding: 5px 0 5px 20px;
	display: inline-block;
}


/* }}} */
/* {{{ Screenshot */

#screenshot {
	background: url(/img/tignish/gettingstarted/alt/screenshot-default.png) 0 0 no-repeat;
	height: 240px;
	margin-left: 36px;
}

#screenshot div {
	height: 240px;
	background: url(/img/tignish/gettingstarted/alt/screenshot.png) 0 250px no-repeat;
}

#screenshot div.screenshot-overlay-awesomebar { background-position: 0     0px; }
#screenshot div.screenshot-overlay-bookmark   { background-position: 0  -250px; }
#screenshot div.screenshot-overlay-password   { background-position: 0  -500px; }
#screenshot div.screenshot-overlay-private    { background-position: 0  -750px; }
#screenshot div.screenshot-overlay-websiteid  { background-position: 0 -1000px; }
#screenshot div.screenshot-overlay-tabs       { background-position: 0 -1250px; }
#screenshot div.screenshot-overlay-personas   { background-position: 0 -1500px; }
#screenshot div.screenshot-overlay-addons     { background-position: 0 -1750px; }

/* }}} */
/* {{{ Feature List */

#feature-list {
	width: 950px;
	margin: 0 auto;
	padding: 20px 0;
}

#feature-list h2 {
	font-size: 28px;
	color: #898378;
	margin: 0 0 0 30px;
}

ul#features {
	padding: 0 0 25px 0;
	margin: 20px 0 0 25px;
	width: 720px;
	float: left;
}

#features li {
	float: left;
	margin: 0 3px 3px 0;
	padding: 0;
	width: 177px;
	background: none;
}

#features li a {
	display: block;
	padding: 10px 15px;
	height: 8em;
	-moz-border-radius: 4px;
}

#features li a:hover,
#features li a:active {
	background: #74746e;
	text-decoration: none;
	color: #fff;
}

#features li span {
	display: block;
}

#features li span.title {
	font-size: 16px;
	line-height: 1.2;
	margin-bottom: 4px;
}

#features li span.desc {
	font-family: georgia, serif;
	font-size: 11px;
	color: #898378;
}

#features li a:hover span.desc,
#features li a:active span.desc {
	color: #fff;
}

#features li span.learn {
	opacity: 0;
	color: #fce147;
	font-size: 14px;
}

#features li a:hover span.learn {
	opacity: 1;
}

/* }}} */
/* {{{ Learn More */

#learn_more {
	float: right;
	width: 150px;
	background: url(/img/tignish/gettingstarted/alt/sidebar-background-1.png) 100% 100% no-repeat;
	width: 146px;
	padding: 15px 15px 100px 15px;
	margin: 20px 29px 0 0;
}

#learn_more h3 {
	margin: 0 0 10px 0;
}

#learn_more ul {
	left: 0;
	margin: 0;
	padding: 0;
	font-family: georgia, serif;
	font-size: 13px;
}

#learn_more ul li {
	margin: 0;
	padding: 0;
	background: 0;
}

/* }}} */
/* {{{ Footer */

#content {
	width: 950px;
	margin: 0 auto;
}

#content ul {
	left: 0;
	margin: 0;
	float: left;
}

#content ul li,
#content ul li img {
	background: none;
	display: inline-block;
}

#content ul li {
	padding: 15px;
}

#content ul li:first-child {
	padding-right: 0px;
}

#content p {
	float: left;
	border-left: 1px solid #e2e0e0;
	border-right: 1px solid #e2e0e0;
	margin: 0 0 0 10px;
	padding: 10px 10px 10px 60px;
	width: 450px;
	background: url(/img/ss/firefox/central/test-a/mobile.png) 20px 50% no-repeat;
	font-family: georgia, serif;
	font-size: 13px;
}

/* }}} */
/* {{{ Support Form */

#support_form {
	float: left;
	padding: 10px 20px;
	margin: 0;
}

#support_form h3 {
	margin: 0 5px 10px 0;
	font-size: 18px;
	display: inline;
}

#support_form #fsearch-new {
	border: 1px solid #e1a06b;
	border-top-color: #e16601;
	border-right: 0;
	background: -moz-linear-gradient(top, #eee, #fff 20%);
	font-family: verdana, sans-serif;
	font-size: 11px;
	color: #666;
	padding: 3px;
	height: 22px;
	width: 125px;
	vertical-align: middle;
}

#support_form input[type="submit"] {
	border: 0;
	background: #e26100 50% 50% no-repeat url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAMCAYAAACwXJejAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAF5JREFUeNpi+P//PwMSNkPjgzG6wG0gDiek6CEQ/wHiNHRFH/5jB0XEKAKBdpAiFgb8oAKI+ZkYCIPXhKzLweemn8hBgS0IPgOxK75wOoMt1BnBKhFAAohfoLscIMAAxXgZufLrNkoAAAAASUVORK5CYII=);
	text-transform: uppercase;
	padding: 3px 8px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	line-height: 22px;
	vertical-align: middle;
}

/* }}} */
/* {{{ Overlay Boxes */

#overlay {
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.2);
	width: 100%;
	z-index: 9999;
}

.overlay-box {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	width: 800px;
	background: rgba(0,0,0,0.5);
	-moz-border-radius: 20px;
	padding: 15px;
	clear: both;
	z-index: 10000;
}

.overlay-inside {
	background: #fff;
	-moz-border-radius: 10px;
	padding: 25px;
	text-align: left;
	overflow: auto;
}

.overlay-box .close {
	position: absolute;
	top: 25px;
	right: 25px;
	display: block;
	height: 15px;
	width: 15px;
	padding: 5px;
	line-height: 50px;
	overflow: hidden;
	background: url(/img/tignish/gettingstarted/alt/close.png) 50% 50% no-repeat;
	-moz-border-radius: 4px;
}

.overlay-box .close:hover,
.overlay-box .close:active {
	background-color: #eee;
	outline: none;
}

.overlay-box h3 {
	margin: 0 0 20px 0;
	font-size: 28px;
}

.overlay-box img,
.overlay-box .mozilla-video-control {
	float: right;
	margin: 0 0 2em 2em;
}

.overlay-box p {
	font-family: Georgia, serif;
	font-size: 110%;
}

/* }}} */
