/* {{{ Fonts */

body, h1, h2, h3, h4, h5, h6 {
	font-family: MetaWebPro-Bold, sans-serif;
	color: #69645C;
}

a:link, a:visited {
	color: #0489b7;
	text-decoration: none;
}

a:hover, a:active {
	color: #0489b7;
	text-decoration: underline;
}

/* }}} */
/* {{{ Header and Template */

body {
	background: transparent url(/img/ss/firefox/central/test-a/background.jpg) repeat-x center top;
}

#wrapper { background:none; }

#main-feature {
	margin: 0;
	padding: 35px 15px;
}

#main-feature h2 {
	margin: 0;
	padding: 0;
	font-size: 200%;
	float: left;
}

#main-feature #title-logo {
	display: block;
	height: 141px;
	margin: 0 15px 15px 0;
}

#main-feature p {
	font-size: 24px;
	font-family: MetaWebPro-Book, sans-serif;
	letter-spacing: -0.015em;
	line-height: 1.24;
	margin: 30px 35px 10px 585px;
	color: #69645c;
}

#main-content {
	margin-top: 15px;
	margin-right: 20px;
	width: 640px;
	font-size: 17px;
}

/* }}} */
/* {{{ Main Content*/

#main-content {
	padding-bottom: 35px;
}

#main-content p,
#main-content ul {
	font-size: 14px;
	font-family: Georgia, serif;
}

#whatsnew h3 {
	margin-bottom: 0;
}

#whatsnew {
	margin-left: 10px;
}

#content {
	margin: 35px 15px;
	padding: 35px 25px 25px 15px;
	clear: both;
	background: top left no-repeat url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAA5MAAAAUCAMAAAAnbJlGAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA9QTFRF9fXz+vr5////6+rn//////XBeQAAAAV0Uk5T/////wD7tg5TAAABVUlEQVR42uya7ZKDIAxF6Xrf/5lrVSB8xNbOzjadPedHHRExibmFMCYBwIdZlrSxnaS9ZYLKwemQL5Vhc0/b3966te8/zRC9CfnJ+YK5Ljumxqc4lhYDzq//FdWdJlTRrJuEVF6amHs1GaQ2Ol4GdX4w71wsJlmPjqvCCreVZJA9MQOkILH4n4jofxHp+h0PsY2ye5ITaBJNwgWJvcRPOawz4+WkSEQaTf6SM7xPV8gvR8dMqFK7Gm7qA3U5NOlTCwlviZ7X186qXG0J25cxRxFqrVFjr05W/AET/3BxrKUjWdf9c7R7BnkvoK0jqzP2fdvW3WFplm3BnB/NU5ekg2bkjLft3hw1pCkjbbWp0iephgoAPrz/WupWggGAJgEATQKgSQB4Q5PEAiCOJs3XcQAQQpMAEIT6JToAME8CwGyaRJMAzJMA4GpSaBKAeRIAfFXeBRgAOakKx3t0DXoAAAAASUVORK5CYII=);
}

.features-footer {
	height: 20px;
	margin-left: -15px;
	width: 915px;
	clear: both;
	background: top left no-repeat url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAA5MAAAAUCAMAAAAnbJlGAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA9QTFRF9fXz+vr5////6+rn//////XBeQAAAAV0Uk5T/////wD7tg5TAAABU0lEQVR42uyb4a6DIAxGcf3e/5m3CwpF4U63H3bJOTFRERVKv5QylwQAYTCzhBUAAikSTQIE06TQJABxEgCGpAx2ACBOAsA8UP5pE1MAxImTeaUHAEJpElECoEkAQJMAaBIArmpSaBIgXpy09cxqubVyV1KuDuqUijZk/YqvXFX3OlepXeyO/SvKpu6OrS2t4YNnTxp2I2sX3UAEbF0/6m1nbjCc0dWZ2o+3Ly0dlkbeFqzzx+Zp56QHzWjyvPxtTv7pMW8b8se1TjK4cfwD+uR3zgx7VpXpQm1hSjQJ5wVzhkfdLcvlqCc0iSbhpCQ/EnFT8lmfSNM5fZs3zxxHW75ZsyJpn79plHiaukccktg+9/AT9i7T0fEt+gkJtO50porWuoFJ9WbGWpcVRpnY5i0/MTST5v0vFuesdZ2jRc/lhY+m8id7TQLAveut7l9aTwEGAJSZCsejG80LAAAAAElFTkSuQmCC);
}
#features h3 {
	font-size: 32px;
	margin-top: 0;
}

#features .column1,
#features .column2,
#features .column3 {
	float: left;
	width: 280px;
	padding-bottom: 20px;
}

#features .feature {
	padding-bottom: 15px;
}

#features .all-top {
	float: right;
	margin-top: 5px;
	font-family: Georgia, serif;
}

#features h4 {
	font-size: 17px;
	margin-right: 20px;
}

#features p {
	font-size: 12px;
	font-family: Georgia, serif;
	margin-right: 20px;
}

/* }}} */
/* {{{ Extras */

#extras {
	clear: both;
	border: 1px solid #e2e0e0;
	-moz-box-shadow: 4px 3px 10px rgba(0,0,0,0.3);
	-moz-border-radius: 8px;
	border-radius: 8px;
	margin: 40px 30px;
	font-family: georgia, serif;
	overflow: auto;
}

#extras ul {
	left: 0;
	margin: 0;
	float: left;
}

#extras ul li,
#extras ul li img {
	background: none;
	display: inline-block;
}

#extras ul li {
	padding: 20px;
}

#extras ul li:first-child {
	padding-right: 0px;
}

#extras p {
	border-left: 1px solid #e2e0e0;
	display: inline-block;
	margin: 0;
	padding: 28px 10px 28px 60px;
	width: 680px;
	background: url(/img/ss/firefox/central/test-a/mobile.png) 20px 50% no-repeat;
}

/* }}} */
/* {{{ Sidebar */

#sidebar {
	margin-top: 15px;
	width: 220px;
}

#sidebar p,
#sidebar ul {
	font-size: 12px;
	font-family: Georgia, serif;
}

#sidebar h3 {
	margin: 0 0 10px 0;
	font-size: 24px;
}

#tips {
	background: url(/img/ss/firefox/central/test-b/sidebar-background-1.png) top right no-repeat;
	padding: 20px;
}

/* }}} */
/* {{{ Support Form */

#sidebar #need_help {
	margin-left: 20px;
}

#support_form {
	padding: 10px 15px 15px 15px;
	margin: 15px 5px;
	border: 1px solid #e16601;
	border-radius: 8px;
	-moz-border-radius: 8px;
	background: #fcd700;
	background: -moz-linear-gradient(top, #fffce9, #fcd700);
	-moz-box-shadow: 4px 3px 10px rgba(0,0,0,0.3);
}

#support_form h3 {
	color: #e16601;
	margin: 0 0 10px 0;
	font-size: 17px;
}

#support_form #fsearch-new {
	border: 1px solid #e1a06b;
	border-top-color: #e16601;
	border-right: 0;
	background: -moz-linear-gradient(top, #eee, #fff 20%);
	padding: 3px;
	width: 145px
}

#support_form input[type="submit"] {
	border: 0;
	background: #e26100 50% 50% no-repeat url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAMCAYAAACwXJejAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAF5JREFUeNpi+P//PwMSNkPjgzG6wG0gDiek6CEQ/wHiNHRFH/5jB0XEKAKBdpAiFgb8oAKI+ZkYCIPXhKzLweemn8hBgS0IPgOxK75wOoMt1BnBKhFAAohfoLscIMAAxXgZufLrNkoAAAAASUVORK5CYII=);
	text-transform: uppercase;
	padding: 3px 8px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	font-family: MetaWebPro-Bold;
}

/* }}} */
/* {{{ Footer */

#footer {
	min-height: 100px;
	margin-top: 40px;
}

#footer form,
#footer #footer-menu {
	display: none;
}

#sub-links {
	clear: both;
	text-align: center;
	font-family: MetaWebPro-Book, sans-serif;
	font-size: 14px;
}

#sub-links a {
	margin-left: 0.5em;
	margin-right: 0.5em;
}

/* }}} */
