/* {{{ Main Feature */

body#home {
	background-image: url(/img/tignish/home/background-tile.jpg);
}


body#home {
	background-position: top center;
}

#wrapper {
	background-image: none;
	background-position: 50% -20px;
	background-repeat: no-repeat;
}

body#home.variation1 #wrapper { background-image: url(/img/tignish/home/feature-background-1.jpg); }
body#home.variation2 #wrapper { background-image: url(/img/tignish/home/feature-background-2.jpg); }
body#home.variation3 #wrapper { background-image: url(/img/tignish/home/feature-background-3.jpg); }
body#home.variation4 #wrapper { background-image: url(/img/tignish/home/feature-background-4.jpg); }
body#home.variation5 #wrapper { background-image: url(/img/tignish/home/feature-background-5.jpg); }

#no-js-feature {
	background: url(/img/tignish/home/feature-background-no-js.jpg) top center no-repeat;
	position: absolute;
	top: 0;
	left: 50%;
	height: 557px;
	width: 948px;
	margin-left: -474px;
}

#main-feature h2 {
	margin-left: 5px;
	font-size: 200%;
}

#main-feature p {
	margin-top: 0;
	margin-right: 425px;
	margin-bottom: 10px;
}

#home #main-feature #feature-contents { min-height: 225px; }

* html #home #main-feature #feature-contents { height: 225px; /* Hack for IE6 */ }

#main-feature .download-other,
#main-feature p.download-other {
	margin-left: 30px;
	width: 285px;
	font-size: 70%;
}

/* }}} */
/* {{{ Main Content */

#main-content {
	float: left;
	display: inline; /* Fix IE double margin float bug */
	width: 520px;
	margin: 35px 0 0 30px;
	font-size: 110%;
}

#main-content h3 {
	margin: 35px 0 5px 5px;
	font-size: 175%;
}

#main-content dl {
	margin: 0;
	padding: 0;
	color: #69645b;
}

#main-content dt {
	background: url(/img/tignish/home/news-divider.png) top left repeat-x;
	font-size: 108%;
	padding: 25px 5px 3px 5px;
	margin: 0;
}

#main-content dt.first {
	background: none;
}

#main-content dd {
	margin: 0;
	padding: 0 5px 25px 5px;
}

/* }}} */
/* {{{ Sidebar */

#sidebar {
	float: left;
	display: inline; /* Fix IE double margin float bug */
	width: 360px;
	margin: 10px 30px 0 0;
	font-size: 110%;
}

#sidebar .front-feature {
	padding: 0 0 10px 80px;
	position: relative;
}

#sidebar .front-feature h3 {
	margin: 0;
	line-height: 1;
	font-size: 170%;
}

#sidebar .front-feature h3 a {
	display: block;
	padding-top: 35px;
}

#sidebar .front-feature h3 a:link,
#sidebar .front-feature h3 a:visited {
	color: #4b4740;
}

#sidebar .front-feature h5 {
	color: #afaba3;
	line-height: 1;
	margin: 0;
	margin-top: 0.2em;
}

#sidebar .front-feature p {
	margin-top: 0.7em;
	margin-right: 110px;
}

#sidebar #mobile-feature {
	background: url(/img/tignish/home/sidebar-mobile.png) 70px 0 no-repeat;
	margin-top: 30px;
}


#sidebar #thunderbird-feature {
	background: url(/img/tignish/home/sidebar-thunderbird.png) 70px 0 no-repeat;
}

#sidebar #fiveyear-feature {
	background: url(/img/tignish/home/sidebar-five-year.png) 70px 0 no-repeat;
}

#sidebar #fiveyear-feature.front-feature h3 a {
	padding-top: 58px;
	padding-right: 90px;
	letter-spacing: -0.02em;
	line-height: 1.2;
}

#sidebar #fiveyear-feature.front-feature p {
	margin-right: 25px;
}

#sidebar #thunderbird-feature h3 a {
	padding-top: 30px;
}

#sidebar #store-feature {
	background: url(/img/tignish/home/sidebar-store.png) 42px 0 no-repeat;
	z-index: 2;
}

#sidebar #store-feature h3 { margin-right: 100px; }

#sidebar #store-feature.front-feature p { margin-right: 125px; }

#sidebar #hiring-feature.front-feature {
	background: url(/img/tignish/home/sidebar-hiring.png) 33px 0 no-repeat;
	padding-top: 45px;
	position: relative;
	top: -45px;
	z-index: 1;
}

#sidebar #store-feature h3 a.external { padding-right: 0; }
#sidebar #store-feature h3 a.external:hover { padding-right: 0; background-image: none; }
#sidebar #store-feature h3 a.external span { padding-right: 12px; }
#sidebar #store-feature h3 a.external:hover span { background: url(/img/tignish/content/external-link-large.png) no-repeat right center; }

#sidebar #hiring-feature.front-feature p { margin-right: 55px; }

/* }}} */
/* {{{ Footer */

#footer {
	margin-top: 20px;
}

/* }}} */
