body#firefox #wrapper {
	background: url(/img/tignish/template/background-feature.jpg) 50% -30px no-repeat;
}

body#firefox {
	background-position: 50% -130px;
}

.js #firefox-feature {
	clear: both;
}

#firefox-sub-features {
	background: url(/img/tignish/firefox/subfeature-background-ie.jpg) 41px 10px no-repeat;
	height: 200px;
}

#firefox-sub-features .sub-feature {
	height: 200px;
}

#firefox-tour.sub-feature h3 a {
	height: 170px;
}

#firefox-switch.sub-feature p { margin-right: 50px; }
#firefox-reasons.sub-feature { width: 280px; }

#side-menu {
	position: static;
	float: right;
	font-size: 85%;
	margin-top: 25px;
	margin-right: 75px;
}

#side-menu h3,
#side-menu span {
	color: #ccc;
}

#firefox #main-feature {
	min-height: 0;
	padding-top: 10px;
	padding-bottom: 5px;
}

* html #firefox #main-feature {
	height: 0;
}

#firefox #main-feature p,
#firefox #main-feature h2 {
	width: 500px;
	margin-right: 0;
	float: left;
	clear: left;
}

#firefox #main-feature h2 {
	font-size: 400%;
	line-height: 1.1;
	margin-bottom: 5px;
}

#feature-contents {
	position: relative;
}

.dl-box {
	margin-left: 550px;
	margin-bottom: 0;
	padding-top: 95px;
}

/* {{{ Feature List */

#feature-list {
	background: url(/img/ss/firefox/ie-a/feature-list-bg.png) top left no-repeat;
	width: 515px;
	margin-left: 25px;
	margin-bottom: 75px;
}

#feature-list ul {
	left: 0;
	background: url(/img/ss/firefox/ie-a/feature-list-bottom.png) bottom left no-repeat;
	padding: 20px 10px;
	margin: 0;
}

#feature-list ul li {
	background-position: 0 0;
	background-repeat: no-repeat;
	padding: 5px 15px 25px 90px;
}

#feature-list ul li#list-fast     { background-image: url(/img/ss/firefox/ie-a/feature-list-fast.png); }
#feature-list ul li#list-secure   { background-image: url(/img/ss/firefox/ie-a/feature-list-secure.png); }
#feature-list ul li#list-personal { background-image: url(/img/ss/firefox/ie-a/feature-list-personal.png); }

#feature-list h3 {
	font-size: 230%;
	margin: 0;
}

#feature-list p {
	margin: 0;
}

#feature-list h3 a {
	color: #4b4740;
}

/* }}} */
