/* {{{ Features */

.features-box {
	clear: left;
	background: url(/img/tignish/features/features-footer.png) left bottom no-repeat;
	margin: 60px 0;
	position: relative;
}

.features-box h3 {
	margin-left: 20px;
}

.features-box h3 a.video {
	background: url(/img/tignish/features/video-reel.png) bottom right no-repeat;
	font-size: 65%;
	margin-left: 10px;
	padding-right: 25px;
}

.features-box p { font-size: 85%; }

.features-box .features-container {
	padding: 10px 20px 30px 0;
	background: url(/img/tignish/features/features-top.png) top left no-repeat;
	position: relative;
}

.features-box .features-row {
	padding-left: 20px;
}

.features-box .features-top-link {
	float: right;
	display: block;
	margin: 10px 10px 0 0;
}

.features-divider hr { display: none; }
.features-divider {
	background: url(/img/tignish/features/features-divider.png) 0 40% no-repeat;
	height: 8px;
	clear: both;
	padding: 30px 0;
	margin-left: 10px;
}

.features-footer { clear: both; }

.feature {
	margin-right: 360px;
	padding-left: 175px;
	position: relative;
	background-position: 0 0;
	background-repeat: no-repeat;
}

.features-box img {
	float: right;
	margin-bottom: 20px;
	margin-right: 10px;
}

.features-box h5 {
	margin-bottom: 5px;
}

.features-box p.footnote {
	font-size: 10px;
	margin: 10px 0
}

/* }}} */
/* {{{ Performance Chart */

#performance-chart {
	position: absolute;
	top: 80px;
	right: 30px;
	width: 400px;
	height: 281px;
	background: url(/img/tignish/features/performance-chart-bg.png) top left no-repeat;
}

#performance-chart h4 {
	color: #4b4740;
	margin: 0 0 0 20px;
	padding-top: 20px;
	font-size: 116%;
}

#performance-chart p {
	font-size: 85%;
	margin: 0 0 20px 20px;
}

#performance-chart img {
	height: 130px;
	margin: 0;
}

#performance-chart ul {
	left: 0;
	margin: 10px 0 0 0;
	padding: 0;
}

#performance-chart ul li {
	float: left;
	background: none;
	padding: 0;
	margin: 0;
	width: 130px;
	text-align: center;
	font-family: verdana, sans-serif;
	font-weight: bold;
	color: #4b4740;
}

/* }}} */

#firefox #content {
	margin: 0 15px;
}

#firefox #content p.link {
	margin: 0 0 5px 0;
	line-height: 1.2;
	font-size: 93%;
}

#performance .feature {
	background-image: url(/img/ss/firefox/ie-b/icon-performance.png);
	margin-right: 450px;
	min-height: 285px;
}

* html #performance .feature { height: 285px; }

#security .feature {
	background-image: url(/img/ss/firefox/ie-b/icon-security.png);
}

#security .feature { padding-bottom: 20px; }

#personalization .feature {
	background-image: url(/img/ss/firefox/ie-b/icon-personalization.png);
}

#features .feature {
	background-image: url(/img/ss/firefox/ie-b/icon-features.png);
}

#mission .feature {
	background-image: url(/img/ss/firefox/ie-b/icon-mission.png);
}

