/* {{{ Header */

body#firefox #wrapper {
	background: url(/img/ss/firefox/ie-c/background.jpg) top center repeat-x;
}

#doc {
	width: 875px;
}

h1#mozilla-logo {
	margin: 0;
	float: left;
}

#firefox #main-feature {
	min-height: 0;
	margin: 0;
	padding: 0;
	clear: both;
	zoom: 1;
	overflow: auto;
}

* html #firefox #main-feature,
* html #firefox #main-feature #feature-contents {
	height: auto;
}

#firefox #main-feature #feature-contents {
	width: 500px;
	float: left;
	clear: both;
	min-height: 0;
}

#firefox #main-feature h2 {
	margin: 0 0 0 10px;
	padding: 0;
	font-size: 375%;
}

/* }}} */
/* {{{ Download button */

.dl-box {
	float: right;
}

#firefox ul.home-download {
	margin: 10px 0 0 0;
}

#firefox #main-feature .download-other {
	left: auto;
}

/* }}} */
/* {{{ Side Menu */

#sidebar {
	float: right;
	margin: 25px 0 0 0;
	font-size: 100%;
	width: 215px;
}

#side-menu {
	position: static;
	margin-left: 15px;
}

#social li {
	background: none;
	padding-bottom: 10px;
}

#social li a {
	display: block;
	zoom: 1;
}

#twitter a  {
	background:url("/img/sprite-16.png") no-repeat scroll 0 0 transparent;
	padding-left:20px;
}

#facebook a {
	background:url("/img/sprite-16.png") no-repeat scroll 0 -40px transparent;
	padding-left:20px;
}


/* }}} */
/* {{{ Search Form */

#support-form {
	float: right;
	margin-right: 10px;
}

#support-form h3 {
	font-size: 123.1%;
	margin-bottom: 5px;
}

#support-form input#fsearch-new {
	border: 1px solid #e16601;
	height: 16px;
	width: 160px;
	padding: 3px 2px 1px 2px;
	display: inline;
	vertical-align: bottom;
	font-family: verdana, sans-serif;
	color: #8d8982;
	font-size: 10px;
}

#support-form input#searchsubmit-new {
	height: 22px;
	width: 21px;
	background: #e26000 url(/img/ss/firefox/3.6/firstrun/a/search-button.png) top left no-repeat;
	border: 0;
	display: inline;
	vertical-align: bottom;
}

/* }}} */
/* {{{ Panel */

#firefox-feature {
	clear: left;
}

.js #firefox-feature {
	width: 607px;
	background: url(/img/ss/firefox/ie-c/feature-background.png) 5px 10px no-repeat;
}

* html .js #firefox-feature {
	background-image: url(/img/ss/firefox/ie-c/feature-background-ie6.png); /* IE6 only */
}

#firefox-feature h3 {
	font-size: 185%;
	padding: 15px 04px 10px 15px;
}

#firefox-feature #firefox-feature-header {
	height: 75px;
}

.firefox-feature-contents {
	height: 213px;
}

.firefox-feature-contents p {
	font-size: 85%;
	width: auto;
	margin-bottom: 0.6em;
	line-height: 1.5;
}

.firefox-feature-contents p.footnote {
	font-size: 70%;
	width: auto;
	margin-bottom: 0.6em;
	line-height: 1.5;
}

.firefox-feature-contents h4 {
	padding-top: 5px;
	margin-bottom: 0.3em;
	font-size: 123.1%;
}

.image-caption { display: none; }

.platform-mac #feature-personalization.firefox-feature-contents,
.platform-mac #page-feature-personalization.firefox-feature-contents,
#feature-personalization.firefox-feature-contents,
#page-feature-personalization.firefox-feature-contents {
	padding-left: 320px;
	padding-right: 20px;
	background-image: url("/img/ss/firefox/ie-c/feature-bg-personalization.png");
}

#feature-performance.firefox-feature-contents p,
#page-feature-performance.firefox-feature-contents p,
#feature-personalization.firefox-feature-contents p,
#page-feature-personalization.firefox-feature-contents p {
	width: auto;
}

.platform-mac #feature-security.firefox-feature-contents,
.platform-mac #page-feature-security.firefox-feature-contents,
#feature-security.firefox-feature-contents,
#page-feature-security.firefox-feature-contents {
	padding-left: 0;
	padding-right: 255px;
	background-image: url("/img/ss/firefox/ie-c/feature-bg-security.png");
}

.platform-mac #feature-performance.firefox-feature-contents,
.platform-mac #page-feature-performance.firefox-feature-contents,
#feature-performance.firefox-feature-contents,
#page-feature-performance.firefox-feature-contents {
	padding-left: 0;
	padding-right: 240px;
	background-image: url("/img/ss/firefox/ie-c/feature-bg-performance.png");
}

.platform-mac #feature-features.firefox-feature-contents,
.platform-mac #page-feature-features.firefox-feature-contents,
#feature-features.firefox-feature-contents,
#page-feature-features.firefox-feature-contents {
	padding-left: 0;
	padding-right: 300px;
	background-image: url("/img/ss/firefox/ie-c/feature-bg-awesome.png");
}

.platform-mac #feature-mission.firefox-feature-contents,
.platform-mac #page-feature-mission.firefox-feature-contents,
#feature-mission.firefox-feature-contents,
#page-feature-mission.firefox-feature-contents {
	padding-left: 0;
	padding-right: 300px;
	background-image: url("/img/ss/firefox/ie-c/feature-bg-mission.png");
}

#feature-mission.firefox-feature-contents p,
#page-feature-mission.firefox-feature-contents p {
	width: auto;
}

#performance-chart {
	display: none;
}

/* }}} */
