/* {{{ Firefox Landing Page */

.dl-box {
	margin-bottom: 0;
}

#firefox #awards {
	display: inline;
	float: right;
	margin-right: 35px;
	width: 400px;
	height: 123px;
	background: url(/img/tignish/firefox/awards-bg-ie.jpg) top right no-repeat;
}
#firefox #awards h3 { margin: 15px 0 12px 0; }

.js #firefox-feature {
	clear: both;
}

#firefox-sub-features {
	background: url(/img/tignish/firefox/subfeature-background-ie.jpg) 41px 10px no-repeat;
	height: 200px;
}

#firefox-sub-features .sub-feature {
	height: 200px;
}

#firefox-tour.sub-feature h3 a {
	height: 170px;
}

#firefox-switch.sub-feature p { margin-right: 50px; }
#firefox-reasons.sub-feature { width: 280px; }
