#install-feedback #doc {
	background: url(/img/tignish/template/background-install-feedback.png) no-repeat 20px 200px;
}

#install-feedback #main-feature { min-height: 365px; }

* html #install-feedback #main-feature { height: 365px; /* Hack for IE6 */ }

#install-feedback #main-feature p {
	font-size: 135%;
	margin-right: 500px;
}
