/* {{{ Header */

#logo #doc {
	background: url(/img/tignish/about/background-logo.png) no-repeat 14px 70px;
}

#logo-use #doc {
	background: url(/img/tignish/about/background-logo-use.png) no-repeat 14px 70px;
}

#logo-stop #doc {
	background: url(/img/tignish/about/background-logo-stop.png) no-repeat 14px 70px;
}

#logo-style #doc,
#logo-legal #doc {
	background: url(/img/tignish/about/background-logo-style.png) no-repeat 14px 70px;
}

#logo-download #doc {
	background: url(/img/tignish/about/background-logo-download.png) no-repeat 14px 70px;
}

#logo #main-feature,
#logo-use #main-feature,
#logo-stop #main-feature,
#logo-style #main-feature,
#logo-legal #main-feature,
#logo-download #main-feature {
	min-height: 255px;
}

#logo #main-feature h2,
#logo-use #main-feature h2,
#logo-stop #main-feature h2,
#logo-style #main-feature h2,
#logo-legal #main-feature h2,
#logo-download #main-feature h2 {
	margin-right: 550px;
}

#logo-stop #main-feature h2 {
	margin-right: 600px;
}

#logo-style #main-feature h2 {
	margin-right: 650px;
}

#logo #main-feature p,
#logo-use #main-feature p,
#logo-stop #main-feature p,
#logo-style #main-feature p,
#logo-legal #main-feature p,
#logo-download #main-feature p {
	font-size: 135%;
	margin-right: 550px;
}

#logo-style #main-feature p,
#logo-legal #main-feature p,
#logo-download #main-feature p {
	margin-right: 600px;
}

#logo #main-content {
	margin-top: 50px;
	margin-right: 90px;
	width: 530px;
}

#side-menu h3 {
	white-space: nowrap;
}

#side-menu h3 sup {
	font-size: 65%;
}

/* }}} */
/* {{{ Sidebar */

#download,
#related {
	margin: 55px 0;
	padding: 0 10px;
}

#download,
#related {
	background: url(/img/tignish/template/sidebar-background.png) top left no-repeat;
	padding-top: 10px;
}

#download {
	background-image: url(/img/tignish/firefox/download-background.png);
}

#download p {
	margin-right: 65px;
}

#download p,
#related p {
	font-size: 110%;
	color: #898378;
}

#download h3,
#related h3 {
	margin: 0.5em 0;
	color: #69645b;
	font-size: 150%;
}

/* {{{ Logo Use 101 Sidebar */

#logo-use #sidebar {
	padding-top: 25px;
	width: 235px;
}

#logo-use #sidebar h4 {
	background: url(/img/tignish/features/sidebar-divider.png) no-repeat left bottom;
	color: #afaba3;
	padding: 0 5px 10px;
	position: relative;
	left: -5px;
}

#logo-use #sidebar h5 {
	color: #afaba3;
	margin: 1em 0 0.5em 0;
}

#logo-use #sidebar ul {
	font-size: 85%;
}

/* }}} */
/* }}} */
/* {{{ Logo Use 101 Page */

#logo-use #main-content {
	width: 625px;
	margin-top: 50px;
	margin-left: 15px;
	margin-right: 40px;
	padding-top: 20px;
}

#logo-use #content {
	margin-left: 15px;
	margin-right: 15px;
}

.logo-box {
	clear: left;
	background: url(/img/tignish/features/features-footer.png) bottom left no-repeat;
	margin: 60px 0;
	position: relative;
}

.logo-box h3 {
	margin: 10px 0;
}

.logo-box .logo-box-container {
	padding: 30px 20px 40px 20px;
	background: url(/img/tignish/features/features-top.png) top left no-repeat;
	position: relative;
}

#logo-only,
#logo-only.logo-box {
	margin-top: 0;
	margin-top: 0;
	background-image: url(/img/tignish/about/logo/logo-box-footer.png);
}

#logo-only.logo-box .logo-box-container {
	padding-top: 0;
	background: none;
}

.logo-box .logo-box-top-link {
	float: right;
	display: block;
	margin: 10px 10px 0 0;
}

.logo-box-footer { clear: both; }

.logo-info {
	background: #f5f5f5 url(/img/tignish/about/logo/logo-info-top.png) top left repeat-x;
	padding-top: 10px;
	width: 386px;
}

.logo-info p {
	font-size: 85%;
	margin: 0;
}

.logo-info .first {
	padding: 14px 0 10px 10px;
	width: 190px;
	float: left;
	border-right: 1px solid #e3e2df;
}

.logo-info .second {
	background: transparent url(/img/tignish/about/logo/logo-info-bottom.png) bottom left repeat-x;
	padding: 15px 15px 20px 215px;
}

#logo-wordmark {
	margin-top: 0;
}

#logo-wordmark-spacing,
#logo-wordmark-version-spacing,
#firefox-wordmark-version-spacing {
	float: left;
	margin-top: 2em;
}

#logo-wordmark .logo-info,
#logo-wordmark-version .logo-info {
	float: left;
	margin: 100px 0 30px 40px;
}

#wordmark-version .logo-info {
	float: left;
	margin: 25px 0 30px 164px;
	width: 307px;
}

#wordmark-version .logo-info .first {
	width: 135px;
}

#wordmark-version .logo-info .second {
	padding-left: 165px;
	padding-top: 5px;
}

.clear {
	clear: both;
}

/* }}} */
/* {{{ Elements of Style Page */

#logo-style #main-feature { min-height: 285px; }
* html #logo-style #main-feature { height: 285px; }

#logo-style #main-content {
	width: 680px;
	margin: 0 0 0 15px;
}

.style-section {
	background: url(/img/tignish/about/logo/style-box-header.png) top left no-repeat;
	padding-bottom: 50px;
}

.style-section .style-section-content {
	background: url(/img/tignish/about/logo/style-box-footer.png) bottom left no-repeat;
	padding: 35px 20px 30px 20px;
}

.style-section h3 { margin: 0 0 10px 0; }

#palette { background: none; }

#palette-1 {
	float: left;
	margin: 2em 100px 0 0;
	height: 75px;
	width: 150px;
	background: url(/img/tignish/about/logo/palette-1.png) top left no-repeat;
	padding-left: 80px;
}

#palette-2 {
	float: left;
	margin: 2em 0 0 0;
	height: 100px;
	width: 150px;
	background: url(/img/tignish/about/logo/palette-2.png) top left no-repeat;
	padding-left: 80px;
}

#text, #space { clear: left; }

#min-space-image {
	float: left;
}

#min-space {
	font-weight: bold;
	padding-left: 400px;
}

/* }}} */
/* {{{ Legal Stuff Page */

#logo-legal #main-content {
	width: 635px;
	margin-left: 35px;
}

#logo-legal #main-content h4 {
	margin-top: 1.5em;
	margin-bottom: 1em;
}

/* }}} */
/* {{{ Logo Download  Page */

#logo-download #main-content {
	width: 700px;
	margin-left: 35px;
}

#logo-download #main-content h3 {
	margin: 10px 0;
}

#logo-download table.logos {
	color: #afaba3;
	font-size: 85%;
}

#logo-download table.logos td {
	vertical-align: top;
	padding: 0 35px 25px 0;
}

#logo-download table.logos div { line-height: 1.4; }

/* }}} */
/* {{{ Stop Logo Cruelty Page */

.slide-common {
	min-height: 250px;
	padding-top: 5px;
	clear: both;
	zoom: 1;
	background: #fff;
}

* html .slide-common {
	height: 250px;
}

.slide-common:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.pager {
	position: relative;
	margin: 0 35px;
}

.pager-nav {
	display: block;
	text-align: right;
	position: absolute;
	top: 10px;
	left: 545px;
	width: 150px;
}

.pager-nav .pager-nav-divider {
	padding: 0 3px;
}

.pager-nav .pager-nav-page-number {
	padding: 0 6px;
}

.pager-nav .pager-prev,
.pager-nav .pager-prev-insensitive {
	background: url(/img/tignish/tips/arrow-nav.png) no-repeat -12px center;
	padding: 0 6px;
	zoom: 1;
}

.pager-nav .pager-prev-insensitive {
	background: url(/img/tignish/tips/arrow-nav.png) no-repeat 0 center;
}

.pager-nav .pager-next,
.pager-nav .pager-next-insensitive {
	background: url(/img/tignish/tips/arrow-nav.png) no-repeat -24px center;
	padding: 0 6px;
	zoom: 1;
}
.pager-nav .pager-next-insensitive {
	background: url(/img/tignish/tips/arrow-nav.png) no-repeat -36px center;
}

#ruler {
	width: 950px;
	height: 40px;
	background: url('/img/tignish/tips/container-bottom.png') 15px 100% no-repeat;
}

/* shared attributes */
#construction h3,
#color h3,
#context h3 {
	font-size: 197%;
	font-style: normal;
	margin: 40px 0 0 0;
}

#construction,
#color,
#context {
	margin: 0;
	background: url('/img/tignish/tips/section-bottom.png') left bottom repeat-x;
	padding-bottom: 10px;
}

#construction p,
#color p,
#context p {
	padding-right: 430px;
}

#construction img,
#color img,
#context img {
	float: right;
	height: 235px;
	width: 435px;
}

#construction h4,
#color h4,
#context h4 {
	color: #69645c;
	margin-bottom: 10px;
	margin-top: 25px;
	font-style: normal;
}

#construction h5,
#color h5,
#context h5 {
	color: #afaba3;
	font-size: 137%;
}

/* construction Specific */
#construction ul {
	float: right;
	width: 380px;
	margin: 0;
	color: #afaba3;
	margin-top: 10px;
}

#construction ul li {
	clear: both;
	margin-bottom: 1em;
	padding: 0 25px 10px 0;
	background: none !important;
}

#construction ul li img {
	margin-right: 12px;
	float: left;
}

#construction .key-combo {
	float: left;
	width: 24.9%;
	color: #afaba3;
	padding-top: 2em;
}

#construction .key-combo img {
	display: block;
	margin-top: 10px;
}

#construction .key-combo span {
	display: block;
	margin-bottom: 10px;
	color: #afaba3;
}

#construction .key-combo span {
	font-family: arial, sans-serif;
	color: #40ad40;
	text-decoration: underline;
	line-height: 50px;
}

.key-combo-text {
	margin-top: 20px;
	color: #009200;
	font-family: arial, helvetica, sans-serif;
	text-decoration: underline;
}

#construction #forgery {
	color: #afaba3;
}

#construction #keys-column-left .key-combo {
	float: none;
}

#construction #keys-column-right {
	float: right;
	width: 400px;
	position: relative;
	top: -20px;
}

#construction #keys-column-right .clear {
	display: block;
	clear: both;
}

#construction #keys-column-right .key-combo {
	width: 160px;
}

img.right {
	float: right;
}

.key-combo-1 { clear: right; }


/* color Specific */

/* context Specific */
#context { background: none; }

/* }}} */
