#main-feature p { margin-right: 400px; }

#content { margin-right: 0; }

#content .row {
	border-bottom: 1px solid;
	color: #69645b;
}

#content .top-row {
	margin-top: 50px;
}

#content .item {
	width: 420px;
	display: inline;
	float: left;
	margin-right: 35px;
}

#content .item h3 {
	margin: 0 0 8px 0;
	font-size: 155%;
}

#content .item p { padding-bottom: 20px; }

#content .item img {
	float: left;
	padding-bottom: 30px;
}

#content .divider {
	background: transparent url('/img/tignish/about/divider.png') left top repeat-x;
	height: 10px;
	clear: both;
	margin-bottom: 30px;
	margin-right: 35px;
}

#main-feature h2 {
	margin-right: 35px;
}


#content p {
	margin: 0;
}
