#wrapper {
    min-width: 0;
}

#doc {
    width: auto;
}

#main-feature,
#main-content {
    text-align: center;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}

#main-feature {
    padding-top: 200px;
    background: url("/img/mobile/credits-logo.png") no-repeat center 10px;
}


#main-feature p,
#main-feature h2 {
    margin-left: 0;
    margin-right: 0;
}

#main-feature p {
    font-size: 210%;
    margin-bottom: 15px;
}

#main-content ul {
    left: 0;
    margin: 0;
    padding: 0;
}

#main-content ul li {
    background: none;
    margin: 0;
    padding: 0;
}

#footer-contents {
    width: auto;
    text-align: center;
}

#footer #copyright {
    padding: 0;
    background: none;
}
