body,
#wrapper {
	background-position: 50% -35px;
}

#doc {
	background: url(/img/mobile/background-get-involved.png) no-repeat scroll 15px 85px;
}

* html #doc { /* IE6 only */
	background-image: url(/img/mobile/background-get-involved-ie.png);  
}

#main-feature h2 {
  margin-right: 510px;
}

#main-feature p {
	color: #fff;
	font-size: 200%;
	line-height: normal;
	margin-right: 510px;
}

#main-content {
  margin: 45px 0 0 15px;
	width: 625px;
}

#video-player {
  padding: 0 10px 20px;
  margin: 0 0 30px;
	background: url(/img/mobile/developers-footer.png) bottom left no-repeat;
}

#video-player video {
  display: block;
  margin: 0 auto;
}

.twitter a {
	background: url("/img/sprite-16.png") no-repeat 0 0;
	padding-left: 25px;
}

.facebook a {
	background: url("/img/sprite-16.png") no-repeat 0 -40px;
	padding-left: 25px;
}

.youtube a {
	background: url("/img/sprite-16.png") no-repeat 0 -120px;
	padding-left: 25px;
}

.mail a {
  background: url("/img/sprite-16.png") no-repeat 0 -175px;
	padding-left: 25px;
}

#contribute .spread-block { 
  background: transparent url(/img/mobile/spread-block-top.png) center top no-repeat;
  padding: 10px 0 0;
  width: 225px;
}

#contribute .spread-block .in {
  background: transparent url(/img/mobile/spread-block-btm.png) center bottom no-repeat;
  padding: 0 12px 10px;
  overflow: auto;
  width: 201px;
}

.input-placeholder-active { 
  color: #9d9891; 
}

#tweet-this label { display: block; font-size: 93%; margin-bottom: .25em; }
#tweet-this #tw-status { width: 95%; }

#tweet-this button {
  border: 0; 
  background: transparent url(/img/mobile/icn-twitter.png) 0 50% no-repeat; 
  padding: 0 0 0 20px;
  margin: .25em 0;
  font: 1em georgia, serif;
  float: right;
  color: #0489b7;
  cursor: pointer;
}

#tweet-this button:focus, #tweet-this button:hover {
  text-decoration: underline;
}

#tweet-this button:after {
  content: "\00A0\00BB"; 
  font-size: 1.25em; 
  line-height: .75;
}

#secondary {
  background: url("/img/mobile/bg-subcolumns.jpg") repeat-x;
  overflow: hidden;
}

#secondary .section {
  width: 260px;
  padding: 20px 22px 0;
  float: left;
}

#secondary #connect {
  margin-left: 15px;
}

.section h3 {
  margin: 0 0 .15em;
}

.section p {
  margin: 0 0 1em;
}

.section ul {
  left: 0;
  margin: 0 0 1em 20px;
}

.section ul li {
  background: none;
  padding: 0;
  margin: 0 0 .25em;
  list-style: disc;
}

#sidebar {
	width: 275px;
	padding: 0 0 0 15px;
	margin: 75px 0 1em 20px;
}

#sidebar div {
  margin-bottom: 15px;
}

#sidebar p {
	line-height: 1.3;
}

/*
#home-iphone {
  min-height: 220px;
  padding: 30px 120px 10px 30px;
  background: transparent url("/img/mobile/promo-ffhome-iphone.png") right top no-repeat;
}

#home-iphone h3 {
  margin: 0 -20px .25em 0;
}

#home-iphone .dl {
  text-align: center;
  margin: 0 -95px 0 0;
}

#home-iphone .dl a {
  text-align: left;
  text-decoration: none;
  padding: 6px 8px 7px 2px;
  font: 10px/1.1 Verdana, sans-serif;
  color: #09700b;
  border: 1px solid #9ad66e;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -moz-box-shadow: 1px 3px 5px rgba(0,0,0,0.2);
  -webkit-box-shadow: 1px 3px 5px rgba(0,0,0,0.2);
  box-shadow: 1px 3px 5px rgba(0,0,0,0.2);
  background: #dbfe98;
  background: -moz-linear-gradient(top, #e2ffa9 0, #a6e723 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #e2ffa9), color-stop(100%, #a6e723));
}

#home-iphone .dl a:hover, 
#home-iphone .dl a:focus {
  border-color: #a4e475;
  background: #dbfe98;
  background: -moz-linear-gradient(top, #efffcf 0, #b2f134 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #efffcf), color-stop(100%, #b2f134));
}

#home-iphone .dl a strong {
  padding: 4px 0 4px 30px;
  font-size: 1.1em;
  background: url("/img/mobile/arrow-down-green.png") 3px 50% no-repeat
}
*/

#sidebar .promo-square {
  text-align: center;
}

#dev-addon, 
#video-chal {
  padding-top: 15px;
  background: url("/img/mobile/divider.png") center top repeat-x;
}

#dev-addon h3 {
  font-size: 18px;
  padding: 20px 0 10px 110px;
  margin: 0 0 .25em;
  background: url("/img/mobile/addons-puzzle-sm.png") no-repeat;
  min-height: 40px;
}

#video-chal h3 {
  font-size: 16px;
  padding: 10px 0 10px 90px;
  margin: 0 0 .25em;
  background: url("/img/mobile/icon-home-movie.png") no-repeat;
  min-height: 60px;
}
