/* {{{ General Layout */

body { background-position: 50% -65px; }

#wrapper { background-position: 50% -65px; }

#main-feature { min-height: 200px; }
* html #main-feature { height: 200px; /* Hack for IE6 */ }

#side-menu { width: 180px; }

#side-menu h3 { margin-left: -10px; }

#side-menu ul { margin-top: 0px; }

#main-feature img { float: left; }

#main-feature h3,
#main-feature p {
	margin-left: 141px;
}

#main-feature h3 {
	margin-top: 15px;
	margin-left: 140px;
	margin-bottom: 5px;
}

#main-feature p {
	margin-right: 280px;
	font-size: 131%;
}

#content { margin-top: 30px; }

#content-text {
	width: 595px;
	float: left;
	display: inline;
	margin-left: 25px;
	margin-top: 25px;
}

#features,
#benefits {
	background: url(/img/tignish/add-ons/divider.png) center bottom repeat-x;
	padding-bottom: 1.5em;
	margin-bottom: 1em;
}

#features h3,
#benefits h3 {
	margin: 0 0 5px;
}

#features li,
#benefits li {
	margin-left: 25px;
}

#features img,
#benefits img {
	float: right;
}

/* }}} */
/* {{{ Video Layout */

#firefox-videos { margin-top: 50px; clear: both;}

#firefox-videos #content { padding-top: 25px; }

#current-video #video-details h3 { margin: 0; }

#current-video #video-player { margin-left: 20px; }

/* }}} */
/* {{{ Sidebar */

#sidebar {
	float: left;
	width: 265px;
	margin: 0 0 0 30px;
}

#sidebar div.developers,
#sidebar div.team {
	background: url(/img/tignish/firefox/release-notes-sidebar-back.png) left top no-repeat;
}

#sidebar li { margin: 0 0 0 20px; }


#side-menu {
	width: 200px;
	top: 80px;
	line-height: 1.3;
}

#side-menu li {
	background-position: left top;
	background-repeat: repeat-x;
	padding: 5px 3px 5px 5px;
}

#follow li span,
#help-us li span {
	font-weight: normal;
}


#follow li.facebook span,
#follow li.twitter span {
	display: block;
	padding-left: 21px;
	padding-top: 2px;
	min-height: 16px;
}

#follow li.facebook span { background: url("/img/sprite-16.png") no-repeat 0 -40px; }
#follow li.twitter span { background: url("/img/sprite-16.png") no-repeat 0 0; }

/* }}} */
/* {{{ Download Options */

#download-options {
	background: url(/img/mobile/download-background.png) top left no-repeat;
	margin: 25px 20px 20px 48px;
	width: 785px;
	padding: 15px 0 20px 90px;
	float: left;
}

#download-options h4 {
	color: #8a8780;
	font-size: 108%;
	margin: 0 0 5px 0;
}

#download-options #download-instructions {
	color: #625e58;
	font-size: 137%;
	margin: 0;
}

#download-primary {
	float: left;
}

#download-other {
	float: right;
	width: 315px;
}

#download-other h5 {
	color: #8a8780;
	font-size: 100%;
}

#download-other ul {
	margin: 0;
	font-size: 85%;
}

#download-other ul li {
	padding-bottom: 1px;
}

/* }}} */
/* {{{ Expander */

#main-feature #download-other p {
	margin: 10px 0;
	color: #807970;
	font-size: 100%;
}

/* no js */

.expander .expander-content {
	padding: 10px 0; /* should be the same as expander-padding */
}


/* open */

.expander-open .expander-header {
	margin: 0;
}

.expander-open .expander-content {
	display: block;
}


/* closed */

.expander-closed .expander-header {
	margin: 0;
}

.expander-closed .expander-content {
	display: none;
}


/* open or closed */

.expander-open .expander-header .expander-anchor,
.expander-closed .expander-header .expander-anchor {
	outline: none;
	zoom: 1; /* Fix for full-clickable area in IE6 */
}

.expander-open .expander-header a.expander-anchor:hover,
.expander-closed .expander-header a.expander-anchor:hover {
	color: #0489B7;
}

.expander-open .expander-content .expander-padding,
.expander-closed .expander-content .expander-padding {
	padding: 10px 0;
}

.expander-open,
.expander-closed {
	position: relative; /* IE6 hack */
}

/* }}} */
/* {{{ SMS Form */

#mobile-feature-form p.other {
	font-size: 75%;
	font-family: verdana, sans-serif;
}

#mobile-feature-form #country_select {
	margin-top: 20px;
}

#mobile-feature-form .info {
	font-size: 75%;
	font-family: verdana, sans-serif;
}

#mobile-feature-form input,
#mobile-feature-form select {
	width: 240px;
}

#mobile-feature-form .number-field {
	margin-bottom: 5px;
}

#mobile-feature-form .button-field span.info {
	position: relative;
	top: -8px;
}


#mobile-feature-form button {
	background: none;
	border: 0;
	margin: 0;
	padding: 0;
	width: 265px;
	position: relative;
	left: -8px;
	cursor: pointer;
}

#mobile-feature-form button span.outer {
	display: block;
	width: 265px;
	padding: 0;
	height: auto;
	text-align: left;
	font-family: verdana, sans-serif;
	color: #09700b;
	text-decoration: none;
	background: url(/img/mobile/send-button.png) 0 0 no-repeat;
	min-height: 22px;
	filter: none;
	border: 0;
	overflow: visible; /* removes extra side padding in IE */
}

* html #mobile-feature-form button span { height: 22px; /* min-height hack for IE6 */ }

#mobile-feature-form button span {
	display: block;
	background: url(/img/mobile/send-button.png) 0 100% no-repeat;
	padding: 13px 42px 25px 15px;
}

#mobile-feature-form button:hover span.outer,
#mobile-feature-form button:active span.outer {
	background-position: -300px 0;
	text-decoration: underline;
}

#mobile-feature-form button:hover span span,
#mobile-feature-form button:active span span {
	background-position: -300px 100%;
}

#other-download-options {
	clear: both;
	background: url(/img/mobile/divider.png) top left no-repeat;
	margin: 0 30px;
	padding: 20px 0 10px 0;
}

#download-other #mobile-feature-form p.error {
  color: red;
}
/* }}} */
