#doc {
	background: transparent url(/img/tignish/organic/background-organic.png) 25px 175px no-repeat;
}

#main-feature p {
	margin-right: 650px;
}

#main-content {
	padding-top: 30px;
}

#sidebar {
	margin-top: 180px;
}

/* What is Mozilla block */
ul.what-is-mozilla {
	margin: 40px 0;
	padding: 0;
}

ul.what-is-mozilla li {
	background: transparent url(/img/tignish/organic/whatismozilla-background.png) no-repeat right top;
	list-style-type: none;
	margin: 0pt;
	padding: 20px 0pt 0pt;
}

ul.what-is-mozilla li h3 {
	margin: 0 50px 5px 10px;
	color: #69645b;
	font-size: 175%;
}

ul.what-is-mozilla li p,
ul.what-is-mozilla li h5 {
	color: #898378;
	margin: 0 30px 10px 10px;
}

ul.what-is-mozilla li span {
	display: block;
	margin-top: 15px;
}


/* What is opensource? block */
#organic-open-source {
	background: transparent url(/img/tignish/organic/whatisopensource-background.png) no-repeat right bottom;
	padding-right: 170px;
	position: relative;
	z-index: 2;
}


/* Why should you care? block */
#organic-why-care {
	background: transparent url(/img/tignish/organic/whycare-background.png) no-repeat right bottom;
	padding-right: 170px;
	padding-bottom: 80px;
}

#organic-why-care h3 {
	margin-top: 0;
}

img.inline-02 {
	margin-bottom: -60px;
	position: relative;
	z-index: 1;
}
