/* {{{ Header */

#header #return {
    float: right;
    font-family: georgia, serif;
    font-size: 116%;
    margin: 25px 20px 0 0;
}

#header a#return:link,
#header a#return:visited {
    color: #fff;
}

/* }}} */
/* {{{ Footer */

#footer {
    background-image: url(/img/tignish/template/footer-portal-border.png);
    min-height: 120px;
}

* html #footer { height: 120px; }

/* }}} */
/* {{{ Content/Sidebar */

#main-content {
    float: left;
    display: inline; /* Fix IE double margin float bug */
    width: 555px;
    margin: 0 65px 0 30px;
    font-size: 110%;
}

#sidebar {
    float: left;
    display: inline; /* Fix IE double margin float bug */
    position: relative;
    top: -15px;
    width: 270px;
    margin: 0 30px 0 0;
    font-size: 110%;
}

body#fastest  #main-content {
    margin: 65px 45px 0 30px;
}

/* }}} */
