/* {{{ Press Center */

#press #doc,
#press-kit #doc,
#press-kit-4b #doc {
	background: url(/img/tignish/press/background-awards.png) no-repeat 20px 150px;
}

#press #doc,
#press-kit #doc,
#press-kit-4b #doc {
	background: url(/img/tignish/press/background-landing.png) no-repeat top left;
}

#press #main-feature { min-height: 145px; }
* html #press #main-feature { height: 145px; /* Hack for IE6 */ }

#main-content dl { margin: 0; }


#press #main-content { 
    margin-right: 10px;
    margin-top: 35px; 
}

#press #social {
    float: right;
    width: 235px;
    margin: 100px 50px 0 0;
    padding: 0 0 0 0;
}
#press #social p {
    width: 25ex;
}
#press #social a {
    font-size: 110%;
}
#press #social img {
    float: right;
}

#press-contact {
	font-size: 110%;
	padding-top: 70px;
	padding-left: 35px;
}

#press #press-releases {
	padding-top: 15px;
	padding-right: 30px;
	position: relative;
	margin-left: -10px;
}

#press #press-contact p,
#press #press-contact h3 {
	margin: 0 0 5px 0;
}

#press #press-releases ul.feed-items {
    margin: 20px 0 0 25px; padding: 0;
}
#press #press-releases ul.feed-items li {
    position: relative;
    margin: 15px 0 20px 0; 
    padding: 0 0 20px 0;
    list-style-type: none;
    background: transparent url(/img/tignish/press/image-divider.png) repeat-x scroll left bottom
}
#press #press-releases ul.feed-items li .title {
    margin: 0 0 5px 0; padding: 0;
    font-size: 105%;
}
#press #press-releases ul.feed-items li .summary {
    margin: 0 0 5px 0; padding: 0;
    background: none;
    font-size: 100%;
}
#press #press-releases ul.feed-items li .meta {
    margin: 0; padding: 0;
}
#press #press-releases ul.feed-items li .meta .share {
    position: absolute;
    bottom: 18px;
    right: 0px;
}

#press #press-releases h3 {	margin: 0 0 5px 15px; }

#press #press-releases dl {
	margin-left: 15px;
}

#press #press-releases dd {
	margin: 0 0 22px 0;
}


#press #press-releases dt {
	font-size: 110%;
	margin: 22px 0 0 0;
        position: relative;
}

#press #press-releases p {
	background: transparent url(/img/tignish/press/list-bottom.png) no-repeat left bottom;
	font-size: 93%;
	margin-top: 25px;
	padding: 0 0 35px 15px;
}

#press #press-releases p img {
	margin: 0 2px 0 7px;
	vertical-align: middle;
}

#press #press-sources {
	margin: 20px 0 0 5px;
}

#press #press-sources h4 {
	color: #807970;
	display: block;
	margin-bottom: 8px;
}

#press #press-sources dl {
	margin: 30px 0 65px 0;
	position: relative;
	left: -15px;
	background: url(/img/tignish/press/image-divider.png) repeat-x left top;
}

#press #press-sources dl dt {
        position: relative;
	padding-top: 27px;
	clear: both;
}

#press-sources a.feed {
        position: absolute;
        right: 0px;
        bottom: -60px;
        background: url(/img/tignish/press/rss-icon.png) right 50% no-repeat;
        width: 18px;
        text-indent: 20px;
        overflow: hidden;
}


#press #press-sources dt img {
	float: left;
	display: inline;
	margin-right: 10px;
	position: relative;
}

#press #press-sources dl dd {
	padding-bottom: 32px;
	margin: 0;
	background: url(/img/tignish/press/image-divider.png) repeat-x left bottom;
}

#press #sidebar {
	float: right;
	background: url(/img/tignish/press/image-list-top.png) top left no-repeat;
	width: 235px;
	padding-left: 15px;
	margin-top: 30px;
}

#press #sidebar h3 {
	margin: 20px 0 4px 0;
}

#press #sidebar ul {
	left: auto;
}

#press #sidebar ul li {
	padding: 20px 0;
	clear: left;
	background: none;
}

#press #sidebar ul img { float: left; }

#press #sidebar ul .award-name {
	font-size: 120%;
	color: #4B4740;
	margin-top: 5px;
	margin-bottom: 5px;
}

#press #sidebar ul .award-date { font-size: 85%; }

#press #sidebar ul div {
	margin-left: 115px;
}

a.rss-link {
	background: url(/img/tignish/press/rss-icon.png) 0 50% no-repeat;
	padding-left: 18px;
}
a.rss-link-top {
        position: absolute;
        top: 22px;
        right: 70px;
	background: url(/img/tignish/press/rss-icon.png) right 50% no-repeat;
	padding-right: 18px;
}

#side-menu h3 {
	letter-spacing: -1px;
}

.commons-license {
	font-size: 85%;
}

.commons-license img { vertical-align: middle; }

/* }}} */
/* {{{ Press Releases Archive */

#press-releases #doc {
	background: url(/img/tignish/press/background-images.png) no-repeat 20px 125px;
}

#press-releases #main-feature { min-height: 200px; }
* html #press-releases #main-feature { height: 200px; /* Hack for IE6 */ }


#press-releases table.news td {
	vertical-align: top;
	padding: 25px 5px;
}

#press-releases table.news h3 {
	margin: 0 0 5px 0;
	font-size: 137%;
}

#press-releases table tr {
	background: url(/img/tignish/content/divider.png) bottom left no-repeat;
}

#press-releases #content {
	margin-right: 250px;
}

#press-releases p.intro { margin-right: 250px; }

/* }}} */
/* {{{ Image Library */

#images #doc {
	background: url(/img/tignish/press/background-images.png) no-repeat 20px 125px;
}

#images #main-feature { min-height: 200px; }
* html #images #main-feature { height: 200px; /* Hack for IE6 */ }

#images #column1 {
	float: left;
	display: inline;
	width: 360px;
	margin-right: 40px;
	padding-bottom: 20px;
}

#images #column2 {
	float: left;
	display: inline;
	width: 300px;
	padding-bottom: 20px;
	position: relative;
}

#images #column2 h5 {
	margin: 0;
	color: #afaba3;
}

#column1 .note { color: #afaba3; }

#moz-logos { clear: both; }

#images table.logos,
#images table.people,
#images table.video,
#images table.screenshots {
	color: #afaba3;
	font-size: 85%;
}

#images table#firefox-logos {
	width: 680px;
}

#images table.logos td,
#images table.people td,
#images table.video td,
#images table.screenshots td {
	vertical-align: top;
	padding: 0 35px 25px 0;
}

#images table div { line-height: 1.4; }

#images #logos h4 {
	background: url(/img/tignish/content/divider.png) top left no-repeat;
	padding-top: 40px;
	color: #807970;
	font-size: 165%;
}

.image-section,
#logos,
#photos,
#video,
#firefox-images,
#thunderbird-images,
#fashion-images {
	position: relative;
	left: -15px;
	padding-left: 15px;
	background: url(/img/tignish/press/press-images-container-footer.png) bottom left no-repeat;
	padding-bottom: 30px;
	margin-bottom: 60px;
}

.image-section h3,
#photos h3,
#video h3,
#firefox-images h3,
#thunderbird-images h3,
#fashion-images h3 {
	position: relative;
	left: -15px;
	padding-left: 15px;
	background: url(/img/tignish/press/press-images-container-header.png) top left no-repeat;
	padding-top: 30px;
}

/* }}} */
/* {{{ Awards */

body#awards,
#awards #wrapper {
	background-position: center -80px;
}

#awards #doc {
	background: url(/img/tignish/press/background-awards.png) no-repeat 20px 115px;
}

#awards #content { margin-top: 80px; }

#awards #thunderbird-awards { clear: both; }

#awards #firefox-awards,
#awards #thunderbird-awards {
	position: relative;
	left: -15px;
}

#awards #firefox-awards h2,
#awards #thunderbird-awards h2 {
	margin: 0;
	padding: 0 15px;
}

#awards #thunderbird-awards h2 {
	background: url(/img/tignish/press/list-top.png) top left no-repeat;
	padding-top: 50px;
	float: left;
	width: 480px;
}

#awards #firefox-awards ul,
#awards #thunderbird-awards ul {
	background: url(/img/tignish/press/list-bottom.png) bottom left no-repeat;
	float: left;
	width: 480px;
	margin: 0 0 50px 0;
	padding: 0 15px 50px 15px;
	left: auto;
}

#awards #firefox-awards ul li,
#awards #thunderbird-awards ul li {
	background: none;
	margin: 15px 70px 15px 0;
	padding: 0;
}

#awards #firefox-awards ul.firefox-award-images { margin-top: 25px; }

#awards #firefox-awards ul.firefox-award-images,
#awards #thunderbird-awards ul.thunderbird-award-images {
	background: none;
	float: right;
	width: 300px;
}

#awards #thunderbird-awards ul.thunderbird-award-images {
	background: url(/img/tignish/press/image-divider.png) top center no-repeat;
}

#awards #firefox-awards ul.firefox-award-images li,
#awards #thunderbird-awards ul.thunderbird-award-images li {
	background: url(/img/tignish/press/image-divider.png) bottom center no-repeat;
	text-align: center;
	margin: 0;
	padding: 20px 0;
}

/* }}} */
/* {{{ Press Kit Page */

#press-kit #main-feature,
#press-kit-4b #main-feature { min-height: 195px; }
* html #press-kit #main-feature,
* html #press-kit-4b #main-feature { height: 195px; /* Hack for IE6 */ }


#press-kit-4b #main-feature h2 {
    margin-right: 550px;
}
    

/* }}} */
/* {{{ Reviewer's Guide License Page */

body#guide-license,
#guide-license #wrapper {
	background-position: 50% -150px;
}

/* }}} */
/* {{{ Buzz */

#buzz #main-content .attribution-text {
	font-size: 85%;
}

#buzz-items {
	background: url(/img/tignish/press/list-bottom.png) left bottom no-repeat;
	padding-bottom: 5px;
	margin-top: 40px;
	left: 0;
}

#buzz-items li {
	background: url(/img/tignish/content/divider.png) bottom left no-repeat;
	padding-bottom: 15px;
	margin-bottom: 25px;
	list-style: none;
}

#buzz-items li.last {
	background: none;
	padding-bottom: 10px;
}

#buzz #doc {
	background: url(/img/tignish/press/background-buzz.png) 29px 98px no-repeat;
}

#buzz #main-feature {
	height: 273px;
}

#buzz #main-content {
	margin-top: 0;
	background: url(/img/tignish/press/list-top.png) left top no-repeat;
	padding-left: 5px;
	width: 555px;
}

#bubble-quote-one {
	position: absolute;
	top: 115px;
	left: 500px;
	width: 218px;
}

#bubble-quote-two {
	position: absolute;
	width: 380px;
	left: 75px;
	top: 248px;
}

#bubble-quote-one h4,
#bubble-quote-one p,
#bubble-quote-two h4,
#bubble-quote-two p {
	color: #8ba0b0;
	font-weight: normal;
	text-align: center;
}

#bubble-quote-one h4 {
	font-size: 153.9%;
}

#bubble-quote-one p,
#bubble-quote-two p {
	font-size: 93%;
	font-style: italic;
	margin: 0;
}

/* }}} */
/* {{{ At a Glance */

body#ataglance,
body#ataglance #wrapper {
	background-position: 50% -60px;
}

#ataglance #doc {
	background: url(/img/tignish/press/background-ataglance.png) no-repeat 0 -40px;
}

#ataglance #main-feature {
	height: 200px;
}

.ataglance-items {
	background: url(/img/tignish/content/divider.png) 10px 100% no-repeat;
	padding-bottom: 15px;
	margin: 20px 0;
	padding-left: 20px;
}

.ataglance-items ul {
	margin-top: 5px;
	margin-bottom: 5px;
}

.ataglance-items li ul li {
	background: none;
	padding-bottom: 0;
	margin-bottom: 0;
	list-style-type: disc;
}

.ataglance-items-last {
	padding-bottom: 10px;
	padding-bottom: 20px
}

#ataglance #main-content {
	width: 400px;
	margin-top: 0;
	margin-right: 75px;
	margin-left: 15px;
	padding-left: 0;
}

#ataglance #sidebar {
	margin: 0 35px 0 0;
	width: 400px;
	padding: 0;
}

#ataglance #sidebar h3 {
	margin: 0.8em 0 0.3em 0;
}

/* }}} */
