#content {
	margin-right: 250px;
	padding-top: 50px;
}

#content h2 {
	margin-bottom: 10px;
}

p.sub-title {
	font-size: 110%;
	margin: 0 0 40px 0;
	font-style: italic;
	padding-bottom: 40px;
	background: url(/img/tignish/content/divider.png) bottom left no-repeat;
}

#content h5 { margin: 25px 0 10px 0; }

.press-release-footer h3,
#about-title {
	background: url(/img/tignish/content/divider.png) top left no-repeat;
	padding-top: 40px;
	margin-top: 45px;
	margin-bottom: 10px;
	color: #afaba3;
}

.press-release-footer,
#about-title,
.about-text {
	color: #afaba3;
}

dl.faq {
	margin-left: 0;
}

dl.faq dt {
	font-weight: bold;
}

dl.faq dd {
	margin: 0 0 1em 0;
}

#side-menu h3 {
	letter-spacing: -1px;
}
