body,
#wrapper {
	background-position: 50% -100px;
}

#main-content {
	width: 570px;
	font-size: 116%;
}

#sidebar {
	width: 265px;
	font-size: 100%;
	color: #69645b;
	margin-top: 65px;
	margin-right: 15px;
}

#sidebar h3 {
    margin: 1em 0 0 0;
}

#sidebar #other-products,
#sidebar #firefox-beta {
	margin: 35px 0;
	padding: 0 10px;
}

#sidebar #firefox-beta {
	background: url(/img/tignish/template/sidebar-background.png) top left no-repeat;
	padding-top: 10px;
}

#sidebar #firefox-beta {
	background-image: url(/img/tignish/firefox/download-background.png);
}

#sidebar #firefox-beta p {
	margin-right: 65px;
}

#sidebar #firefox-beta p {
	font-size: 110%;
	color: #898378;
}

#sidebar #firefox-beta h3 {
	margin: 0;
	padding: 10px 0;
	color: #69645b;
	font-size: 150%;
}

#products .product {
	background: transparent url(/img/tignish/products/productsbox-top.jpg) 15px 0 no-repeat;
	position: relative;
}

#products .product div {
	background: transparent url(/img/tignish/products/productsbox-bottom.png) 15px 100% no-repeat;
	margin-bottom: 30px;
	padding-top: 30px;
	position: relative;
}

#products .product h3 {
	margin: 0 0 5px 110px;
}

#products .product h3 img {
	float: left;
	margin-right: 22px;
	position: absolute;
	top: 5px;
	height: 100px;
	width: 100px;
	left: -10px;
}

#products .product p {
	margin: 0 35px 20px 110px;
	padding-bottom: 30px;
}

#products .product p a {
	white-space: nowrap;
}
