#sync #doc {
    background: url("/img/firefox/sync/sync-background.png") no-repeat 43em 8em;
}

#sync #main-feature {
    margin:0;
    padding:30px 0 0 50px;
}

#sync #main-feature h2 {
    color:#4B4742;
    font-size:300%;
    margin:0 0 0 -20px;
    padding:45px 450px 10px 0;
}

#sync.secondrun #main-feature h2 {
    padding-right: 400px;
}

#sync #main-feature p { 
    font-size:115%;
    margin:0 400px 0 -20px;
    color: #4b4742;
}

#sync #main-content {
    float: left;
    display: inline; /* Fix IE double margin float bug */
    width:auto;
    margin:2em 30px 0;
    font-size: 110%;
}

#sync #main-content div {
    color:#69645C;
    float:left;
    font-size:95%;
    margin:0 40px 12px 0;
    width:250px;
}

#sync.secondrun #main-content div,
#sync.updated #main-content div {
    width: 400px;
}
