#firefox #main-feature h2 { padding-top: 15px; }
#firefox #main-feature p {
	font-size: 135%;
	margin-right: 335px;
	margin-top: 0;
}

#firefox #content { margin-right: 200px; }

#main-content { margin-top: 0; }
#top5 {
	background: url(/img/tignish/firefox/upgrade-top5-box.jpg) top left no-repeat;
    width: 522px;
    height: 317px;
    min-height: 317px;
    padding: 30px;
}
#top5 h3 {
    margin: 0 0 30px;
    font-size: 34px;
    color: #4b4742;
}
#top5 ol {
    margin: 0 30px;
}
#top5 ol li {
    line-height: 50px;
    list-style-type: none;
    font-size: 24px;
    color: #0489b7;
}
#top5 a { margin-left: 20px; }

* html #sidebar { margin: 0; position: relative; right: 30px; } /* IE6 margin bug */
#sidebar div {
	margin: 8px 0 30px;
	padding: 10px;
	background: url(/img/tignish/firefox/release-notes-sidebar-back.png) top left no-repeat;
}
#sidebar div h3,
#sidebar ul.home-download li h3 { color: #807970; }
#sidebar div h3 {
	margin: 10px 0 0;
	font-size: 26px;
}
#sidebar div p {
	font-size: 16px;
	line-height: 20px;
	color: #afaba3;
}
#sidebar #awards h3 { padding-right: 40px; }
#sidebar #awards img { height: 65px; width: 176px; }
#sidebar #support { margin-bottom: 0; }

#personal-sub-features {
	clear: both;
    position: relative;
    right: -25px;
	margin-bottom: 20px;
	padding: 25px 20px 0 0;
	height: 240px;
	background: url(/img/tignish/firefox/subfeature-bg-personal.jpg) 41px 51px no-repeat;
	font-size: 110%;
}

.sub-feature {
	width: 244px;
	float: left;
	display: inline; /* fix IE margin issue */
}

.sub-feature h3 a {
	display: block;
	position: relative;
}

.sub-feature h3 a:link,
.sub-feature h3 a:visited {
	color: #4B4740;
}

.sub-feature p {
	font-size: 110%;
	margin-bottom: 15px;
	margin-right: 15px;
	color: #afaba3;
}

#firefox-tellafriend.sub-feature p { margin-right: 60px; }

/* {{{ Firefox Update */

#firefox #firefox-update {
	display: inline;
	float: left;
	padding: 15px 35px 10px 25px;
	margin: 10px;
	margin-left: 10px;
	width: 785px;
	background: url(/img/tignish/firefox/upgrade-note-bg.png) top left no-repeat;
}

#firefox #firefox-update h3 {
	margin: 0;
	color: #69645c;
	float: left;
	width: 145px;
	font-size: 137%;
	padding-right: 15px;
}

#firefox #firefox-update p {
	color: #afaba3;
	color: #898378;
	margin: 0;
	font-size: 116%;
}

/* }}} */
