

#wrapper {
	background: transparent url(/img/tignish/whatsnew/background-whatsnew-beta.jpg) no-repeat center top;
}

#firefox-all #main-feature p {
	margin-right: 445px;
	margin-bottom: 0;
}

#release-metadata p {
    font-size: 85%;
    line-height: 1.5;
}

#release-metadata p.changelog {
    padding-bottom: 5px !important;
}

#main-feature p, #release-metadata p.changelog:last-child {
    padding-bottom: 20px !important;
}

#oopp-warning {
	font-size: 110%;
	line-height: 1.5;
	width: 550px;
	margin: 15px 0 35px 22px;
	padding: 6px 12px;
	background: #ffffbc;
	color: #55543E;
	border: 1px solid #e1e282;
	-moz-border-radius: 3px;
}
#oopp-warning strong {
	color: #000;
}

#oopp-feature {
	width: 950px;
	font-size: 110%;
}

#oopp-feature .content {
	position: relative;
	background: transparent url("/img/tignish/firefox/feature-background.png") no-repeat;
	padding: 30px 35px 0 35px;
	min-height: 254px;
}

#oopp-feature .content h3 {
	margin-top: 0;
}

#oopp-feature .content p {
	margin-right: 400px;
	line-height: 1.5;
	}

#oopp-feature .content .sample {
	position: absolute;
	top: 30px;
	right: 35px;
	margin: 0;
}

#oopp-feature .footer {
	background: transparent url("/img/tignish/firefox/feature-background.png") no-repeat 0 bottom;
	height: 30px;
}


#oopp-help,
#oopp-nightlies {
	font-size: 110%;
	padding-top: 10px;
}

#oopp-help h3,
#oopp-nightlies h3 {
	margin: .5em 0;
}

#oopp-help p,
#oopp-nightlies p {
	line-height: 1.5;
}

#oopp-help {
	float: left;
	width: 540px;
	margin-left: 35px;
}

#oopp-nightlies {
	float: right;
	width: 265px;
	padding-top: 10px;
	margin-right: 30px;
	background: url(/img/tignish/firefox/release-notes-sidebar-back.png) no-repeat;
}
#watermark {
  position: absolute;
  display: block;
  width: 100%;
  text-align: center;
  top: 40%;
  font: bold 2.5em sans-serif;
  cursor: default;
  color: rgba(255,255,255,.4);
  -moz-transform: rotate(20deg);
}
