# redirect corporation zip file, not linked from anywhere on mozilla.com to static.mozilla.com (bug 578495)

Redirect permanent /en-US/press/image-library/mozilla-corporation.zip http://static.mozilla.com/moco/en-US/archives/mozilla-corporation.zip
