body {
	background-position: 50% -145px;
}

#wrapper {
	background-position: 0px -145px;
}

#doc {
	background: transparent url(/img/tignish/404-page/background-404.png) no-repeat scroll 0 0;
}

#main-feature,
#content {
	margin-left: 200px;
	font-size: 110%;
}

#main-feature h2 {
	color: #4b4742;
	font-size: 300%;
	margin: 30px 120px 0 0;
}

#error-reasons {
	float: left;
	width: 300px;
	margin: 45px 50px 0 0;
}

#error-suggestions {
	float: left;
	width: 300px;
	margin: 45px 50px 0 0;
}

#content ul li {
	background-position: 3px 10px;
	background-image: url(/img/tignish/404-page/bullet.png);
	margin-top: 10px;
	font-size: 85%;
	line-height: 1.5;
}

#content h3 { font-size: 115%; }
