#content {
	margin-right: 275px;
}

.divider {
	height: 4px;
	background: url(/img/tignish/about/divider.png) top left no-repeat;
	clear: both;
}

/* {{{ About Landing Page */

#about #doc {
	background: url(/img/tignish/template/background-about.png) no-repeat 20px 200px;
}

#about #main-feature { min-height: 365px; }

* html #about #main-feature { height: 365px; /* Hack for IE6 */ }

#about #main-feature p {
	font-size: 135%;
	margin-right: 455px;
}

#about #content {
	margin-right: 200px;
	margin-left: 15px;
	padding-left: 10px;
	background: url(/img/tignish/about/about-footer.png) bottom left no-repeat;
}

#about #bottom-divider {
	background: none;
}

.about-feature {
	width: 295px;
	margin-right: 60px;
	display: inline;
	float: left;
	padding: 30px 0;
}

.about-feature h3 {
	margin-bottom: 10px;
}

.about-feature p {
	margin: 10px 115px 0 0;
	color: #69645c;
}

.about-feature img {
	float: right;
}

/* }}} */
/* {{{ What is Mozilla Page */

#what-is-mozilla #main-feature h2 {
	margin-top: 15px;
	margin-bottom: 25px;
}

#what-is-mozilla #main-feature p {
	font-size: 100%;
	margin-right: 515px;
	margin-bottom: 0;
	margin-top: 0;
	color: #69645c;
}

#what-is-mozilla #main-feature h3 {
	margin: 20px 0 0 35px;
}

#what-is-mozilla #doc {
	background: url(/img/tignish/about/background-whatismozilla.png) no-repeat 33px 146px;
}

#what-is-mozilla #sidebar {
	top: -15px;
}

#what-is-mozilla #sidebar .sidebar-section {
	background: url(/img/tignish/about/sidebar-background-whatismozilla.png) no-repeat top right;
	padding-top: 1px;
	padding-bottom: 20px;
}

#what-is-mozilla #sidebar h3,
#what-is-mozilla #sidebar h4 {
	margin: 20px 35px 15px 15px;
}

#what-is-mozilla #sidebar ul {
	margin: 0 15px 0 15px;
}

#what-is-mozilla #sidebar ul li {
	padding-bottom: 10px;
	color: #999;
}

/* }}} */
/* {{{ Get Involved Page */

#about-get-involved #main-feature { min-height: 215px; }

#about-get-involved #main-feature p { margin-bottom: 10px; }

* html #about-get-involved #main-feature { height: 215px; /* Hack for IE6 */ }

#about-get-involved #doc {
	background: url(/img/tignish/about/background-getinvolved.png) no-repeat 18px 200px;
}

#about-get-involved #main-feature p { margin-right: 385px; }

#about-get-involved #content { margin-right: 275px; }

#about-get-involved .get-involved-list {
	float: left;
	width: 300px;
}

#about-get-involved #easy.get-involved-list { margin-right: 35px; }

#about-get-involved .get-involved-list h5 {
	color: #afaba3;
	margin-top: 1em;
}

#about-get-involved .get-involved-list li { margin-bottom: 5px; }

#about-get-involved h4.content-intro {
	margin-right: 250px;
	color: #807970;
}

/* }}} */
/* {{{ Licensing Page */

#about-licensing #doc {
	background: url(/img/tignish/about/background-approved.png) no-repeat 25px 130px;
}

#about-licensing #main-feature {
	min-height: 235px;
	padding-top: 40px;
}

* html #about-licensing #main-feature { height: 235px; /* Hack for IE6 */ }

/* }}} */
/* {{{ Partnership Page */

#about-partnerships #doc {
	background: url(/img/tignish/about/background-partnership.png) no-repeat 25px 130px;
}

#about-partnerships #main-feature p { margin-right: 665px; }

#about-partnerships #content {
	margin-top: 100px;
}

#about-partnerships #content p.intro {
	margin-bottom: 2em;
}

#about-partnerships #content ul li {
 margin: 10px 0;
}

/* }}} */
/* {{{ Contact Page */

#about-contact #doc {
	background: url(/img/tignish/about/background-contact.png) no-repeat 5px 110px;
}

#about-contact #main-feature { min-height: 295px; }

* html #about-contact #main-feature { height: 295px; /* Hack for IE6 */ }

#about-contact #main-feature p {
	margin-right: 550px;
}

#about-contact #content {
	margin-right: 0;
	margin-left: 0;
}

#about-contact #map {
	width: 880px;
	height: 450px;
	border: 1px solid #ccc;
	position: relative;
	left: -5px;
	margin: 0 35px;
}

#about-contact div.geo {
	display: none;
}

#about-contact #map h3 {
	margin: 0;
}

#about-contact #map address {
	font-family: verdana, sans-serif;
	font-size: 85%;
}

#map_links { margin: 10px 35px 20px 35px; }

#map_links a { padding: 0 20px; }
#map_links a:focus { outline: 0; text-decoration: underline; }

#map_links #link_mountain_view {
	padding-left: 0;
	border-right: 1px solid #ccc;
}

#map_locations {
	padding-top: 2em;
	line-height: 1.4;
	margin: 0 35px;
}

#map_locations h2 {
	margin: 0;
	color: #afaba3;
}

#map_locations a {
	font-family: verdana, sans-serif;
	font-size: 75%;
}

.contact-main-office {
	float: left;
	width: 240px;
}

.contact-regional-offices {
	margin-left: 240px;
}

.map-address {
	float: left;
	width: 192px;
	padding: 20px 20px 10px 0;
}

.map-address address { font-size: 90%; }

.address-row {
	clear: left;
}

#maps-footer {
	background: url(/img/tignish/about/contact-maps-divider.png) 50% 5px no-repeat;
	height: 13px;
	clear: both;
	border: 0;
	padding: 2em 0;
	width: 950px;
}

#maps-footer hr { display: none; }

#contact-contents { margin: 0 35px; }

#questions,
#feedback {
	float: left;
	width: 49.9%;
}

#questions dl,
#feedback dl {
	margin: 0 40px 0 0;
	padding: 0;
}

#questions dt,
#feedback dt { font-size: 110%; }

#questions dd,
#feedback dd {
	margin: 0 0 1em 0;
}

/* }}} */
/* {{{ College Page */

#college-recruiting #doc {
	background: url(/img/tignish/about/background-college.png) no-repeat 0 165px;
}

#college-recruiting #main-feature {
	min-height: 235px;
	padding-top: 40px;
}

* html #college-recruiting #main-feature { height: 235px; /* Hack for IE6 */ }

#college-recruiting #main-feature p {
	margin-top: 40px;
	margin-bottom: 20px;
}

#college-recruiting #main-feature p.secondary {
	font-size: 100%;
	margin-top: 20px;
	margin-right: 545px;
}

#college-recruiting #job_list {
	float: right;
	margin: 0 0 3em 3em;
}

/* }}} */
