#firefox-all #doc {
	background: url(/img/tignish/firefox/background-all.png) no-repeat scroll 0 220px;
}

#firefox-all #main-feature h2 {
	font-size: 290%;
	margin-right: 250px;
}

#firefox-all #main-feature p {
	margin-right: 300px;
	font-size: 135%;
}

#firefox-all #content h3 {
	background: url(/img/tignish/firefox/divider-all.png) bottom left no-repeat;
	padding-bottom: 30px;
	margin-left: -15px;
	margin-bottom: 0;
	padding-left: 15px;
	color: #afaba3;
	position: relative;
}

#firefox-all #languages,
#firefox-all #beta_versions,
#firefox-all #lang_packs {
	margin-left: -15px;
	padding-left: 15px;
	padding-bottom: 10px;
	background: url(/img/tignish/firefox/divider-all-bottom.png) bottom left no-repeat;
}

#all-logo {
	float: left;
	margin: 0 10px 20px 0;
}

#languages {
	clear: left;
}

#download-intro {
	padding-top: 20px;
}

/* {{{ All Downloads Page */

#firefox-all #main-feature { min-height: 195px; }
* html #firefox-all #main-feature { height: 195px; /* Hack for IE6 */ }

#download-menu,
#download-intro,
#beta-version,
#beta-version-menu,
#older-versions,
#older-versions-menu {
	margin-left: 135px;
	margin-bottom: 2px;
	margin-top: 0.5em;
	left: 0;
}

#download-menu,
#beta-version-menu,
#older-versions-menu {
	margin-top: 0;
	margin-bottom: 10px;
}

ul#download-menu li,
ul#beta-version-menu li,
ul#older-versions-menu li {
	padding-top: 0;
	padding-bottom: 0;
}

#beta_versions, #lang_packs { margin-top: 2em; padding-right: 0; }
#beta_versions h3,
#lang_packs h3 {
	border: 0;
	margin: 5px 0 0 0;
}
#beta_versions p,
#lang_packs p { margin: 0; width: 40em; }
#beta_versions td,
tr.spacer-row td { border: 0; }

table.dalvay-table { width: 75%; }

table.dalvay-table thead th {
	white-space: nowrap;
}

td .download-windows,
td .download-linux,
td .download-osx-uni {
	background-repeat: no-repeat;
	background-position: left;
	padding: 2px 0 2px 18px;
	display: block;
}
td .download-windows { background-image: url(/img/ico-win.png); }
td .download-linux   { background-image: url(/img/ico-tux.png); }
td .download-osx-uni { background-image: url(/img/ico-osx-uni.png); }

/* }}} */
/* {{{ Download Tables */

table.dalvay-table {
	border-collapse: separate;
	width: 95%;
}

table.dalvay-table thead th {
	font-weight: normal;
	font-size: 137%;
	color: #4b4742;
}

table.dalvay-table th,
table.dalvay-table td {
	padding: 5px 15px 5px 5px;
}

table.dalvay-table td {
	font-family: verdana, sans-serif;
	font-size: 75%;
}

table.dalvay-table tr.odd td { background: #f7f7f5; }
table.dalvay-table tr.even td { background: #fff; }
table.dalvay-table tr:target td { background: yellow; }
table.dalvay-table td.curVersion { font-weight: bold; }
table.dalvay-table td.nya { text-align: center; }

table.dalvay-table td.dl,
table.dalvay-table th.dl {
  white-space: nowrap;
}

table.dalvay-table th {
  text-align: left;
}

/* }}} */
