#firefox-all #main-feature h2 {
	font-size: 290%;
	margin-right: 250px;
}

#firefox-all #main-feature p {
	margin-right: 300px;
	font-size: 135%;
}

#firefox-all #main-content {
	width: 675px;
	margin-top: 25px;
	margin-right: 35px;
	margin-left: 15px;
}

#firefox-all #sidebar {
	width: 175px;
	margin-top: 45px;
}

#firefox-all #main-content h3 {
	margin-bottom: 0.5em;
}

#firefox-all #main-content h2,
#firefox-all #main-content h3.lang-title {
	background: url(/img/tignish/firefox/divider-all-3.png) bottom left no-repeat;
	padding-bottom: 30px;
	margin-left: -15px;
	margin-bottom: 0;
	padding-left: 15px;
	color: #afaba3;
	position: relative;
}

#firefox-all #main-content h2.results { margin-left: 0; }

#firefox-all #languages,
#firefox-all #beta_versions,
#firefox-all #lang_packs {
	padding-left: 15px;
	padding-bottom: 25px;
	background: url(/img/tignish/firefox/divider-all-bottom-3.png) bottom left no-repeat;
}

#firefox-all #sidebar h3 {
	color: #afaba3;
	font-size: 137%;
	margin-bottom: 0;
}

#firefox-all #sidebar ul,
#firefox-all #sidebar #sidebar-search form {
	background: url(/img/tignish/firefox/all-sidebar-background-3.png) top left no-repeat;
	padding: 20px 5px 40px 5px;
	margin: 0;
}

#firefox-all #sidebar #sidebar-search form input.search-input {
	background-color: #9badbc;
	border: 1px solid #07253e;
	float: left;
	height: 18px;
	width: 135px;
}

#firefox-all #sidebar #sidebar-search form input.search-input:focus {
	background-color: #fff;
}

#all-logo {
	float: left;
	margin: 0 10px 20px 0;
}

#languages {
	clear: left;
}

#languages h3 {
	margin-top: 0;
}

a.clear {
	font-size: 50%;
	vertical-align: middle;
}

#download-intro {
	padding-top: 20px;
}

/* {{{ All Downloads Page */

#firefox-all #main-feature { min-height: 195px; }
* html #firefox-all #main-feature { height: 195px; /* Hack for IE6 */ }

ul#download-menu li,
ul#beta-version-menu li,
ul#older-versions-menu li {
	padding-top: 0;
	padding-bottom: 0;
}

#beta_versions, #lang_packs { margin-top: 2em; padding-right: 0; }
#beta_versions h3,
#lang_packs h3 {
	border: 0;
	margin: 5px 0 0 0;
}
#beta_versions p,
#lang_packs p { margin: 0; width: 40em; }
#beta_versions td,
tr.spacer-row td { border: 0; }

table.dalvay-table thead th {
	white-space: nowrap;
}

td .download-windows,
td .download-linux,
td .download-osx-uni {
	background-repeat: no-repeat;
	background-position: left;
	padding: 2px 0 2px 18px;
	display: block;
}
td .download-windows { background-image: url(/img/ico-win.png); }
td .download-linux   { background-image: url(/img/ico-tux.png); }
td .download-osx-uni { background-image: url(/img/ico-osx-uni.png); }

/* }}} */
/* {{{ Download Tables */

table.dalvay-table {
	border-collapse: separate;
	width: 97%;
}

table.dalvay-table thead th {
	font-weight: normal;
	font-size: 137%;
	color: #4b4742;
}

table.dalvay-table th,
table.dalvay-table td {
	padding: 5px 15px 5px 5px;
}

table.dalvay-table td {
	font-family: verdana, sans-serif;
	font-size: 75%;
}

table.dalvay-table tr.odd td { background: #f7f7f5; }
table.dalvay-table tr.even td { background: #fff; }
table.dalvay-table tr:target td { background: yellow; }
table.dalvay-table td.curVersion { font-weight: bold; }
table.dalvay-table td.nya { text-align: center; }

table.dalvay-table td.dl,
table.dalvay-table th.dl {
  white-space: nowrap;
}

table.dalvay-table th {
  text-align: left;
}

/* }}} */
/* {{{ Search-As-You-Type (tm) Results */

#sidebar-search .results {
	margin: 20px 0 0 0;
	font-family: verdana,sans-serif;
	font-size: 75%;
	color: #807970;
}

#sidebar-search .result h4 {
	font-size: 100%;
	font-family: verdana,sans-serif;
	clear: both;
	color: #807970;
	margin-bottom: 4px;
}

#sidebar-search .result h4 span.lang {
	margin-right: 1em;
}

#sidebar-search .result h4 span {
	white-space: nowrap;
}

#firefox-all #sidebar #sidebar-search .result {
	border-top: 1px solid #eee;
	position: relative;
	padding: 8px 4px;
}

#firefox-all #sidebar #sidebar-search .result ul {
	background: transparent;
	margin: 0;
	padding: 0;
	display: inline;
	left: 0;
}

#firefox-all #sidebar #sidebar-search .result ul li {
	background: transparent;
	display: inline;
	padding: 0 10px 0 0;
	margin: 0;
	list-style: none;
}

/* }}} */
