body {
	background-position: 0 -70px;
}

#download #wrapper {
	background: url(/img/tignish/products/background-download.jpg) no-repeat top center;
}

body #doc {
	background: url(/img/tignish/products/background-firefox-download.png) no-repeat 14px 100px;
}

#download #main-feature {
	padding-left: 200px;
	padding-top: 0;
	min-height: 270px;
}

* html #download #main-feature { height: 270px; /* Hack for IE6 */ }

#download-message #main-feature h2 {
	margin: 0;
	padding-top: 40px;
}

#download-message #content {
	background: url(/img/tignish/products/background-download-content.png) no-repeat top left;
	margin: 0 0 0 15px;
	padding: 5px 0;
}

.default-download #download-message #content {
	background: none;
}

#download-message #content:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#download-message #content h3 {
	margin: 20px 15px 10px 15px;
	color: #69645c;
	font-size: 137%;
}

#download-message #main-feature p.manual-download {
	margin: 0 275px 0 0;
}

#download ol.install-steps {
	margin: 0;
	padding: 0 0 50px 15px;
	background: url(/img/tignish/products/background-download-content-bottom.png) bottom left no-repeat;
}

#download ol.install-steps:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#download ol.install-steps li {
	margin: 0;
	padding: 0;
	list-style-type: none;
	float: left;
	display: block;
	width: 283px;
	margin-right: 15px;
}

#download ol.install-steps li.one {
	background: url(/img/tignish/download/number1.png) top center no-repeat;
	padding-top: 60px;
}

#download ol.install-steps li.two {
	background: url(/img/tignish/download/number2.png) top center no-repeat;
	padding-top: 60px;
}

#download ol.install-steps li.three {
	background: url(/img/tignish/download/number3.png) top center no-repeat;
	padding-top: 60px;
	margin-right: 0;
}


ol.install-steps,
ol.getting-started-steps {
	margin: 0;
	padding: 0;
}

ol.install-steps li {
	float: left;
	width: 370px;
	list-style-type: none;
	padding-right: 60px;
}

ol.install-steps li p {
	padding-left: 5px;
	padding-right: 10px;
	font-size: 108%;
	color: #4b4742;
	font-size: 108%;
	margin-bottom: 7px;
	color: #4b4742;
}

ol.install-steps li p.note {
	font-size: 85%;
	color: #69645c;
}

ul#download-footer {
	margin: 20px 0;
	padding: 0 0 0 50px;
	background: url(/img/tignish/products/background-download-footer.png) top right no-repeat;
}

#download ul#download-footer:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

ul#download-footer li {
	background: none;
	float: left;
	display: inline;
	width: 225px;
	margin-right: 75px;
	padding: 30px 0 60px 0;
	list-style-type: none;
}

ul#download-footer h3 {
	margin: 0 0 5px 0;
}

ul#download-footer p {
	color: #afaba3;
	font-size: 116%;
	min-height: 5em;
}

ul#download-footer li.three p {
	margin-right: 75px;
}

#download-fallback {
	display: none;
}
