#doc {
    background: url(/img/tignish/firefox/fastest/background-fastest.png) no-repeat 385px 155px;
}

#main-feature p {
    margin-right: 565px;
}

#main-content {
    width: 640px;
    margin-right: 45px;
}

#sidebar {
    margin-top: 85px;
    margin-right: 0;
    width: 230px;
}

/* {{{ Upload Area */

#upload-button {
    display: block;
    width: 264px;
    background: url(/img/tignish/firefox/fastest/upload.png) top left no-repeat;
}

#upload-button span {
    display: block;
    padding: 20px 20px 30px 50px;
    font-family: verdana, sans-serif;
    font-size: 108%;
    font-weight: bold;
    background: url(/img/tignish/firefox/fastest/upload.png) bottom left no-repeat;
}

* #upload-button span {
    height: 20px;
}

#howto ol li {
    margin-bottom: 1em;
}


/* per locale tweaks */

body.locale-ro #upload-button span {
    font-size: 95%;
}

body.locale-de #upload-button span {
    font-size: 90%;
}

body.locale-sq #upload-button span {
    font-size: 95%;
}

body.locale-sr #upload-button span {
    font-size: 95%;
}

body.locale-vi #upload-button span {
    font-size: 90%;
}



/* }}} */
/* {{{ Sidebar */

#speed-promo {
    background: url(/img/tignish/firefox/download-background.png) no-repeat right top;
    padding: 20px 25px 20px 5px;
    margin-bottom: 0;
}

#speed-promo h4 {
    margin-bottom: 10px;
    padding-right: 40px;
}

#speed-promo p {
    margin-right: 25px;
}

#fast-friend {
    padding: 20px 25px 20px 5px;
}

p.small-print {
    font-size: 75%;
    font-family: verdana, sans-serif;
    color: #999;
    padding-left: 5px;
}


/* }}} */
/* {{{ Primary video */

#primary-video .thumbnail {
    height: 320px;
    width: auto;
    border: 1px solid #ccc;
    background: #eee;
    margin-bottom: 4px;
}

/* }}} */
/* {{{ Videos */

#videos {
    padding: 20px 0;
}

#videos .video {
    float: left;
    width: 200px;
    margin-right: 20px;
    color: #4b4740;
    position: relative;
}

#videos .video-last {
    margin-right: 0;
}

#videos a.thumbnail:link,
#videos a.thumbnail:visited {
    text-decoration: none;
}

#videos a.thumbnail:hover,
#videos a.thumbnail:active {
    text-decoration: none;
}

#videos a.thumbnail:hover span,
#videos a.thumbnail:active span {
    text-decoration: underline;
}

#videos .thumbnail img {
    display: block;
    margin-bottom: 4px;
}

#videos .secondary {
    font-size: 85%;
    color: #807970;
}

#videos #coming-soon-1 p,
#videos #coming-soon-2 p {
    color: #999;
    position: absolute;
    width: 160px;
    top: 25px;
    left: 25px;
}

.clear { clear: both; }
/* }}} */
