/* {{{ Main Features and Sidebar */

#firefox-features #main-feature { min-height: 200px; }

* html #firefox-features #main-feature { height: 200px; /* Hack for IE6 */ }

#firefox-features #main-content {
	width: 630px;
	margin: 0 15px;
}

#firefox-features #content {
	clear: both;
	margin-top: 20px;
	margin-left: 15px;
	margin-right: 15px;
}

#firefox-features #sidebar {
	width: 265px;
	margin-right: 0;
	margin-top: 4em;
}

#firefox-features #sidebar #sidebar-menu {
	width: 180px;
	margin-left: 85px;
	padding: 2em 0;
}

#firefox-features #sidebar h4 {
	background: url(/img/tignish/features/sidebar-divider.png) bottom left no-repeat;
	color: #afaba3;
	padding: 0 5px 10px 5px;
}

#firefox-features #sidebar ul {
	font-size: 85%;
	margin-left: 5px;
}

h4 {
	font-size: 120%;	
}

/* }}} */
/* {{{ Features */

.features-box {
	clear: left;
	background: url(/img/tignish/features/features-footer.png) left bottom no-repeat;
	margin: 60px 0;
	position: relative;
}

.features-box h3 {
	margin-left: 20px;
}

.features-box h3 a.video {
	background: url(/img/tignish/features/video-reel.png) bottom right no-repeat;
	font-size: 65%;
	margin-left: 10px;
	padding-right: 25px;
}

.features-box p { font-size: 85%; }

.features-box .features-container {
	padding: 10px 20px 30px 0;
	background: url(/img/tignish/features/features-top.png) top left no-repeat;
	position: relative;
}

.features-box .features-row {
	padding-left: 20px;
}

.features-box .features-top-link {
	float: right;
	display: block;
	margin: 10px 10px 0 0;
}

.features-divider hr { display: none; }
.features-divider {
	background: url(/img/tignish/features/features-divider.png) 0 40% no-repeat;
	height: 8px;
	clear: both;
	padding: 30px 0;
	margin-left: 10px;
}

.features-footer { clear: both; }

.column1,
.column2,
.column3 {
	float: left;
	display: inline;
	width: 270px;
	margin-right: 20px;
	position: relative;
}

.column1 { margin-left: 20px; }
.column3 { margin-right: 0; }

/* }}} */
/* {{{ New Features */

#new-features {
	background: url(/img/tignish/features/new-features-footer.png) bottom left no-repeat;
	margin-bottom: 3em;
}

#new-features .features-container {
	padding: 10px 20px 25px 20px;
	background: url(/img/tignish/features/new-features-top.png) top left no-repeat;
}

#new-features .feature { min-height: 9em; }
* html #new-features .feature { height: 9em; }

#new-features p,
.features-box p {
	margin: 10px 0;
	line-height: 1.6;
	font-size: 85%;
}

#new-features p span.new,
.features-box p span.new,
#new-features p span.improved,
.features-box p span.improved {
	position: relative;
	left: -4px;
	color: #fff;
	font-weight: bold;
	font-style: italic;
	padding: 2px 4px 3px 4px;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
}
#new-features p span.new,
.features-box p span.new { background-color: #cb44a9; }
#new-features p span.improved,
.features-box p span.improved { background-color: #65b253; }

#new-features .column1 {
	width: 160px;
	padding-top: 18em;
	margin-left: 0;
	margin-right: 20px;
}
	
#new-features .column2 {
	width: 190px;
	margin-right: 20px;
}

#new-features .column3 {
	width: 190px;
}
/* }}} */
/* {{{ Features: Personal */

#personal1 {
	background: url(/img/tignish/features/personal1.png) top left no-repeat;
}

* html #personal1 { height: 1%; }

#personal .column1 { width: 200px; }
#personal .column2 { width: 305px; }
#personal .column3 { width: 305px; }

#personal1 #location-bar img { float: right; padding: 5px 10px 10px 10px; }

#personal1 #location-bar h4,
#personal1 #location-bar p { margin-left: 185px; }

#personal3 #bookmarking img { float: left; margin-top: 10px; }

#personal3 #bookmarking {
	float: left;
	display: inline;
	width: 500px;
	margin-right: 25px;
}

p a.video {
	background: url(/img/tignish/features/video-reel.png) bottom right no-repeat;
	font-size: 120%;
	padding-right: 25px;
}

#personal3 #smart-folders {
	float: left;
	display: inline;
	width: 330px;
}

#personal3 .features-divider {
	background: none;
	padding-top: 10px;
}

/* }}} */
/* {{{ Features: Security */

#security1 {
	background: url(/img/tignish/features/security1.png) top left no-repeat;
	width: 550px;
	min-height: 200px;
}

* html #security1 {	height: 200px; }

#security img {
	float: right;
	margin-bottom: 20px;
	margin-right: 10px;
}
#security #auto-update img {
	float: none;
	margin-right: 0;
}

#security1 #instant-id { padding-left: 185px; }

#security1 #instant-id p { margin-right: 20px; }

#security #anti-phishing img {
	position: relative;
	left: -18px;
	top: 0;
	margin: 20px 0 40px 0;
}

#security .feature { padding-bottom: 20px; }

#security #password-manager img {
	position: relative;
	left: -8px;
	margin-top: 10px;
}

#security .forget-site-column {
	width: 250px;
	margin-right: 0;
}

#security #private-browsing,
#security #forget-site  {
	padding-bottom: 0;
}

/* }}} */
/* {{{ Features: Customization */

#personalization1 {
	background: url(/img/tignish/features/customization1.png) top left no-repeat;
}

#ways { margin-left: 185px; }

#ways .feature { padding-bottom: 10px; }

#personalization .features-divider { padding-top: 10px; }

#personalization .column1 {
	width: 455px;
	margin-right: 35px;
}

#personalization #addons-manager { padding-bottom: 10px; }

#personalization .column2 {
	width: 370px;
}

#personalization #look-and-feel img {
	display: block;
	margin: 0 auto;
}

#ways p,
#ways h3 { margin-right: 365px; }

#ways img { float: right; }

/* }}} */
/* {{{ Features: Productivity */

#productivity1 {
	background: url(/img/tignish/features/productivity1.png) top left no-repeat;
	min-height: 165px;
}

* html #productivity1 {
	height: 165px;
}

#native {
	float: left;
	display: inline;
	width: 340px;
	margin-right: 25px;
	margin-left: 185px;
}

#feed-reader {
	float: left;
	display: inline;
	width: 325px;
}

#download-manager img {
	float: right;
}

#download-manager p,
#download-manager h3 { width: 445px }

#productivity .column1 img { margin-top: 20px; }

#productivity .column3 .feature { padding-bottom: 20px; }

/* }}} */
/* {{{ Features: Search */

#search1 {
	background: url(/img/tignish/features/search1.png) top left no-repeat;
	min-height: 165px;
}

* html #search1 { height: 165px; }

#smart-keywords {
	float: left;
	display: inline;
	width: 285px;
	margin-right: 25px;
	margin-left: 185px;
}

#search-suggestions {
	float: left;
	display: inline;
	width: 385px;
}

#integrated-search img,
#search-suggestions img {
	float: right;
}

#search-suggestions p,
#search-suggestions h3 {
	margin-right: 200px;
}

#search .column1 {
	margin-left: 20px;
	margin-right: 25px;
	width: 570px;
}

#search .column2 {
	width: 280px;
	margin-right: 0;
}

#search .column1 p,
#search .column1 h4 {
	margin-right: 300px;
}

#search #find img {
	float: left;
	margin-bottom: 40px;
}

#search #find p,
#search #find h4 {
	margin-left: 400px;
	margin-right: 50px;
}

/* }}} */
/* {{{ Features: Tabs */

#tabs #tabs1 {
	background: url(/img/tignish/features/tabs1.png) top left no-repeat;
}

#tabs #tabs1 img { 
	float: right; 
	padding: 0 0 20px 50px;
}

#tabs #tabs-feature { 
	margin-left: 185px;
}

#tabs .column1,
#tabs .column2,
#tabs .column3 {
	padding-bottom: 40px;
}

/* }}} */
/* {{{ Features: Universal Access */

#access1 {
	background: url(/img/tignish/features/access1.png) top left no-repeat;
	min-height: 185px;
}

* html #access1 { height: 185px; }

#text-rendering {
	float: left;
	display: inline;
	width: 340px;
	margin-left: 240px;
	margin-right: 10px;
}

#fonts-image {
	float: left;
	width: 290px;
}

#access .column1,
#access .column2,
#access .column3 {
	padding-bottom: 40px;
}

/* }}} */
/* {{{ Features: Performance */

#performance .column1 {
	background: url(/img/tignish/features/performance1.png) top left no-repeat;
	float: left;
	display: inline;
	width: 340px;
	padding-left: 240px;
	margin-right: 20px;
}

#performance .column2 {
	float: left;
	display: inline;
	margin-right: 0;
}

#performance .feature {
	padding-bottom: 10px;
}

#performance #super-speed {
	margin-right: 500px;
	min-height: 285px;
}

* html #performance #super-speed {
	height: 285px;
}

#performance1 {
	position: relative;
}

/* }}} */
/* {{{ Performance Chart */

#performance-chart {
	position: absolute;
	top: 0;
	right: 0;
	width: 465px;
	height: 281px;
	background: url(/img/tignish/features/performance-chart-bg.png) top left no-repeat;
}

#performance-chart h4 {
	color: #4b4740;
	margin: 0 0 0 20px;
	padding-top: 20px;
}

#performance-chart p {
	font-size: 85%;
	margin: 0 0 20px 20px;
}

#performance-chart img {
	height: 130px;
}

#performance-chart ul {
	left: 0;
	margin: 10px 0 0 0;
	padding: 0;
}

#performance-chart ul li {
	float: left;
	background: none;
	padding: 0;
	margin: 0;
	width: 155px;
	text-align: center;
	font-family: verdana, sans-serif;
	font-weight: bold;
	color: #4b4740;
}

/* }}} */
/* {{{ Features: Standards */

#standards .column1 {
	background: url(/img/tignish/features/standards1.png) top left no-repeat;
	padding-top: 220px;
}

#standards .column1,
#standards .column2,
#standards .column3 {
	float: left;
	display: inline;
	width: 270px;
	margin-right: 20px;
	padding-bottom: 40px;
}

#standards .column1 {
	margin-left: 20px;
	margin-right: 40px;
	width: 200px;
}

#standards .column2 { width: 340px; }

#standards .column2 img {
	position: relative;
	left: -12px;
}

#standards .column3 { margin-right: 0; }

#standards .feature { padding-bottom: 20px; }

/* }}} */
/* {{{ Features: Cutting Edge */

#cutting-edge .column1 {
	background: url(/img/tignish/features/cuttingedge1.png) top left no-repeat;
	padding-top: 200px;
}

#cutting-edge #newest-technologies {
	position: relative;
	background: url(/img/tignish/features/new-technologies-top.png) top left no-repeat;
}

#cutting-edge #newest-technologies div {
	background: url(/img/tignish/features/new-technologies-footer.png) bottom left no-repeat;
	padding: 20px;
}

#cutting-edge #newest-technologies table {
	position: relative;
	margin-bottom: 0;
}

#cutting-edge #graphics {
	padding-top: 20px;
}

#cutting-edge #newest-technologies td {
	vertical-align: top;
	width: 50%;
}

#cutting-edge #newest-technologies td ul { margin: 0; }
#cutting-edge #newest-technologies td ul li {
	background: none;
	list-style: none;
	font-size: 80%;
	font-weight: bold;
}

/* }}} */
/* {{{ Features: Help */

#help .column1 {
	background: url(/img/tignish/features/help1.png) top left no-repeat;
	float: left;
	display: inline;
	width: 265px;
	padding-left: 240px;
	margin-right: 25px;
	padding-bottom: 20px;
	margin-left: 0;
}

#help .column2 {
	float: left;
	display: inline;
	width: 365px;
	padding-bottom: 20px;
	margin-right: 0;
}

#help .feature {
	padding-bottom: 20px;
}

#firefox-support img {
	float: right;
	margin: 1em 0 0 1em;
}

/* }}} */
