#main-feature { min-height: 220px; }

* html #main-feature { height: 220px; /* Hack for IE6 */ }

#doc {
	background: url(/img/tignish/firefox/background-firefox-community.png) no-repeat 18px 150px;
}

#main-feature p { margin-right: 385px; }

#content { margin-right: 125px; }

.get-involved-list {
	float: left;
	width: 300px;
}

#easy.get-involved-list {
	margin-right: 35px;
}

.get-involved-list h3 {
	font-size: 120%;
	color: #afaba3;
}

.content-intro {
	font-size: 125%;
	margin-right: 225px;
}

/* }}} */
