table td,
table th {
	font-family: verdana, sans-serif;
	font-size: 75%;
	padding: 5px;
}

table th {
	background: #ddd;
	font-weight: bold;
	color: #444;
}

table td {
	border-top: 1px solid #ddd;
	color: #333;
}

tr.table-title th {
	font: 130% sans-serif;
	font-weight: normal;
	background: #666;
	color: #fff;
	border-top: 1px solid #666;
	padding: 0.5em 10px;
	text-align: center;
}
