#main-content {
	width: 730px;
	margin: 0;
	padding-left: 30px;
	font-size: 110%;
}

h3 { color: #afaba3; }

#main-feature p {
	margin-right: 300px;
	margin-bottom: 0;
}

p.intro {
	margin: 0 135px 20px 5px;
}

#levels.expander .expander-header,
#levels.expander-open .expander-header,
#levels.expander-closed .expander-header {
	background-image: url(/img/tignish/content/phishing-protection-expander-header.png);
	background-repeat: no-repeat;
	padding-top: 5px;
}

#levels.expander .expander-header {
	padding-top: 20px;
}

h4 { clear: left; }

p.site-id {
	float: left;
	display: inline;
	width: 235px;
	min-height: 64px;
	margin-right: 25px;
	padding: 0 0 0 75px;
	background-position: top left;
	background-repeat: no-repeat;
	position: relative;
}

* html p.site-id { height: 64px; }

p.site-id-1 { background-image: url(/img/tignish/security/id-icon-1-xp.png); }
p.site-id-2 { background-image: url(/img/tignish/security/id-icon-2-xp.png); }
p.site-id-3 { background-image: url(/img/tignish/security/id-icon-3-xp.png); }
p.site-id-4 { background-image: url(/img/tignish/security/id-icon-4-xp.png); }

.platform-linux p.site-id-1 { background-image: url(/img/tignish/security/id-icon-1-linux.png); }
.platform-linux p.site-id-2 { background-image: url(/img/tignish/security/id-icon-2-linux.png); }
.platform-linux p.site-id-3 { background-image: url(/img/tignish/security/id-icon-3-linux.png); }
.platform-linux p.site-id-4 { background-image: url(/img/tignish/security/id-icon-4-linux.png); }

.platform-mac p.site-id-1 { background-image: url(/img/tignish/security/id-icon-1-mac.png); }
.platform-mac p.site-id-2 { background-image: url(/img/tignish/security/id-icon-2-mac.png); }
.platform-mac p.site-id-3 { background-image: url(/img/tignish/security/id-icon-3-mac.png); }
.platform-mac p.site-id-4 { background-image: url(/img/tignish/security/id-icon-4-mac.png); }

.platform-vista p.site-id-1 { background-image: url(/img/tignish/security/id-icon-1-vista.png); }
.platform-vista p.site-id-2 { background-image: url(/img/tignish/security/id-icon-2-vista.png); }
.platform-vista p.site-id-3 { background-image: url(/img/tignish/security/id-icon-3-vista.png); }
.platform-vista p.site-id-4 { background-image: url(/img/tignish/security/id-icon-4-vista.png); }
