/* {{{ Update */

body#firefox.variation1 #wrapper { background-image: url(/img/tignish/firefox/background-firefox-ie-1.jpg); }
body#firefox.variation2 #wrapper { background-image: url(/img/tignish/firefox/background-firefox-ie-2.jpg); }
body#firefox.variation3 #wrapper { background-image: url(/img/tignish/firefox/background-firefox-ie-3.jpg); }
body#firefox.variation4 #wrapper { background-image: url(/img/tignish/firefox/background-firefox-ie-4.jpg); }
#firefox #firefox-feature { background: url(/img/tignish/firefox/feature-background-ie.png) top left no-repeat; }

#main-content {
  margin-top: 20px;
}

#sidebar {
  margin: 30px 0 30px;
  padding: 10px;
}

#sidebar div.side-feature {
	margin: 20px 0 0 0;
}

#sidebar div.side-feature h3 {
  color: #69645B;
}

#sidebar div.support {
  background: url(/img/tignish/firefox/sumo-sidebar-back.png) top right no-repeat;
  padding: 10px;
}

#sidebar div h3 {
  font-size: 26px;
  margin: 30px 0 0;
}

#sidebar div p {
  margin: 0 60px 0 0;
}
#sidebar div p.download-other { margin-right: 0; }

/* }}} */
