@font-face {
	font-family: "Laffayette Comic Pro";
	src: url("/img/fonts/Laffayette_Comic_Pro.ttf")
}

body {
	background: #87a3d2 url(/img/ff3beta/firstrun/3.1firstrun-bg.jpg) top left repeat-x;
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: "Laffayette Comic Pro", sans-serif;
	text-rendering: optimizeLegibility;
	font-size: 13px;
	color: #332758;
}

a:link,
a:visited {
	color: #bd5127;
}

a:hover,
a:active {
	color: #cd8f76;
}

img { border: 0; }

h1 {
	color: #000;
	text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 0;
	font-style: italic;
	font-size: 30px;
	margin: 15px 0;
}

#frame {
	margin: 0 auto;
	text-align: left;
	width: 817px;
	padding-left: 31px;
	padding-right: 55px;
	background: url(/img/ff3beta/firstrun/3.1firstrun-robobg.jpg) top left no-repeat;
}

#intro {
	padding-top: 10px;
	min-height: 420px;
}

#intro p {
	width: 325px;
	color: #000;
	line-height: 1.5;
	text-shadow: #fff 0 1px 0, #fff 0 0 5px;
}

#intro p.headerText {
	width: 330px;
}

#intro em {
	font-weight: bold;
}

#intro p.small {
	background: rgba(90, 203, 237, 0.7);
	padding: 5px;
	width: 380px;
	-moz-border-radius: 6px;
	font-size: 10px;
}

.box {
	padding: 20px 0 0 0;
	background: url(/img/ff3beta/firstrun/3.1firstrun-frame.png) top left no-repeat;
	margin-bottom: 20px;
}

.box-sides {
	padding: 0 30px;
	background: url(/img/ff3beta/firstrun/ff3b-table-01-sides.png) top left repeat-y;
	clear: both;
}

.box-footer {
	height: 15px;
	background: url(/img/ff3beta/firstrun/3.1firstrun-frame-bottom.png) 8px 100% no-repeat;
}

.box h2 {
	margin: 0;
	padding: 1em 0 40px 55px;
	color: #BF0D30;
	font-size: 14px;
}

.box p {
	margin: 0;
	padding: 1em 1em 0 55px;
}

.box ul {
	margin-top: 0;
	margin-bottom: 0;
}

.box-sides li {
	margin: 0 25px 0 40px;
	padding-bottom: 10px;
}

#portal-nav {
	margin: 0;
	padding: 0;
	list-style-type: none;
	height: 33px;
}

#portal-nav li {
	margin: 0;
	padding: 0;
	list-style-type: none;
	float: left;
	text-align: center;
	line-height: 30px;
	display: inline;
}

#portal-nav li.one   { width: 130px; margin-left: 150px; }
#portal-nav li.two   { width: 155px; }
#portal-nav li.three { width: 215px; }

#portal-nav li.one,
#portal-nav li.two {
	background: url(/img/ff3beta/firstrun/ff31b-table-02-div.png) top right no-repeat;
}

#portal-nav {
	font-size: 14px;
	font-weight: bold;
}

#portal-nav a {
	display: block;
	padding-top: 3px;
}

#portal-nav a:link,
#portal-nav a:visited {
	color: #fff;
	text-decoration: none;
}

#portal-nav a:hover {
	text-decoration: underline;
	color: #999;
}

#portal-nav a:active {
	text-decoration: none;
	color: #ffcc01;
}

#portal-nav a.current {
	color: #cd8f76;
}

#pagination {
	display: none;
}

#footer {
	font-family: "Laffayette Comic Pro", sans-serif;
	font-size: 85%;
	color: #5b779b;
	text-align: center;
}


#whatsnew.box {
	padding-top: 0;
	background-image: url(/img/ff3beta/firstrun/ff31b-table-02-top-menu.png);
}

#whatsnew .box-sides {
	padding-top: 20px;
	padding-bottom: 0;
}

