#wrapper {
	min-width: 985px !important;
}

#doc {
	background: transparent url(/img/greenfestival/background-organic.png) 0 140px no-repeat;
	width: 920px !important;
}

#main-feature {
	margin-top: 20px;
}

#main-feature h2 {
	margin: 0 300px 0 15px;
	color: #fff;
	font-size: 310%;
}

#main-feature p {
	margin-right: 650px;
}

#main-content {
	width: 470px;
	margin: 45px 0 0 15px;
}

#main-content p {
	font-size: 140%;
}

#sidebar {
	width: 560px;
	min-height: 200px;
	background: url(/img/greenfestival/sidebar_people.jpg) top right no-repeat;
	margin-right: -130px;
	margin-top: 150px;
}

#accrc-logo {
	margin: 100px 30px 0 0;
}

#accrc-logo img {
	float: left;
	padding: 0 10px 0 0;
}

#accrc-logo p {
	font-size: 85%;
	padding-top: 6px;
}

#accrc-logo p {
	font-size: 85%;
}

#sitebadges {
	width: 250px;
	margin: 0 0 0 175px;
}

#sitebadges h3 {
	color: #aaa;
	font-size: 140%;
	margin-bottom: 5px;
}

#sitebadges a {
	display: block;
	margin-bottom: 5px;
}

#footer {
	min-height: 120px;
	margin-top: 25px;
}

#footer-menu, #lang_form {
    display:none;
}
