/* {{{ Firefox Landing Page */

body#firefox {
	background-image: url(/img/tignish/firefox/background-tile.jpg);
}

body#firefox #wrapper {
	background-image: none;
	background-position: top center;
	background-repeat: no-repeat;
}

body#firefox.variation1 #wrapper { background-image: url(/img/tignish/firefox/background-firefox-ie-1.jpg); }
body#firefox.variation2 #wrapper { background-image: url(/img/tignish/firefox/background-firefox-ie-2.jpg); }
body#firefox.variation3 #wrapper { background-image: url(/img/tignish/firefox/background-firefox-ie-3.jpg); }
body#firefox.variation4 #wrapper { background-image: url(/img/tignish/firefox/background-firefox-ie-4.jpg); }

body#firefox #no-js-feature { background: none; }

#firefox #main-feature { min-height: 392px; }

* html #firefox #main-feature { height: 392px; } /* Hack for IE6 */

#firefox #main-feature p { margin-top: 10px; margin-bottom: 40px; }

.dl-box {
	margin-bottom: 0;
}

#firefox #switching {
    display: inline;
	float: left;
	margin: 0 35px;
	padding-right: 35px;
	padding-top: 15px;
	width: 365px;
	background: url(/img/tignish/firefox/switching-background-ie.png) top center no-repeat;
}

#firefox #switching h3,
#firefox #awards h3 {
	margin: 0;
	color: #807970;
}

#firefox #switching p {
	color: #afaba3;
	margin: 5px 0;
	font-size: 116%;
}

#firefox #bubble {
	display: inline;
	float: left;
	width: 426px;
	height: 137px;
	padding: 8px 0 0 20px;
	margin-bottom: 25px;
	color: #4b4742;
	background: url(/img/tignish/firefox/bubble-ie.png) top center no-repeat;
	text-align: center;
}
#firefox #bubble p { font-size: 16px; margin: 0; padding: 0 35px; }
#firefox #bubble cite { font-size: 13px; font-style: italic; color: #999185; }

#firefox #awards {
	display: inline;
	float: right;
	margin-right: 35px;
	width: 400px;
	height: 123px;
	background: url(/img/tignish/firefox/awards-bg-ie.jpg) top right no-repeat;
}
#firefox #awards h3 { margin: 15px 0 12px 0; }

.js #firefox-feature {
	clear: both;
}

#firefox #firefox-feature {
	background: url(/img/tignish/firefox/feature-background-ie.png) top left no-repeat;
}

#firefox-sub-features {
	background: url(/img/tignish/firefox/subfeature-background-ie.jpg) 41px 10px no-repeat;
	height: 200px;
}

#firefox-sub-features .sub-feature {
	height: 200px;
}

#firefox-tour.sub-feature h3 a {
	height: 170px;
}

#firefox-switch.sub-feature p { margin-right: 50px; }
#firefox-reasons.sub-feature { width: 280px; }
