/* General Layout */
#mobile #doc {
	background: url(/img/mobile/background-mobile.png) 455px 65px no-repeat;
}

#mobile #main-feature h2 {
	margin-right: 400px;
	font-size: 300%;
	letter-spacing: -1px;
}

#mobile #main-feature p {
	margin-right: 280px;
	margin-top: 20px;
	font-size: 220%;
}

#mobile #main-content {
	margin-top: 65px;
	margin-bottom: 65px;
	margin-left: 5px;
	margin-right: 0;
	width: auto;
}

/* {{{ Main Feature area */

#mobile-feature {
	background: url(/img/mobile/feature-background.png) top left no-repeat;
	width: 945px;
}

#mobile-feature-footer {
	background: url(/img/mobile/feature-background.png) bottom left no-repeat;
	height: 30px;
	clear: both;
}

#mobile-feature-intro {
	float: left;
	width: 485px;
	padding: 30px 30px 10px 30px;
}

#mobile-feature form {
	float: left;
	width: 285px;
	padding: 30px 30px 10px 30px;
}

#mobile-feature-intro h3 {
	font-size: 190%;
}

#mobile-feature-intro p {
	font-size: 116%
}

/* }}} */
/* {{{ SMS Form */

#mobile-feature-form h4 {
	margin-bottom: 20px;
	font-size: 121.3%
}

#mobile-feature-form .info {
	font-size: 75%;
	font-family: verdana, sans-serif;
}

#mobile-feature-form input,
#mobile-feature-form select {
	width: 240px;
}

#mobile-feature-form .number-field {
	margin-bottom: 5px;
}

#mobile-feature-form .button-field span.info {
	position: relative;
	top: -8px;
}


#mobile-feature-form button {
	background: none;
	border: 0;
	margin: 0;
	padding: 0;
	width: 265px;
	position: relative;
	left: -8px;
	cursor: pointer;
}

#mobile-feature-form button span.outer {
	display: block;
	width: 265px;
	padding: 0;
	height: auto;
	text-align: left;
	font-family: verdana, sans-serif;
	color: #09700b;
	text-decoration: none;
	background: url(/img/mobile/send-button.png) 0 0 no-repeat;
	min-height: 22px;
	filter: none;
	border: 0;
	overflow: visible; /* removes extra side padding in IE */
}

* html #mobile-feature-form button span { height: 22px; /* min-height hack for IE6 */ }

#mobile-feature-form button span {
	display: block;
	background: url(/img/mobile/send-button.png) 0 100% no-repeat;
	padding: 13px 42px 25px 15px;
}

#mobile-feature-form button:hover span.outer,
#mobile-feature-form button:active span.outer {
	background-position: -300px 0;
	text-decoration: underline;
}

#mobile-feature-form button:hover span span,
#mobile-feature-form button:active span span {
	background-position: -300px 100%;
}

#no-texts {
	clear: both;
	background: url(/img/mobile/divider.png) top left no-repeat;
	margin: 0 30px;
	padding: 20px 0 10px 0;
}

/* }}} */
/* {{{ Mobile Page Footer */

#mobile-footer {
	clear: left;
	background: url(/img/mobile/sub-feature-background.png) 5px 0 no-repeat;
	margin: 40px 0 20px 0;
	padding: 5px 20px 0 20px;
	height: 190px;
	font-size: 110%;
}

.sub-feature {
	width: 244px;
	margin: 0 28px;
	float: left;
	display: inline; /* fix IE margin issue */
}

.sub-feature h4 a {
	display: block;
	position: relative;
}

.sub-feature h4 a:link,
.sub-feature h4 a:visited {
	color: #4B4740;
}

.sub-feature h4 { margin-bottom: 5px; }

.sub-feature p {
	font-size: 108%;
	margin-bottom: 15px;
	margin-right: 15px;
	color: #afaba3;
	min-height: 6em;
}

.sub-feature p.link { min-height: 0; }

#footer { margin-top: 40px; }

#video-tour p {
	margin-right: 100px;
}

/* }}} */
/* {{{ SMS Thank You Page */

#mobile-sms-thanks #doc {
	background: none;
}

#mobile-sms-thanks #main-feature h2 {
	font-size: 300%;
	margin-right: 300px;
}

#mobile-sms-thanks .small-print {
	font-size: 85%;
	color: #898378;
}

#mobile-sms-thanks #main-content {
	margin-top: 25px;
	width: 685px;
}

#mobile-sms-thanks #thanks-intro,
#mobile-sms-thanks #weave-info {
	padding-right: 100px;
}

#mobile-sms-thanks #weave-info {
	background: url(/img/mobile/weave-background.png) top right no-repeat;
	padding-top: 35px;
}

/* }}} */
/* {{{ Mobile System Requirements */

#mobile-requirements #main-feature h2 {
	font-size: 275%;
	margin-right: 375px;
}

#mobile-requirements #main-feature p {
	margin-right: 365px;
}

#mobile-requirements #main-content {
	margin-top: 15px;
	margin-left: 30px;
	padding-left: 5px;
	background: url(/img/mobile/requirements-divider.png) top left no-repeat;
	width: 600px;
}

#mobile-requirements #main-content ul {
	left: 5px;
	font-size: 93%;
	margin-top: 5px;
}

/* }}} */
/* {{{ Synchronize Page */

#mobile-weave #doc {
	background: url(/img/mobile/feature-synchronize.png) 465px 85px no-repeat;
}

#mobile-weave #main-feature h2 {
	margin-right: 400px;
	font-size: 450%;
}

#mobile-weave #main-feature p {
	margin-right: 465px;
	margin-top: 20px;
	font-size: 165%;
}

#mobile-weave #main-content {
	margin: 20px;
	padding: 0;
	width: 626px;
	background: url(/img/mobile/synchronize-feature-background.png) top left repeat-y;
}

#mobile-weave #main-content #main-content-footer {
	background: url(/img/mobile/synchronize-feature-background.png) bottom left no-repeat;
	height: 35px;
}

#mobile-weave #main-content .container {
	padding: 35px 40px;
}

#mobile-weave #main-content h3 {
	font-size: 225%;
	margin-top: 0;
	padding: 0 0 20px 5px;
	position: relative;
	left: -5px;
	background: url(/img/mobile/synchronize-divider.png) bottom left no-repeat;
}

#mobile-weave #main-content h4 {
	margin-bottom: 5px;
}

#mobile-weave #main-content p {
	margin-right: 25px;
}

#mobile-weave #sidebar {
	width: 260px;
	margin-top: 25px;
	margin-right: 15px;
	background: url(/img/mobile/synchronize-sidebar-background.png) top right no-repeat;
}

#mobile-weave #sidebar h3 {
	margin-bottom: 10px;
}

#mobile-weave #sidebar ol {
	margin-top: 0;
	margin-left: 1em;
}

#mobile-weave #sidebar ol p {
	margin-bottom: 0;
}

#mobile-weave #sidebar ul {
	margin: 5px 0;
	left: 0;
}

#mobile-weave #sidebar h4 {
	font-size: 116%;
}

/* }}} */
/* {{{ Mobile FAQ Page */

dl.faq {
	margin-left: 0;
}

dl.faq dt {
	font-weight: bold;
}

dl.faq dd {
	margin: 0 0 1em 0;
}

body#mobile-faq,
#mobile-faq #wrapper {
	background-position: 50% -90px;
}

#mobile-faq #main-feature p {
	margin-bottom: 0;
}

#mobile-faq #main-content {
	width: 640px;
}

/* }}} */
/* {{{ Mobile Customize Page */

#mobile-customize #doc {
	background: url(/img/mobile/background-customize.png) 0 85px no-repeat;
}

body#mobile-customize,
#mobile-customize #wrapper {
	background-position: 50% -90px;
}

#mobile-customize #main-feature {
	margin-left: 180px;
}

#mobile-customize #main-feature p {
	margin-right: 285px;
}

#mobile-customize #main-content {
	background: url(/img/mobile/personal-divider.png) top left no-repeat;
	margin-top: 15px;
	margin-left: 200px;
	padding-left: 15px;
	padding-top: 25px;
	width: 600px;
}

#mobile-customize #personal-screenshot {
	float: right;
	margin: 0 0 2em 1em;
}

#mobile-customize #dev-promo {
	background: url(/img/mobile/dev-promo.png) top left no-repeat;
	position: relative;
	left: -25px;
	margin-top: 45px;
	padding-left: 25px;
	padding-top: 25px;
}

#mobile-customize #dev-promo h3 {
	margin: 0 0 10px 0;
	color: #807970;
}

#mobile-customize #dev-promo p {
	font-size: 108%;
	color: #898378;
}
/* }}} */
/* {{{ Mobile Develoers Page */

#mobile-developers #doc {
	background: url(/img/mobile/background-developers.png) 15px 85px no-repeat;
}

body#mobile-developers,
#mobile-developers #wrapper {
	background-position: 50% -65px;
}

#mobile-developers #main-feature {
	min-height: 175px;
}

* html #mobile-developers #main-feature {
	height: 175px;
}

#mobile-developers #main-content {
	margin-top: 0;
	margin-left: 15px;
	padding-left: 20px;
	padding-bottom: 25px;
	padding-right: 25px;
	width: 600px;
	background: url(/img/mobile/developers-footer.png) bottom left no-repeat;
}

#mobile-developers #main-content h4 {
	background: url(/img/mobile/divider.png) top left no-repeat;
	padding: 30px 10px 10px 10px;
	position: relative;
	left: -10px;
	margin: 35px 0 0 0;
}

#mobile-developers #main-content p {
	margin-right: 10px;
}

#mobile-developers #main-content h4.first {
	background: none;
}

#mobile-developers #main-content ul {
	left: 0;
}

/* }}} */
