#notices-firefox #main-feature p {
	font-size: 137%;
}

#notices-firefox #main-content {
	margin-top: 0;
	margin-right: 45px;
	width: 640px;
}

#notices-firefox #sidebar {
	width: 205px;
	margin-top: 1em;
}

#website-services-agreements.expander .expander-header,
#website-services-agreements.expander-open .expander-header,
#website-services-agreements.expander-closed .expander-header {
	background-image: url(/img/tignish/content/expander-header.png);
	background-repeat: no-repeat;
	padding-top: 5px;
}

#expander-footer {
	background: url(/img/tignish/content/expander-footer.png) bottom left no-repeat;
	height: 12px;
	position: relative;
	top: -8px;
}

