#outages #wrapper {
	background: transparent url(/img/tignish/template/background-outages.jpg) no-repeat center top;
}

#main-feature {
	margin: 80px 0 150px 400px;
}

#main-feature h2 {
	font-size: 300%;
	color: #4b4742;
	margin: 0 20px 0 0;
}

#main-feature p {
	font-size: 100%;
	margin: 0 100px 0 0;
}

#nav-main,
#footer-menu { display: none!important; }

#footer #copyright { clear: left; }
