/* {{{ Main Features and Sidebar */

#firefox-performance #main-feature { min-height: 325px; }

* html #firefox-performance #main-feature { height: 325px; /* Hack for IE6 */ }

#firefox-performance #doc {
	background: url(/img/tignish/firefox/performance/background.png) no-repeat 15px 164px;
}

#firefox-performance #main-feature p {
	margin-right: 600px;
}

#firefox-performance #main-content {
	width: 590px;
	margin: 0 35px;
}

#firefox-performance #content {
	clear: both;
	margin-top: 20px;
	margin-left: 15px;
	margin-right: 15px;
}

#firefox-performance #sidebar {
	width: 265px;
	margin-right: 0;
	margin-top: 4em;
}

#firefox-performance #sidebar #sidebar-menu {
	width: 180px;
	margin-left: 85px;
	padding: 2em 0;
}

#firefox-performance #sidebar #sidebar-menu h4 {
	background: url(/img/tignish/features/sidebar-divider.png) bottom left no-repeat;
	color: #afaba3;
	padding: 0 5px 10px 5px;
}

#firefox-performance #sidebar #sidebar-menu ul {
	font-size: 85%;
	margin-left: 5px;
}

h4 {
	font-size: 120%;
}

#sidebar .sidebar-feature {
	margin-top: 35px;
	background: url(/img/tignish/firefox/performance/sidebar-feature.png) top right no-repeat;
	padding: 20px;
}

#sidebar .sidebar-feature h4 {
	font-size: 137%;
}

#sidebar .sidebar-feature p.primary {
	margin-top: 5px;
	font-size: 108%;
}


/* }}} */
/* {{{ Features */

.view-docs {
	white-space: nowrap;
}

.performance-box {
	clear: left;
	background: url(/img/tignish/firefox/performance/box-footer.png) left bottom no-repeat;
	margin: 60px 0;
	position: relative;
}

.performance-box h3 {
	font-size: 182%;
}

.performance-box p {
	margin: 5px 0 15px 0;
	line-height: 1.6;
	font-size: 85%;
}

.performance-box ul {
	font-size: 85%;
	left: 0;
	margin: 0;
}

.performance-box .performance-container {
	padding: 10px 20px 30px 20px;
	background: url(/img/tignish/firefox/performance/box-top.png) top left no-repeat;
	position: relative;
}

.performance-box .features-row {
	padding-left: 20px;
}

.performance-box .features-top-link {
	float: right;
	display: block;
	margin: 10px 10px 0 0;
}

.performance-divider hr { display: none; }
.performance-divider {
	background: url(/img/tignish/firefox/performance/divider.png) 0 40% no-repeat;
	height: 8px;
	clear: both;
	padding: 30px 0;
	position: relative;
	left: -10px;
}

.performance-footer { clear: both; }

.column1,
.column2,
.column3 {
	float: left;
	display: inline;
	width: 270px;
	margin-right: 20px;
	position: relative;
}

.column1 { margin-left: 0; }
.column3 { margin-right: 0; }

/* }}} */
/* {{{ Features: Performance */

#performance1 #faster-javascript {
	background: url(/img/tignish/firefox/performance/faster-javascript.png) top left no-repeat;
	float: left;
	display: inline;
	width: 315px;
	padding-left: 200px;
	margin-right: 20px;
	position: relative;
	left: -20px;
	margin-left: 0;
	min-height: 200px;
}

* html #performance1 #faster-javascript {
	height: 200px;
}

#performance1 {
	background: none;
	margin: 40px 0 20px 0;
}

#performance1 .performance-container {
	background: none;
	padding-top: 0;
	padding-left: 0;
}

#performance2 {
	margin-top: 0;
	border-top: 1px solid #fff; /* for IE */
}

#performance2 .performance-container {
	background: url(/img/tignish/firefox/performance/divider.png) 0 0 no-repeat;
	padding: 40px 0;
	margin-left: 10px;
}

#performance2 .column1 {
	width: 465px;
	margin-right: 75px;
}

#performance2 .column2 {
	width: 340px;
}

#dromaeo table th {
	padding: 5px;
	vertical-align: middle;
}

#dromaeo table th img {
	height: 14px;
}

#dromaeo table td {
	padding: 5px;
	vertical-align: middle;
}

#dromaeo table td span {
	font-family: verdana, sans-serif;
	font-weight: bold;
	color: #00639B;
	font-size: 85%;
	border-left: 1px solid #00639B;
	display: block;
	padding: 8px;
	white-space: nowrap;
}

#dromaeo table #dromaeo-fx-3   td span { border-left-width: 68px; }
#dromaeo table #dromaeo-fx-3-5 td span { border-left-width: 135px; }
#dromaeo table #dromaeo-fx-3-6 td span { border-left-width: 170px; }

#dromaeo tfoot td {
	font-size: 75%;
}

/* }}} */
/* {{{ Performance Chart */

#performance-chart {
	clear: left;
	width: 465px;
	height: 281px;
	background: url(/img/tignish/features/performance-chart-bg.png) top left no-repeat;
}

#performance-chart h4 {
	color: #4b4740;
	margin: 0 0 0 20px;
	padding-top: 20px;
}

#performance-chart p {
	font-size: 85%;
	margin: 0 0 20px 20px;
}

#performance-chart img {
	height: 130px;
}

#performance-chart ul {
	left: 0;
	margin: 10px 0 0 0;
	padding: 0;
}

#performance-chart ul li {
	float: left;
	background: none;
	padding: 0;
	margin: 0;
	width: 155px;
	text-align: center;
	font-family: verdana, sans-serif;
	font-weight: bold;
	color: #4b4740;
}

/* }}} */
/* {{{ Web Developer */

#developer .column1 {
	width: 500px;
	margin-right: 35px;
}

#developer #open-audio-video {
	padding-left: 200px;
	background: url(/img/tignish/firefox/performance/open-audio-video.png) top left no-repeat;
	position: relative;
	left: -20px;
	min-height: 175px;
}

* html #developer #open-audio-video {
	height: 175px;
}

#developer #xhr {
	padding-left: 180px;
}

#developer .column2 {
	width: 300px;
}

#developer1 #location img {
	position: relative;
	left: -10px;
	margin-bottom: 15px;
}

/* }}} */
/* {{{ User Experience */

#privacy {
	background: url(/img/tignish/firefox/performance/privacy.png) top left no-repeat;
	padding-left: 200px;
	position: relative;
	left: -20px;
	width: 325px;
}

#privacy table td {
	vertical-align: top;
	padding: 0 5px 5px 0;
}

#ux2 {
	width: 400px;
	margin-right: 45px;
}


#ux2 img {
	position: relative;
	left: -10px;
	margin-bottom: 25px;
}

#polish {
	width: 424px;
	margin: 0 0 20px 0;
	background: #f2f2f1 url(/img/tignish/firefox/performance/polish-box-background.png) top left no-repeat;
}

#polish #look-and-feel {
	background: url(/img/tignish/firefox/performance/polish-box-background.png) bottom right no-repeat;
	padding: 20px;
}

#polish h3 {
	margin: 0 0 1em 0;
}

#polish table {
	margin-top: 1em;
}

#polish table td {
	vertical-align: top;
	width: 43%;
}

#polish table td.first{
	padding-right: 7%;
	width: 57%;
}

/* }}} */
