#wrapper {
	background: url(/img/tignish/firefox/personal-bg.jpg) no-repeat center top;
}

#main-content {
	background: url(/img/tignish/firefox/personal-divider.png) 0 0 no-repeat;
	margin-top: 20px;
	width: 595px;
	margin-right: 25px;
	margin-left: 0;
	padding-left: 30px;
}

#main-content h3 {
	color: #69645c;
	font-size: 137%;
	margin-bottom: 10px;
}

#main-content p {
	color: #69645c;
}

/* {{{ Sidebar */

#sidebar {
	margin-top: 35px;
	margin: 0 0 30px;
	padding: 10px;
}

#sidebar div.side-feature {
	background: url(/img/tignish/firefox/release-notes-sidebar-back.png) top left no-repeat;
	margin: 20px 0 0 0;
	padding: 10px;
}

#sidebar #download-stats {
    display: none;
}

#sidebar #download-stats p {
	margin: 0.5em 0;
}

#sidebar #download-stats a.download-count {
	font-size: 123.1%;
}

#sidebar div h3,
#sidebar ul.home-download li h3 { color: #807970; }
#sidebar div h3 {
	margin: 10px 0 0;
	font-size: 26px;
}

#sidebar div p {
	font-size: 16px;
	line-height: 20px;
	color: #afaba3;
	margin: 1em 0;
}

#sidebar #support p {
	margin: 0.5em 0;
}

/* }}} */
/* {{{ Add-ons and Collections */

#customize {
	margin-top: 35px;
	background: url(/img/tignish/firefox/personal-addons-background.png) top right no-repeat;
	padding: 5px 200px 20px 10px;
}

#customize ul li {
	background: url(/img/tignish/link-arrow.png) left 7px no-repeat;
	padding-left: 12px;
}

/* }}} */
/* {{{ Personas List */

#try-on {
	padding-bottom: 0;
	padding-left: 345px;
}

#try-on.fx36 {
	padding-left: 358px;
}

#try-on p {
	padding-right: 30px;
	background: url(/img/tignish/firstrun/3.6/arrow.png) 100% 50% no-repeat;
	min-height: 26px;
	margin: 0;
	font-size: 85%;
	letter-spacing: -0.01em;
	line-height: 1.3;
	float: left;
	width: 92px;
}

#try-on p span {
	display: block;
}

iframe {
	border: 0;
	margin-left: 5px;
}

.persona-previewer {
	clear: both;
}

.persona-previewer-content {
	float: left;
	margin-top: 4px;
}

.persona-previewer-content div {
	display: none;
}

.persona-previewer-content div.persona-visible {
	display: block;
}

ul.persona-previewer-tabs {
	padding: 20px 0 0;
	margin: 0;
	left: 0;
	position: static;
	list-style: none;
}

ul.persona-previewer-tabs li {
	background: 0;
	padding: 0;
	display: block;
	list-style: none;
	float:left;
	height: 33px;
	margin: 0 8px 10px 2px;
	width: 100px;
}

ul.persona-previewer-tabs li a,
ul.persona-previewer-tabs li img {
	display: block;
}

ul.persona-previewer-tabs li .selected {
	outline: 2px solid #79b;
}

#see-all-personas {
	clear: left;
	text-align: right;
	width: 560px;
}

#see-all-personas.fx36 {
	width: 575px;
}

#see-all-personas a {
	background: transparent url(/img/tignish/link-arrow.png) left 5px no-repeat;
	margin: 5px;
	padding-left: 12px;
}

/* }}} */

#personal-sub-features {
	clear: both;
	background: url(/img/tignish/firefox/subfeature-bg-personal.jpg) 41px 60px no-repeat;
	margin-bottom: 20px;
	padding: 45px 20px 0 0;
	height: 205px;
	font-size: 108%;
}

.sub-feature {
	width: 244px;
	margin: 0 28px;
	float: left;
	display: inline; /* fix IE margin issue */
}
.sub-feature h3 a {
	display: block;
	position: relative;
}
.sub-feature h3 a:link,
.sub-feature h3 a:visited {
	color: #4B4740;
}
.sub-feature h3 { margin-bottom: 5px; }
.sub-feature p {
	font-size: 108%;
	margin-bottom: 15px;
	margin-right: 15px;
	color: #afaba3;
}
.sub-feature a.bottom {
	position: absolute;
	bottom: 40px;
}

#firefox-secrets.sub-feature { margin-right: 35px; }
#firefox-secrets.sub-feature p { margin-right: 100px; }
#firefox-tellafriend.sub-feature p { margin-right: 60px; }
