#main-content {
	width: 730px;
	margin: 0;
	padding-left: 30px;
}

h3 {
	color: #afaba3;
}

#main-feature p {
	font-size: 137%;
	margin-right: 405px;
}

#phishing-protection #wrapper {
	background: url(/img/tignish/template/background-phishing.jpg) no-repeat top center;
}

#whatisphishing.expander .expander-header,
#whatisphishing.expander-open .expander-header,
#whatisphishing.expander-closed .expander-header {
	background-image: url(/img/tignish/content/phishing-protection-expander-header.png);
	background-repeat: no-repeat;
	padding-top: 5px;
}

#whatisphishing.expander .expander-header {
	padding-top: 20px;
}
