/* General Layout */
body { background-position: 50% -65px; }

#wrapper { background-position: center -65px; }

#doc {
	background: url(/img/tignish/plugincheck/background.png) no-repeat scroll 0 95px;
}

#main-feature {
	min-height: 225px;
	padding-top: 35px;
}

#main-feature p {
	width: 530px;
	font-size: 131%;
	margin-bottom: 10px;
}

#main-content {
	width: 920px;
	margin-top: 15px;
}

#content-left {
	width: 667px;
	margin-bottom: 60px;
	margin-left: -15px;
	padding-left: 15px;
	padding-right: 15px;
	background: url(/img/tignish/plugincheck/divider-bottom.png) left bottom no-repeat;
	float: left;
}

#main-content h3 {
	margin-bottom: 10px;
	font-size: 153.9%;
}

#main-content p,
#main-content li { font-size: 85%; }

#intro-text li { margin-left: 12px; }


/* Sidebar */
#sidebar {
	width: 195px;
	margin-right: 0;
	margin-left: 42px;
	margin-top: 38px;
	font-size: 100%;
}

#sidebar ul { left: 0; }

#sidebar h3 {
	font-size: 146.5%;
	color: #69645b;
}

#sidebar #information h3 {
	background: url(/img/tignish/plugincheck/sidebar-divider.png) left bottom no-repeat;
	padding-bottom: 5px;
	margin: 0;
}

#sidebar #support {
	margin-top: 40px;
	padding-top: 25px;
	background: url(/img/tignish/plugincheck/support-background.png) left top no-repeat;
}

#sidebar #support a {
	display: block;
	clear: both;
	margin-top: 6px;
}

#sidebar p,
#sidebar li {
	font-size: 85%;
}


/* Main Table */
table.status {
	width: 652px;
	color: #9d9992;
	line-height: 1;
	margin-top: 15px;
}

table.status th {
	color: #4b4742;
	padding-bottom: 5px;
}

table.status th,
table.status td {
	padding-left: 10px;
}

table.status tr.link-row td {
	padding-top: 15px;
	padding-bottom: 15px;
}

table.status tr.link-row { background: url(/img/tignish/plugincheck/divider.png) center top repeat-x; }

table.status tfoot tr.link-row { background: none; }

table.status h4 {
	color: #69645c;
	margin-top: 20px;
	line-height: 1;
}

table.status tr.odd td { background: #f7f7f5; }

table.status th.action { width: 140px; }

table.status td.status {
	width: 90px;
	line-height: 1.25;
}

table.status .icon {
	float: left;
	margin: 6px 15px 6px 0;
	width: 60px;
	height: 60px;
}

table.status span,
table.status .vulnerable,
table.status a {
	font-family: verdana, sans-serif;
	font-size: 75%;
}

table.status .vulnerable { color: #d15a3a; }

img.progress { width: 43px; height: 11px; margin-left: 1em;}

/* Button Styles */
table.status a.button {
	display: block;
	background: url(/img/tignish/plugincheck/button-background.png) repeat-x;
	height: 36px;
	border-style: solid;
	border-width: 1px;
	cursor: pointer;
	color: #fff;
	text-decoration: none;
	font-size: 108%;
	margin-right: 12px;

	-moz-border-radius: 9px;
	-moz-box-shadow: 3px 2px 7px #aaa;
}

table.status a.button:hover { text-decoration: underline; }

table.status a.button span {
	padding-left: 30px;
	padding-right: 10px;
	padding-top: 9px;
	display: block;
	min-height: 30px;
	margin-top: 3px;
	margin-left: 7px;
	white-space: nowrap;
}

table.status a.orange {
	background-color: #e99c7b;
	background-position: 0px 0px;
	border-color: #e8afa1 #f1a795 #f1a795 #e8afa1;	
}

table.status a.orange span { background: url(/img/tignish/plugincheck/button-background.png) 0px -144px no-repeat; }

table.status a.green {
	background-color: #cae6a6;
	background-position: 0px -55px;
	border-color: #a1c59a #b2d8a9 #b2d8a9 #a1c59a;	
}

table.status a.green span { background: url(/img/tignish/plugincheck/button-background.png) 0px -184px no-repeat; }

table.status a.yellow {
	background-color: #cae6a6;
	background-position: 0px -100px;
	border-color: #cec184 #e6dba7 #e6dba7 #cec184;	
}

table.status a.yellow span { background: url(/img/tignish/plugincheck/button-background.png) 0px -224px no-repeat; }


/* Information Content */
#information-content {
	background: url(/img/tignish/plugincheck/divider-large.png) left top no-repeat;
	display: block;
	clear: both;
	padding: 27px 20px;
	margin-left: -15px;
}

#information-content .return-link {
	text-align: right;
	padding-right: 15px;
}

#column-one,
#column-two {
	float: left;
	margin-top: 25px;
	width: 407px;
}

#column-one {
	margin-right: 40px;
	width: 432px;
}

.divider-bottom {
	margin-top: 40px;
	margin-left: -15px;
}
