#header {
	display: none;
}

body, td, th, input, h1, h2, h3, h4, h5, h6 { /* redundant rules for bad browsers  */
		font-family: verdana, sans-serif;
		font-size: x-small;
		voice-family: "\"}\"";
		voice-family: inherit;
		font-size: small;
}

#doc {
	width: auto;
}

#wrapper {
	min-width: 0;
	background: transparent;
}

html, body {
	background: #F6F6F6;
}

body#firstrun.transitional {
	background: #fff url(/img/firefox/firstrun/background-gradient.jpg) repeat-x left top;
}

#footer {
	background: none;
}

#firstrun #footer,
#whatsnew #footer {
	width: 820px;
}

#firstrun #footer-contents,
#whatsnew #footer-contents {
	width: auto;
	margin-left: 235px;
}
