#main-content {
	width: 570px;
	font-size: 116%;
}

#sidebar {
	width: 250px;
	font-size: 100%;
	color: #69645b;
	margin-top: 65px;
}

#sidebar h3 {
    margin: 1em 0 0 0;
}

#products .firefox {
	background: transparent url(/img/tignish/products/productsbox-firefoxtop.jpg) 15px 0 no-repeat;
	position: relative;
}

#products .thunderbird {
	background: transparent url(/img/tignish/products/productsbox-thunderbirdtop.jpg) 15px 0 no-repeat;
	position: relative;
}

#products .firefox div,
#products .thunderbird div {
	background: transparent url(/img/tignish/products/productsbox-bottom.png) 15px 100% no-repeat;
	margin-bottom: 30px;
}

#products .firefox h3,
#products .thunderbird h3 {
	margin: 0 0 0.5em 0;
}

#products .firefox p,
#products .thunderbird p {
	margin: -35px 35px 20px 142px;
	padding-bottom: 40px;
}

#products p.mobile {
    background: transparent url(/img/mobile/mobile_64.png) top right no-repeat;
    padding: 10px 40px 10px 0;
}
