#main-feature p em {
	font-size: 85%;
}

#main-feature p {
	font-size: 135%;
}


#main-content {
	margin-top: 10px;
	width: 540px;
}

#main-content h3 { font-size: 137%; }

#main-content dl { margin-left: 0; }
#main-content dt { color: #4b4740; }
#main-content dd { margin: 0 0 0.5em 0.5em; }

#whatsnew.expander .expander-header,
#whatsnew.expander-open .expander-header,
#whatsnew.expander-closed .expander-header {
	background-image: url(/img/tignish/content/release-notes-expander-header.png);
	background-repeat: no-repeat;
	padding-top: 5px;
}

#whatsnew.expander .expander-header {
	padding-top: 20px;
}

#main-content table { border-color: #ccc; }
#main-content table th,
#main-content table td { padding: 0.3em; }

#release-notes-footer {
	background: url(/img/tignish/firefox/release-notes-footer.png) bottom left no-repeat;
	height: 12px;
	position: relative;
	top: -8px;
}

#whatsnew dt { color: #4B4742; }

#get-involved,
#other-resources {
	margin: 55px 0;
	padding: 0 10px;
}

#get-involved {
	background: url(/img/tignish/firefox/release-notes-sidebar-back.png) top left no-repeat;
	padding-top: 10px;
}

#get-involved p {
	font-size: 110%;
}

#get-involved h3,
#other-resources h5 {
	margin: 0.5em 0;
}

#get-involved p,
#other-resources p {
	color: #898378;		
}
