body#search,
body#search #wrapper { background-position: center -80px; }

#search #main-feature h2 {
	float: left;
	display: inline;
	margin-right: 20px;
}

#search #main-feature form {
	float: left;
	width: 400px;
	display: inline;
	margin-top: 16px;
}

#search #main-feature #query_body {
	font-size: 137%;
	padding: 3px;
	width: 175px;
	vertical-align: middle;
}

#search #main-feature #submit_body {
	font-size: 137%;
	padding: 2px;
	margin: 3px;
	vertical-align: middle;
}

#search #results-count {
	font-size: 137%;
	color: #4b4742;
}

#search #content {
	clear: both;
	padding-bottom: 100px;
}

dl#search-results {
	margin: 50px 0 0 0;
	padding: 0;
	line-height: 1;
}

#search-results dt {
	font-size: 137%;
	margin: 1em 0 0 0;
}

#search-results dd {
	margin: 0;
	padding: 0;
}

#search-results .url {
	font-family: verdana, sans-serif;
	font-size: 75%;
	color: #afaba3;
}

#no-results {
	font-size: 137%;
	margin: 2em 0;
}

div.pages {
	text-align: center;
	font-size: 75%;
	font-weight: bold;
	font-family: verdana, sans-serif;
}

div.pages table {
	margin: 0 auto;
	padding-top: 20px;
	border-collapse: separate;
	background: url(/img/tignish/content/divider.png) top center no-repeat;
}

div.pages table td,
div.pages table th { padding: 0 0.3em; }

div.pages table a {
	padding: 0.8em 1em;
	border: 1px solid #eee;
}

div.pages table a { display: block; }

div.pages table a:hover {
	border-color: #eee;
}

div.pages table td.searchcurrent {
	padding: 0.8em 1.2em;
	background: #eee;
}

div.pages table td.searchlabel {
	color: #afaba3;
	padding: 0.8em 1.2em;
	font-weight: normal;
}
