/** Survey Page */
#surveygizmo #main-feature p {
	font-size: 135%;
}

/** Thank-you page */
#surveygizmo-thanks #doc {
	background: url(/img/tignish/template/background-install-feedback.png) no-repeat 20px 200px;
}

#surveygizmo-thanks #main-feature { min-height: 365px; }
* html #surveygizmo-thanks #main-feature { height: 365px; /* Hack for IE6 */ }

#surveygizmo-thanks #main-feature p {
	font-size: 135%;
	margin-right: 500px;
}
