#main-feature h2 {
	margin-right: 35px;
}

#sidebar {
	margin-top: 115px;
}

body,
#wrapper {
	background-position: 50% -80px;
}

#main-content h2 {
	background: url(/img/tignish/content/divider.png) bottom left no-repeat;
	padding-bottom: 4px;
	padding-left: 10px;
	position: relative;
	left: -10px;
}
