#thunderbird #main-feature p { font-size: 135%; }

#thunderbird #wrapper,
#thunderbird-all #wrapper {
	background: url(/img/tignish/thunderbird/background-thunderbird-features.jpg) no-repeat scroll center top;
}

#thunderbird-all #main-feature p {
	font-size: 135%;
	margin-right: 355px;
}

#thunderbird-all #content {
	margin: 100px 15px 0 15px;
	padding: 35px 15px 0 15px;
	background: url(/img/tignish/firefox/divider-all.png) no-repeat left top;
}

#thunderbird #sidebar {
	width: 300px;
	padding-top: 45px;
}

#thunderbird #main-content {
	width: 500px;
	margin-top: 25px;
	margin-left: 20px;
	margin-right: 50px;
}

p.quotes {
	font-size: 75%;
	font-family: verdana, sans-serif;
	margin-bottom: 2.5em;
}

p.quotes em { display: block; }

p.quotes img {
	float: right;
	margin: 0 0 1em 1em;
}

#thunderbird #main-content h3 { margin: 0 0 0.5em 0; }

#thunderbird #main-content .corner-box {
	background: url(/img/tignish/content/divider.png) bottom left no-repeat;
	padding: 20px 20px 20px 10px;
}

#thunderbird #main-content .learn-more { margin-top: 20px; }

#thunderbird #main-feature p { margin-right: 285px; }


/* {{{ Download Button */

ul.home-download,
ul.home-download li {
	margin: 0;
	padding: 0;
	list-style-type: none;
	background: none;
}

ul.home-download {
	margin-left: 24px;
	width: 300px;
	font-family: verdana, sans-serif;
}

* html ul.home-download { margin-left: 29px; }

ul.home-download li a.download-link span {
	color: #09700b;
	position: static;
	line-height: 1.2;
}

ul.home-download li a.download-link em {
	display: block;
	font-size: 73%;
	font-style: normal;
}

ul.home-download li a.download-link em.download-lang {
	color: #42a313;
	margin-top: 5px;
}

.download-other {
	margin-left: 30px;
	width: 285px;
}

/* }}} */
/* {{{ Features page */

#thunderbird-features #main-feature { min-height: 180px; }

* html #thunderbird-features #main-feature { height: 180px; /* Hack for IE6 */ }

#thunderbird-features #wrapper {
	background: url(/img/tignish/thunderbird/background-thunderbird-features.jpg) no-repeat scroll center top;
}

#thunderbird-all #main-feature h2 a,
#thunderbird-features #main-feature h2 a {
	color: #fff;
}

#thunderbird-features #main-feature p {
	font-size: 135%;
	margin-right: 325px;
}

#thunderbird-features #content { margin-right: 250px; }

#thunderbird-features img.features-screenshot {
	float: right;
	margin: 4px 0 10px 20px;
}

#thunderbird-features #content h2,
#thunderbird-features h4 {
	clear: right;
	background: url(/img/tignish/content/divider.png) top left no-repeat;
	padding-top: 35px;
	margin-top: 35px;
}

#thunderbird-features #content h2#organize { background: none; }

/* }}} */
/* {{{ All Downloads page */

#thunderbird-all #content {
	margin-right: 35px;
}

/* }}} */
/* {{{ Release Notes */

#thunderbird-relnotes #main-feature { min-height: 150px; }

* html #thunderbird-relnotes #main-feature { height: 150px; /* Hack for IE6 */ }

body#thunderbird-relnotes,
body#thunderbird-relnotes #wrapper
 { background-position: center -100px; }

/* }}} */
/* {{{ System Requirements page */

#thunderbird-requirements #main-feature { min-height: 200px; }

* html #thunderbird-requirements #main-feature { height: 200px; /* Hack for IE6 */ }

#thunderbird-requirements,
#thunderbird-requirements #wrapper {
	background: url(/img/tignish/thunderbird/background-thunderbird-features.jpg) no-repeat scroll center top;
}

#thunderbird-requirements ul li ul {
	left: auto;
	margin: 0 0 0 10px;
}

#thunderbird-requirements #content h2 {
	background: url(/img/tignish/content/divider.png) bottom left no-repeat;
	padding-bottom: 4px;
	padding-left: 10px;
	position: relative;
	left: -10px;
}
/* }}} */
