#tips #main-feature { min-height: 235px; }

* html #tips #main-feature { height: 235px; /* Hack for IE6 */ }

#tips #content,
#tips #main-content {
	background: url('/img/tignish/tips/container-top.png') left top no-repeat;
	margin: 15px;
	padding-top: 5px;
	width: auto;
}

#main-feature p {
	font-size: 135%;
	margin-right: 400px;
}

.slide-common {
	min-height: 300px;
	padding-top: 16px;
	clear: both;
	zoom: 1;
	background: #fff;
}

* html .slide-common {
	height: 300px;
}

.slide-common:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.pager {
	position: relative;
	margin: 0 35px;
}

.pager-nav {
	display: block;
	text-align: right;
	position: absolute;
	top: 10px;
	left: 350px;
	width: 150px;
}

.pager-nav .pager-nav-divider {
	padding: 0 3px;
}

.pager-nav .pager-nav-page-number {
	padding: 0 6px;
}

.pager-nav .pager-prev,
.pager-nav .pager-prev-insensitive {
	background: url(/img/tignish/tips/arrow-nav.png) no-repeat -12px center;
	padding: 0 6px;
	zoom: 1;
}

.pager-nav .pager-prev-insensitive {
	background: url(/img/tignish/tips/arrow-nav.png) no-repeat 0 center;
}

.pager-nav .pager-next,
.pager-nav .pager-next-insensitive {
	background: url(/img/tignish/tips/arrow-nav.png) no-repeat -24px center;
	padding: 0 6px;
	zoom: 1;
}
.pager-nav .pager-next-insensitive {
	background: url(/img/tignish/tips/arrow-nav.png) no-repeat -36px center;
}

#ruler {
	width: 950px;
	height: 40px;
	background: url('/img/tignish/tips/container-bottom.png') 15px 100% no-repeat;
}

/* shared attributes */
#beginner h3,
#intermediate h3,
#advanced h3 {
	font-size: 197%;
	font-style: normal;
	margin: 24px 0 0 0;
}

#beginner,
#intermediate,
#advanced {
	margin: 0 20px;
	background: url('/img/tignish/tips/section-bottom.png') left bottom repeat-x;
	padding-bottom: 10px;
}

#beginner p,
#intermediate p,
#advanced p {
	padding-right: 430px;
}

#beginner h4,
#intermediate h4,
#advanced h4 {
	color: #69645c;
	margin-bottom: 10px;
	font-style: normal;
}


/* Beginner Specific */
#beginner ul {
	float: right;
	width: 380px;
	margin: 0;
	color: #afaba3;
	margin-top: 10px;
}

#beginner ul li {
	clear: both;
	margin-bottom: 1em;
	padding: 0 25px 10px 0;
	background: none !important;
}

#beginner ul li img {
	margin-right: 12px;
	float: left;
}

#beginner .key-combo {
	float: left;
	width: 24.9%;
	color: #afaba3;
	padding-top: 2em;
}
#beginner .key-combo-narrow {
	width: 18%;
}
	
#beginner .key-combo img {
	display: block;
	margin-top: 10px;
}

#beginner .key-combo span {
	display: block;
	margin-bottom: 10px;
	color: #afaba3;
}

#beginner .key-combo span {
	font-family: arial, sans-serif;
	color: #40ad40;
	text-decoration: underline;
	line-height: 50px;
}

.key-combo-text {
	margin-top: 20px;
	font-family: verdana, sans-serif;
	color: #69645c;
}

#beginner #forgery {
	color: #afaba3;
}

#beginner #keys-column-left .key-combo {
	float: none;
}

#beginner #keys-column-right {
	float: right;
	width: 400px;
	position: relative;
	top: -20px;
}

#beginner #keys-column-right .clear {
	display: block;
	clear: both;
}

#beginner #keys-column-right .key-combo {
	width: 160px;
}

img.right {
	float: right;
}

.key-combo-1 { clear: right; }


/* Intermediate Specific */

/* Advanced Specific */
#advanced { background: none; }
