body {
	background-position: 0 -70px;
}

#firefox-unsupported #wrapper {
	background: url(/img/tignish/products/background-download.jpg) no-repeat top center;
}

body #doc {
	background: url(/img/tignish/products/background-firefox-download.png) no-repeat 14px 100px;
}

#firefox-unsupported #main-feature {
	padding-left: 200px;
	padding-top: 0;
	min-height: 270px;
}

* html #firefox-unsupported #main-feature { height: 270px; /* Hack for IE6 */ }

#main-feature h2 {
	margin: 0;
	padding-top: 40px;
}

#main-feature p {
	color: #da4f00;
	margin-left: 0;
	margin-right: 225px;
}

#main-feature #downloadmessage {
	font-size: 100%;
	color: #4b4742;
}

/* {{{ Footer */

#content {
	background: url(/img/tignish/firefox/unsupported/content-box-top.png) 165px 0 no-repeat;
}

#content #sub-features {
	background: url(/img/tignish/firefox/unsupported/content-box-bottom.png) bottom left no-repeat;
	margin-left: 165px;
	position: relative;
}

#other-browsers {
	margin-left: 165px;
	margin-right: 135px;
	padding-top: 35px;
}

#content .sub-feature {
	color: #69645C;
	display: inline;
	float: left;
	margin-right: 0;
	margin-top: 35px;
	padding-bottom: 85px;
	width: 225px;
	position: relative;
}

#content .sub-feature h3 {
	font-size: 137%;
	margin: 0 0 10px;
	color: #69645c;
}

#content .sub-feature a {
	background: transparent url(/img/tignish/firstrun/link-arrow.png) left 5px no-repeat;
	display: block;
	margin-top: 15px;
	padding-left: 12px;
}

#content #supported {
	margin-right: 75px;
}

#content #help p {
}
/* }}} */

.clear { clear: both; }
