body#firefox {
	background-image: url(/img/tignish/firefox/background-tile.jpg);
}

body#firefox #wrapper {
	background-image: none;
	background-position: top center;
	background-repeat: no-repeat;
}

body#firefox.variation1 #wrapper { background-image: url(/img/tignish/firefox/background-firefox-ie-1.jpg); }
body#firefox.variation2 #wrapper { background-image: url(/img/tignish/firefox/background-firefox-ie-2.jpg); }
body#firefox.variation3 #wrapper { background-image: url(/img/tignish/firefox/background-firefox-ie-3.jpg); }
body#firefox.variation4 #wrapper { background-image: url(/img/tignish/firefox/background-firefox-ie-4.jpg); }

#firefox #firefox-feature {
	background: url(/img/tignish/firefox/feature-background-ie.png) top left no-repeat;
	clear: both;
}

#firefox #main-feature { min-height: 392px; }

* html #firefox #main-feature { height: 392px; /* Hack for IE6 */ }

#firefox #main-feature #feature-contents { min-height: 180px; }

* html #firefox #main-feature #feature-contents { height: 180px; /* Hack for IE6 */ }

#firefox #main-feature h2 { padding-top: 15px; }
#firefox #main-feature p {
	font-size: 135%;
	margin-right: 335px;
	margin-top: 0;
}

#firefox #content { margin-right: 200px; }

#main-content { margin-top: 0; }
#top5 {
	background: url(/img/tignish/firefox/upgrade-top5-box.jpg) top left no-repeat;
    width: 522px;
    height: 317px;
    min-height: 317px;
    padding: 30px;
}
#top5 h3 {
    margin: 0 0 30px;
    font-size: 34px;
    color: #4b4742;
}
#top5 ol {
    margin: 0 30px;
}
#top5 ol li {
    line-height: 50px;
    list-style-type: none;
    font-size: 24px;
    color: #0489b7;
}
#top5 a { margin-left: 20px; }

* html #sidebar { margin: 0; position: relative; right: 30px; } /* IE6 margin bug */
#sidebar div {
	margin: 8px 0 30px;
	padding: 10px;
	background: url(/img/tignish/firefox/release-notes-sidebar-back.png) top left no-repeat;
}
#sidebar div h3,
#sidebar ul.home-download li h3 { color: #807970; }
#sidebar div h3 {
	margin: 10px 0 0;
	font-size: 26px;
}
#sidebar div p {
	font-size: 16px;
	line-height: 20px;
	color: #afaba3;	
}
#sidebar #awards h3 { padding-right: 40px; }
#sidebar #awards img { height: 65px; width: 176px; }
#sidebar #support { margin-bottom: 0; }

#personal-sub-features {
	clear: both;
    position: relative;
    right: -25px;
	margin-bottom: 20px;
	padding: 25px 20px 0 0;
	height: 240px;
	background: url(/img/tignish/firefox/subfeature-bg-personal.jpg) 41px 51px no-repeat;
	font-size: 110%;
}

.sub-feature {
	width: 244px;
	float: left;
	display: inline; /* fix IE margin issue */
}

.sub-feature h3 a {
	display: block;
	position: relative;
}

.sub-feature h3 a:link,
.sub-feature h3 a:visited {
	color: #4B4740;
}

.sub-feature p {
	font-size: 110%;
	margin-bottom: 15px;
	margin-right: 15px;
	color: #afaba3;
}

#firefox-tellafriend.sub-feature p { margin-right: 60px; }

/* {{{ Firefox Update */

#firefox #firefox-update {
  display: inline;
	float: left;
	margin: 0 35px 20px 30px;
	padding-right: 35px;
	padding-top: 15px;
	width: 390px;
	background: url(/img/tignish/firefox/switching-background-ie.png) top center no-repeat;
}

#firefox #firefox-update h3 {
	margin: 0;
	color: #807970;
}

#firefox #firefox-update p {
	color: #afaba3;
	margin: 5px 0;
	font-size: 116%;
}

/* }}} */
