body {
    background-position: 50% -60px;
}

#wrapper {
    background: transparent url(/img/tignish/whatsnew/3.5/background.jpg) no-repeat scroll 50% -40px;
}

#main-feature.latest-version {
    margin: 0;
    padding-left: 35px;
    padding-top: 65px;
}

#main-feature.latest-version h2 {
    padding: 0;
    margin: 0 0 40px 180px;
    font-size: 205%;
}

#main-feature.latest-version p {
    margin: 0 200px 0 0;
    font-size: 137%;
}

#main-feature.old-version,
#main-feature.latest-minor-version,
#main-feature.unknown-version {
    padding-left: 200px;
}

#main-feature.latest-minor-version {
    padding-bottom: 50px;
}

#main-feature.old-version h2,
#main-feature.latest-minor-version h2,
#main-feature.unknown-version h2 {
    color: #4b4740;
    margin-right: 135px;
}

#main-feature.latest-minor-version h2 {
    font-size: 300%;
}

#main-feature.old-version p,
#main-feature.latest-minor-version p,
#main-feature.unknown-version p {
    margin-right: 135px;
}

#main-feature.latest-minor-version p {
    font-size: 116%;
    margin-bottom: 0;
}

#main-feature.latest-version h2 span {
    display: block;
    margin-bottom: 10px;
}

#main-feature.latest-version p.more-details {
    font-size: 100%;
    margin: 10px 0;
}

#main-content {
    width: 100%;
}

#main-content .clear {
    clear: both;
}

#main-content.primary-release {
    background: url(/img/tignish/whatsnew/3.5/sub-feature-top.png) center top no-repeat;
    margin: 0;
    width: 950px;
}

#main-content.fallback {
    background: none;
}

#main-content.primary-release #sub-features {
    background: url(/img/tignish/whatsnew/3.5/sub-feature-bottom.png) bottom center no-repeat;
}

#main-content.fallback #sub-features {
    background: none;
    margin: 0 35px;
}

#main-content.primary-release .sub-feature {
    float: left;
    display: inline;
    width: 225px;
    color: #69645c;
    margin-top: 35px;
    margin-right: 0;
    padding-bottom: 20px;
    min-height: 15em;
}

#main-content .sub-feature {
    float: left;
    width: 285px;
    color: #69645c;
    margin-top: 35px;
    margin-right: 0;
    font-size: 95%;
    background: url(/img/tignish/whatsnew/sub-feature-bottom.png) bottom left no-repeat;
    min-height: 19.5em;
}

#main-content.primary-release .sub-feature {
    background: none;
}

#main-content.fallback .sub-feature {
    width: 425px;
    min-height: 0;
    margin-top: 10px;
}

#main-content.primary-release .sub-feature h3 {
    margin: 0 0 10px 0;
    font-size: 137%;
    background: none;
    padding: 0;
}

#main-content .sub-feature h3 {
    background: url(/img/tignish/whatsnew/sub-feature-top.png) top left no-repeat;
    margin: 0 0 10px 0;
    padding: 20px 25px 0 5px;
    font-size: 137%;
    color: #69645c;
}

#main-content .sub-feature p {
    padding-left: 5px;
    padding-right: 25px;
}

#main-content .sub-feature p.first {
    min-height: 8em;
}

#main-content.fallback .sub-feature p.first {
    min-height: 0;
}

#main-content .sub-feature p a {
    background: transparent url(/img/tignish/firstrun/link-arrow.png) left 5px no-repeat;
    display: block;
    margin-top: 15px;
    padding-left: 12px;
}

#main-content #features p a {
    margin-top: 5px;
}

[dir=rtl] #main-content .sub-feature p a {
    background: transparent url(/img/tignish/firstrun/link-arrow-rtl.png) right center no-repeat;
    padding-left: 0;
    padding-right: 12px;
}

#main-content #open-video {
    margin-left: 40px;
    margin-right: 20px;
    width: 410px;
}

.mozilla-video-scaler,
.mozilla-video-scaler-shim {
    float: right;
}

a.mozilla-video-scaler-close-link {
    font-family: verdana, sans-serif;
    font-size: 90%;
    color: #fff;
    display: block;
    padding: 7px 10px 0 25px;
    top: -500px;
    position: absolute;
    background: rgba(0, 0, 0, 0.5) url(/img/tignish/video/close.png) 10px 11px no-repeat;
    -moz-border-radius: 4px;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-bottomright: 0;
}

.mozilla-video-control {
    width: 192px; /* Initial size */
    height: 108px;
    margin: 0.2em 20px 0.5em 1em;
    -moz-border-radius: 4px;
    border: 10px solid rgba(0, 0, 0, 0.5);
}

.mozilla-video-scaler-opened .mozilla-video-control {
    -moz-border-radius-topright: 0;
}

.mozilla-video-control video {
    display: block;
}

#main-content #sumo {
    margin-right: 25px;
}

#main-content #sumo h3 {
    margin-right: 90px;
}

#main-content #sumo p {
    margin-top: 30px;
    margin-right: 0px;
}

#thanks {
    font-size: 85%;
    color: #898378;
    background: url(/img/tignish/firstrun/3.5/dailymotion.png) top left no-repeat;
    padding: 5px 40px 10px 45px;
    min-height: 30px;
}

#follow {
    margin: 1em;
    text-align: center;
    font-size: 85%;
}

/* quarterly survey style overriding display:inline high specificity for sub-features blocks */

.hide {
    display:none !important;
}

/* per locale tweaks */

.locale-en-US #main-content #sumo p {
    margin-top: 0px;
    margin-right: 40px;
}

.locale-de #main-feature.latest-minor-version h2 {
    font-size:275%;
}

#main-feature h2 img {
    width:378px;
    height:74px;
}


