<?php $feed_items = array (
  1 => 
  array (
    'title' => 'Fennec 1.0 Beta 4 for Maemo Released',
    'date' => 'October 7, 2009',
    'dateISO8601' => '2009-10-07T08:27:49-07:00',
    'link' => 'http://blog.mozilla.com/blog/2009/10/07/fennec-1-0-beta-4-for-maemo-released/',
    'summary' => 'The Mozlla mobile team has released Fennec 1.0 beta 4 for Maemo. This release brings noticeable improvements the user experience and UI of the browser. Specifically you&#8217;ll see:

Improved touch-friendly theme
Improved panning and zooming performance and behavior
Add search providers from the site identity panel
Manage search providers from the Add-ons Manager
Simplified the Download Manager (removed searching and [...]',
  ),
  2 => 
  array (
    'title' => 'Happy One Web Day! I &lt;3 web wave rolling.',
    'date' => 'September 22, 2009',
    'dateISO8601' => '2009-09-22T15:56:24-07:00',
    'link' => 'http://blog.mozilla.com/blog/2009/09/22/happy-one-web-day-i-3-web-wave-rolling/',
    'summary' => 'Mark Surman&#8217;s thoughts on OneWebDay 2009 and why the Web matters.  Check out his original post here.
I woke up this morning to a feed reader full of I &#60;3 the web photos from India. Got to the office: a bunch more from Europe. And a video from Toronto. Today is OneWebDay. And, slowly, a wave [...]',
  ),
  3 => 
  array (
    'title' => 'It’s a wrap!',
    'date' => 'September 22, 2009',
    'dateISO8601' => '2009-09-22T00:51:56-07:00',
    'link' => 'http://blog.mozilla.com/blog/2009/09/22/its-a-wrap/',
    'summary' => 'Thank you to each and everyone of you who participated in and helped promote Mozilla Service Week!    The Mozilla community didn&#8217;t disappoint &#8211; thousands of you got out, and made a difference in our communities and the Web. Kudos to all!
Now it&#8217;s time to see how we did.  Please take a moment to report your [...]',
  ),
  4 => 
  array (
    'title' => 'Last Call for Service!',
    'date' => 'September 21, 2009',
    'dateISO8601' => '2009-09-21T08:47:06-07:00',
    'link' => 'http://blog.mozilla.com/blog/2009/09/21/last-call-for-service/',
    'summary' => 'How wonderful it is that nobody need wait a single moment before starting to improve the world. Anne Frank
Today marks the last day of Mozilla Service Week.  We hope you&#8217;ve had an amazing time this past week, getting out in your communities and helping organizations and individuals better use the Web.  You don&#8217;t have to [...]',
  ),
  5 => 
  array (
    'title' => 'Mozilla Service Week + OneWebDay',
    'date' => 'September 18, 2009',
    'dateISO8601' => '2009-09-18T21:02:39-07:00',
    'link' => 'http://blog.mozilla.com/blog/2009/09/18/mozilla-service-week-onewebday/',
    'summary' => 'We&#8217;ve just got three days left of Mozilla Service Week. It&#8217;s not too late to help!  Let&#8217;s take this weekend to get out and show people how to use the Web.  It&#8217;s easy &#8212; all you need is a sign, your laptop and a venue with wireless and you&#8217;re an instant Web help desk!
This week [...]',
  ),
  6 => 
  array (
    'title' => 'Snowl 0.3 released',
    'date' => 'September 17, 2009',
    'dateISO8601' => '2009-09-17T13:31:12-07:00',
    'link' => 'http://blog.mozilla.com/blog/2009/09/17/snowl-0-3-released/',
    'summary' => 'Today the Snowl team released Snowl 0.3, the third major release of the messaging-in-the-browser experiment. The release features closer integration with Firefox’s existing feed functionality and many improvements to the list view to make it easier to subscribe to and follow feeds.

Visit the announcement blog post to see the Snowl discussion   group, or [...]',
  ),
  7 => 
  array (
    'title' => 'Mozilla Service Week – projects update',
    'date' => 'September 16, 2009',
    'dateISO8601' => '2009-09-16T18:26:22-07:00',
    'link' => 'http://blog.mozilla.com/blog/2009/09/16/mozilla-service-week-projects-update/',
    'summary' => 'Its day 3 of Mozilla Service Week, and already so many of you have been making a big difference. We&#8217;re now past 11,000 hours of pledged support, with so many great volunteer opportunities and projects posted. We wanted to share a few of those today:
* Urban Sprouts based in San Francisco, USA is looking for [...]',
  ),
  8 => 
  array (
    'title' => 'Mozilla Service Week is here!',
    'date' => 'September 14, 2009',
    'dateISO8601' => '2009-09-14T08:30:02-07:00',
    'link' => 'http://blog.mozilla.com/blog/2009/09/14/mozilla-service-week-is-here/',
    'summary' => 'We&#8217;re kicking off Mozilla Service Week today with a bang:  we&#8217;re close to 10,000 volunteer hours, over 3,500 volunteer opportunities and the site is now available in 10 languages, including recently added Portuguese, Romanian and Catalan.  The Friends of Mozilla Service Week have also done an outstanding job raising awareness about our initiative, and we&#8217;re [...]',
  ),
  9 => 
  array (
    'title' => 'Personas Continues its Rapid Growth; Adds New Content to Gallery',
    'date' => 'September 10, 2009',
    'dateISO8601' => '2009-09-10T19:48:52-07:00',
    'link' => 'http://blog.mozilla.com/blog/2009/09/10/personas-continues-its-rapid-growth-adds-new-content-to-gallery/',
    'summary' => 'Recently the Personas team has welcomed seven new exciting designers to the community, including Bob Marley, Project Runway (Lifetime Entertainment), Fame (MGM), Lilly Pulitzer, H&#38;M and Yoga Journal. Each design is now available on the Personas gallery. To learn more, see the Mozilla Labs blog post and see these exciting new designs.

You can also click [...]',
  ),
);
