/* body { padding-top: 50px; padding: 10px; font-family: verdana, sans-serif; background: url('../img/background.jpg') repeat-x; }  */
/*
#ffdl, #ffdl:visited { text-decoration: none; color: #fff; }
#ffdl:hover { text-decoration: underline; }
#data tr { height:35px }
#vduwrap { -moz-box-shadow: 1px 1px 10px #000; margin-left: 0; float: left; margin-top: 20px; margin-right: 20px; }
#jqgh_min { color:#f00; }
#jqgh_max { color:#0f0; }
#gbox_data { float: left; -moz-box-shadow: 1px 1px 10px #000; margin-top: 20px; }
#data tr.ui-widget-content:nth-child(even) { background-color: #dedede; }
#data tr.ui-widget-content td:nth-child(5) { color: #f00; }
#data tr.ui-widget-content td:nth-child(6) { color: #0f0; }
a.poweredby { text-decoration: none; }
img.poweredby { height: 30px; border: none; padding-top: 7px; }
hr { display: none; height: 0px; }
.credits { -moz-border-radius: 5px; background: #eee; font-size: smaller; text-align: center; border: 1px solid #ccc; width: 500px; padding: 10px; margin-top: 20px; -moz-box-shadow: 1px 1px 10px #000; clear: both; }
div.poweredby { float: left; }
p.instructions { font-size: smaller; width: 500px; }
div.othercredits { font-size: smaller; float: right; }
div.tmp { clear: both; }
*/
/* h1 { color: #fff; margin: 5px; text-shadow: 2px 2px 3px #000; margin-bottom: 15px; } */
/*
a#mozilla { display: block; right: 7px; top: 7px; position: absolute; width: 152px; height: 50px; background: #1e4262 url('../img/mozilla-logo.png') no-repeat top left; text-indent: -9999999999px; -moz-border-radius: 5px; border: 1px #000;  -moz-box-shadow: 1px 1px 3px #000; }
.legend { clear: both; padding-top: 30px; }
#legend { clear: both; }
#legend { font-size: smaller; }
*/

#primary-logo {
	vertical-align: middle;
}

#big-stats {
	width: 205px;
	margin-right: 35px;
	margin-top: 8px;
	float: right;
	}
	#big-stats h3 {
		margin: 0 0;
		color: inherit;
		font-size: 137%;
		font-weight: normal;
		}
	#big-stats ul {
		position: static;
		list-style: none;
		}
		#big-stats li {
			display: block;
			list-style: none;
			padding: 0;
			margin-top: 1em;
			background: transparent none;
			}
			#big-stats li strong {
				display: block;
				color: #1E4262;
				font-size: 165%;
				font-weight: normal;
				}
			#big-stats big {
				font-size: inherit;
				color: #4B4740;
				} #big-stats big strong {
					font-size: 262%;
					}

#vduwrap {
	}
	#vdu  {
		cursor: url(img/drag_open.cur), -moz-grab;
		}
		#vdu.dragging {
			cursor: url(img/drag_close.cur), -moz-grabbing;
			}
	#vduwrap .zooming {
		position: absolute;
		left: 12px;
		top: 12px;
		}
		#vduwrap .zooming a {
			margin-right: 0px;
			}


#download-tracker {
	margin: 40px 14px 20px 16px;
	border: 1px solid #DBDAD9;
	padding: 14px 19px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-box-shadow: 3px 3px 12px rgba(0,0,0,.25);
	}
	#download-tracker .header {
		padding-bottom: 14px;
		}
		#download-tracker h3 {
			display: inline;
			font-size: 265%;
			margin: 0;
			}
	#download-tracker .header ul {
		display: inline;
		}
	#download-tracker .header li {
		display: inline;
		margin-left: 2em;
		padding: 0;
		list-style: none;
		background: transparent;
		}
	#download-tracker .header a.selected {
		color: #898378;	
		}
	#download-tracker .header a.selected:hover {
		text-decoration: none;	
		}
		
#data {
	width: 655px;
	}
	
#download-subfeatures {
	margin: 40px 20px 0 20px;
	}
	#download-subfeatures .subfeature {
		float: left;
		width: 300px;
		height: 240px;
		margin-right: 3px;
		background: url(http://www.mozilla.com/img/tignish/firefox/subfeature-background-firefox.jpg) no-repeat -620px 0;
		}
		#download-subfeatures .subfeature .inner {
			padding: 12px 24px;
			}
		#download-subfeatures .subfeature h3 {
			margin: .5em 0;
			}
		#download-subfeatures .subfeature p {
			margin: .5em 0;
			}
