/* {{{ Fonts */

h1, h2, h3, h4, h5, h6 {
	font-family: MetaWebPro-Bold, sans-serif;
	color: #69645b;
}

body {
	font-family: Georgia, serif;
}

h3 {
	font-size: 20px;
}

a:link,
a:visited {
	text-decoration: none;
	color: #0489b7;
}

a:hover,
a:active {
	text-decoration: underline;
	color: #0489b7;
}

/* }}} */
/* {{{ Header and Template */

html { overflow: -moz-scrollbars-vertical; }

body {
	background-position: 50% -180px;
}

#wrapper {
	background: transparent url(/img/ss/firefox/3.6/firstrun/d/background.jpg) no-repeat center top;
}

#main-feature {
	margin: 0 0 0 30px;
	padding-top: 30px;
}

#main-feature h2 {
	margin: 0;
	padding: 0;
	font-size: 200%;
	float: left;
}

#main-feature #title-logo {
	display: block;
	height: 118px;
	margin: 0 15px 15px 0;
}

#main-content {
	width: 640px;
	margin-top: 25px;
	margin-right: 35px;
}

/* }}} */
/* {{{ Search Form */

#sidebar form {
	margin: 10px 0 15px 0;
}

#sidebar form h3 {
	margin-bottom: 5px;
}

#sidebar form input[type=text] {
	border: 1px solid #e16601;
	height: 16px;
	width: 135px;
	padding: 3px 2px 1px 2px;
	display: inline;
	vertical-align: bottom;
	font-family: verdana, sans-serif;
	color: #8d8982;
	font-size: 10px;
}

#sidebar form input[type=submit] {
	height: 22px;
	width: 21px;
	background: #e26000 url(/img/ss/firefox/3.6/firstrun/a/search-button.png) top left no-repeat;
	border: 0;
	display: inline;
	vertical-align: bottom;
}

/* }}} */
/* {{{ Sidebar */

#sidebar {
	width: 215px;
	margin-top: 0;
	margin-right: 0;
}

#sidebar h3 {
	margin-bottom: 10px;
}

#sidebar .sub-feature {
	margin-bottom: 35px;
}
#sidebar #new {
  background: none;
}

#sidebar #connect {
	background: #f2f2f1 url(/img/ss/firefox/3.6/firstrun/a/background-connected.png) top left no-repeat;
}

#sidebar #connect h3 {
	padding: 20px 20px 0 20px;
}

#sidebar #connect ul {
	background: url(/img/ss/firefox/3.6/firstrun/a/background-connected.png) bottom right no-repeat;
	padding: 0 20px 20px 20px;
}

#sidebar #connect ul li {
	margin-bottom: 8px;
}

#sidebar #connect {
	font-family: verdana, sans-serif;
	font-size: 10px;
}

#connect-twitter a {
	background: url("/img/sprite-16.png") no-repeat 0 0;
}

#connect-facebook a {
	background: url("/img/sprite-16.png") no-repeat 0 -40px;
}

#connect-email a {
	background: url("/img/sprite-16.png") no-repeat 0 -176px;
}

#connect-email a,
#connect-facebook a,
#connect-twitter a {
	display: block;
	min-height: 16px;
	padding-left: 21px;
	padding-top: 2px;
}


/* }}} */
/* {{{ New to Firefox list */

#new ul {
	list-style-type: none;
	margin: 0 0 0 -5px;
	padding: 0;
	width: 170px;
	font-family: verdana, sans-serif;
	font-size: 10px;
	line-height: 1;
	border-bottom: 1px solid #ebeae7;
}

#new li {
	list-style-type: none;
	margin: 0;
	padding: 7px 3px 5px 5px;
	border-top: 1px solid #ebeae7;
}

#new li.first { background: none; }

#new li ul {
	margin: 5px 0 0 0;
	left: auto;
}

#new li ul li { padding-left: 8px }

#main-content .sub-feature {
	float: right;
	padding: 10px 15px 17px 15px;
	width: 200px;
	margin: 0 0 15px 0;
	border: 1px solid #e4e4e4;
	-moz-border-radius: 6px;
	position: relative;
}

#main-content #connect.sub-feature     { min-height: 163px; }
#main-content #personalize.sub-feature { min-height: 147px; }

#main-content .sub-feature h3 {
	letter-spacing: -0.01em;
	line-height: 1.1;
	font-size: 20px;
	margin: 0;
}

#main-content .sub-feature ul {
	margin: 0;
	padding: 0;
	left: 0;
}

#main-content .sub-feature ul.link li {
	margin: 10px 0 0 0;
	padding: 0;
	line-height: normal;
	line-height: 24px;
	-moz-border-radius: 10px;
	background: #bedce6;
	-moz-box-shadow: inset 0 10px 20px rgba(255, 255, 255,0.5), inset 0 -10px 20px rgba(147,180,195,0.7), 0 3px rgba(0,0,0,0.1), inset 0 -3px #8eaebb;
}

#main-content .sub-feature ul.link li a {
	background-image: url(/img/firefox/3.6/firstrun/connect-buttons.png);
	background-position: -750px 50%;
	background-repeat: no-repeat;
	display: block;
	padding: 5px 25px 7px 10px;
	color: #63757d;
	text-shadow: 0 1px #e2f2fa;
	text-decoration: none;
	letter-spacing: -0.04em;
	font-size: 16px;
}

#main-content #connect.sub-feature ul.link li a {
	padding-left: 40px;
}

#main-content #connect.sub-feature a:hover,
#main-content #connect.sub-feature a:active,
#main-content #personalize.sub-feature a:hover,
#main-content #personalize.sub-feature a:active {
	text-decoration: none;
}

#main-content .sub-feature li#connect-twitter  a { background-position: 0 50%; }
#main-content .sub-feature li#connect-facebook a { background-position: -250px 50%; }
#main-content .sub-feature li#connect-blog     a { background-position: -500px 50%; }
#main-content #personalize.sub-feature         a { background-position: -750px 50%; }

#personalize div {
	background: url(/img/firefox/3.6/firstrun/addons-icon.png) top right no-repeat;
	width: 250px;
	padding-right: 45px;
}

#personalize p {
	color: #4B4740;
	font-family: georgia, serif;
	font-size: 14px;
	line-height: 1.2;
	margin: 5px 75px 10px 0;
}

#main-content #personalize h3 {
	margin-right: 45px;
}

/* }}} */
/* {{{ Main Content */

#main-content h2 {
	font-family: Georgia, serif;
	font-size: 155%;
	margin-bottom: 15px;
	padding-left: 15px;
}

#main-content p.browse-more {
	clear: left;
	padding: 15px 0 0 0;
}

#main-content h4 {
	font-family: georgia, serif;
	font-size: 16px;
	color: #4b4742;
}



/* }}} */
/* {{{ Add-ons Section */

#section-addons ul {
	margin: 20px 0 0 0;
	overflow: auto;
}

#section-addons ul li {
	float: left;
	position: relative;
	width: 160px;
	background: url(/img/ss/firefox/3.6/firstrun/a/background-gradient.png) top left repeat-x, url(/img/ss/firefox/3.6/firstrun/a/background-gradient.png) bottom left repeat-x;
	padding: 10px 10px 80px 10px;
	margin-right: 20px;
	min-height: 150px;
}

#section-addons ul li:last-child {
	margin-right: 0;
}

#section-addons ul li a.icon {
	min-height: 50px;
	display: block;
}

#section-addons ul li img {
	display: block;
	margin: 20px 60px;
	border: 4px solid #fff;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

#section-addons ul li p {
	font-size: 85%;
	margin: 0 0 5px 0;
	padding: 0;
}

a.button {
	display: inline-block;
	position: absolute;
	bottom: 20px;
	left: 10px;
	border: 1px solid #56a805;
	-moz-border-radius: 8px;
	border-radius: 8px;
	background: #488f03;
	background: -moz-linear-gradient(top, #8fc45a, #4a9005);
	font-family: MetaWebPro-Bold, sans-serif;
	padding: 4px 8px 5px 8px;
	color: #fff;
	font-size: 16px;
}

.stars {
    text-indent:-5000px;
    background-image: url(/img/ss/firefox/3.6/firstrun/a/stars.png);
    background-position: 0 50%;
    background-repeat: no-repeat;
    margin-right: 0.5em;
    width: 63px;
    display: block;
    float: left;
}
.stars-4 {
    background-position: -13px 50%;
}
.stars-3 {
    background-position: -26px 50%;
}
.stars-2 {
    background-position: -39px 50%;
}
.stars-1 {
    background-position: -52px 50%;
}
.stars-0 {
    background-position: -65px 50%;
}


/* }}} */
/* {{{ Personas Section */

#section-personas #personas-intro {
	float: left;
	width: 160px;
	font-family: verdana, sans-serif;
	font-size: 85%;
}

#section-personas #personas-intro p {
	margin-bottom: 5px;
}

#section-personas #personas-intro #preview {
	display: inline-block;
	background: url(/img/ss/firefox/3.6/firstrun/d/arrow.png) 100% 50% no-repeat;
	padding: 2px 20px 2px 0;
	margin-bottom: 15px;
}

#section-personas ul {
	width: 400px;
	margin: 0 0 0 185px;
	overflow: auto;
}


#section-personas ul li {
	float: left;
	margin: 0 10px 10px 0;
}

#section-personas ul li img {
	width: 120px;
	height: 40px;
	display: block;
	border: 1px solid #a1b49b;
	-moz-box-shadow: 0 2px 0 #d2dcaf;
}

/* }}} */
/* {{{ Firefox Sync Section */

#weave-icon {
	float: left;
}

#weave-info {
	margin-left: 210px;
}

#weave-info a.button {
	position: static;
}

#weave-info span.stars {
	float: none;
	margin: 10px 0;
}

/* }}} */
/* {{{ Features Section */

#section-features ul {
	margin: 20px 0 0 0;
	overflow: auto;
	background: url(/img/ss/firefox/3.6/firstrun/a/background-gradient.png) bottom left repeat-x;
}

#section-features ul li {
	padding: 20px;
	background: url(/img/ss/firefox/3.6/firstrun/a/background-gradient.png) top left repeat-x;
}

#section-features ul div {
	padding: 10px 325px 0 0;
	min-height: 190px;
}

#section-features h4 {
	margin: 0 0 10px 0;
}

#section-features ul li p {
	font-size: 85%;
}

#features-awesomebar div {
	background: url(/img/ss/firefox/3.6/firstrun/a/features-awesomebar.png) top right no-repeat;
}

.platform-mac #features-awesomebar div {
	background-image: url(/img/ss/firefox/3.6/firstrun/a/features-awesomebar-mac.png);
}

#features-bookmarks div {
	background: url(/img/ss/firefox/3.6/firstrun/a/features-bookmarks.png) top right no-repeat;
}

.platform-mac #features-bookmarks div {
	background-image: url(/img/ss/firefox/3.6/firstrun/a/features-bookmarks-mac.png);
}

#features-webid div {
	background: url(/img/ss/firefox/3.6/firstrun/a/features-webid.png) top right no-repeat;
}

.platform-mac #features-webid div {
	background-image: url(/img/ss/firefox/3.6/firstrun/a/features-webid-mac.png);
}


/* }}} */
/* {{{ Tips Section */

#section-tips ul {
	margin: 20px 0 0 0;
	overflow: auto;
	background: url(/img/ss/firefox/3.6/firstrun/a/background-gradient.png) bottom left repeat-x;
}

#section-tips ul li {
	padding: 20px;
	background: url(/img/ss/firefox/3.6/firstrun/a/background-gradient.png) top left repeat-x;
}

#section-tips ul div {
	padding: 10px 300px 0 0;
	min-height: 190px;
}

#section-tips h4 {
	margin: 0 0 10px 0;
}

#section-tips ul li p {
	font-size: 85%;
}

#tips-beginner div {
	background: url(/img/ss/firefox/3.6/firstrun/a/tips-beginner.png) top right no-repeat;
}

.platform-mac #tips-beginner div {
	background-image: url(/img/ss/firefox/3.6/firstrun/a/tips-beginner-mac.png);
}

#tips-intermediate div {
	background: url(/img/ss/firefox/3.6/firstrun/a/tips-intermediate.png) top right no-repeat;
}

.platform-mac #tips-intermediate div {
	background-image: url(/img/ss/firefox/3.6/firstrun/a/tips-intermediate-mac.png);
}

#tips-advanced div {
	background: url(/img/ss/firefox/3.6/firstrun/a/tips-advanced.png) top right no-repeat;
}

.platform-mac #tips-advanced div {
	background-image: url(/img/ss/firefox/3.6/firstrun/a/tips-advanced-mac.png);
}


/* }}} */
/* {{{ Expanders */

.expander-open .expander-header .expander-anchor,
.expander-closed .expander-header .expander-anchor {
	color: #d64203;
	padding-top: 20px;
	padding-bottom: 20px;
}

.expander-open .expander-header a.expander-anchor:hover,
.expander-closed .expander-header a.expander-anchor:hover {
	color: #d64203;
}

.expander-open .expander-content .expander-padding,
.expander-closed .expander-content .expander-padding {
	padding-bottom: 20px;
}

.expander-open .expander-header .expander-anchor,
.expander-closed .expander-header .expander-anchor {
	background-image: url(/img/ss/firefox/3.6/firstrun/a/expander-plus.png);
}

.expander-open .expander-header .expander-anchor {
	background-image: url(/img/ss/firefox/3.6/firstrun/a/expander-minus.png);
}

.expander-content {
	color: #8d8982;
}

#main-content .sub-feature ul#personas-link {
	position: absolute;
	bottom: 20px;
	right: 20px;
	left: auto;
	width: 250px;
}

#main-content .sub-feature ul#personas-link li {
	background: #d5e9d2;
	-moz-box-shadow: inset 0 10px 20px rgba(255, 255, 255,0.5), inset 0 -10px 20px rgba(185,213,173,0.7), 0 3px rgba(0,0,0,0.1), inset 0 -3px #afcaa5;
}

#main-content .sub-feature ul#personas-link li a {
	color: #6d7d63;
	background-position: -1000px 50%;
}

#personas iframe {
	border: 0;
	position: absolute;
	top: 95px;
	right: 10px;
}

#personas-image-link {
	position: absolute;
	bottom: 0;
	left: 0;
	display: block;
	height: 178px;
	width: 276px;
	outline: 0;
	font-size: 1px;
	color: rgba(0,0,0,0);
}

#personas.sub-feature p#what-are-personas {
	position: absolute;
	bottom: 75px;
	right: 24px;
	float: none;
	text-align: right;
	font-family: MetaWebPro-Book, sans-serif;
	font-size: 14px;
}

/* }}} */
