/* {{{ Fonts */

h1, h2, h3, h4, h5, h6 {
	font-family: MetaWebPro-Bold, sans-serif;
	color: #69645b;
}

body {
	font-family: Georgia, serif;
}

h3 {
	color: #e24804;
	font-size: 20px;
}

h4 {
	font-family: georgia, serif;
	font-size: 15px;
	margin-bottom: 5px;
	color: #2d2c2c;
}


a:link,
a:visited {
	text-decoration: none;
	color: #e24804;
}

a:hover,
a:active {
	text-decoration: underline;
	color: #e24804;
}

h3 {
	margin-left: 15px;
}

/* }}} */
/* {{{ Buttons */

a.button {
	display: inline-block;
	position: absolute;
	bottom: 20px;
	left: 15px;
	border: 1px solid #e44904;
	-moz-border-radius: 8px;
	border-radius: 8px;
	background: #e44904;
	background: -moz-linear-gradient(top, #ed875a 0%, #e9682e 49%, #e44904 49%);
	font-family: MetaWebPro-Bold, sans-serif;
	padding: 2px 8px 3px 8px;
	color: #fff;
	font-size: 14px;
}

a#tips-button.button {
	position: static;
	display: block;
	text-align: center;
	margin: 15px auto;
	width: 8em;
}

/* }}} */
/* {{{ Header */

#main-feature {
	position: relative;
}

#main-feature h2 {
	float: left;
}

/* }}} */
/* {{{ Search Form */

#main-feature form {
	float: right;
	margin-right: 30px;
	padding-top: 25px;
}

#main-feature form h3 {
	float: left;
	margin-right: 8px;
	color: #4b4742;
	font-size: 16px;
}

#main-feature form input[type=text] {
	border: 1px solid #e16601;
	height: 16px;
	width: 168px;
	padding: 3px 2px 1px 2px;
	display: inline;
	vertical-align: bottom;
	font-family: verdana, sans-serif;
	color: #8d8982;
	font-size: 10px;
}

#main-feature form input[type=submit] {
	height: 22px;
	width: 21px;
	background: #e26000 url(/img/ss/firefox/3.6/firstrun/a/search-button.png) top left no-repeat;
	border: 0;
	display: inline;
	vertical-align: bottom;
}

/* }}} */
/* {{{ Pager */

#firstrun-feature {
	margin-bottom: 25px;
	clear: both;
}

.pager-wrapper {
	background: #fff;
	padding: 25px 15px 20px 15px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 3px 4px 16px rgba(0,0,0,0.25);
	z-index: 11;
	position: relative;
}

.firstrun-feature-contents {
	overflow: auto;
	min-height: 300px;
}

/* }}} */
/* {{{ Tabs */

.pager-tabs {
	margin: 0 15px;
	font-family: MetaWebPro-Bold, sans-serif;
	font-size: 16px;
}

.pager-tabs li {
	display: inline-block;
}

.pager-tabs li a {
	position: relative;
	z-index: 10;
	background: -moz-linear-gradient(top, #9b9b9b 0%, #818181 25%, #737373 25%);
	border: 1px solid #737373;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
	border-radius-topleft: 8px;
	border-radius-topright: 8px;
	padding: 8px 14px;
	-moz-box-shadow: 3px 4px 16px rgba(0,0,0,0.25);
	display: inline-block;
}

.pager-tabs li a.selected {
	background: -moz-linear-gradient(top, #ed875a 0%, #e9682e 25%, #e44904 25%);
	border-color: #e44904;
}

.pager-tabs li a:link,
.pager-tabs li a:visited,
.pager-tabs li a:hover,
.pager-tabs li a:active {
	color: #fff;
	outline: 0;
}

.pager-tabs li a:focus {
	outline: 0;
	text-decoration: underline;
}

/* }}} */
/* {{{ Footer */

#ft {
	margin: 0 0 25px 0;
}

#ft p {
	background: url(/img/ss/firefox/3.6/firstrun/b/background-survey.png) top left no-repeat;
	padding: 10px 30px 30px 15px;
	font-family: MetaWebPro-Bold, sans-serif;
	color: #e24804;
	font-size: 16px;
	margin-left: 15px;
}

#ft p a {
	display: inline-block;
	margin-left: 20px;
	padding: 5px;
	text-transform: uppercase;
	background: rgba(100,100,100,0.1);
	font-size: 14px;
}

#ft p a:link,
#ft p a:visited,
#ft p a:hover,
#ft p a:active {
	color: #676767;
}

/* }}} */
/* {{{ Start Personalizing tab */

#collections {
	float: left;
	width: 575px;
	margin-right: 5px;
}

#personas {
	float: left;
	width: 305px;
}

#collections ul {
	margin: 10px 0 0 0;
	overflow: auto;
}

#collections ul li {
	float: left;
	position: relative;
	width: 155px;
	background-color: #f2f2f1;
	background-image: url(/img/ss/firefox/3.6/firstrun/b/background-edges.png), url(/img/ss/firefox/3.6/firstrun/b/background-edges.png);
	background-repeat: no-repeat;
	background-position: top left, -495px 100%;
	padding: 10px 15px 60px 15px;
	margin-right: 4px;
	min-height: 165px;
}

#collections ul li:last-child {
	margin-right: 0;
}

#collections ul li img {
	display: block;
	margin: 15px 0;
	border: 4px solid #fff;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

#collections ul li p {
	margin: 0 0 5px 0;
	font-size: 93%;
	line-height: 1.4;
	padding: 0;
	color: #4b4742;
	min-height: 7em;
}

#collections p {
	clear: left;
	margin: 15px 15px 5px 15px;
	font-size: 93%;
    color: #4b4742;
}

#personas iframe {
	border: 0;
}

#personas div {
	display: inline-block;
	margin-top: 10px;
	padding: 15px 5px 15px 15px;
	background-color: #f2f2f1;
	background-image: url(/img/ss/firefox/3.6/firstrun/b/background-edges.png), url(/img/ss/firefox/3.6/firstrun/b/background-edges.png);
	background-repeat: no-repeat;
	background-position: top left, bottom right;
}

#personas ul {
	width: 320px;
	float: left;
	margin: 0;
}


#personas ul li {
	float: left;
	margin: 0 10px 10px 0;
}

#personas ul li img {
	width: 148px;
	height: 49px
	display: block;
	border: 1px solid #a1b49b;
	-moz-box-shadow: 0 2px 0 #d2dcaf;
}

#personas p {
	clear: left;
	margin: 0 0 10px 0;
	font-size: 93%;
    color: #4b4742;
}

/* }}} */
/* {{{ Set Preferences tab */

#feature-preferences h3,
#page-feature-preferences h3 {
	margin: 0 15px 15px 15px;
}

#feature-preferences img,
#page-feature-preferences img {
	float: right;
	margin-right: 8px;
}

#feature-preferences div,
#page-feature-preferences div {
	width: 345px;
	background-color: #f2f2f1;
	background-image: url(/img/ss/firefox/3.6/firstrun/b/background-edges.png), url(/img/ss/firefox/3.6/firstrun/b/background-edges.png);
	background-repeat: no-repeat;
	background-position: top left, 100% 100%;
	padding: 20px 15px;
	color: #4b4742;
	line-height: 1.4;
	overflow: auto;
}

#feature-preferences a.button,
#page-feature-preferences a.button {
	position: static;
	display: block;
	float: left;
	margin-top: 20px;
}

/* }}} */
/* {{{ Connect with Firefox tab */

#connect {
	margin: 10px 0 0 0;
	overflow: auto;
}

#connect li {
	float: left;
	position: relative;
	width: 272px;
	background-color: #f2f2f1;
	background-image: url(/img/ss/firefox/3.6/firstrun/b/background-edges.png), url(/img/ss/firefox/3.6/firstrun/b/background-edges.png);
	background-repeat: no-repeat;
	background-position: top left, -495px 100%;
	padding: 10px 15px 60px 15px;
	margin-right: 4px;
	min-height: 135px;
	text-align: center;
}

#connect li:last-child {
	margin-right: 0;
}

#connect li img {
	display: block;
	margin: 15px auto;
}

#connect li .button {
	position: static;
}

/* }}} */
/* {{{ Tips and Tricks tab */

#tips {
	overflow: auto;
}

#tips li {
	float: left;
	width: 304px;
	margin-right: 4px;
}

#tips li h3 {
	margin-bottom: 10px;
}

#tips li div.tip-content {
	position: relative;
	background-color: #f2f2f1;
	background-image: url(/img/ss/firefox/3.6/firstrun/b/background-edges.png), url(/img/ss/firefox/3.6/firstrun/b/background-edges.png);
	background-repeat: no-repeat;
	background-position: top left, -495px 100%;
	padding: 1px 15px 15px 15px;
	min-height: 135px;
}

#tips li:last-child {
	margin-right: 0;
}

#tips li img {
	display: block;
	margin: 15px 0;
}

#tips li p {
	margin: 0 0 5px 0;
	font-size: 93%;
	line-height: 1.4;
	padding: 0;
	color: #4b4742;
}

#tips p {
	clear: left;
	margin: 15px;
	font-size: 93%;
	color: #4b4742;
}

/* }}} */
