#doc { width: 920px; }

/* {{{ Fonts */

h1, h2, h3, h4, h5, h6 {
	font-family: MetaWebPro-Bold, sans-serif;
	color: #69645b;
}

body {
	font-family: Georgia, serif;
}

h3 {
	color: #e24804;
	font-size: 20px;
}

h4 {
	font-family: georgia, serif;
	font-size: 15px;
	margin-bottom: 5px;
	color: #2d2c2c;
}


a:link,
a:visited {
	text-decoration: none;
	color: #e24804;
}

a:hover,
a:active {
	text-decoration: underline;
	color: #e24804;
}

h3 {
	margin-left: 15px;
}

/* }}} */
/* {{{ Header */

#main-feature {
	padding-top: 20px;
	position: relative;
}

#main-feature h2 {
	margin-left: 20px;
	float: left;
}

/* }}} */
/* {{{ Search Form */

#main-feature form {
	float: right;
	margin-right: 30px;
	padding-top: 25px;
}

#main-feature form h3 {
	float: left;
	margin-right: 8px;
	color: #4b4742;
	font-size: 16px;
}

#main-feature form input[type=text] {
	border: 1px solid #e16601;
	height: 16px;
	width: 168px;
	padding: 3px 2px 1px 2px;
	display: inline;
	vertical-align: bottom;
	font-family: verdana, sans-serif;
	color: #8d8982;
	font-size: 10px;
}

#main-feature form input[type=submit] {
	height: 22px;
	width: 21px;
	background: #e26000 url(/img/ss/firefox/3.6/firstrun/a/search-button.png) top left no-repeat;
	border: 0;
	display: inline;
	vertical-align: bottom;
}

/* }}} */
/* {{{ Buttons */

a.button {
	display: inline-block;
	position: absolute;
	bottom: 20px;
	left: 15px;
	border: 1px solid #e44904;
	-moz-border-radius: 8px;
	border-radius: 8px;
	background: #e44904;
	background: -moz-linear-gradient(top, #ed875a 0%, #e9682e 49%, #e44904 49%);
	font-family: MetaWebPro-Bold, sans-serif;
	padding: 2px 8px 3px 8px;
	color: #fff;
	font-size: 14px;
}

a#tips-button.button {
	position: static;
	display: block;
	text-align: center;
	margin: 15px auto;
	width: 8em;
}

#home-link {
	clear: both;
	padding: 10px 20px 20px 20px;
	text-align: right;
}

#home-link a.button {
	position: static;
	background: #656565;
	background: -moz-linear-gradient(top, #999999 0%, #7f7f7f 49%, #656565 49%);
	border: 1px solid #666;
	font-size: 16px;
	padding: 4px 8px 5px 8px;
}

/* }}} */
/* {{{ Pager */

.pager-wrapper {
	background: url(/img/ss/firefox/3.6/firstrun/c/background-preferences.png) top left no-repeat;
}

#firstrun-feature {
	margin-bottom: 25px;
	clear: both;
	background: #fff;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 3px 4px 16px rgba(0,0,0,0.25);
	z-index: 11;
	position: relative;
}

.firstrun-feature-contents {
	overflow: auto;
	min-height: 300px;
}

.pager-content {
	clear: left;
	border-top: 1px solid #f0efed;
}

/* }}} */
/* {{{ Tabs */

.pager-tabs {
	padding: 6px;
	overflow: auto;
}

.pager-tabs li {
	display: block;
	float: left;
	width: 33.3333%;
}

.pager-tabs li a {
	position: relative;
	padding: 14px;
	display: block;
	background: #edece9 url(/img/ss/firefox/3.6/firstrun/c/nav-0-0.png) 100% 50% no-repeat;
}

.pager-tabs li:last-child a {
	background-image: url(/img/ss/firefox/3.6/firstrun/c/nav-0-x.png);
}

.pager-tabs li a:link,
.pager-tabs li a:visited,
.pager-tabs li a:hover,
.pager-tabs li a:active {
	color: #69645b;
	outline: 0;
}

.pager-tabs li a:hover,
.pager-tabs li a:active {
	text-decoration: none;
}

.pager-tabs li a:focus {
	outline: 0;
}

.pager-tabs li a b {
	display: block;
	font-family: MetaWebPro-Bold, sans-serif;
	font-size: 16px;
	padding-bottom: 2px;
	color: #d64203;
}

.pager-selected-feature-preferences li#preferences-link a {
	color: #fff;
	background-color: #d64203;
	background-image: url(/img/ss/firefox/3.6/firstrun/c/nav-1-0.png);
}

.pager-selected-feature-preferences li#preferences-link a b {
	color: #fff;
}

.pager-selected-feature-personas li#personas-link a {
	color: #fff;
	background-color: #d64203;
	background-image: url(/img/ss/firefox/3.6/firstrun/c/nav-1-0.png);
}

.pager-selected-feature-personas li#preferences-link a {
	background-image: url(/img/ss/firefox/3.6/firstrun/c/nav-0-1.png);
}

.pager-selected-feature-personas li#personas-link a b {
	color: #fff;
}

.pager-selected-feature-personalize li#personalize-link a {
	color: #fff;
	background-color: #d64203;
	background-image: url(/img/ss/firefox/3.6/firstrun/c/nav-1-x.png);
}

.pager-selected-feature-personalize li#personas-link a {
	background-image: url(/img/ss/firefox/3.6/firstrun/c/nav-0-1.png);
}

.pager-selected-feature-personalize li#personalize-link a b {
	color: #fff;
}


/* }}} */
/* {{{ Footer */

#ft {
	margin: 0 0 25px 0;
}

#ft p {
	background: url(/img/ss/firefox/3.6/firstrun/b/background-survey.png) top left no-repeat;
	padding: 10px 30px 30px 15px;
	font-family: MetaWebPro-Bold, sans-serif;
	color: #e24804;
	font-size: 16px;
	margin-left: 15px;
}

#ft p a {
	display: inline-block;
	margin-left: 20px;
	padding: 5px;
	text-transform: uppercase;
	background: rgba(100,100,100,0.1);
	font-size: 14px;
}

#ft p a:link,
#ft p a:visited,
#ft p a:hover,
#ft p a:active {
	color: #676767;
}

/* }}} */
/* {{{ Set Preferences tab */

#pref-tabs{
	padding: 6px;
}

#pref-tabs .pager-tabs {
	width: 365px;
	float: left;
}

#pref-tabs .pager-tabs li {
	display: block;
	float: none;
	width: auto;
	border-bottom: 1px solid #ebeae7;
}

#pref-tabs .pager-tabs li:last-child {
	border-bottom: 0;
}

#pref-tabs .pager-tabs li a {
	position: relative;
	padding: 20px 14px;
	display: block;
	background: none;
	font-size: 12px;
}

#pref-tabs .pager-tabs li:last-child a {
	background: none;
}

#pref-tabs .pager-tabs li b {
	font-size: 20px;
	color: #69645b;
	padding-bottom: 4px;
	font-weight: normal;
}

#pref-tabs .pager-tabs li a.selected b {
	color: #d64203;
}

#pref-tabs .pager-wrapper {
	float: left;
	width: 525px;
	background: none;
}

#pref-tabs .pager-content {
	border: 0;
}

/* }}} */
/* {{{ Personas Section */

#persona-title {
	margin: 16px 0 0 16px;
	color: #69645b;
	font-size: 18px;
}

ul#personas {
	margin: 0;
	padding: 0 10px;
	overflow: auto;
}

ul#personas li {
	float: left;
	height: 100px;
	width: 210px;
	padding: 30px 45px 15px 45px;
	margin-bottom: 10px;
}

ul#personas li:nth-child(-n+3) {
	border-bottom: 1px solid #ebeae7;
	margin-bottom: 0;
}

ul#personas li p {
	margin: 0 0 5px 0;
	padding: 0;
	color: #4b4742;
}

ul#personas li img {
	width: 200px;
	border: 1px solid #ebeae7;
}


/* }}} */
/* {{{ Add-Ons Section */

#addon-tabs-wrapper {
	background: url(/img/ss/firefox/3.6/firstrun/c/addon-tabs-background.png) 100% 100% repeat-x;
	overflow: auto;
}

.pager-tabs#addon-tabs-nav {
	padding: 0;
	display: inline;
}

ul#addon-tabs-nav li {
	width: auto;
	display: block;
	float: left;
	border-left: 2px solid #fff;
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;
	white-space: nowrap;
}

ul#addon-tabs-nav li a {
	background: none;
	font-family: verdana, sans-serif;
	font-size: 12px;
}

ul#addon-tabs-nav li a.selected {
	color: #d64203;
}

#addon-tabs-title {
	font-family: MetaWebPro-Bold, sans-serif;
	color: #69645b;
	font-size: 16px;
	border-left: 0;
	padding: 10px 5px 14px 14px;
	text-align: left;
	width: 188px;
	float: left;
	background: url(/img/ss/firefox/3.6/firstrun/c/addon-tabs-background.png) 100% 100% repeat-x;
	margin: 0;
}

ul#addon-tabs-nav li#webdev-link      { width: 140px; }
ul#addon-tabs-nav li#reference-link   { width: 92px;  }
ul#addon-tabs-nav li#sports-link      { width: 78px;  }
ul#addon-tabs-nav li#social-link      { width: 170px; }
ul#addon-tabs-nav li#shopping-link    { width: 86px;  }
ul#addon-tabs-nav li#travel-link      { width: 70px;  }

/* }}} */
/* {{{ Add-ons */

ul.addons {
	margin: 20px 0 0 0;
	overflow: auto;
}

ul.addons li {
	float: left;
	position: relative;
	width: 245px;
	padding: 10px 30px 80px 30px;
	border-right: 1px solid #f0efed;
}

ul.addons li:last-child {
	border-right: 0;
}

ul.addons li img {
	float: left;
	border: 4px solid #fff;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background: #fff;
	margin: 0 15px 15px 0;
}

ul.addons li h4,
ul.addons li h5 {
	margin-left: 55px;
}

ul.addons li h4 {
	font-size: 136%;
}

ul.addons li h5 {
	font-family: georgia, serif;
	font-size: 11px;
}
ul.addons li p {
	margin: 0 0 5px 0;
	padding: 15px 0 0 0;
	clear: left;
	font-size: 110%;
	color: #69645b;
	line-height: 1.4;
}

ul.addons li a.button {
	display: inline-block;
	position: absolute;
	bottom: 20px;
	left: 30px;
	border: 1px solid #56a805;
	-moz-border-radius: 8px;
	border-radius: 8px;
	background: #488f03;
	background: -moz-linear-gradient(top, #8fc45a, #4a9005);
	font-family: MetaWebPro-Bold, sans-serif;
	padding: 4px 8px 5px 8px;
	color: #fff;
	font-size: 16px;
}

.stars {
    text-indent:-5000px;
    background-image: url(/img/ss/firefox/3.6/firstrun/a/stars.png);
    background-position: 0 50%;
    background-repeat: no-repeat;
    margin-right: 0.5em;
    width: 63px;
    display: block;
    float: left;
}
.stars-4 {
    background-position: -13px 50%;
}
.stars-3 {
    background-position: -26px 50%;
}
.stars-2 {
    background-position: -39px 50%;
}
.stars-1 {
    background-position: -52px 50%;
}
.stars-0 {
    background-position: -65px 50%;
}


/* }}} */
