/* {{{ Fonts */

body, h1, h2, h3, h4, h5, h6 {
	font-family: MetaWebPro-Bold, sans-serif;
	color: #4B4740;
}

a:link,
a:visited,
a:hover,
a:active {
	color: #4B4740;
	text-decoration: underline;
}

a:hover,
a:active {
	color: #111;
}

/* }}} */
/* {{{ Header and Template */

body {
	background-position: 50% -175px;
}

#wrapper {
	background: white url(/img/firefox/3.6/firstrun/background.jpg) no-repeat center top;
}

#main-feature {
	margin: 0;
	padding-top: 60px;
}

#main-feature h2 {
	margin: 0 0 0 15px;
	padding: 0;
	font-size: 200%;
	float: left;
}

#main-feature #title-logo {
	display: block;
	height: 69px;
	margin: 0 0 10px 0;
}

#main-content {
	margin: 0 15px 25px 15px;
	width: 925px;
	font-size: 16px;
}

/* }}} */
/* {{{ Sub-Features */

#why {
	padding: 20px 40px;
	clear: both;
	font-size: 28px;
}

#main-content .sub-feature {
	float: left;
	padding: 10px 15px 100px 15px;
	width: 263px;
	margin: 0 20px 0 0;
	border: 1px solid #e4e4e4;
	-moz-border-radius: 6px;
	position: relative;
	background-color: #f8f8f8;
    background-image: url(/img/firefox/3.6/firstrun/reminderfox/sub-feature-backgrounds.png);
    background-repeat: no-repeat;
}

#main-content #subscribe.sub-feature { margin-right: 0; }

#main-content .sub-feature h3 {
	letter-spacing: -0.01em;
	line-height: 1.1;
	font-size: 18px;
	margin: 0 0 5px 0;
}

#main-content .sub-feature p {
	font-family: georgia, serif;
	font-size: 13px;
	line-height: 1.4;
	min-height: 100px;
}

#main-content .sub-feature#remember { background-position:    0px 100%; }
#main-content .sub-feature#reminders     { background-position: -315px 100%; }
#main-content .sub-feature#subscribe  { background-position: -630px 100%; }

/* }}} */
/* {{{ Main Feature */

#primary.sub-feature {
	padding: 20px 400px 20px 40px;
	width: 485px;
	height: 267px;
	min-height: 0;
	margin-right: 0;
	background: url(/img/firefox/3.6/firstrun/reminderfox/primary-feature.jpg) top left no-repeat;
	float: left;
}

#primary.sub-feature h3 {
	font-size: 26px;
	letter-spacing: -0.04em;
	margin-bottom: 6px;
}

#primary.sub-feature p#try {
	color: #4B4740;
	max-width: 255px;
	float: left;
	padding-right: 25px;
	background: url(/img/firefox/3.6/firstrun/arrow.png) 100% 3px no-repeat;
	min-height: 25px;
}

#primary.sub-feature p {
	color: #4B4740;
	font-family: MetaWebPro-Book, sans-serif;
	font-size: 18px;
}


#primary.sub-feature p,
#primary.sub-feature ul {
	color: #5f5f5f;
	font-family: MetaWebPro-Book, sans-serif;
	letter-spacing: -0.04em;
	margin-top: 8px;
	min-height: 0;
}

#primary.sub-feature ul li {
	background: url(/img/firefox/3.6/firstrun/reminderfox/bullet.png) 15px 5px no-repeat;
	padding: 0 0 7px 40px;
}

#primary.sub-feature p#addons-link-wrapper {
	margin: 5px 0 0 40px;
	padding: 0;
	display: inline-block;
	width: auto;
	min-height: 0;
	line-height: normal;
	line-height: 24px;
	-moz-border-radius: 10px;
    background: -moz-linear-gradient(top, #fa920a, #e06a21 55%, #a54b28);
	-moz-box-shadow: 0 3px rgba(0,0,0,0.1), inset 0 -3px rgba(0,0,0,0.2);
}

a#addons-link {
	background: url(/img/firefox/3.6/firstrun/reminderfox/button-arrow.png) 100% 50% no-repeat;
	display: block;
	padding: 5px 35px 7px 10px;
	color: #fff;
	text-shadow: 0 1px #7b2f21;
	text-decoration: none;
	font-size: 18px;
	font-family: MetaWebPro-Bold, sans-serif;
}

/* }}} */
/* {{{ Footer */

#sub-links {
	clear: both;
	text-align: center;
	font-family: MetaWebPro-Book, sans-serif;
	font-size: 14px;
	padding: 20px;
}

#sub-links a {
	margin-left: 0.5em;
	margin-right: 0.5em;
}

/* }}} */
/* {{{ What's New Variations */

#main-feature.old-version img,
#main-feature.unknown-version img {
	float: left;
	height: 128px;
	width: 128px;
}

#main-feature.old-version h2,
#main-feature.unknown-version h2,
#main-feature.flash-warning h2 {
	float: none;
	color: #4B4740;
	font-size: 225%;
	margin: 15px 80px 0 145px;
}

#main-feature.old-version p,
#main-feature.unknown-version p,
#main-feature.flash-warning p {
	margin: 10px 35px 10px 145px;
}

#main-feature.flash-warning p,
#main-feature.flash-warning h2 {
	margin-left: 200px;
}

#main-feature.flash-warning {
	min-height: 200px;
}

#main-feature.flash-warning #title-logo {
	display: none;
}

#wrapper.flash-warning {
	background-position: 50% -80px;
}
/* }}} */
