/* General Declarations */
.bold{ font-weight:bold; }

/* Form Styles */
div#searchform { padding:20px 0px 20px 0px; }
input#query { width:22em; }

/* "Query Specifics" Title Bar */
table#querystats {
	width:100%;
	background-color:rgb(51,51,51);
	color:rgb(254,254,254);
	font-size:x-small;
}
table#querystats .right{
	text-align:right;
}

.highlight { font-weight:bold; }

/* Nutch buttons at the bottom of the page */
div.pages a img { border: none ; }

div.pages .searchprev{
	text-align:right;
}
div.pages .searchpage{
	text-align:center;
}


/** Footer **/
div#t_footer{ text-align:center; }
div#pagefooter{ text-align:center; }
div#pagefooter img{ border-style:none; }
div#searchnav{ float:right; }
div#nutchfooter { font-size: 75%; color: #999; text-align: center; }
div#nutchfooter a:link,
div#nutchfooter a:visited { color: #999; }
