/*
**  Experimental stylesheet to make the pages a bit prettier.
**  Author: David Tenser <david.tenser@telia.com> 
*/

a:link, a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

div.document-body {
	font-family: Tahoma, Verdana, sans, sans-serif;
	line-height: 1.3em;
	text-align: left;
	max-width: 112ex;
	margin-left: auto;
	margin-right: auto;
	padding-left: 1ex;
	padding-right: 1ex;
	margin-top: 1ex;
}

h3 {
	margin-bottom: 0.5ex;
}

p {
	margin-top: 0.5ex;
	text-align: justify;
}

div.documentinfo {
	font-size: 80%;
}