#content {
	padding-top: 0;
	background: #fff;
}

#main-feature {
	margin-top: 0;
}

#main-feature .feature-contents { height: 220px; }
body>#main-feature .feature-contents { height: auto; min-height: 220px; }

#main-feature p {
	margin: -5px 290px 10px 0;
	color: #515F78;
	font: 130% sans-serif;
	line-height: 150%;
}

#main-feature-graphic, #main-feature-screen {
	position: absolute;
	bottom: -100px;
	right: 70px;
}

#breadcrumbs {
	display: none;
}

h1, h2, h3, h4, h5, h6 {
	border: none;
}

.sub-features {
	margin: 30px 300px 30px 0;
}

.sub-features img {
	float: right;
	display: none;
}

.sub-features h3 {
	font-size: 110%;
	font-weight: normal;	
}

.sub-features h3 a {
	position: relative;
	top: -40px;
	z-index: 1;
	display: block;
	float: left;
	clear: left;
	min-height: 37px;
	padding: 10px 0 8px 50px;
	margin: 0 0 0 0;
	text-decoration: none;
	color: #777;
}  * html .sub-features h3 a { height: 24px; }

#feature-store a { background: url(/img/home/feature-store.png) no-repeat; }
#feature-thunderbird a { background: url(/img/home/feature-thunderbird.png) no-repeat; }
#feature-firefoxflicks a { background: url(/img/home/feature-firefoxflicks.png) no-repeat; }
#feature-joga a { background: url(/img/home/feature-joga.png) no-repeat; }
#feature-extend-firefox a { background: url(/img/home/feature-extend-firefox.png) no-repeat; }
#feature-firefox2rc a { background: url(/img/home/feature-firefox-2.0rc.png) no-repeat; }

.sub-features h3 a span {
	font-weight: bold;
	text-decoration: underline;
	color: #039;
	padding-right: 0.2em;
}
.sub-features h3 a:hover { color: #333; }
.sub-features h3 a:hover span { color: #333; }
.sub-features h3 a:visited span { color: #636; }

div#feature-awards {
	display: none;
	position: relative;
	top: -40px;
	z-index: 1;
	background: url(/img/home/feature-awards-top.png) top left no-repeat;
	width: 437px;
	margin: 25px 0;
}

#feature-awards a:link,
#feature-awards a:visited
 {
	display: block;
	background: url(/img/home/feature-awards-bottom.png) bottom left no-repeat;
	padding: 5px 10px 5px 15px;
	text-decoration: none;
	color: #444;
}

#feature-awards a:hover {
	color: #000;
}

#feature-awards span.headline {
	font-size: 130%;
	margin: 10px 0 5px 0;
	display: block;
}

#feature-awards span.linktext {
	text-decoration: underline;
}

#feature-awards img.award-logos {
	display: block;
	float: right;
	padding: 5px;
}

#feature-awards div.clear {
	height: 1px;
	clear: both;
}

.site-notice {
	margin-top: 2em;
	padding: 0.7em;
	background: #D64203;
	color: #FFF;
	-moz-border-radius: 8px;
}

#footer {
	position: relative;
	top: -10px; /*TEMP*/
}

#award-logos {
	position: absolute;
	bottom: -180px;
	right: 70px;
	z-index: 2;
}
