#doc {
	background: url('/img/tignish/add-ons/getpersonal/background-frame.png') 10px 60px no-repeat;
}

#main-feature p { margin-right: 400px; }

#content {
	margin-right: 0;
	margin-top: 50px;
}

#content .row {
	border-bottom: 1px solid;
	color: #69645b;
}

#content .item,
#content .get-more {
	width: 420px;
	display: inline;
	float: left;
	margin-right: 35px;
	padding-bottom: 40px;
}

#content .item h3,
#content .get-more h3 {
	margin: 0 0 15px 0;
	font-size: 155%;
}

#content .item h5,
#content .get-more h5 {
	margin-bottom: 8px;
}

#content .item p,
#content .get-more p { padding-bottom: 20px; }

#content .item img,
#content .get-more img {
	float: right;
	padding-bottom: 30px;
}

#content .item ul,
#content .get-more ul {
	margin: 0;
	padding: 0;
}

#content .item li,
#content .get-more li {
	background: none;
	list-style: none;
	float: left;
	padding: 0;
	line-height: 1;
	font-size: 85%;
	padding: 0 6px 0 6px;
}

#content .item li.middle,
#content .get-more li.middle {
	border-left: 1px solid #736e65;
	border-right: 1px solid #736e65;
	padding: 0 6px 0 6px;
}

#content .divider {
	background: transparent url('/img/tignish/about/divider.png') left top repeat-x;
	height: 10px;
	clear: both;
	margin-bottom: 30px;
	margin-right: 35px;
}

#content .bottom-divider {
	background: transparent url('/img/tignish/add-ons/getpersonal/bottom-divider.png') left top repeat-x;
	height: 20px;
	clear: both;
	position: relative;
	left: -25px;
}

#main-feature h2 {
	margin-right: 35px;
}

#content p {
	margin: 0;
}
