a:link		{ color: #ed7117; }
a:hover		{ color: #d86814; }
a:active	{ color: #d86814; }
a:visited	{ color: #ed7117; }

body {
	background: url("/img/add-ons/kodak/header-background.jpg") top repeat-x;
}

#wrapper { background: none; }

#content {
	font-family: verdana, sans-serif;
	font-size: 90%;
	color: #333;
}

#main-feature {
	padding-top: 0;
}

#main-feature #main-feature-background {
	background: url("/img/add-ons/kodak/header.jpg") center -7px no-repeat;
}

#main-feature .feature-contents {
	height: 333px;
}

#main-feature .feature-contents span { display: none; }


#breadcrumbs {
	display: none;
}

#fotofox-download {
	margin: 20px auto;
}

#fotofox-download a {
	background: url("/img/add-ons/kodak/download-box.png") 0 100% no-repeat;
	width: 332px;
	display: block;
	text-decoration: none;
	padding-bottom: 10px;
	text-align: center;
	margin: 0 auto;
}

#fotofox-download a span {
	background: url("/img/add-ons/kodak/download-box.png") 0 0 no-repeat;
	margin-bottom: 4px;
	padding: 10px 10px 0 10px;
	display: block;
}

#fotofox-download a strong {
	font: 140% sans-serif;
	letter-spacing: -0.02em;
	text-decoration: underline;
	color: #256504;
}

#fotofox-download a em {
	font-style: normal;
	color: #367D10;
	letter-spacing: 0;
	display: block;
	padding-top: 3px;
	font-size: 85%;
}

#fotofox-download a:hover,
#fotofox-download a:hover span,
#fotofox-download a:hover strong {
	color: #143802;
	cursor: pointer; /* need for IE6 */
	background-position: 100% 100%;
}

#fotofox-download a:hover span {
	background-position: 100% 0;
}

.fotofox-screenshot {
	float: right;
	margin: 1em 0 3em 30px;
}

#content h1 {
    margin-bottom: 20px;
}

#content h3 {
	border: 0;
	background: url(/img/add-ons/kodak/line.jpg) bottom left no-repeat;
	padding-bottom: 4px;
	font-size: 105%;
}

#content dl {
    margin-left: 40px;
}

ul.fotofox-list {
	margin: 1em 0;
	padding: 0;
	list-style-image: url(/img/add-ons/kodak/bullet.gif);
}

ul.fotofox-list li {
	margin: 0 0 0.3em 1em;
	background-image: none;
	padding: 0;
	list-style-image: url(/img/add-ons/kodak/bullet.gif);
}

#fotofox-subpage,
#fotofox-subpage #wrapper {
	background-image: none;
}

#fotofox-subpage dl { margin: 0; }

#fotofox-subpage dt { font-weight: bold; }
#fotofox-subpage dd { margin-bottom: 1em; }

h1,
h2,
h3,
h4 { font-family: arial, verdana, sans-serif; font-weight: bold; }

.fotofox-subpage #main-feature #main-feature-background { background: none; }
.fotofox-subpage h2 { clear: left; }
