@import "corner-box.css";
@import "table.css";
@import "menu-box.css";
@import "side-box.css";
@import "download.css";

#footer {
	background: url(/img/dalvay/footer.png) top repeat-x;
	text-align: left;
	margin-top: 4em;
	font-size: 85%;
}

#lang_form {
	float: right;
}

#lang_form select,
#lang_form input {
	font-size: 85%;
}

#footer-contents {
	border: none;
}

#footer p {
	margin-top: 0;
	clear: none;
}

#footer a {
	color: #888;
	margin-right: 2em;
}
