.corner-box {
	background: url(/img/corner-box/left-top-corner-box.jpg) top left no-repeat;
	padding: 12px 15px;
}

.corner-box-right {
	background: url(/img/corner-box/right-top-corner-box.jpg) top right no-repeat;
	padding: 12px 15px;
}

.corner-box h3,
.portal-box-contents .corner-box h3 {
	margin-top: 0;
}
