/* --- Base feature styles ------------------------------------------------------- */

#main-feature {
	background: url("/img/dalvay/bg-header-small.jpg") top repeat-x;
	margin-top: -24px;
}

#main-feature h2 {
	margin: 20px 0 0 0;
}

#main-feature .feature-contents {
	padding: 15px 50px 10px 50px;
	background: none; /* over-ride Rustico styles */
	height: auto;     /* over-ride Rustico styles */
	min-height: 150px;     /* over-ride Rustico styles */
}

* html #main-feature .feature-contents { height: 150px; }

#main-feature-background {
	background-position: 50% 0;
	background-repeat: no-repeat;
}

#main-feature p {
	margin: 5px 0 10px 0;
	color: #3C475B;
	line-height: 150%;
	font-size: 100%;
	font-weight: bold;
	width: 50%;
}

#main-feature h1,
#main-feature h2,
#main-feature h3,
#main-feature h4,
#main-feature h5,
#main-feature h6, 
.front-feature h3 {
	border: none;
}

.checkmark {
	background: url(/img/firefox/checkmark.png) top left no-repeat;
	padding: 2px 0 6px 32px;
}

p { line-height: 150%; }

.page-title {
	font-weight: bold;
	font-size: 180%;
	color: #bd1d01;
	border: none;
}


/* --- Home page ------------------------------------------------------- */

#home #main-feature-background { background-image: url("/img/home/main-feature.jpg"); }

#home #main-feature-background.variation1 {
	background-image: url("/img/home/main-feature.jpg");
}
#home #main-feature-background.variation2 {
	background-image: url("/img/home/main-feature2.jpg"); 
}
#home #main-feature-background.variation3 {
	background-image: url("/img/home/main-feature3.jpg");
	background-position: 70% 0;
}

#home #main-feature {
	margin-top: 0;
	background-image: url("/img/dalvay/bg-header-large.jpg");
}

#home #main-feature p { min-height: 80px; }

#home #main-feature .feature-contents { padding-bottom: 30px; }

#home #main-feature .feature-contents { min-height: 285px; }
* html #home #main-feature .feature-contents { height: 285px; } /* IE6 hack */

#home #breadcrumbs { display: none; }

#home #content { color: #5F6775; }

#home .front-feature-left {
	float: left;
	width: 55%;
	margin-right: 4%;
}

#home .front-feature-right {
	float: left;
	width: 40%;
}

#home .front-feature h3,
#home .front-feature p {
	margin-left: 40px;
}

#home .front-feature ul,
#home .front-feature li {
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
}

#home .front-feature-right h3,
#home .front-feature-right ul,
#home .front-feature-right p {
	margin-left: 30px;
}

#home .front-feature p { margin-top: 0; }

#home .front-feature img { float: left; }

#home .front-feature .corner-box { padding-bottom: 30px; }


/* --- Firefox page ------------------------------------------------------- */

#firefox #main-feature {
	margin-top: -24px;
	background-image: url("/img/dalvay/bg-header-large.jpg");
}

#firefox #main-feature-background {
	background-image: url("/img/firefox/main-feature.jpg");
}
#firefox #main-feature-background.variation1 {
	background-image: url("/img/firefox/main-feature.jpg");
}
#firefox #main-feature-background.variation2 {
	background-image: url("/img/firefox/main-feature2.jpg"); 
}
#firefox #main-feature-background.variation3 {
	background-image: url("/img/firefox/main-feature3.jpg");
}

#firefox #main-feature .feature-contents {
	padding-bottom: 30px;
}

#firefox .features h3 { border: none; }
#firefox .features h3 a {
	display: block;
	background: url(/img/firefox/checkmark.png) top left no-repeat;
	padding: 2px 0 6px 32px;
	text-decoration: none;
}

#firefox .features p { margin: 0 50px 1em 32px; }

#firefox #side { width: 300px; }

#firefox #mainContent.right { margin-right: 300px; }

#firefox #main-feature .feature-contents { min-height: 285px; }
* #firefox #home #main-feature .feature-contents { height: 285px; } /* IE6 hack */


/* --- Thunderbird page ------------------------------------------------------- */

#thunderbird #main-feature {
	margin-top: -24px;
	background-image: url("/img/thunderbird/bg-header-large.jpg");
}

#thunderbird #main-feature p {
	width: 45%;
}

#thunderbird #main-feature-background {
	background-image: url("/img/thunderbird/main-feature1.jpg");
}
#thunderbird #main-feature-background.variation1 {
	background-image: url("/img/thunderbird/main-feature1.jpg");
}
#thunderbird #main-feature-background.variation2 {
	background-image: url("/img/thunderbird/main-feature2.jpg"); 
}
#thunderbird #main-feature-background.variation3 {
	background-image: url("/img/thunderbird/main-feature3.jpg");
}

#thunderbird #main-feature .feature-contents {
	padding-bottom: 30px;
}

#thunderbird .features h3 { border: none; }
#thunderbird .features h3 a {
	display: block;
	background: url(/img/firefox/checkmark.png) top left no-repeat;
	padding: 2px 0 6px 32px;
	text-decoration: none;
}

#thunderbird .features p { margin: 0 50px 1em 32px; }

#thunderbird #side { width: 300px; }

#thunderbird #mainContent.right { margin-right: 300px; }

#thunderbird #main-feature .feature-contents { min-height: 310px; }
* #thunderbird #home #main-feature .feature-contents { height: 310px; } /* IE6 hack */


/* --- Firefox Features page --------------------------------------------- */

#firefox-features #main-feature {
	margin-top: -24px;
	background-image: url(/img/dalvay/bg-header-medium.jpg);
}

#firefox-features #main-feature-background {
	background-image: url("/img/firefox/features/main-feature.jpg");
	background-position: 70% 0;
}

#firefox-features #main-feature p { font-size: 100%; }

#firefox-features h2.checkmark {
	margin-top: 0;
	border: none;
}

#firefox-features .corner-box h4,
#firefox-features .corner-box p {
	margin-left: 32px;
	margin-right: 250px;
}

#firefox-features .corner-box h4 {
	margin-top: 2em;
	margin-bottom: 0
}

#firefox-features #main-feature .feature-contents { min-height: 230px; }
* html #firefox-features #main-feature .feature-contents { height: 230px; }


/* --- Firefox All downloads page ---------------------------------------- */

#download #main-feature-background,
#thunderbird-all #main-feature-background,
#thunderbird-features #main-feature-background,
#thunderbird-requirements #main-feature-background,
#thunderbird-relnotes #main-feature-background,
#firefox-all #main-feature-background,
#firefox-relnotes #main-feature-background,
#firefox-requirements #main-feature-background {
	background-image: url("/img/firefox/all/main-feature.jpg");
	background-position: 70% 0;
}

#firefox-all #main-feature p { font-size: 100%; }

#firefox-all #main-feature .feature-contents { min-height: 160px; }
* html #firefox-all #main-feature .feature-contents { height: 160px; }

#download #main-feature .feature-contents { min-height: 160px; }
* html #download #main-feature .feature-contents { height: 160px; }


/* --- Thunderbird All downloads page ---------------------------------------- */

#thunderbird-all #main-feature,
#thunderbird-features #main-feature,
#thunderbird-relnotes #main-feature,
#thunderbird-requirements #main-feature {
	margin-top: -24px;
	background-image: url("/img/thunderbird/all/bg-header-small.jpg");
}

#thunderbird-all #main-feature-background,
#thunderbird-features #main-feature-background,
#thunderbird-relnotes #main-feature-background,
#thunderbird-requirements #main-feature-background {
	background-image: url("/img/thunderbird/all/main-feature.jpg");
}


/* --- About pages ------------------------------------------------------ */

#about-careers #main-feature-background,
#about-contact #main-feature-background,
#about-get-involved #main-feature-background,
#about-community-partners #main-feature-background,
#about-partnerships #main-feature-background,
#about-contact #main-feature-background,
#about-licensing #main-feature-background,
#mozilla-university #main-feature-background,
#press #main-feature-background,
#press-releases #main-feature-background,
#images #main-feature-background,
#awards #main-feature-background,
#testimonials #main-feature-background,
#about #main-feature-background {
	background-image: url("/img/about/main-feature.jpg");
	background-position: 60% 0;
}


/* --- Products page ---------------------------------------- */

#products #main-feature-background {
	background-image: url("/img/products/main-feature.jpg");
	background-position: 60% 0;
}

#products h2 { margin-top: 30px; }

#products .corner-box h3 { border: none; }

#products .corner-box { clear: left; }

#products .productlist {
	width: 640px;
	margin: 0 auto;
}

#products .productlist h3 {	margin-top: 0; }

#products .productlist .firefox,
#products .productlist .thunderbird {
	float: left;
	width: 50%;
	clear: none;
}

#products .productlist p { padding: 0 15px; }
