#content { position: relative; background: none; }
* html #content { height: 600px; } /* hack for IE6 */

#main-feature {
	width: 945px;
	margin: 0 auto;
	text-align: left;
	background: url(/img/firefox/addons/header-background.jpg) top left no-repeat;
	position: relative;
}

#main-feature #header-download {
	float: right;
}

#main-feature #feature-header {
	padding: 20px;
}

#main-feature #feature-header h2 {
	width: 595px;
	margin: 0 0 0 30px;
	padding: 0;
	border: 0;
}

#main-feature .intro {
	margin-left: 50px;
	margin-right: 50px;
	line-height: 1.4;
}

#content-box {
	margin-left: 230px;
	width: 597px;
	padding: 4px 0;
}

#content-box.box-setup {
	background: url(/img/firefox/addons/page-background.png) top left no-repeat;
}

#portal-nav {
	margin: 0;
	padding: 0;
	list-style-type: none;
	position: absolute;
	top: 3px;
	left: 53px;
	z-index: 999;
}
#portal-nav li { margin: 0; padding: 0; }
#portal-nav li a {
	display: block;
	height: 49px;
	width: 230px;
	margin: 0;
	padding: 0;
	outline: 0;
	background: url(/img/firefox/addons/addons-menu.png) no-repeat;
}

#portal-nav li a span { height: 1px; display: block; overflow: hidden; }
#portal-nav li#nav-alerts a { background-position: -230px 0; }
#portal-nav li#nav-media a { background-position: -230px -49px; }
#portal-nav li#nav-social a { background-position: -230px -98px; }
#portal-nav li#nav-themes a { background-position: -230px -147px; }
#portal-nav li#nav-alerts a:hover { background-position: 0 0; }
#portal-nav li#nav-media a:hover { background-position: 0 -49px; }
#portal-nav li#nav-social a:hover { background-position: 0 -98px; }
#portal-nav li#nav-themes a:hover { background-position: 0 -147px; }
#portal-nav li#nav-alerts a.current { background-position: 0 0; }
#portal-nav li#nav-media a.current { background-position: 0 -49px; }
#portal-nav li#nav-social a.current { background-position: 0 -98px; }
#portal-nav li#nav-themes a.current { background-position: 0 -147px; }

#pagination { display: none; }

#content-box .page { padding: 0 30px; }
#content-box .page p { margin: 0 0 0.5em 0; line-height: 1.4; }
#content-box .page p.first  { margin-top: 20px; }
#content-box img.right { float: right; margin-left: 1em; }

#download,
.download {
	position: absolute;
	top: -10px;
	right: 30px;
	width: 205px;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

ul#download.os_windows a.download-link span,
ul#download.os_linux a.download-link span,
ul#download.os_osx a.download-link span {
	width: 205px;
	margin: 0;
	padding: 48px 0 0 0;
	background: url(/img/firefox/addons/button-bottom.png) bottom left no-repeat;
}

ul#download.os_windows a.download-link:hover span,
ul#download.os_linux a.download-link:hover span,
ul#download.os_osx a.download-link:hover span {
	background: url(/img/firefox/addons/button-bottom-hover.png) bottom left no-repeat;
}

ul#download.os_windows a.download-link,
ul#download.os_linux a.download-link,
ul#download.os_osx a.download-link  {
	width: 205px;
	margin: 0;
	padding: 0;
	background: url(/img/firefox/addons/button-background.png) top left no-repeat;
}

ul#download.os_windows a.download-link:hover,
ul#download.os_linux a.download-link:hover,
ul#download.os_osx a.download-link:hover {
	background: url(/img/firefox/addons/button-background-hover.png) top left no-repeat;
}

ul#download.os_windows a.download-link span em,
ul#download.os_linux a.download-link span em,
ul#download.os_osx a.download-link span em {
	margin-left: 50px;
	padding-bottom: 8px;
}

ul#download.os_windows a.download-link span strong,
ul#download.os_linux a.download-link span strong,
ul#download.os_osx a.download-link span strong {
	font-size: 120%;
	margin-left: 50px;
}


.addons-box {
	width: 540px;
	margin-top: 40px;
	background: url(/img/firefox/addons/addons-box.png) top left no-repeat;
}

.addons-box-contents {
	padding: 50px 20px 20px 20px;
}

.addons-box-footer {
	background: url(/img/firefox/addons/addons-box-footer.png) bottom left no-repeat;
	height: 45px;
	clear: left;
}

#content-box .page .addons-box .addons-box-footer p {
	margin: 0;
	padding: 10px 20px;
}

.addons-box-footer .learn-more {
	float: right;
	margin: 7px 20px 0 0;
}

.addons-box .addon-screenshot {
	float: left;
	margin-bottom: 10px;
}

#content-box .page .addons-box p {
	font-size: 85%;
	margin-left: 180px;
}

.addons-box h3 {
	border: 0;
	margin: 0 0 4px 180px;
	padding-left: 40px;
}

#page-alerts .addons-box h3 {
	background: url(/img/firefox/addons/icon-ebay.png) top left no-repeat;
}
#page-media .addons-box h3 {
	background: url(/img/firefox/addons/icon-foxytunes.png) top left no-repeat;
}
#page-social .addons-box h3 {
	background: url(/img/firefox/addons/icon-stumbleupon.png) top left no-repeat;
}
#page-themes .addons-box h3 {
	background: url(/img/firefox/addons/icon-nasa.png) top left no-repeat;
}

.addons-box h3 span {
	display: block;
	font-size: 85%;
	font-weight: normal;
}
