#content { position: relative; background: none; }
* html #content { height: 600px; } /* hack for IE6 */

#main-feature {
    width: 945px;
    margin: 0 auto;
    text-align: left;
    background: url('/img/firefox/security/security-background.jpg') top left no-repeat;
    position: relative;
}

#main-feature #header-download {
    float: right;
}

#main-feature #feature-header {
    padding: 20px 0 0 65px;
}

#main-feature #feature-header h2 {
    width: 595px;
    margin: 0;
    padding: 0;
    border: 0;
}
    
#content {
    padding: 0 20px 0 50px;
}
#content-top {
    min-height: 440px;
    background: url('/img/firefox/security/security-line.png') bottom center no-repeat;
}
#content-top .left {
    float: left;
    width: 390px;
}
#content-top .left p.first {
    margin-top: 0;
}
#content-top .left p {
    line-height: 1.6;
}
#content-top .dots {
    float: left;
    width: 1px;
    padding: 50px 5px;
}
#content-top .right {
    float: left;
    width: 474px;
}
#content-top .right .details {
    color: gray;
    font-size: 10px;
    text-align: center;
    margin: 0;
}
#content-bottom {
    clear: both;
}
#content-bottom ul {
    background: url('/img/firefox/security/security-list-bg.png') bottom left repeat-x;
}
#content-bottom ul li {
    line-height: 1.7;
    padding-bottom: 5px;
}

h2 {
    border: none;
    font-size: 16px;
    font-weight: bold;
}
h3 {
    color: #CC6633;
    border: none;
    font-size: 14px;
}

#download,
.download {
	position: absolute;
	top: -10px;
	right: 30px;
	width: 205px;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#download,
.download {
	position: absolute;
	top: -10px;
	right: 30px;
	width: 205px;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

ul#download.os_windows a.download-link span,
ul#download.os_linux a.download-link span,
ul#download.os_osx a.download-link span {
	width: 205px;
	margin: 0;
	padding: 48px 0 0 0;
	background: url(/img/firefox/security/button-bottom.png) bottom left no-repeat;
}

ul#download.os_windows a.download-link:hover span,
ul#download.os_linux a.download-link:hover span,
ul#download.os_osx a.download-link:hover span {
	background: url(/img/firefox/security/button-bottom-hover.png) bottom left no-repeat;
}

ul#download.os_windows a.download-link,
ul#download.os_linux a.download-link,
ul#download.os_osx a.download-link  {
	width: 205px;
	margin: 0;
	padding: 0;
	background: url(/img/firefox/security/button-background.png) top left no-repeat;
}

ul#download.os_windows a.download-link:hover,
ul#download.os_linux a.download-link:hover,
ul#download.os_osx a.download-link:hover {
	background: url(/img/firefox/security/button-background-hover.png) top left no-repeat;
}

ul#download.os_windows a.download-link span em,
ul#download.os_linux a.download-link span em,
ul#download.os_osx a.download-link span em {
	margin-left: 50px;
	padding-bottom: 8px;
}

ul#download.os_windows a.download-link span strong,
ul#download.os_linux a.download-link span strong,
ul#download.os_osx a.download-link span strong {
	font-size: 120%;
	margin-left: 50px;
}