body#firstrun {
	background: #fff url(/img/firefox/firstrun/background-gradient.jpg) top left repeat-x;
}
#firstrun #portal-header {
	background: url(/img/firefox/firstrun/background-logo.jpg) top center no-repeat;
}
#firstrun #portal-header-contents {
	width: 820px;
	margin: auto;
}
#firstrun #tab-close { margin-top: 0; position: absolute; }
#firstrun h1 { margin: 0; padding: 75px 0 45px 0; border: 0; }
#portal-nav { margin: 0; padding: 0; list-style-type: none; float: left; }
#portal-nav li { margin: 0; padding: 0; }
#portal-nav li a {
	display: block;
	height: 67px;
	width: 256px;
	margin: 0;
	padding: 0;
	outline: 0;
	background: url(/img/firefox/firstrun/menu.png) no-repeat;
}
#portal-nav li a span { height: 1px; display: block; overflow: hidden; }
#portal-nav li#nav-page-1 a { background-position: 0 0; }
#portal-nav li#nav-page-2 a { background-position: 0 -67px; }
#portal-nav li#nav-page-3 a { background-position: 0 -134px; }
#portal-nav li#nav-page-4 a { background-position: 0 -201px; }
#portal-nav li#nav-page-1 a:hover { background-position: -512px 0; }
#portal-nav li#nav-page-2 a:hover { background-position: -512px -67px; }
#portal-nav li#nav-page-3 a:hover { background-position: -512px -134px; }
#portal-nav li#nav-page-4 a:hover { background-position: -512px -201px; }
#portal-nav li#nav-page-1 a.current { background-position: -256px 0; }
#portal-nav li#nav-page-2 a.current { background-position: -256px -67px; }
#portal-nav li#nav-page-3 a.current { background-position: -256px -134px; }
#portal-nav li#nav-page-4 a.current { background-position: -256px -201px; }
#content-box {
	position: relative;
	width: 556px;
	margin-left: 266px;
	padding: 2px 0;
}
#content-box.box-setup {
	background: url(/img/firefox/firstrun/frame.png) top left no-repeat;
	height: 450px;
}
#pagination {
	text-align: right;
	padding-right: 10px;
}
#pagination span.divider { color: #999; padding: 0 0.5em;}
#pagination span { color: #999; }
#pagination .previous,
#pagination .next {		
	font-weight: bold;
	background-repeat: no-repeat;
}
#pagination .previous { padding-left: 15px; }
#pagination .next     { padding-right: 15px; }
#pagination .previous,
#pagination .next {
	background-image: url(/img/firefox/firstrun/next-prev-arrows.png);
}
#pagination .previous { background-position: center left;  padding-left: 15px; }
#pagination .next     { background-position: center right; padding-right: 15px; }
#content-box .page { padding: 0 25px; }
#content-box .page strong { color: #1b60b2; font-weight: bold; }
#content-box .page p { margin: 0 0 1em 0; }
#content-box .page p.first  { margin-top: 20px; }
#content-box .screenshot { text-align: center; padding-top: 1em; }

#firstrun #tab-close {
	background: url(/img/firefox/firstrun/tab-background.png) top left no-repeat;
	height: 55px;
	width: 219px;
	padding: 17px 10px 10px 10px;
	font-size: 85%;
	color: #4e8caf;
	margin-left: 216px;
}

#firstrun .security-notice-hidden {
	display: none;
}

#firstrun .security-notice {
	padding-top: 12px;
}

#firstrun .security-notice,
#firstrun .security-notice strong {
	color: red;
}
