#content { position: relative; background: none; }
* html #content { height: 600px; } /* hack for IE6 */

#main-feature {
	width: 945px;
	margin: 0 auto;
	text-align: left;
	background: url(/img/firefox/getinvolved/header-background.jpg) top left no-repeat;
	position: relative;
}

#main-feature #feature-header {
	padding: 40px;
}

#main-feature #feature-header h2 {
	width: 595px;
	margin: 0;
	padding: 0;
	border: 0;
}

#main-feature #feature-header p {
	font-weight: bold;
	color: #344a4f;
	margin-top: 0;
}

#content {
	padding: 0 20px;
}

#content dt {
	clear: left;
}

#content dt img {
	float: left;
	margin-bottom: 1em;
	margin-right: 1em;
	position: relative;
	top: -1em;
}

