#home #main-background {
    background: url("/img/home/organic/main-background.jpg") top left repeat-x;
    padding-top: 22px;
}

#home #main-feature-background {
    width: 941px;
}
#home #main-feature-background.variation1 {
    background: url('/img/home/organic/main-feature-background1.png') top right no-repeat;
}
#home #main-feature-background.variation2 {
    background: url('/img/home/organic/main-feature-background2.png') top right no-repeat; 
}
#home #main-feature-background.variation3 {
    background: url('/img/home/organic/main-feature-background3.png') top right no-repeat;
}

#home #main-feature {
    width: 945px;
    margin: 0 auto;
    text-align: left;
    background: url('/img/home/organic/feature-background.jpg') top left no-repeat;
    position: relative;
    min-height: 450px;
    padding-top: 3px;
}

#home #main-feature .feature-logo {
    float: left;
    padding: 35px 20px 0 35px;
}

#home #main-feature .feature-contents {
    padding: 45px 330px 0 0;
    min-height: 240px;
}
#home #main-feature .feature-contents .feature-description {
    font-weight: bold;
    color: #003366;
    font-size: 13px;
}

#home #breadcrumbs { display: none; }

#home #content {
    color: #5F6775;
    clear: both;
    padding: 0 20px;
    max-width: 900px;
    min-height: 330px;
}

#home .front-feature ul,
#home .front-feature li {
    margin-left: 0;
    padding: 5px 5px 5px 2px;
}

#home .front-feature-left {
    float: left;
    width: 636px;
}
#home .front-feature-left .left-space {
    margin-left: 10px;
}

#home .front-feature-right {
    float: left;
    width: 264px;
}
#home .front-feature-right ul {
    margin: 0 0 0 30px;
}
#home .front-feature-right #newsbox .newsbox-top {
    background: url('/img/home/organic/newsbox-top.png') top left no-repeat;
    height: 36px;
    width: 264px;
}
#home .front-feature-right #newsbox .newsbox-top p {
    color: #FFFFFF;
    font-size: 18px;
    padding: 5px 0 0 15px;
}
#home .front-feature-right #newsbox .newsbox-middle {
    background: url('/img/home/organic/newsbox-middle.png') repeat-y;
}
#home .front-feature-right #newsbox .newsbox-bottom {
    background: url('/img/home/organic/newsbox-bottom.png') bottom left no-repeat;
    width: 264px;
    min-height: 93px;
}
#home .front-feature-right #newsbox a {
    text-decoration: none;
}

#home .misc-notice {
    padding: 10px;   
}
#home .misc-notice p {
    padding-left: 27px;
}
#home .misc-notice p a {
    color: #333333;
}

#home .arrow-box {
    float: left;
    width: 306px;
}
#home .arrow-box .arrow-box-top {
    background: url('/img/home/organic/arrow-box-top.png') top left no-repeat;
    height: 35px;
}
#home .arrow-box .arrow-box-top p {
    color: #CC6633;
    font-size: 18px;
    padding: 9px 0 0 20px;
}
#home .arrow-box .arrow-box-top p a {
    text-decoration: none;
    color: #CC6633;
}
#home .arrow-box .arrow-box-middle {
    background: url('/img/home/organic/arrow-box-middle.png') repeat-y;
}
#home .arrow-box .arrow-box-bottom {
    background: url('/img/home/organic/arrow-box-bottom.png') bottom left no-repeat;
    min-height: 34px;
}
#home .arrow-box .arrow-box-bottom p {
    padding: 0 10px 12px 20px;
    color: #000000;
    font-size: 12px;
}
#home .arrow-box .arrow-box-bottom a {
    color: #000000;
}

#home .gray-halfbox {
    background: url('/img/home/organic/gray-halfbox.png') top left no-repeat;
    min-height: 49px;
    width: 291px;
    padding: 15px 0 0 15px;
    float: left;
    margin-top: 10px;
}
#home .gray-halfbox p {
    margin: 0 20px 0 45px;
    color: #003366;
}
#home .gray-halfbox p a {
    color: #003366;
}

#home .front-feature p { margin-top: 0; }

#home .front-feature img { float: left; }

#download,
.download {
    width: 328px;
    margin: 0 0 0 190px;
    list-style-type: none;
}

ul#download.os_windows a.download-link,
ul#download.os_linux a.download-link,
ul#download.os_osx a.download-link {
    width: 328px;
    min-height: 13px;
    background: url(/img/home/organic/button-bottom.png) bottom left no-repeat;
    margin-bottom: 0;
}

ul#download.os_windows a.download-link:hover,
ul#download.os_linux a.download-link:hover,
ul#download.os_osx a.download-link:hover {
    background: url(/img/home/organic/button-bottom-hover.png) bottom left no-repeat;
}

ul#download.os_windows a.download-link span,
ul#download.os_linux a.download-link span,
ul#download.os_osx a.download-link span {
    width: 328px;
    margin: 0;
    padding: 18px 0 0 0;
    background: url(/img/home/organic/button-background.png) top left no-repeat;
}

ul#download.os_windows a.download-link:hover span,
ul#download.os_linux a.download-link:hover span,
ul#download.os_osx a.download-link:hover span {
    background: url(/img/home/organic/button-background-hover.png) top left no-repeat;
}

ul#download.os_windows a.download-link span em,
ul#download.os_linux a.download-link span em,
ul#download.os_osx a.download-link span em {
    margin-left: 60px;
    margin-right: 15px;
    color: #333333;
    font-size: 10px;
}

ul#download.os_windows a.download-link span strong,
ul#download.os_linux a.download-link span strong,
ul#download.os_osx a.download-link span strong {
    font-size: 175%;
    margin-left: 52px;
    font-weight: normal;
    color: #003366;
    text-decoration: none;
    letter-spacing: normal;
}

#home .download-other {
    margin-left: 240px;
    font-size: 10px;
    margin-top: -4px;
}
