.menu-box {
	width: 190px;
	background: url(/img/menu-box/menu-box-top.png) top left no-repeat;
	font-size: 85%;
}

.menu-box ul {
	margin: 0;
	padding: 4px 0;
	list-style-type: none;
	background: url(/img/menu-box/menu-box-bottom.png) bottom left no-repeat;
}

.menu-box li { width: 190px; }

.menu-box ul li a:link,
.menu-box ul li a:visited,
.menu-box ul li span {
	display: block;
	padding: 8px 12px;
	background: url(/img/menu-box/menu-box-background.png) 0 0 no-repeat;
	text-decoration: none;
	font-weight: bold;
	width: 166px;
}

.menu-box ul li span {
	background: url(/img/menu-box/menu-box-background.png) -400px 0 no-repeat;
}

.menu-box ul li a:hover,
.menu-box ul li a:active {
	background: url(/img/menu-box/menu-box-background.png) -200px 0 no-repeat;
}

.menu-box ul ul { background: none; padding: 0; }

.menu-box ul li ul li a:link,
.menu-box ul li ul li a:visited,
.menu-box ul li ul li a:hover,
.menu-box ul li ul li a:active,
.menu-box ul li ul li span {
	padding-left: 24px;
	width: 154px;
}
