.side-box {
	width: 257px;
	background: url(/img/side-box/side-box-s-b.png) top left repeat-y;
}

.side-box-right {
	float: right;
	margin: 0 0 0 2em;
}

.side-box-left {
	float: left;
	margin: 0 2em 0 0;
}

.side-box .side-box-title {
	background: url(/img/side-box/side-box-top.png) top left no-repeat;
}

.side-box .side-box-title-contents {
	background: url(/img/side-box/side-box-div.png) bottom left no-repeat;
	padding: 6px 10px 10px 10px;
	border: 0;
	margin: 0;
}

.side-box .side-box-contents {
	background: url(/img/side-box/side-box-bottom.png) bottom left no-repeat;
	padding: 10px;
	margin: 0;
}

.side-box .side-box-contents li {
	font-size: 85%;
	margin: 0 0 0.5em 2em;
}

[dir=rtl] .side-box ul.side-box-contents { padding-right: 32px; }
[dir=rtl] .side-box .side-box-contents li { margin: 0 1em 0.5em 0; }


.side-box p {
	padding: 0 10px;
	margin-top: 0;
}
