body {
	margin: 0;
	padding: 0;
	background: #fff url(/img/thunderbird/start/bg-header-small.jpg) repeat-x;
	color: #3C475B;
	font-family: "segoe ui", tahoma, sans-serif;
	font-size: small;
	line-height: 1.5;
	min-width: 500px;
}

a:link    { color: #0a4e96; }
a:visited { color: #0a4e96; }
a:hover   { color: #333; }
a:active  { color: #000; }

#contents {
	margin: 0;
	padding: 1em 250px 1em 2em;
	background: url(/img/thunderbird/start/main-feature.jpg) top right no-repeat;
}

#header h1 {
	margin: 0;
	padding: 20px 0 0 0;
}

#header p {
	font-weight: bold;
	margin: 0;
	padding: 0 0 40px 0;
	max-width: 500px; 
}

#footer {
	font-size: x-small;
	color: #999;
}
