body {
	margin: 0;
	padding: 6px 4px 6px 8px;
	font-family: tahoma, sans-serif;
	font-size: 11px;
	background: #fff url(/img/firefox/details/background.jpg) 0 0 no-repeat;
	color: #333;
}

ul {
	margin: 0 0 0 90px;
	padding: 0;
	list-style-type: none;
}

ul li {
	margin: 0;
	padding: 1px 0 1px 18px;
	background: url(/img/firefox/details/check.png) center left no-repeat;
}

[dir=rtl] ul li {
	padding: 1px 18px 1px 0;
	background-position: center right;
}

h1 {
	margin: 0;
	color: #bd1d01;
}

p {
	clear: both;
	margin: 6px 0 0 0;
}

a:link		{ color: #039; }
a:visited	{ color: #039; }
a:hover		{ color: #D64203; }
a:active	{ color: #000; }


/* Thunderbird version */

body#thunderbird {
	background-image: url(/img/thunderbird/details/background.jpg);
}

#thunderbird h1 {
	color: #0a4e96;
}

#thunderbird ul {
	margin-left: 10px;
}
