body {
	background-color: #ed7117;
	font-size: 13px;
	font-family: verdana,sans-serif;
	margin: 0;
	padding: 0;
	text-align: center;
}

a:link		{ color: #ed7117; }
a:hover		{ color: #d86814; }
a:active	{ color: #d86814; }
a:visited	{ color: #ed7117; }

/* Portal page box */

.box {
	background: #fff url(box-sides.jpg) right repeat-y;
	width: 687px;
	margin: 0 auto 2em auto;
	color: #5F6775;
	text-align: left;
}

.box-header { padding: 0; }

.box-header h1 {
	border: 0;
	font-weight: bold;
	color: #bd1d01;
	font-size: 200%;
	margin: 0;
	margin-right: 300px;
}

.box-contents {
	background: url(box-bottom.jpg) no-repeat bottom left;
	padding: 0 30px 30px 50px;
}

.box-contents:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;

}

.box-contents p,
.box-contents li {
	line-height: 1.5;
}


ul li, ol li {
    margin-bottom: 0.5em;
}

h2, h3, h4 {
	color: #ed7117;
	margin: 0;
}

h2 { font-size: 140%; }

#photo-services {
	margin: 1em 1em 1em 3em;
	padding: 0;
	list-style: none;
}

#photo-services li {
	padding-left: 20px;
	margin: 0 0 0.5em 0;
	background: url(camera-bullet.png) center left no-repeat;
	width: 40%;
	float: left;
}

#photo-services:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}
