# redirect requests to legal documents to static.mozilla.com (bug 578495)

Redirect permanent /en-US/legal/mozilla_corp_articles_of_incorporation.pdf http://static.mozilla.com/moco/en-US/pdf/mozilla_corp_articles_of_incorporation.pdf
Redirect permanent /en-US/legal/mozilla_corp_bylaws.pdf http://static.mozilla.com/moco/en-US/pdf/mozilla_corp_bylaws.pdf
Redirect permanent /en-US/legal/mozilla_corp_name_change.pdf http://static.mozilla.com/moco/en-US/pdf/mozilla_corp_name_change.pdf