/* =Fonts *********/
/* Deja Vu Serif */
@font-face { font-family: DejaVu; font-style: normal; font-weight: normal; src: local("DejaVu Serif"), local("DejaVu-Serif"), url("/img/fonts/DejaVuSerif-webfont.woff") format("woff"), url("/img/fonts/DejaVuSerif-webfont.ttf") format("truetype"); }
@font-face { font-family: DejaVu; font-style: normal; font-weight: bold; src: local("DejaVu Serif Bold"), local("DejaVu-Serif-Bold"), url("/img/fonts/DejaVuSerif-Bold-webfont.woff") format("woff"), url("/img/fonts/DejaVuSerif-Bold-webfont.woff") format("truetype");}
@font-face { font-family: DejaVu; font-style: italic; font-weight: normal; src: local("DejaVu Serif Italic"), local("DejaVu-Serif-Italic"), url("/img/fonts/DejaVuSerif-Italic-webfont.woff") format("woff"), url("/img/fonts/DejaVuSerif-Italic-webfont.ttf") format("truetype"); }
@font-face { font-family: DejaVu; font-style: italic; font-weight: bold; src: local("DejaVu Serif Bold Italic"), local("DejaVu-Serif-BoldItalic"), url("/img/fonts/DejaVuSerif-BoldItalic-webfont.woff") format("woff"), url("/img/fonts/DejaVuSerif-BoldItalic-webfont.ttf") format("truetype"); }

body.signup form#signup fieldset { position: relative; margin-top: 2em; padding-top: 1em;}
/* body.signup form#signup ul { width: 320px; float: left; } */
body.signup form#signup ul li { margin-bottom: 1em; padding: 0; background: none; }
body.signup form#signup li input { width: 300px; }
body.signup form#signup .captcha iframe { width: 100% !important; }
body.signup form#signup .msg { width: 500px; float: left; margin: 0 0 1em 22px; }
body.signup form#signup .msg textarea { width: 495px; height: 25em; }
body.signup form#signup textarea { width: 495px; height: 10em; }
/* body.signup form#signup .submit { clear: right; margin-left: 342px; } */

body.signup form#signup #errors { border: 3px double #ece9d6; padding: 10px; background: #ffc; margin: 0 0 1em; color: #9f534b; width: 400px; }
body.signup form#signup #errors p { margin: 0; }
body.signup form#signup .err { color: #9f534b; }
body.signup form#signup .err input, #signup .err textarea, #signup input.err { background: #ffc; }

.rtl #signup ul { float: right; }
.rtl #signup .msg { float: right;  margin: 0 22px 1em 0; }

body.signup .page-title { font-size: 3em; margin-bottom: 0.5em; }
body.signup #page-head { padding-right: 380px; height: auto; }
body.signup #page-head .dek { font-size: 1.428em; margin: 0 0 0em 0; }
body.signup .signup-form { background: none; padding-top: 0; padding-bottom: 10px; padding-left: 25px; }
body.signup .signup-sent { background: none; padding-bottom: 100px; }
body.signup .signup-sent p  { font-weight: bold; }
body.signup .signup-sent p img { float: left; padding-right: 1em; }

body.signup #signup fieldset li.err ul.checkboxes { background: #ffc; }
body.signup #signup fieldset ul.checkboxes { margin: 0.5em 0 0 0; padding: 0; }
body.signup #signup fieldset ul.checkboxes li { display: inline-block; min-width: 6em;}
body.signup #signup fieldset ul.checkboxes li input { width: auto; float: left; }
body.signup #signup fieldset ul.checkboxes li label { display: block; margin-left: 2em; font-size: 0.8em; }

body.signup form#signup .submit { clear: left; }
