/**
 * Firefox Mobile Beta Go Mobile Page
 * based on /style/firefox/beta/4/main.css
 */
#firefox-gomobile #main-feature,
#firefox-gomobile.platform-mac #main-feature {
	min-height: 200px;
	padding-bottom: 15px;
	background: transparent;
}
#firefox-gomobile #main-feature #feature-contents {
    width: 350px;
    min-height: 225px;
    position: relative;
}
#firefox-gomobile #main-feature #feature-contents h3 {
    font-size: 265%;
    margin: 10px 0 0 15px;
}
#firefox-gomobile #main-feature #feature-contents p {
    font-size: 165%;
    margin: 0 0 0 15px;
}
#firefox-gomobile #main-feature #feature-contents img.surfer {
    position: absolute;
    right: -300px;
    top: -20px;
    z-index: 10;
}
#firefox-gomobile #main-content {
	background: #f9f9f9 url(/img/firefox/beta/4/tech-table-borders.png) 0 0 no-repeat;
	width: 750px;
    margin: 20px 15px 10px 35px;
	position: relative;
}
#firefox-gomobile #main-content-inner {
	background: #f9f9f9 url(/img/firefox/beta/4/tech-table-borders.png) -140px 0px no-repeat;
    margin: 0 0 0 10px;
}
#firefox-gomobile #main-content h3 {
    margin: 0;
    padding: 1em 1em;
}

#firefox-gomobile #main-content-footer {
	background: url(/img/firefox/beta/4/tech-table-borders.png) 100% 100% no-repeat;
	height: 30px;
	clear: both;
}
#firefox-gomobile #main-content-footer-inner {
	background: url(/img/firefox/beta/4/tech-table-borders.png) -880px -28px no-repeat;
	height: 30px;
    margin-right: 20px;
	clear: both;
}
#firefox-gomobile #main-content .section {
    border-top: 1px solid #ddd;
    padding: 20px 0 30px 60px;
    margin: 0px 30px 0 10px;
	background: transparent url(/img/mobile/beta/section-1.png) 0px 20px no-repeat;
    clear: both;
}
#firefox-gomobile #main-content div.first {
    border-top: none;
}
#firefox-gomobile #main-content .section#video {
	background-image: url(/img/mobile/beta/section-1.png);
}
#firefox-gomobile #main-content .section#materials {
	background-image: url(/img/mobile/beta/section-2.png);
}
#firefox-gomobile #main-content .section#postcards {
	background-image: url(/img/mobile/beta/section-3.png);
}
#firefox-gomobile #main-content .section h3 {
    padding: 20px 0 25px 25px;
    clear: both;
}

#firefox-gomobile #main-content .section .column {
    float: left;
    width: 49.9%;
    /* background: #f88; */
}
#firefox-gomobile #main-content .section .column p {
    font-size: 95%;
    padding: 0 0 20px 20px;
    margin-bottom: 0px;
}
#firefox-gomobile #main-content .section .column .column {
}
#firefox-gomobile #main-content .section .column .column p {
    padding-left: 20px;
}
#firefox-gomobile .fancy-button {
    cursor: pointer;
    margin: 20px 10px 0 0;
    padding: 10px 20px; 
    font-family: Arial,sans-serif;
    font-size: 110%;
    border: 1px solid #e7c663;
    color: #D13E05;
    background: #edd790;
    background: -moz-linear-gradient(top,#FDF9D8,#dab64c);
    background: -webkit-gradient(linear,left top,left bottom,from(#f8efd1), to(#dab64c));
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-box-shadow: 4px 4px 4px #ccc;
    -webkit-box-shadow: 4px 4px 4px #ccc;
    box-shadow: 4px 4px 4px #ccc;
}
#firefox-gomobile #main-content #video a#share-the-video {
}
#firefox-gomobile #main-content #video a#share-the-video:hover {
    text-decoration: none;
}
#firefox-gomobile #main-content #video #share-overlay {
    display: none;
    background: #fff;
    position: absolute;
    width: 540px;
    height: 125px;
    right: 50px;
    top: 240px;
    border: 1px solid #ccc;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    box-shadow: 4px 4px 4px #ccc;
    -moz-box-shadow: 4px 4px 4px #ccc;
    -webkit-box-shadow: 4px 4px 4px #ccc;
}
#firefox-gomobile #main-content #video #share-overlay form#share-url-form {
    display: block;
    padding: 1em;
    margin: 5px 0 0 30px;
}
#firefox-gomobile #main-content #video #share-overlay .share-options {
    display: block;
    margin: 0px 0 0 50px;
}
#firefox-gomobile #main-content #video #share-overlay .share-options button {
    padding: 0px 0px 0px 0px;
    margin: 0 5px 0 0;
    font-family: arial, sans-serif;
    font-size: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    color: #333;
    background: #ededed;
    background: -moz-linear-gradient(top,#fefefe,#ededed);
    background: -webkit-gradient(linear,left top,left bottom,from(#fefefe), to(#ededed));
    cursor: pointer;
}
#firefox-gomobile #main-content #video #share-overlay .share-options button span {
    display: block;
    padding-left: 20px;
    padding-right: 5px;
    line-height: 25px;
    background-image: url("/img/mobile/beta/twitter-icon.png");
    background-repeat: no-repeat;
    background-position: 2px 4px;
}
#firefox-gomobile #main-content #video #share-overlay .share-options #share-facebook button span {
    background-image: url("/img/mobile/beta/facebook-icon.gif");
}
#firefox-gomobile #main-content #video #share-overlay form.share {
    display: inline;
}
#firefox-gomobile #main-content #video #share-overlay form #share-url {
    display: block;
    height: 25px;
    padding: 2px 0 2px 30px;
	background: transparent url(/img/mobile/beta/link-icon.png) 0px 0px no-repeat;
}
#firefox-gomobile #main-content #video #share-overlay form #share-url input {
    display: block; 
    width: 375px;
    font-family: arial, sans-serif;
    font-size: 12px;
}
#firefox-gomobile #main-content #video #share-overlay form #share-short-url {
    display: block;
    padding: 0px 0 0px 30px;
    font-family: arial, sans-serif;
    font-size: 12px;
}
#firefox-gomobile #main-content #video #share-overlay form #share-short-url label {
    color: #000;
    margin-left: 0.25em;
}
#firefox-gomobile #main-content #video #close-share-overlay {
    font-family: arial, sans-serif;
    font-size: 10px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    display: block;
    position: absolute;
    top: 8px;
    right: 8px;
    border: 1px solid #ccc;
    padding: 4px 8px;
}
#firefox-gomobile #main-content #materials img#shirt {
    display: block;
    margin: 0 auto;
}
#firefox-gomobile #main-content #materials p.caption {
    font-size: 85%;
    font-weight: bold;
    margin: 10px 20px;
} 
#firefox-gomobile #main-content #postcards #preview_lightbox {
    display: none;
    position: absolute;
    left: 10px;
    top: 95px;
    width: 700px;
    height: 500px;
    background-color: white;
    border: 4px solid #FFFF88;
    z-index: 1002;
	-moz-opacity: 0.9;
	opacity:.90;
	filter: alpha(opacity=90);
}
#firefox-gomobile #main-content #postcards #preview_lightbox .preview_close {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    background: #ffff88;
    padding: 0.25em 1em;
    color: #000;
    font-weight: bold;
    font-family: arial, sans-serif;
}
#firefox-gomobile #postcard_form_target {
    width: 100%; 
    height: 100%;
    border: none;
}
#firefox-gomobile #main-content #postcards {
   position: relative;
}
#firefox-gomobile #main-content #postcards ul.fields {
    padding: 0 0 0 20px;
    margin: -10px 0 0 0;
}
#firefox-gomobile #main-content #postcards ul.fields li {
    list-style: none;
    background: none;
}
#firefox-gomobile #main-content #postcards ul.fields li input,
#firefox-gomobile #main-content #postcards ul.fields li textarea {
    font-family: Arial,sans-serif;
    border: 1px solid #ccc;
    padding: 0.25em;
    width: 90%;
}
#firefox-gomobile #main-content #postcards ul.fields li textarea {
    height: 5em;
}
#firefox-gomobile #main-content #postcards ul.fields li.notes span,
#firefox-gomobile #main-content #postcards ul.fields li label {
    font-family: Arial,sans-serif;
    font-size: 80%;
    color: #000;
    display: block;
}
#firefox-gomobile #main-content #postcards ul.fields li label {
    font-weight: bold;
}
#firefox-gomobile #main-content #postcards ul.fields li.error label {
    color: #d33;
}
#firefox-gomobile #main-content #postcards ul.postcard-choices {
    margin: 0; padding: 0;
}
#firefox-gomobile #main-content #postcards ul.postcard-choices li {
    list-style: none;
    display: block;
    background: none;
    float: left;
    margin: 5px -4px 0px -4px;
    padding: 0 0 0 0;
}
#firefox-gomobile #main-content #postcards ul.postcard-choices li label {
    display: inline;
    width: auto;
    margin: 0;
    padding: 0;
}
#firefox-gomobile.js #main-content #postcards ul.postcard-choices li input {
    visibility: hidden;
}
#firefox-gomobile #main-content #postcards ul.postcard-choices li img {
    border: 4px solid #fff;
    padding: 0; margin: 0;
}
#firefox-gomobile #main-content #postcards ul.postcard-choices li.selected img {
    border-color: #ffff88;
}
#firefox-gomobile #main-content #postcards ul.fields button {
}
#firefox-gomobile #main-content #postcards ul.fields button.preview {
    background: #f5f5f5;
    background: -moz-linear-gradient(top,#f5f5f5,#cbcbcb);
    background: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5), to(#cbcbcb));
    color: #5d88b2;
    border-color: #e8e8ea;
}
