#firefox-beta-mobile #beta-sub-features .sub-feature .social-inner button.tweet-this {
    padding-left: 3px;
}
#firefox-beta-mobile #beta-sub-features .sub-feature .facebook-block button.update-status {
    padding-left: 3px;
}
#firefox-gomobile #main-feature #feature-contents img.surfer {
    position: absolute;
    right: -200px;
    top: -20px;
    z-index: 10;
}
#firefox-gomobile #main-content #postcards {
   position: static;
}
#firefox-gomobile #main-content #postcards #preview_lightbox {
    display: none;
    position: absolute;
    left: 20px;
    top: 850px;
    width: 700px;
    height: 600px;
    background-color: white;
    border: 4px solid #FFFF88;
    z-index: 1002;
	-moz-opacity: 0.9;
	opacity:.90;
	filter: alpha(opacity=90);
}
#firefox-gomobile .fancy-button {
    cursor: pointer;
    margin: 10px 2px 0 0;
    padding: 5px 2px; 
    font-family: Arial,sans-serif;
    font-size: 110%;
    border: 1px solid #e7c663;
    color: #D13E05;
    background: #edd790;
}
#firefox-gomobile #main-content .section .column {
    float: left;
    width: 45.5%;
}
#firefox-gomobile #main-content .section#video {
    padding-top: 10px;
	background-image: url(/img/mobile/beta/section-1.png);
}
#firefox-gomobile #main-content #postcards ul.postcard-choices li img {
    width: 135px;
    height: 87px;
}
#firefox-gomobile #main-content #video #share-overlay form #share-url {
    padding: 2px 0 2px 2px;
}
