#firefox-beta-mobile #beta-sub-features .sub-feature .social-inner button.tweet-this {
    padding-left: 3px;
}
#firefox-beta-mobile #beta-sub-features .sub-feature .facebook-block button.update-status {
    padding-left: 3px;
}
#firefox-gomobile.js #main-content #postcards ul.postcard-choices li input {
    display: none;
}
#firefox-gomobile #main-content #postcards ul.postcard-choices li {
    margin: 5px 0px 0px 0px;
}
#firefox-gomobile .fancy-button {
    cursor: pointer;
    margin: 10px 5px 0 0;
    padding: 5px 5px; 
    font-family: Arial,sans-serif;
    font-size: 110%;
    border: 1px solid #e7c663;
    color: #D13E05;
    background: #edd790;
}
#firefox-gomobile #main-content #video #share-overlay form #share-url {
    padding: 2px 0 2px 2px;
}
