/**
 * Firefox Mobile Beta Landing Page
 * based on /style/firefox/beta/4/main.css
 */
* html #firefox-beta-mobile #main-feature { height: 200px; /* Hack for IE6 */ }

#firefox-beta-mobile .sub-feature p {
	margin-bottom: 0;
	clear: both;
}
#firefox-beta-mobile #main-feature,
#firefox-beta-mobile.platform-mac #main-feature {
    position: relative;
	min-height: 200px;
	padding-bottom: 15px;
}
#firefox-beta-mobile #main-feature img.satellite {
    position: absolute;
    top: 20px;
    left: 370px;
}
#firefox-beta-mobile #main-feature h3 {
    font-size: 285%;
    margin: 10px 0 0 15px;
}
#firefox-beta-mobile #main-feature p {
    font-size: 150%;
    margin: 0 0 0 15px;
}
#firefox-beta-mobile #main-feature #feature-contents {
    width: 320px;
    min-height: 225px;
}
#beta-sub-features {
	background: url(/img/mobile/beta/sub-feature-background.png) 0 0 no-repeat;
	margin: 20px 49px;
}
#firefox-beta-mobile #beta-sub-features #beta-install {
}
#firefox-beta-mobile #beta-sub-features #beta-install p.first {
    padding: 20px 130px 150px 0;
    margin-right: 0px;
    background: url(/img/mobile/beta/beta-install-inset.png) 92px 0px no-repeat;
}
#firefox-beta-mobile #beta-sub-features #beta-install img#download-qr-code {
    display: inline;
    float: left;
    margin: 0 12px 12px 0;
}
#firefox-beta-mobile #beta-sub-features #beta-install p.supported-devices {
    margin-top: 0.5em;
}
#firefox-beta-mobile #beta-sub-features .sub-feature .social-outer {
    width: 237px;
    padding-top: 5px;
    margin-bottom: 5px;
    background: url(/img/mobile/beta/social-bg.png) 0px 0px no-repeat;
}
#firefox-beta-mobile #beta-sub-features .sub-feature .social-inner {
    margin-top: 4px;
    padding: 0px 0px 5px 8px;
    font-size: 88%;
    background: url(/img/mobile/beta/social-bg-bottom.png) 0px bottom no-repeat;
}
#firefox-beta-mobile #beta-sub-features .sub-feature .tweet-link {
    min-height: 32px;
}
#firefox-beta-mobile #beta-sub-features .sub-feature .tweet-form {
    min-height: 50px;
}
#firefox-beta-mobile #beta-sub-features .sub-feature .social-inner .tweet-this {
    background: url("/img/mobile/beta/twitter-icon.png") no-repeat scroll 0 bottom transparent;
    color: #0489B7;
    display: block;
    /*float: right;*/
    font-family: georgia,serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 12px;
    margin: 2px 0 0 115px;
    padding: 2px 0 0 19px;
}
#firefox-beta-mobile #beta-sub-features .sub-feature .social-inner .tweet-this:after {
    content: " \00bb ";
    font-weight: bold;
}
#firefox-beta-mobile #beta-sub-features .sub-feature .social-inner a.tweet-this {
    margin-right: 5px;
}
#firefox-beta-mobile #beta-sub-features .sub-feature .social-inner button.tweet-this {
    border: none;
    margin: -4px 2px 0 115px;
    padding: 2px 0 0 16px;
    height: 17px;
    cursor: pointer;
}
#firefox-beta-mobile #beta-sub-features .sub-feature .social-inner button.tweet-this:hover {
    text-decoration: underline;
}
#firefox-beta-mobile #beta-sub-features .sub-feature .social-inner textarea {
    height: 2.5em;
    width: 96%;
    display: block;
    margin-bottom: 5px;
}
#firefox-beta-mobile #beta-sub-features .sub-feature .facebook-block button.update-status {
    background: url("/img/mobile/beta/facebook-icon.gif") no-repeat scroll 4px bottom transparent;
    font-family: georgia,serif;
    font-size: 12px;
    font-weight: bold;
    color: #0489B7;
    display: block;
    border: none;
    margin: -4px 2px 4px 0;
    padding: 2px 0 4px 19px;
    height: 17px;
    cursor: pointer;
}
#firefox-beta-mobile #beta-sub-features .sub-feature .facebook-block button:after {
    content: " \00bb ";
    font-weight: bold;
}
#firefox-beta-mobile #beta-sub-features .sub-feature .facebook-block button:hover {
    text-decoration: underline;
}
#firefox-beta-mobile #beta-sub-features .sub-feature h4 {
    font-size: 16px;
	margin-bottom: 4px;
}
#firefox-beta-mobile #beta-sub-features .sub-feature div.first {
    padding: 10px 0 0 0;
}
#firefox-beta-mobile #beta-sub-features #beta-share div{
    padding-left: 5px;
}

#firefox-beta-mobile #beta-sub-features #beta-share div.getstuff{
    background: url(/img/mobile/beta/beta-itstime-tshirt.png) top right no-repeat;
    margin-right: 20px;
    padding-right: 50px;
}


#firefox-beta-mobile .footnote {
	background: url(/img/firefox/beta/4/disclaimer-panel.png) 0 0 no-repeat;
	color: #4b4742;
	margin: 10px 49px;
	font-size: 110%
}

#firefox-beta-mobile .footnote-footer {
	display: block;
	background: url(/img/firefox/beta/4/disclaimer-panel.png) 100% 100% no-repeat;
	padding: 15px 20px 20px 20px;
}

#firefox-beta-mobile .footnote {
    font-size: 100%;
}
#firefox-beta-mobile .footnote .footnote-footer {
    height: 200px;
    padding: 0;
    margin: 0;
}
#firefox-beta-mobile .footnote h4 {
    font-size: 18px;
	margin: 0;
}
#firefox-beta-mobile .footnote p {
    -moz-column-count: auto;
    -moz-column-gap: auto;
    -webkit-column-count: auto;
    -webkit-column-gap: auto;
    column-count: auto;
    column-gap: auto;
}
#firefox-beta-mobile .footnote a {
    display: block;
    font-size: 105%;
}
#firefox-beta-mobile .footnote .col-section {
    display: inline;
    float: left;
    margin: 18px 26px 0 22px;
    position: relative;
    width: 250px;
    height: 200px;
}
#firefox-beta-mobile .footnote .watch-the-video a.video {
    width: 100%;
    text-align: center;
    display: block;
    margin: 0px;
}
#firefox-beta-mobile .footnote .watch-the-video a.video:hover {
    text-decoration: none;
}
#firefox-beta-mobile .footnote .watch-the-video a.video img {
    padding: 5px 0 5px 0;
}
#firefox-beta-mobile .footnote .watch-the-video a.video span {
    font-size: 95%;
    white-space: nowrap;
}
#firefox-beta-mobile .footnote .stay-connected a {
    background: url("/img/mobile/beta/connect-survey.png") no-repeat scroll 2px top transparent;
    margin: 8px 0 8px 0;
    line-height: 24px;
    padding: 0 0 0 34px;
}
#firefox-beta-mobile .footnote .stay-connected a.newsletter {
    background: url("/img/mobile/beta/connect-newsletter.png") no-repeat scroll 0 top transparent;
}
#firefox-beta-mobile .footnote .stay-connected a.join-facebook {
    background: url("/img/mobile/beta/connect-facebook.png") no-repeat scroll 3px top transparent;
}
#firefox-beta-mobile .footnote .stay-connected a.follow-twitter {
    background: url("/img/mobile/beta/connect-twitter.png") no-repeat scroll 3px top transparent;
}
#firefox-beta-mobile .footnote .col-section.last {
    margin: 18px 0 0 22px;
}
