html, body {
    background: white;
}

body {
    font-size: 15px;
    text-shadow: 1px 1px 0 rgba(255,255,255,0.8);
    margin: 0;
    padding: 0;
    background-image: url("/img/l10n/stripes.png"), -moz-linear-gradient(#D6E9F7, #FFFFFF 600px);
    background-repeat: repeat-x, no-repeat;
    color: #444444;
    font-family: Georgia,serif;
    line-height: 1.4em;
    overflow:hidden;
}

h1, h2, h3, h4, h5, h6 {
    color: #2a2a2a;
}

p {
    margin: 0 0 10px 0;
}

a:link,
a:visited,
a:hover,
a:active {
    color: #2a2a2a;
    text-decoration: none;
}

a:link,
a:visited,
a:hover,
a:active,
a:link span,
a:visited span,
a:hover span,
a:active span {
    -moz-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
}

a:hover,
a:active {
    color: #111;
}

a:hover span,
a:active span,
a:hover,
a:active {
    -moz-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
}

/* Header and Template */


#wrapper {
    min-height: 600px;
    width: 913px;
    padding: 10px  0 0;
    margin: 0 auto;
}

h1 {
    margin: 0;
    padding-top: 50px;
}

#title-logo {
    display: block;
}

#title-logo.start {
    margin-left: 630px;
    opacity:0;
}

.go #title-logo {
    margin-left: 0;
    opacity: 1;
    -moz-transition: margin-left .8s ease-out,
                     opacity .5s ease-in;
}

/* initial opacity on body set to 0 via javacript */

body.start {
    opacity:0;
}

body.go,
body.go #main-content
{
    opacity:1;
    -moz-transition: opacity 1s ease-in;
}


/* Main Content */

#main-content {
    margin-top: -15px;
    float: left;
    width: 100%;
    background-color:transparent;
    background-image: -moz-linear-gradient(left center , #FFFFFF 552px, rgba(247, 247, 255, 1) 552px);
    border: 1px solid #BDC6D7;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 2px rgba(0, 0, 0, 0.1), 0 -2px #E5EFF8 inset;
}

h2 {
    font-size: 20px;
    font-family: "Trebuchet MS", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: -0.05em;
    color: #303030 ;
    margin: 0;
    text-shadow: 0 0 1px lightgray;
}

/* {{{ Sidebar */

#sidebar {
    float: left;
    height: 170px;
    padding: 30px 45px 0 20px;
}

#sidebar ul,
#sidebar li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}


#sidebar ul li a,
#sidebar ul li a:link,
#sidebar ul li a:visited {
    background: transparent url("/img/mobile/m/nav-arrow.png") no-repeat 10px 7px;
    display: block;
    padding: 10px 0 10px 50px;
    min-height:inherit;
}



#sidebar ul li a:hover,
#sidebar ul li a:active {
    text-decoration: none;
    background-color: white;
    border-radius: 6px;
    box-shadow: 1px 1px 3px lightgray;
}


#personalize {
    position: relative;
}

#personalize h3 {
    margin-right: 45px;
    min-height: 30px;
}

#personalize ul.link a {
    width: 200px;
}

header p,
footer {
    display:none;
}

#sidebar,
#personalize,
div.side-content {
    width: 290px;
}

/* intro section */
#intro {
    float: left;
    width: 452px;
    position:relative;
    padding: 20px 50px 0 50px;
    min-height:350px;
    border-right: 1px inset #BDC6D7;
}

#intro h2 {
    color: #303030;
    font-size: 20px;
    font-weight:normal;
    line-height: 1;
    margin: 0;
    text-transform:none;
}

#intro h2 em {
    color: #303030;
    font-style: normal;
    font-weight:bold;
    font-size: 24px;
    line-height: 1;
    margin: 0;
    text-transform:none;
    display:inline-block;
    margin-bottom:10px;
}

#intro p {
    font-style: italic;
    margin: 10px 275px 10px 0;
}


#intro #action {
    text-align: center;
}


#intro ul.link,
#personalize ul.link,
#personalize,
div.side-content {
    float: left;
    height: 180px;
    padding: 0px 20px;
    position:relative;
}

div.side-content ul.link {
    padding: 0;
    width: 85%;
    position:absolute;
    bottom:7px;
}

#intro ul.link li,
#personalize ul.link li,
div.side-content ul.link li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    background-image: -moz-linear-gradient(rgba(240,245,255, 1) 95%, rgba(223, 239, 249, 0.15));
    border: 1px solid #BDC6D7;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 2px rgba(0, 0, 0, 0.1), 0 -2px #E5EFF8 inset;
}

#intro ul.link li a,
#personalize ul.link li a,
div.side-content ul.link li a {
    background: transparent url("/img/mobile/m/nav-arrow.png") no-repeat 99% 2px;
    display: block;
    font-style: italic;
    padding: 5px 65px 7px 10px;
}

#intro ul.link li:hover {
    box-shadow: 0 2px rgba(0, 0, 0, 0.1), 0 -2px rgba(0, 0, 0, 0.05) inset;
}

#intro ul.link li:hover,
#personalize ul.link li:hover {
    text-shadow: 0px 0px 1px rgba(255,255,255,1);
    box-shadow: 0px 0px 5px lightblue;
    background-image: -moz-linear-gradient(rgba(245,245,255, 1) 95%, rgba(223, 239, 249, 0.15));
    -moz-transition: background 0.1s ease-in,
                     box-shadow 0.1s ease-in;
}

#main-content h2 {
    font-family: Helvetica, sans-serif;
     margin-bottom: 0.5em;
}


header h2 {
    position:relative;
    z-index: 1000;
}
header h2 span {
    display:block;
    font-size:50px;
    position:absolute;
    top:45px;
    left:140px;
    height:140px;
    text-shadow: 0 0 8px white;
}


#title-logo {
    float:left;
}

#title-wordmark {
    float:left;
    margin-left:30px;
    margin-top:10px;
}

#title-wordmark.start {
    margin-left: -1000px;
    opacity:0;
}


.go #title-wordmark {
    margin-left: 30px;
    opacity: 1;
    -moz-transition: margin-left .8s ease-out,
                     opacity .5s ease-in;
}


#screenshot a {
  outline: none;
}

#screenshot {
    height:0;
    overflow:hidden;
    margin-top:-200px
    border:1px solid transparent;
    position:relative;
}

#screenshot img {
    display:block;
}


.go #screenshot {
    margin-top:20px;
    height:252px;
    -moz-transition: height 0.9s ease-in,
                     margin 0.9s ease-in;
}

#shade {
    position:absolute;
    top:1px;
    left:1px;
    height:248px;
    width:448px;
    pointer-events: none;
    background-image: -moz-linear-gradient(rgba(214, 233, 247, 0.1) 300px, #FFFFFF 430px)
}


#screenshot:hover #shade {
    height:0px;
    width:0px;
    background-image:none;
    -moz-transition: background-image 0.2s ease-in;
}

