RedirectMatch permanent ^/(.*)\/firefox/(3\.0\.[0-9]+)/releasenotes[/]? http://europe.mozilla.org/$1/firefox/$2/releasenotes/
RedirectMatch permanent ^/(.*)\/firefox/(3\.5\.[0-9]+)/releasenotes[/]? http://europe.mozilla.org/$1/firefox/$2/releasenotes/
RedirectMatch permanent ^/(.*)\/firefox/(3\.6\.[0-9]+)/releasenotes[/]? http://europe.mozilla.org/$1/firefox/$2/releasenotes/

# mozillamessaging redirect
RedirectMatch permanent ^/(.*)\/thunderbird/(2\.0\.0\.[0-9]+)/start[/]? http://www.mozillamessaging.com/$1/thunderbird/2.0.0.24/start/

