Options +MultiViews
RewriteEngine On
RewriteBase /ja/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(firefox|mobile|plugincheck)/(.*) http://mozilla.jp/$1/$2 [L,R=permanent]
