@font-face {
	font-family: "League Gothic";
  src: url('/img/fonts/League_Gothic-webfont.eot'); /* IE9 */
  src: url('/img/fonts/League_Gothic-webfont.eot?') format('eot'), /* IE6-8 */
  	   url('/img/fonts/League_Gothic-webfont.ttf') format('truetype'), /* Older Webkits */
	     url('/img/fonts/League_Gothic-webfont.svg#webfont') format('svg'), /* Opera */
       url('/img/fonts/League_Gothic-webfont.woff') format('woff'); /* Modern browsers */
	font-weight: normal;
	font-style: normal;
}

html {
    min-height: 1200px;
}

body {
    width: 520px;
    height: 1200px;
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;
    color: #546a7a;
    margin: 0px;
    padding: 20px 0px 0px 0px;
}

body .content {
    overflow: hidden;
    min-height:1200px;
}

a, a:hover, a:active, a:visited {
    font-weight: bold;
    color: #f15a2b;
    text-decoration: underline;
}

h1 {
    font-family: "League Gothic", Haettenschweiler, "Arial Narrow", sans-serif;
    font-size: 36px;
    line-height: 36px;
    margin: 0px 0px 10px 0px;
    padding: 0px;
    font-weight: normal;
}

p {
    font-family: Georgia, serif;
    font-size: 13px;
    padding: 0px;
    margin: 0px;
    line-height: 20px;
    text-shadow: 0px 1px 0px #fff;
}

#web-hero {
    position: relative;
    height: 230px;
}

#web-hero-text {
    color: #fff;
    top: 23px;
    left: 25px;
    width: 300px;
    position: absolute;
    font-size: 55px;
    font-family: "League Gothic", Haettenschweiler, "Arial Narrow", sans-serif;
    text-shadow: 5px 5px 0px #f36928;
    text-align: center;
}

#step-1 {
    
}

#step-2 {
    margin-top: 25px;
}

#step-3 {
    margin-top: 70px;
}

#checklist {
    height: 200px;
    padding: 0px 0px 0px 100px;
    margin: 35px 0px 0px 0px;
    font-size: 16px;
    color: #967f00;
    list-style-type: none;
    font-family: Georgia, serif;
    width: 380px;
}

#checklist li {
    margin: 0px;
    padding: 0px;
    margin-bottom: 25px;
}

#checklist-last {
    margin-top: 25px !important;    
}

#step-4 {
    margin-top: 20px;
}

.step {
    padding-left: 193px;
}