body{
	background:url(/img/firefox/2.0.0.8/ff_bg.gif) repeat-x;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}
p{
	font-size:11px;
	color:#404b5f;
	margin:0;
	padding:0 0 0 5px;
}
h3{
	color:#b94413;
	font-size:13px;
}

a img{
	border:0px;
}
#wrapper{
	margin:0 auto;
	width:786px;
	height:600px;
}	
#top{
	margin:39px 0 0 0;
}
#top-logo{
	float:left;
	width:147px;
}
#top-info{
	float:left;
	width:624px;
	margin:22px 0 0 15px;
}
#top-info #update-complete img{
	float:left;
}

#top-info #update-complete a{
	text-decoration:none;
	font-size:11px;
	color:#333333;
	margin-top:24px;
	display:block;
	float:left;
}
#top-info-no_thanks{
	margin:10px 0 0 0;
}

#addons{
	position:relative;
	clear:left;
	top:10px;
}
#addons ul{
	list-style:none;
	margin:0px 0 0 50px;
	padding:0px;
	float:left;
	background:url(/img/firefox/2.0.0.8/ff_addon_stroke.gif) no-repeat top left;
}
#addons ul li{
	float:left;
	width:176px;
	padding:0 25px 0 25px;
	background:url(/img/firefox/2.0.0.8/ff_addon_stroke.gif) no-repeat top right;
}
#addons ul li img.logo{
	margin:0 0 0 28px;
}
#addons p.description{
	padding:0 0 0 0;
}
#addons .links{
	margin:26px 0 0 0;
}
div.addon-description{
	height:108px;
}
p.addon-description{
	color:#333333;
	font-size:10px;
	padding:0px;
}	
.addon-title{
	color:#333333;
	font-size:11px;
	font-weight:bold;
}
#see-more{
	margin:30px 0 0 0px;
	float:left;
}
#see-more-stroke{
	width:302px;
	float:left;
	height:19px;
	background:url(/img/firefox/2.0.0.8/ff_bottom_stroke.gif) no-repeat;
}
#see-more-stroke-right{
	width:302px;
	float:left;
	height:19px;
	background:url(/img/firefox/2.0.0.8/ff_bottom_stroke.gif) no-repeat;
}
#see-more-link{
	width:174px;
	float:left;
}
#footer{
	font-size:9px;
	color:#9f9f9f;
	padding-bottom:20px;
}
