body, html{
	width:100%;
}
body{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	margin:0 0 10px 0;
	background:url(/img/firefox/2.0.0.8/ff_detail_top_bg_x.gif) repeat-x;
}
p{
	font-size:11px;
	color:#404b5f;
	margin:0;
	padding:0 0 0 5px;
}
h3{
	color:#b94413;
	font-size:13px;
}
a img{
	border:0px;
}
#wrapper{
	width:100%;
	float:left;
	clear:left;
	background:url(/img/firefox/2.0.0.8/ff_detail_top_bg.gif) no-repeat;
}	
#container{
	width:920px;
	margin:0 auto;
}
#top{
	margin:20px 0 0 30px;
	height:157px;
	float:left;
	clear:left;
}
#top-logo{
	float:left;
	width:114px;
}
#top-info{
	float:left;
	width:724px;
	margin:0px 0 0 15px;
}
#content{
	float:left;
	clear:left;
	min-width:920px;
	width:100%;
	display:block;
	padding:30px 0 0 0px;
}
#content ul{
	margin:0;
	padding:0;
	list-style:none;
	width:419px;
	float:left;
}
#content ul li{
	margin:0;
	padding:0;
	background:url(/img/firefox/2.0.0.8/ff_detail_logo_bot_stroke.gif) no-repeat bottom left;
	float:left;
	border-right:1px solid #e5e5e5;
	padding:0 0 10px 0;
}
#content ul li.last, 
#content ul#addons-2 li.last{
	background:none;
}
#content ul#addons-1{
	margin-left:50px;
}
#content ul#addons-2{
	width:419px;
}
#content ul li .left{
	float:left;
	width:130px;
}
#content ul li .right{
	float:left;
	padding:0 10px 0 10px;
	width:268px;
}
#content ul#addons-2 li{
	background:url(/img/firefox/2.0.0.8/ff_detail_logo_bot_right_stroke.gif) no-repeat bottom left;
	border-right:0px solid #e5e5e5;
}
#content ul#addons-2 li .left{
	border-right:0px solid #e5e5e5;
	width:110px;
	padding:0 0px 0 20px;
}
#content ul#addons-2 li .right{
	margin-left:20px;
	width: 248px;
}

#content ul li .right .addon-links{
	margin:10px 0 0 0;
	float:left;
	clear:left;
}
div.description{
	min-height:95px;
}
p.addon-description{
	color:#333333;
	font-size:10px;
	padding:0px;
}	
.addon-title{
	color:#333333;
	font-size:11px;
	font-weight:bold;
}

#choose{
	width:940px;
	height:26px;
	margin:30px 0 0 0px;
    padding-bottom:25px;
	float:left;
	clear:left;
}
#choose-left-stroke{
	background:url(/img/firefox/2.0.0.8/ff_detail_choose_l_stroke.gif) no-repeat;
	width:293px;
	height:26px;
	float:left;
}
#choose-right-stroke{
	background:url(/img/firefox/2.0.0.8/ff_detail_choose_r_stroke.gif) no-repeat;
	width:252px;
	height:26px;
	float:left;
}
#choose-links{
	width:370px;
	float:left;
	margin:0 0 0 10px;
}
.portal-page #footer{
	background:url(/img/firefox/2.0.0.8/ff_detail_footer_bg.gif) repeat-x;
	width:100%;
}
.portal-page #footer p{
	font-size:9px;
	color:#9f9f9f;
    padding-top:52px;
}
