html, body{
	width:100%;
}
body{

	font-family:Verdana, Arial, Helvetica, sans-serif;
	margin:0;
	background:#a3d2ee url(/img/firefox/2.0.0.8/ff_update_2_bg_y-2.gif) repeat-y left;
}
p{
	font-size:11px;
	color:#404b5f;
	margin:0;
	padding:0 0 0 5px;
}
h3{
	color:#b94413;
	font-size:13px;
}

a img{
	border:0px;
}
#wrapper{
	width:100%;
	height:600px;
	float:left;
	background:url(/img/firefox/2.0.0.8/ff_update_2_bg_x.gif) repeat-x;
	/*padding:0 0 0 110px;*/
}	
#container{
	background:url(/img/firefox/2.0.0.8/ff_update_2_bg.gif) no-repeat;
	float:left;
	width:100%;
	height:100%;
}
#container-content{
	margin-left:110px;
	
}
#top{
	margin:150px 0 0 0;
	float:left;
	clear:left;
}
#top-logo{
	float:left;
	width:147px;
}
#top-info{
	float:left;
	width:624px;
	margin:22px 0 0 15px;
}
#top-info #update-complete img{
	float:left;
}

#top-info #update-complete a{
	text-decoration:none;
	font-size:11px;
	color:#333333;
	margin-top:24px;
	display:block;
	float:left;
}
#top-info #update-complete a:hover{
	text-decoration:underline;
}
#top-info-no_thanks{
	margin:10px 0 0 0;
}
#choose{
	margin:40px 0 0 160px;
	float:left;
	clear:left;
}
#choose a{
	font-size:11px;
	color:#fff;
    text-decoration:none;
}
#choose a span.indent{
    display:block;
	padding-left:35px;
}
#footer{
	font-size:9px;
	color:#333333;
}
