html {
  direction: rtl;
}

#header {
  direction: ltr;
}

#main-feature {
  float: left;
  width: 500px;
}

#main-feature p {
  margin: 0;
}

#doc {
  text-align: right;
}
#main-content .sub-feature p a {
  background: transparent url(/img/tignish/firstrun/link-arrow-rtl.png) right center no-repeat;
  padding-right: 12px;
  padding-left: 0;
}

#landing-page p.thunderbird {
  background-position: right;
  padding-right: 80px;
  padding-left: 0;
}

/* workaround IE6 display bugs */
#main-content {
  clear:left;
  width:100%;
}

#geolocation h2 {
	text-align: left;
	padding-right: 80px;
}
