/* RTL support for mozilla.com */

#wrapper {
  background-image: url(/fa/img/tignish/template/background-feature.jpg);
}

#header h1 {
  float: right;
}

#header #return {
  float: left;
  margin-right: 0;
  margin-left: 20px;
}

#moz_global_search {
  right: auto;
  left: 30px;
}

#moz_global_search #query {
  float: right;
}

#moz_global_search #submit {
  float: right;
  -moz-transform: scaleX(-1);
}

ul.home-download {
  margin-left: auto;
  margin-right: 30px;
}

#main-content {
  float: right;
  margin-right: 30px;
  margin-left: 65px;
}

#sidebar {
  float: right;
  margin-left: 30px;
  margin-right: 0;
}

#main-feature h2 {
  margin-left: 235px;
  margin-right: 35px;
}

#main-feature p {
  margin-right: 35px;
  margin-left: 445px;
}

#footer-contents {
  text-align: right;
}

#footer #lang_form label {
  direction: rtl;
}

#footer #copyright {
  background-position: right top;
  padding-left: 0;
  padding-right: 60px;
}

ul {
  left: auto;
  right: -10px;
}

#side-menu {
  right: auto;
  left: 35px;
}

a.external:link, a.external:visited , a.external:hover, a.external:active {
  padding-right: 0;
  padding-left: 8px;
}

a.external:hover, a.external:active {
  background-image: url(/fa/img/tignish/content/external-link.png);
  background-position: left center;
}

h1 a.external:link, h2 a.external:link, h3 a.external:link, h4 a.external:link, h5 a.external:link, h6 a.external:link, h1 a.external:visited, h2 a.external:visited, h3 a.external:visited, h4 a.external:visited, h5 a.external:visited, h6 a.external:visited, h1 a.external:hover, h2 a.external:hover, h3 a.external:hover, h4 a.external:hover, h5 a.external:hover, h6 a.external:hover, h1 a.external:active, h2 a.external:active, h3 a.external:active, h4 a.external:active, h5 a.external:active, h6 a.external:active, a.email:link, a.email:visited, a.email:hover, a.email:hover {
  padding-right: 0;
  padding-left: 16px;
}

h1 a.external:hover, h2 a.external:hover, h3 a.external:hover, h4 a.external:hover, h5 a.external:hover, h6 a.external:hover, h1 a.external:active, h2 a.external:active, h3 a.external:active, h4 a.external:active, h5 a.external:active, h6 a.external:active {
  background-image: url(/fa/img/tignish/content/external-link-large.png);
  background-position: left center;
}

a.email:hover, a.email:hover {
  background-position: left center;
}

#footer a.external:hover, #footer a.external:hover {
  background-image: url(/fa/img/tignish/content/external-link-footer.png);
}

.download-other {
  left: auto;
  right: 5px;
  margin-left: 0;
  margin-right: 5px;
}

.expander-open .expander-content .expander-padding, .expander-closed .expander-content .expander-padding {
  padding-left: 15px;
  padding-right: 45px;
}

/* About page */

#firefox-about #doc {
  background-image: url(/fa/img/tignish/firefox/background-firefox-about.png);
  background-position: -70px 88px;
}

#firefox-about #content {
  padding-left: 35px;
  padding-right: 15px;
  margin-left: 0;
  margin-right: 17px;
}

/* Getting started page */

body#central div#wrapper {
  background-image: url(/fa/img/tignish/gettingstarted/background-gettingstarted.jpg);
}

body#central #main-feature h2 {
  margin-left: 0;
  margin-right: 35px;
}

body#central #main-feature p {
  margin-right: 35px;
  margin-left: 415px;
}

.js #gettingstarted-feature {
  background-image: url(/fa/img/tignish/gettingstarted/feature-background.png);
  margin-right: 10px;
  margin-left: 0;
}

#gettingstarted-nav {
  left: auto;
  right: 4px;
}

#gettingstarted-nav li {
  float: right;
}

.js #gettingstarted-nav li {
  background-image: url(/fa/img/tignish/gettingstarted/tab-background.png);
}

#gettingstarted-nav li.first {
  padding-left: 0;
  padding-right: 10px;
  background-position: right top;
}

#gettingstarted-nav.pager-selected-feature-work li#work-link  {
  background-position: right -80px;
}

#gettingstarted-nav li.last {
  padding-left: 15px;
  padding-right: 0;
  background-position: left top;
}

#gettingstarted-nav.pager-selected-feature-connect li#connect-link  {
  background-position: left -80px;
}

#gettingstarted-nav li a {
  border-left: 1px solid #D7D5D1;
  border-right: 0 none;
}

#gettingstarted-nav li.last a {
  border-left: 0 none;
  border-right: 0 none;
}

#gettingstarted-feature .col1 {
  float: right;
  margin-left: 35px;
  margin-right: 0;
}

#gettingstarted-feature .col2 {
  float: right;
}

#gettingstarted-feature  h4 a img {
  float: left;
  padding-right: 1em;
  padding-left: 0;
}

/* First Run page */

#firstrun #wrapper {
  background-image: url(/fa/img/tignish/firstrun/background-firstrun.jpg);
}

#firstrun #main-feature {
  padding-right: 95px;
  padding-left: 0;
}

#firstrun #main-feature h2 {
  margin-left: 0;
  margin-right: 180px;
  padding-bottom: 60px; /* because we don't use a welcome image */
}

#firstrun #main-feature p {
  margin-left: 200px;
  margin-right: 0;
}

#firstrun #main-content {
  margin-left: 0;
  margin-right: 95px;
}

#firstrun #main-content .sub-feature {
  float: right;
}

#firstrun #main-content #learn_more, #firstrun #main-content #questions {
  margin-right: 0;
  margin-left: 75px;
}

#firstrun #main-content .sub-feature h3, #firstrun #main-content .sub-feature p {
  padding-left: 25px;
  padding-right: 5px;
}

#firstrun #main-content .sub-feature img {
  float: left;
  margin-left: 0;
  margin-right: 1em;
}

/*ùWhat's New page */

#whatsnew #wrapper {
  background-image: url(/fa/img/tignish/whatsnew/background-whatsnew.jpg);
}

#whatsnew #main-feature {
  padding-right: 95px;
  padding-left: 0;
}

#whatsnew #main-feature h2 {
  margin-left: 0;
  margin-right: 180px;
  padding-right: 0;
  padding-top: 80px;
}

#whatsnew #main-feature p {
  margin-left: 0;
  margin-right: 180px;
}

#whatsnew #main-content {
  margin-left: 0;
  margin-right: 95px;
}

#whatsnew #main-content .sub-feature {
  float: right;
}

#whatsnew #main-content #security, #whatsnew #main-content #central {
  margin-right: 0;
  margin-left: 75px;
}

#whatsnew #main-content .sub-feature h3, #whatsnew #main-content .sub-feature p {
  padding-left: 5px;
  padding-right: 30px;
}

/* Tips & Tricks page */

#tips .pager-nav {
  direction: ltr;
}

#tips .pager-nav-page-number {
  direction: rtl;
  unicode-bidi: embed;
}

#tips img.right {
  float: left;
}

#tips #beginner h4, #tips #beginner p, #tips #intermediate h4, #tips #intermediate p, #tips #advanced h4, #tips #advanced p {
  padding-left: 430px;
  padding-right: 0;
}

#tips #beginner ul {
  float: left;
}

#tips #beginner ul li {
  padding-left: 25px;
  padding-right: 0;
  background-position: top right;
}

#tips #beginner ul li img {
  float: right;
  margin-right: 0;
  margin-left: 12px;
}

#tips #beginner #keys-column-right {
  float: left;
}

#tips #beginner .key-combo {
  float: right;
}

#tips #beginner #keys-column-left .key-combo {
  float: none;
}

/* Security page */

#security #doc {
  background-image: url(/fa/img/tignish/security/background-security.png);
  background-position: 210px 100px;
}

#security #main-content {
  margin-left: 55px;
  margin-right: 30px;
}

#security .method-madness {
  left: auto;
  right: -25px;
}

#security #divider {
  float: right;
}

#security .method-madness img {
  float: right;
  padding-right: 0;
  padding-left: 8px;
}

/*ùOne click site ID page */

#oneclick-sideid p.intro {
  margin-left: 135px;
  margin-right: 5px;
}

#oneclick-sideid .expander-open .expander-header .expander-anchor, #oneclick-sideid .expander-closed .expander-header .expander-anchor {
  background-position: 700px center;
  padding-left: 15px;
  padding-right: 45px;
}

#oneclick-sideid p.site-id {
  float: right;
  margin-right: 0;
  margin-left: 25px;
  padding-left: 0;
  padding-right: 75px;
  background-position: right top;
}

#oneclick-sideid h4 {
  clear: right;
}

/* Customize page */

#firefox-addons #doc {
  background-image: url(/fa/img/tignish/add-ons/background-onesize.png);
  background-position: 230px 150px;
}

#firefox-addons ul.add-ons li {
  padding-top: 20px;
}

#firefox-addons ul.add-ons li h3, #firefox-addons ul.add-ons li h5, #firefox-addons ul.add-ons li p {
  margin-left: 0;
  margin-right: 60px;
}

#firefox-addons .addon-category-alerts, #firefox-addons .addon-category-photos, #firefox-addons .addon-category-social, #firefox-addons .addon-category-themes {
  float: right;
  margin-left: 30px;
  margin-right: 0;
  padding-right: 95px;
  padding-left: 0;
  background-position: right top;
}

#firefox-addons .addon-feature {
  float: right;
}

#firefox-addons .addon-example {
  float: left;
}

/* Community page */

#community #doc {
  background-image: url(/fa/img/tignish/firefox/background-firefox-community.png);
  background-position: 105px 150px;
}

#community .content-intro {
  margin-left: 225px;
  margin-right: 0;
}

#community .get-involved-list {
  float: right;
}

#community #easy.get-involved-list {
  margin-left: 0;
  margin-right: 35px;
}

/* all-beta.html page */

#firefox-all #side-feature {
  right: auto;
  left: 25px;
}

#firefox-all #side-feature-header {
  padding: 20px 11px 10px 20px;
}

#firefox-all #side-feature ul{
  padding: 15px 30px 5px 40px;
  right: auto;
}

#firefox-all #main-feature h2 {
  margin-right: 35px;
  margin-left: 305px;
}

#firefox-all #main-feature p, #firefox-all #download-button {
  margin-right: 0;
  margin-left: 405px;
}

#firefox-all #main-feature p {
  margin-right: 35px;
}

#firefox-all ul.home-download {
  right: auto;
}

#firefox-all ul.home-download li a.download-link strong {
  padding-right: 0pt;
  padding-left: 27px;
  background-position: left center;
}

#firefox-all .download-other {
  margin-left: 0;
  margin-right: 30px;
}

#firefox-all #no-beta {
  margin: 10px 34px 10px 300px;
}

/* Firefox 3.5 First Run and What's New pages */

#firstrun.__fa_fx35__ #wrapper {
  background-image: url(/fa/img/tignish/firstrun/3.5/background.jpg);
}

#whatsnew.__fa_fx35__ #wrapper {
  background-image: url(/fa/img/tignish/whatsnew/3.5/background.jpg);
}

#firstrun.__fa_fx35__ #main-feature {
  padding-right: 35px;
}

#whatsnew.__fa_fx35__ #main-feature.latest-version {
  padding-right: 35px;
  padding-left: 0;
}

#whatsnew.__fa_fx35__ #main-feature.old-version, #whatsnew.__fa_fx35__ #main-feature.unknown-version {
  padding-right: 200px;
  padding-left: 0;
}

#firstrun.__fa_fx35__ #main-feature h2 {
  padding-bottom: 0;
}

#whatsnew.__fa_fx35__ #main-feature.latest-version h2 {
  margin: 0 180px 40px 0;
  padding-top: 0;
}

#whatsnew.__fa_fx35__ #main-feature.old-version h2, #whatsnew.__fa_fx35__ #main-feature.unknown-version h2 {
  margin-left: 135px;
  margin-right: 0;
  padding-top: 0;
}

#firstrun.__fa_fx35__ #main-feature p {
  margin-left: 385px;
}

#whatsnew.__fa_fx35__ #main-feature.latest-version p {
  margin: 0 0 0 200px;
}

#whatsnew.__fa_fx35__ #main-feature.old-version p, #whatsnew.__fa_fx35__ #main-feature.unknown-version p {
  margin-left: 135px;
  margin-right: 0;
}

#firstrun.__fa_fx35__ #main-content {
  margin-right: 0;
  background-image: url(/fa/img/tignish/firstrun/3.5/sub-feature-top.png);
}

#whatsnew.__fa_fx35__ #main-content {
  margin-right: 0;
  background-image: url(/fa/img/tignish/whatsnew/3.5/sub-feature-top.png);
}

#firstrun.__fa_fx35__ #sub-features {
  background-image: url(/fa/img/tignish/firstrun/3.5/sub-feature-bottom.png);
}

#whatsnew.__fa_fx35__ #sub-features {
  background-image: url(/fa/img/tignish/whatsnew/3.5/sub-feature-bottom.png);
}

#firstrun.__fa_fx35__ #main-content #open-video, #whatsnew.__fa_fx35__ #main-content #open-video {
  margin-left: 20px;
  margin-right: 40px;
}

#firstrun.__fa_fx35__ .mozilla-video-scaler, #firstrun.__fa_fx35__ .mozilla-video-scaler-shim, #whatsnew.__fa_fx35__ .mozilla-video-scaler, #whatsnew.__fa_fx35__ .mozilla-video-scaler-shim {
  float: left;
}

#firstrun.__fa_fx35__ a.mozilla-video-scaler-close-link, #whatsnew.__fa_fx35__ a.mozilla-video-scaler-close-link {
  left: auto;
  right: -10000px;
  padding: 7px 25px 0 10px;
}

#firstrun.__fa_fx35__ .mozilla-video-control, #whatsnew.__fa_fx35__ .mozilla-video-control {
  margin: 0.2em 1.5em 0.5em 20px;
}

#firstrun.__fa_fx35__ .mozilla-video-control-overlay, #whatsnew.__fa_fx35__ .mozilla-video-control-overlay {
  left: auto;
  right: 0;
}

#firstrun.__fa_fx35__ #main-content .sub-feature h3, #whatsnew.__fa_fx35__ #main-content .sub-feature h3 {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

#firstrun.__fa_fx35__ #main-content .sub-feature p, #whatsnew.__fa_fx35__ #main-content .sub-feature p {
  margin-left: 0;
  margin-right: 0;
  padding-left: 25px;
  padding-right: 5px;
}

#firstrun.__fa_fx35__ #main-content #sumo, #whatsnew.__fa_fx35__ #main-content #sumo {
  margin-left: 25px;
  margin-right: 0;
}

#firstrun.__fa_fx35__ #main-content #sumo p, #whatsnew.__fa_fx35__ #main-content #sumo p {
  margin-left: 40px;
}

#firstrun.__fa_fx35__ #main-content #addons p a {
  padding-right: 12px;
  padding-left: 85px;
}

#firstrun.__fa_fx35__ #thanks, #whatsnew.__fa_fx35__ #thanks {
  background-position: right top;
  padding-left: 40px;
  padding-right: 34px;
}

/* Geolocation page */

body#geolocation #wrapper {
  background-image: url(/fa/img/tignish/firefox/background-geolocation.jpg);
}

body#geolocation #main-feature p {
  margin-left: 400px;
}

body#geolocation .expander-open .expander-header .expander-anchor, body#geolocation .expander-closed .expander-header .expander-anchor {
  background-position: 525px center;
  padding-left: 15px;
  padding-right: 45px;
}
