body {
    background: #478ead url(/img/firefox/beta/4/details/background.jpg) 0 0 no-repeat;
    padding: 20px 20px 20px 180px;
    font-family: georgia, serif;
    color: #303030;
}

h1 {
    font-weight: normal;
    color: #fff;
    font-style: italic;
    font-size: 24px;
    margin: 0;
}

h1 img {
    display: block;
    margin-top: 5px;
}

h1, p {
    width: 400px;
}

p {
    font-size: 20px;
    line-height: 1.4;
}
